﻿@using Combres.Mvc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Button Connect Admin</title>
    <script>window['__Zone_enable_cross_context_check'] = true;</script>
    @Url.CombresLink("angJs")
    <script src="~/node_modules/systemjs/dist/system.js"></script>
    <script src="~/App/system.js" async></script>

    @{
        bool isDebugEnabled = this.IsDebugEnabled();
    }

    <script type="text/javascript">
        var relativeRoot = '@Url.Content("~/")';
        var isDebugEnabled = '@isDebugEnabled';
    </script>

    <style>
    </style>


    @if (IsSectionDefined("ViewJS"))
    {
        @RenderSection("ViewJS")
    }

    @this.WriteScriptBlocks()

</head>
<body>

    <div id="iws_height_wrapper" class="iwsHightWrapper">
        @{string angWidgetsLayout = "";}

        <div id="acl-remote-header"></div>
        <div class="page-box">

            @RenderBody()

        </div>

    </div>

    <div class="high-contrast-test"
         style="width: 0; height: 0; background-image: url('Content/Images/high-contrast-test-image.png')">
    </div>

</body>
</html>
<script>
    var angWidgetsLayout = '@angWidgetsLayout';
</script>