﻿@using Combres.Mvc
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <!--<link rel="preload" href="~/Content/Css/icomoon-font.css" as="style">-->
    @{
    bool isCSR = this.IsCSR();
    bool showPremiseSelect = this.ShowPremiseSelect();
    bool isDebugEnabled = this.IsDebugEnabled();
    }
    <script>window['__Zone_enable_cross_context_check'] = true;</script>
    @Url.CombresLink("angJs")
    <script src="~/node_modules/systemjs/dist/system.js"></script>
    <script src="~/App/system.js" async></script>
    <script type="text/javascript">
        var relativeRoot = '@Url.Content("~/")';
        var isCSR = '@isCSR';
        var showPremiseSelect = '@showPremiseSelect';
        var isDebugEnabled = '@isDebugEnabled';
        var enableRemote = '@this.EnableRemoteContainerCheck()';
    </script>
    <style>
    </style>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" async></script>
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    @{
        Html.RenderAction("HeaderScripts", "Branding");
        Html.RenderAction("HeaderRemote", "Branding");
        Html.RenderAction("FooterRemote", "Branding");
        Html.RenderAction("SideNavRemote", "Branding");
    }

    @if (IsSectionDefined("ViewJS"))
    {
        @RenderSection("ViewJS")
    }

    @this.WriteScriptBlocks()

    @{Html.RenderAction("IFrame", "Branding");}


</head>
<body>
    <img src="Content/Images/caret-darker.png" style="display: none" height="6" width="10" alt="triangle image for button">
    <div id="iws_height_wrapper" class="iwsHightWrapper">
        @{string angWidgetsLayout = "";}
        @{string angWidgetsHtmlHeader = "";}

        <div id="acl-remote-header"></div>
        <div class="page-box">

            <div class="container" id="PageWidget_1" name="topnavmenu">
                <div id="iws_rc_pagewidget_2" name="topnavmenu">
                    <div class="top-nav"></div>
                    @if (!this.HideMenu())
                    {
                        @Html.Raw(this.CreateMenu())
                    }
                    <div id="partialBrowserSupport" class="browser-support" style="display: none">
                    </div>
                </div>
            </div>

                        @if (this.EnableRemoteContainerCheck())
                        {
                            Html.RenderAction("SideNavBegin", "Branding");
                        }   

                        @if (isCSR)
                        {
                        angWidgetsLayout = angWidgetsLayout + "customerinfo,";
                        }
                        else if (showPremiseSelect)
                        {
                        angWidgetsLayout = angWidgetsLayout + "premiseselect,";
                        }
                        @RenderBody()

                        @if (this.IsCSR())
                        {
                        angWidgetsLayout = angWidgetsLayout + "reportcreate,";
                        }

                        @if (this.EnableRemoteContainerCheck())
                        {
                            Html.RenderAction("SideNavEnd", "Branding");
                        }   

            <div id="acl-remote-footer"></div>
        </div>
        <!-- Note: this iframe draws out the reports and is dependent on the structure of this layout page.  If the reports stop working, look at this page first -->
        <iframe id="frmcsrreport" name="frmcsrreport" width="800" height="0" style="border: 0px; left: -5000px; top: -5000px; display: inherit;"></iframe>
        <div class="high-contrast-test"></div>
    </div>
</body>
</html>
<script>
        var angWidgetsLayout = '@angWidgetsLayout';
</script>