﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We're sorry...</title> 
    @if (IsSectionDefined("ViewJS"))
    {
        @RenderSection("ViewJS")
    }
</head>
<body> 
        @RenderBody()   
</body>
</html>
