﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - 18.01</title>
    <script type="text/javascript">
        var relativeRoot = '@Url.Content("~/")';
        var iws_widget_id = '';
    </script>

    @if (IsSectionDefined("ViewJS"))
    {
        @RenderSection("ViewJS")
    }
    @this.WriteScriptBlocks()
</head>
<body>
    @this.RenderBody()
</body>
</html>
