﻿@using Combres.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script>window['__Zone_enable_cross_context_check'] = true;</script>
    @Url.CombresLink("angJs")

    <script src="~/node_modules/systemjs/dist/system.js"></script>
    <script src="~/App/system.js" async></script>
    
    @Url.CombresLink("siteCss")
    @Url.CombresLink("siteJs")


    @if(!this.IsDebugEnabled())
    {
        <script src='./App/app.module.min.js'></script>
    }
    
</head>
<body>
    <div class="page-box">
        @RenderBody()
    </div>
</body>
</html>
