﻿@using Combres.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <script>window['__Zone_enable_cross_context_check'] = true;</script>
    @Url.CombresLink("angJs")

    <script src="~/node_modules/systemjs/dist/system.js"></script>
    <script src="~/App/system.js"></script>
    @{
        bool isCSR = this.IsCSR();
        bool isDebugEnabled = this.IsDebugEnabled();
    }

    <script type="text/javascript">
        var relativeRoot = '@Url.Content("~/")';
        var isCSR = '@isCSR';
        var isDebugEnabled = '@isDebugEnabled';
        var enableRemote = 'False';
    </script>

    @if (IsSectionDefined("ViewJS"))
    {
        @RenderSection("ViewJS")
    }
    @this.WriteScriptBlocks()
    @{Html.RenderAction("IFrame", "Branding");}
</head>
<body>
    <div id="partialBrowserSupport" class="browser-support" style="display: none">
    </div>
    @this.RenderBody()
    <div class="high-contrast-test"
         style="width: 0; height: 0; background-image: url('Content/Images/high-contrast-test-image.png')">
    </div>
</body>
</html>
