﻿@model System.Web.Mvc.HandleErrorInfo
@using Combres.Mvc
@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
@section ViewJS{
    @Url.CombresLink("siteCss")
}
<div id="iws_bd_error" class="panel panel-default panel-error">
    @if (ViewData["ErrorMessage"] != null)
    {
        <div id="iws_bd_error_text" class=" panel-body">@ViewData["ErrorMessage"].ToString()</div>
    }
    else
    { <div id="iws_bd_error_text" class=" panel-body">We’re sorry… There was a problem loading your information.</div>}
</div>
