﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Maintenance Mode...</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .center-div {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 700px;
            height: 500px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }

        p {
            font-size: 60px;
            color: #929292;
            font-weight: 300;
        }

            p + p {
                font-size: 21px;
                color: #666;
                font-weight: 400;
            }
    </style>
</head>
<body>
    <div class="center-div">
        <img src="http://www.aclara.com/wp-content/uploads/AclaraLogo_171x65.png">
        <p>Down for Maintenance</p>
        <p>The site is temporarily unavailable due to scheduled maintenance. Thank you for your patience.</p>
    </div>
</body>
</html>
