﻿@using Combres.Mvc

@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_Login.cshtml";
}

@section ViewJS{
    @Url.CombresLink("loginCss")
    @Url.CombresLink("loginJs")
}
<script>
    // postMessage script that gets the height information from within the iframe
    if (window['postMessage']) {
        if (window.addEventListener) {
            window.addEventListener('message', receiveMessage, false);
        } else if (window['attachEvent']) {   //for ie
            window.attachEvent('onmessage', receiveMessage);
        }
    }

    // legacy version, recieveMessage script parses postMessage data and applies it to the iframe
    //function receiveMessage(e) {
    //    var iFrameConfig = JSON.parse(e.data).data.split(",");
    //    if (iFrameConfig[2] !== undefined && iFrameConfig[2] !== null) {
    //        window.location.href = iFrameConfig[2];
    //    }
    //    aclaraJQuery('#' + iFrameConfig[0]).height(iFrameConfig[1] + "px");
    //}

    // recommended version, recieveMessage script parses postMessage data and applies it to the iframe
    function receiveMessage(e) {
        var data = JSON.parse(e.data).data;
        switch (data.action) {
        case "setHeight":
            aclaraJQuery('#' + data.iframeId).height(data.value + "px");
            break;
        case "redirect":
            window.location.href = data.value;
            break;
        case "scroll":
            window.scrollTo(0, aclaraJQuery('#' + data.iframeId)[0].offsetTop + data.value);
            break;
        default:
            break;
        }
    }

    function scrolltotop() {
        scroll(0, 0);
    }
</script>

<div class="container" id="auth" style="margin-top: 15px">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-ms-8 col-sm-8 col-ms-offset-2 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">

                    <!-- username -->
                    <div class="control-group">
                        <label class="control-label" for="txtUserName">User Name</label>
                        <div class="controls">
                            @Html.TextBox("txtUserName", "")
                        </div>
                    </div>
                    <!-- password -->
                    <div class="control-group">
                        <label class="control-label" for="txtPassword">Password</label>
                        <div class="controls">
                            <input id="txtPassword" type="password" class="form-control" name="password" style="padding: 8px">
                        </div>
                    </div>


                    <!-- Customer Id -->

                    <div class="control-group">
                        <label class="control-label" for="txtCustomer">Customer Id</label>
                        <div class="controls">
                            <input id="txtCustomer" type="text" value="993774751" onfocus="javascript: if (this.value == '993774751') { this.value = ''; }" onblur="javascript: if (this.value == '') { this.value = '993774751'; }"/>
                        </div>
                    </div>

                    <!-- Aclara Client Id -->

                    <div class="control-group">
                        <label class="control-label" for="txtClient">Client Id</label>
                        <div class="controls">
                            <input id="txtClient" type="text" value="87" onfocus="javascript: if (this.value == '87') { this.value = ''; }" onblur="javascript: if (this.value == '') { this.value = '87'; }"/>
                        </div>
                    </div>

                    <!-- Account Id -->

                    <div class="control-group">
                        <label class="control-label" for="txtAccount">Account Id</label>
                        <div class="controls">
                            <input id="txtAccount" type="text" value="1218337093" onfocus="javascript: if (this.value == '1218337093') { this.value = ''; }" onblur="javascript: if (this.value == '') { this.value = '1218337093'; }"/>
                        </div>
                    </div>

                    <!-- Premise Id -->

                    <div class="control-group">
                        <label class="control-label" for="txtPremise">Premise Id</label>
                        <div class="controls">
                            <input id="txtPremise" type="text" value="1218337000" onfocus="javascript: if (this.value == '1218337000') { this.value = ''; }" onblur="javascript: if (this.value == '') { this.value = '1218337000'; }"/>
                        </div>
                    </div>

                    <!-- Service Point Id -->

                    <div class="control-group">
                        <label class="control-label" for="txtService">Service Point Id</label>
                        <div class="controls">
                            <input id="txtService" type="text" value="1" onfocus="javascript: if (this.value == '1') { this.value = ''; }" onblur="javascript: if (this.value == '') { this.value = '1'; }"/>
                        </div>
                    </div>

                    <select id="ddlLocale" class="btn btn-default" style="margin-top: 5px; margin-bottom: 20px">
                        <option value="en-US">English</option>
                        <option value="es-ES">Spanish</option>
                        <option value="ru-RU">Russian</option>
                    </select>


                    <!-- Widget Demo -->
                    <div class="checkbox">
                        
                        <label><input type="checkbox" id="chkbEnableWidgets" style="width: auto"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; Widget Demo</label>
                    </div>
                    

                    <!-- Clear Profile Attr -->
                    @if (ViewBag.CEEnvironment != "prod")
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkbClearProfileAttr" style="width: auto"><i class="fa fa-eraser" aria-hidden="true" style="color: #a9a9a9"></i> Clear Profile Attr</label>
                        </div>
                    }

                    <!-- Login as CSR -->
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkbEnableCSR" style="width: auto"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login as CSR</label>
                    </div>

                    <!-- Enable Remote Headers / Footers / Sidebars -->
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkEnableRemote" style="width: auto"><i class="fa fa-ban" aria-hidden="true" style="color: #dc143c"></i>&nbsp; Enable Remote Content</label>
                    </div>

                    <!-- Hide Internal Menu -->
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkHideInternalMenu" style="width: auto"><i class="fa fa-align-left" aria-hidden="true"></i>&nbsp; Hide Internal Menu</label>
                    </div>

                    <!-- Show Sub Tabs -->
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkShowSubTabs" style="width: auto"><i class="fa fa-align-left" aria-hidden="true"></i>&nbsp; Show Sub Tabs Only</label>
                    </div>

                    <!-- Green Button Connect -->
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkGreenButtonConnect" style="width: auto"><i class="fa fa-link" aria-hidden="true" style="color: #9acd32"></i> Green Button Connect</label>
                    </div>

                    <!-- GBC Admin -->
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkGreenButtonConnectAdmin" style="width: auto"><i class="fa fa-user" aria-hidden="true" style="color: #9acd32"></i>&nbsp; Green Button App List</label>
                    </div>


                    <div id="loginDiv" class="col-sm-12 controls" type="button" onclick="return false;">
                        <button id="btnLogin" type="button" onclick="return false;" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                    </div>



                    <div>
                        <label id='lblError' style='color: Red'></label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_longprofile" name="iws_height_wrapper_longprofile" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_billdisagg" name="iws_height_wrapper_billdisagg" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_billedusagechart" name="iws_height_wrapper_billedusagechart" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_insights" name="iws_height_wrapper_insights" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_setgoal" name="iws_height_wrapper_setgoal" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_billcomparison" name="iws_height_wrapper_billcomparison" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_actions" name="iws_height_wrapper_actions" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_actionplan" name="iws_height_wrapper_actionplan" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_greenbutton" name="iws_height_wrapper_greenbutton" onload="
scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>
<div style="margin-top: 25px; display: block">
    <iframe id="iws_height_wrapper_profile" name="iws_height_wrapper_profile" onload="scrolltotop();" style="display: none; margin: 0px; padding: 0px; height: 300px; width: 100%" scrolling="no" src=""></iframe>
</div>

<div class="clear"></div>
