﻿
<div class="manage__user row xs-mt-20">
    <div class="col-ms-6">
        <div class="manage__user-title">
            <h3 class="middle">{{content?.manageUserTitle}}</h3>
        </div>
    </div>
    <div class="col-ms-6 text-right">
        <div class="manage__user-add">
            <button name="singlebutton" class="btn btn-primary middle" (click)="onAddNewUser();">{{content?.addUserTitle}}</button>
        </div>
    </div>
</div>

    <div class="widgetbox manage__user--cards xs-ml-0 xs-mr-0 xs-mt-20 xs-mb-20">
        <accordion [closeOthers]="true">
            <accordion-group *ngFor="let user of userList" #group [isOpen]="status.isOpen">
                <div accordion-heading (click)="loaduserdetails(user.userId)">
                    <div class="pull-right float-xs-right">
                        <a [ngClass]=" group?.isOpen ? 'fa fa-chevron-down' : 'fa fa-chevron-right' " aria-hidden="true">
                        </a>
                    </div>
                    {{user?.displayName}}
                </div>
                <userprofile #userProfileDetails [UserId]="user.userId"></userprofile>
            </accordion-group>
        </accordion>
    </div>
    <div class="modal fade" bsModal #userProfile="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="userProfile.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button><h2 class="text-primary">{{content?.addUserTitle}}</h2>

                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-horizontal">
                                        <fieldset>
                                            <div class="help-block container" *ngIf="error">
                                                <div class="col-md-8 help-block">
                                                    <div class="alert alert-danger" type="danger">{{errorMessage}}</div>
                                                </div>
                                            </div>
                                            <div class="container-spinner" *ngIf="loading && !addNewuserComplete">
                                                <div class="item">
                                                    <div class="number"></div>
                                                    <div class="loader02"></div>
                                                </div>
                                            </div>
                                            <div *ngIf="!loading && !addNewuserComplete">
                                                <form name="addUserPortalList" (ngSubmit)="f.form.valid && addNewUserPortalList()" #f="ngForm" novalidate autocomplete="off" method="post" action="/form">
                                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
                                                        <label class="col-md-4 control-label" for="textinput">{{content?.firstName}}</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" name="firstname" [(ngModel)]="ApplicationUser.FirstName" #firstname="ngModel" required placeholder="First Name" />
                                                            <div *ngIf="f.submitted && !firstname.valid" class="help-block">{{content?.firstNameRequired}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
                                                        <label class="col-md-4 control-label" for="textinput">{{content?.lastName}}</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" name="lastname" [(ngModel)]="ApplicationUser.LastName" #lastname="ngModel" required placeholder="Last name" />
                                                            <div *ngIf="f.submitted && !lastname.valid" class="help-block">{{content?.lastNameRequired}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                                        <label class="col-md-4 control-label" for="textinput">{{content?.userName}}</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" name="username" [(ngModel)]="ApplicationUser.UserName" #username="ngModel" required placeholder="User Name" />
                                                            <div *ngIf="f.submitted && !username.valid" class="help-block">{{content?.userNameRequired}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                        <label class="col-md-4 control-label" for="textinput">{{content?.password}}</label>
                                                        <div class="col-md-7">
                                                            <input type="password" show-hide-input class="form-control" name="password" [(ngModel)]="ApplicationUser.Password" #password="ngModel" required placeholder="Password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" />
                                                            <input type="checkbox" id="showPassword" (change)="toggleShow($event)" />
                                                            <div *ngIf="f.submitted && !password.valid" class="help-block">{{content?.passwordRequired}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="textinput">{{content?.administrator}}</label>
                                                        <div class="col-md-7">
                                                            <input type="checkbox" id="showCheckBox" value="false" name="administrator" [(ngModel)]="ApplicationUser.Administrator" #administrator="ngModel" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="textinput">{{content?.status}}</label>
                                                        <div class="col-md-4">
                                                            <input type="checkbox" id="showCheckBox" value="false" name="enabled" [(ngModel)]="ApplicationUser.Enabled" #enabled="ngModel" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="singlebutton"> </label>
                                                        <div class="col-md-7">
                                                            <button name="singlebutton" class="btn btn-primary">{{content?.save}}</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="container" *ngIf="addNewuserComplete">
                                                <div class="col-md-8">
                                                    {{content?.userAddedMessage}}
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
