﻿
<div class="container-spinner" *ngIf="loading">
    <div class="item">
        <div class="number"></div>
        <div class="loader02"></div>
    </div>
</div>
<div class="container-fluid" *ngIf="!loading">
    <div *ngIf="!enableEdit">
        <div class="row user-row xs-mb-15">
            <div>
                <img class="img-circle xs-mr-15"
                     src="/images/user.png"
                     alt="User Pic"
                     width="50">
            </div>
            <div class="middle">
                <h5 class="text-primary xs-m-0">{{result?.lastName}}, {{result?.firstName}} </h5>
          
            <div *ngIf="result?.isAdminUser === true">
                <p>{{content?.administrator}}</p>
            </div>
        </div>

         </div>
        <div class="row user-infos cyruxx">
            <div class="panel panel-primary xs-mb-0">
                <div class="panel-heading">
                    <h2 class="panel-title">{{content?.manageUserTitle}}</h2>
                </div>
                <div class="panel-body">
                    <div class="row  xs-mb-15">

                        <div class="col-xs-12 col-ms-3 col-lg-2 xs-pr-0 hidden-xs">
                            <img class="img-circle img-responsive user-icon xs-mb-10"
                                 src="/images/user.png"
                                 alt="User Pic">
                        </div>

                        <div class="col-xs-12 col-ms-9 col-lg-10">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td class="user-label"><strong>{{content?.name}}</strong></td>
                                        <td>{{result?.firstName}} {{result?.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="user-label"><strong>{{content?.userName}}</strong></td>
                                        <td>{{result?.userName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="user-label"><strong>{{content?.clientName}}</strong></td>
                                        <td>{{result?.clientName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="user-label"><strong>{{content?.clientDescription}}</strong></td>
                                        <td>{{result?.clientDescription}}</td>
                                    </tr>
                                    <tr>
                                        <td *ngIf="result?.isAdminUser || editUsers" class="user-label"><strong>{{content?.status}}</strong></td>
                                        <td *ngIf="result?.isAdminUser || editUsers">{{true == result?.enabled ? 'Yes' : 'No'}}</td>
                                    </tr>
                                    <tr>
                                        <td *ngIf="result?.isAdminUser || editUsers" class="user-label"><strong>{{content?.failedLoginCount}}</strong></td>
                                        <td *ngIf="result?.isAdminUser || editUsers">{{result?.failedLoginAttempts}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right" *ngIf="editUsers">
                    <span>
                        <button class="btn btn-sm btn-warning" type="button" (click)="editUser(result.userId)" [disabled]="result.isLoggedin"
                                data-toggle="tooltip"
                                data-original-title="Edit this user">
                            <i class="fa fa-pencil-square-o xs-mr-5" aria-hidden="true"></i>{{content?.edit}}
                        </button>
                        <button class="btn btn-sm btn-danger" type="button" *ngIf="result.enabled" [disabled]="result.isLoggedin"
                                mwlConfirmationPopover
                                (confirm)="disableUser(true, result.userId)"
                                [title]="Disable_User"
                                [message]="Disable_User"
                                [confirmText]="Yes"
                                [cancelText]="No"
                                placement="left">
                            <i class="fa fa-ban xs-mr-5" aria-hidden="true"></i>
                            {{content?.disable}}
                        </button>
                        <button class="btn btn-sm btn-warning" type="button" *ngIf="!result.enabled" [disabled]="result.isLoggedin"
                                mwlConfirmationPopover
                                (confirm)="disableUser(false, result.userId)"
                                [title]="Disable_User"
                                [message]="Disable_User"
                                [confirmText]="Yes"
                                [cancelText]="No"
                                placement="left">
                            <i class="fa fa-ban xs-mr-5" aria-hidden="true"></i>
                            {{content?.enableUser}}
                        </button>                          
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!enableEdit">
        <addnewuser #editUserComponent></addnewuser>
    </div>
</div>


