<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">

    <!-- 'Error' panel -->
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
                <h1 class="xs-mb-0" role="presentation">{{result.Title}}</h1>
            </div>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-hand-right"></span>
                <strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>
    <div *ngIf="!errorOccurred" class="panel panel-default account-select">
        <div class="panel-default account-select">



            <div class="panel-heading account-select__heading">

                <div class="row">
                    <div *ngIf="(result.AccountList.length > 1 || result.AccountList[0].Premises.length > 1) && loadingMessage === ''" class="text-right pull-right">
                        <div class="xs-pl-0 toggle__btn toggle__drk">
                            <a class="btn btn-default xs-ml-10" href="#" onclick="return false;" (click)="showPanel = !showPanel" role="button">
                                <span *ngIf="!showPanel">{{result.ExpandLabel}}</span>
                                <span *ngIf="showPanel">{{result.CollapseLabel}}</span>
                                <span [ngClass]="showPanel ? 'icon icon-toggle-up' : 'icon icon-toggle-down'"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row xs-pl-15 xs-pr-15">
                    <!-- Account Infomation -->
                    <h3 class="sr-only" role="heading" aria-level="3">Account premise</h3>
                    <div class="account-select__info account-select__heading-account text-left table-responsive xs-ml-0 xs-mr-0 xs-p-15">
                        <div class="col-ms-6 col-lg-5 xs-pr-0 xs-pl-0">
                            <div class="col-md-6 xs-pr-0 xs-pl-0 xs-pb-10"><span class="icon icon-home xs-mr-10 hidden-xs hidden-ms" aria-hidden="true"></span><div class="inline-block"><strong>{{result.AccountNumberLabel}}</strong><span class="dont-break-out xs-pr-15"><strong>{{account}}</strong></span></div></div>
                            <div class="col-md-6 xs-pr-0 xs-pl-0 xs-pb-10" *ngIf="result.FirstName.length > 1">{{result.FirstName}} {{result.LastName}}</div>
                        </div>
                        <div class="col-ms-6 col-lg-7 xs-pr-0 xs-pl-0">
                            <div class="col-md-8 xs-pr-0 xs-pl-0 xs-pb-10" *ngIf="address1.length > 1">{{address1}} {{address2}} {{city}} {{state}} {{postalCode}} </div>
                            <div class="col-md-4 xs-pr-0 xs-pl-0 xs-pb-10">{{commodities}}</div>
                        </div>
                        
<!--
                        <table class="table">
                            <tbody class="premise-select">
                            <tr>
                                <td class="icon icon-home xs-mr-0 hidden-xs hidden-ms" aria-hidden="true"></td>
                                <td class="account-select__heading--h3 xs-pt-15 xs-pr-20 xs-pb-15 xs-pl-15"><strong>{{result.AccountNumberLabel}}</strong><span class="dont-break-out"><strong>{{account}}</strong></span></td>
                                <td *ngIf="result.FirstName.length > 1">{{result.FirstName}} {{result.LastName}}</td>
                                <td *ngIf="loadingMessage !== ''">{{loadingMessage}}</td>
                                <td *ngIf="address1.length > 1">{{address1}} {{address2}} {{city}} {{state}} {{postalCode}} </td>
                                <td>{{commodities}}</td>
                            </tr>
                            </tbody>
                        </table>-->
                    </div>
                </div>
            </div>
            <!-- start: toggle enclosure -->
            <div *ngIf="showPanel">

                <div *ngFor="let a of result.AccountList | objToArr;">
                    <!-- Account Heading -->
                    <div class="panel-body xs-mb-0 xs-pb-0" role="heading" aria-level="2">
                        <p>
                            <strong>{{result.AccountNumberLabel}} {{a.Id}}</strong>
                        </p>
                    </div>
                    <h3 class="sr-only" role="heading" aria-level="3">Select premise</h3>
                    <!-- Premise Details -->
                    <div *ngFor="let p of a.Premises | objToArr;">
                        <div class="panel-body xs-p-0 xs-m-0">
                            <div class="panel-body premises">
                                <div class="col-xs-1 account-select__checkmark xs-pl-0 xs-pr-0 text-left"><input [checked]="p.Selected" (click)="setPremise(p)" type="radio" name="premises" /></div>
                                <div class="col-xs-2 account-select__account xs-pr-0"><p class="dont-break-out">{{p.Id}}</p></div>
                                <div class="col-xs-6 account-select__address xs-pr-0"><p>{{p.Addr1}} {{p.Addr2}} {{p.City}}, {{p.Country}} {{p.PostalCode}}</p></div>
                                <div class="col-xs-3 account-select__utility xs-pr-0"><p>{{p.Commodities}}</p></div>
                            </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>
