﻿/* QA Core Global Overrides */

html {
  font-family: sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;     
   overflow: -moz-scrollbars-vertical;
   overflow: scroll; }



/*  4242  */
.panel {
    border: 1px solid #ddd;
    border-radius: 0;
    -moz-box-shadow:    5px 4px 8px 0px #ccc;
    -webkit-box-shadow: 5px 4px 8px 0px #ccc;
    box-shadow:         5px 4px 8px 0px #ccc;
}

/*  no shadow  */
#iws_panel_div {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    margin: 20px;
    width: auto;
    line-height: 148%;
    padding: 12px !important;
}
.no-shadow {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

/* 5303 */
.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #ddd;
    border-bottom: none;
}



/*  insigts  action.css 150 and insights and actionplan.css for action shell */
.insights .panel, .panel-body-recommended-actions .panel,  #iws_ap_ip_actions .panel, #iws_ap_cpl_actions  .panel {
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
@media (min-width: 768px) {
    .area li:first-child {
        margin-left: 0 !important;
    }
}


h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    color: #CD771D !important;
    margin-bottom: 0;
    font-size: 28px !important;
    text-align: left;
    margin: 7px 0 9px 0;
    font-weight: 400 !important;
}

.icon-nav-energy-long .energyIconNav li.active a.navbar-link:first-child, .icon-nav-energy-long .energyIconNav li.active:first-child {
    background-color: #3999CD;
    border-radius: 0 !important;
}


h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    color: #CD771D !important;
    margin-bottom: 0;
    font-size: 28px !important;
    text-align: left;
    margin: 7px 0 9px 0;
    font-weight: 400 !important;
}


/* **********  */
/* Sales Demo  */
/* **********  */
button {
    border: 1px solid transparent;
}

.primary-wide-btn,
.default-btn,
.default-btn:focus,
.default-btn.focus,
.default-btn:active,
.default-btn.active,
.open > .default-btn.dropdown-toggle,
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle,
.btn-group .primary-wide-btn,
.btn-group .default-btn,
.btn-group .default-btn:focus,
.btn-group .default-btn.focus,
.btn-group .default-btn:active,
.btn-group .default-btn.active,
.btn-group .open > .default-btn.dropdown-toggle,
.btn-group .btn-primary,
.btn-group .btn-primary:focus,
.btn-group .btn-primary.focus,
.btn-group .btn-primary:active,
.btn-group .btn-primary.active,
.btn-group .open > .btn-primary.dropdown-toggle,
.btn-group .primary-btn {
    background: none repeat scroll 0 0 transparent;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #95B94F;
}
.primary-wide-btn:hover {
    background-color: #a0d468;
}
.primary-wide-btn:active, .primary-wide-btn:focus {
    background-color: #95B94F;
}

.ghost {
    background-color: #95B94F;
    border-color: #ccc;
    color: #fff;
}

.panel-footer {
    background-color: #ddd;
}

.panel-footer a:visited {}
.panel-footer a:hover, .panel-default .popular-button button:hover {
    color: #999;
    background-color: #ddd;
    text-decoration: underline;
}
.panel-footer a:active, .panel-footer a:focus {
    color: #999;
    background-color: transparent;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 4px;
    text-decoration: underline;
}

.energyIconNav .active {
    background: #95B94F !important;
    color: #fff;
}

.icon-nav-energy-long .energyIconNav li.active a.navbar-link:first-child, .icon-nav-energy-long .energyIconNav li.active:first-child {
    background-color: transparent;
    border-radius: 0 !important;
}