﻿<h1>oAuth 2 Authorization Form</h1>
<p>The Third Party Application redirects the retail customer to this page.</p>
<p>The Retail Customer is presented with an authentication form.</p>
<p>They can choose to accept/or decline authorization for the Third Party application to make automated requests for their Green Button data.</p>
    
