﻿<h1>Data Custodian (Aclara) Scope Selection Page</h1>
<p>The Retail Customer is redirect to this page where they can select which scopes (data types) they would like to share with the Third Party application.</p>
