﻿

/*.SoCal-HeaderImg {
    width: 100%;
    margin: 0px auto;
    display: block;
}*/

body {
    background-color: #dbeee1 !important;
    color: #266d2f !important;
}

.navbar-default .navbar-toggle {
    /*margin-bottom: 0px;
    border-bottom: 0px;*/
    margin-right: 10px !important;
}

.navbar-default .navbar-nav > li > a,
.progressBar__container h2,
.progressBar__completed,
.panel-content h3,
.actions__title a,
.actions__buttons .button-small,
.caption,
.xs-m-20.xs-mb-0,
.notification-detail__message p a.xs-mb-10 {
    color: #266d2f !important;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #eaeaea;
}

.panel {
    border: 1px solid #ddd;
    border-radius: 0;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

    .panel .xs-mt-0 {
        margin-top: 20px !important;
    }

.container .row .col-md-8 {
    padding-right: 10px;
}

.container .row .col-md-4 {
    padding-left: 10px;
}

h1.panel-title,
.panel-content h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    color: #266d2f !important;
    margin-bottom: 0;
    font-size: 22px !important;
    text-align: left;
    margin: 7px 0 9px 0;
    font-weight: bold !important;
}


.action-btn {
    color: #fff !important;
    min-width: 150px;
    /* background-color: #337ab7; */
    /* border-color: #337ab7; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    background-color: #d34600;
    text-decoration: none !important;
    font-weight: bold;
    border: 0 !important;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding: 0 15px !important;
    box-shadow: inset 0px -3px #b03a00;
    -webkit-box-shadow: inset 0px -3px #b03a00;
}

    .action-btn:hover,
    .action-btn:active,
    .action-btn:focus {
        background-color: #bb3e00 !important;
        background-image: none !important;
        box-shadow: inset 0px -3px #933100;
        -webkit-box-shadow: inset 0px -3px #933100;
        -moz-box-shadow: inset 0px -3px #933100;
    }

.insight-sort li {
    font-size: 13px;
    padding: 0 5px;
}


@media (min-width: 990px) {
    .container {
        width: 940px;
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
    }
}


@media only screen and (min-width : 320px) and (max-width : 770px) {
    .navbar-nav {
        margin: 0px !important;
    }
}

#frmcsrreport {
    display: none;
}

ul.nav-pills li {
    display: table-cell;
    margin: 0;
    float: none;
    text-align: center;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

    ul.nav-pills li a {
        background: #f8f8f8 !important;
        padding: 15px !important;
        color: #266d2f !important;
    }

    ul.nav-pills li.active a.navbar-link {
        background: #e7e7e7 !important;
        border: none !important;
    }

.pills.nav {
    margin-bottom: -1px;
    padding-bottom: 0px;
}
