﻿.content-wrapper,
.popup-page .page {
    background: #dbeee1;
}


.res-header a img {
  border: 0;
}

/* Navigation */
.desktopNav a,
.desktopNav a:link{
    color: #266d2f;
}
.desktopNav .navChild li a:hover {
  background-color: #dbeee1;
}
.desktopNav .navChild li a:active {
  background-color: #266d2f;
}

/* Step Bar */
.step-bar .step, .step-bar > div {
    background: url(/public/images/stepbar-res.png) top right no-repeat;
    color: #a9c8ab;
}

/* Header And Description */
.headerAndDesc h1 .h1 {
    color: #212121;
}
.color-header h1,
.stepTitle,
.quick-links .title,
.analyzeUsage > div > h2,
.eventCalendar h2,
.topPageHeading h1{
    color: #266d2f;
}

/* Multimonth Calendar */
.month-dates a {
    color: #266d2f;
}
.two-months .selected-date,
.three-months .selected-date,
.month-dates a:active,
.month-dates td[aria-selected="true"] a {
  background-color: #266D2F !important;
}

/* CSO Calendars */
.apt-calendar-widget .selected-apt-date a,
.apt-calendar-widget .selected-apt-date a:active {
    background: #266D2F !important;
	color: #fff !important;
}
#priority-calendar .selected-apt-date {
    background: #266D2F !important;
}

/* Mobile Nav Icon CSS */
.mobileNav > ul > li[value="2"] div,
.mobileNav > ul > li[value="3"] div,
.mobileNav > ul > li[value="4"] div,
.mobileNav > ul > li[value="5"] div,
.mobileNav > ul > li[value="6"] div {
    background-image: url(/public/images/nav-icons.png);
    background-repeat: no-repeat;
}
.mobileNav > ul > li[value="3"] div {
    background-position: left -40px;
}
.mobileNav > ul > li[value="4"] div {
    background-position: left -80px;
}
.mobileNav > ul > li[value="5"] div {
    background-position: left -120px;
}
.mobileNav > ul > li[value="6"] div {
    background-position: left -160px;
}

/* Tables */ 
.desktopTabletTable > div > table > tbody > tr:nth-child(odd),
.otp-mobile-table > div:nth-child(even),
.otp-desktop-table > div > table > tbody > tr:nth-child(odd),
.mobileTable > div:nth-child(even) > table,
.mobileTable > div > table:nth-child(even) {
  background: #dbeee1;
}

.desktopTabletTable > div > table > tbody > tr,
.mobileTable > div > table,
.otp-desktop-table > div > table > tbody > tr:nth-child(even) {
    background: #fff;
}

.tableComp th {
    color: #266D2F;
}

/* CSO Item List */
.item-list > div:nth-child(odd) {
    background: #EAf7EE;
}
.item-list > div:nth-child(even) {
    background: #FFF;
}

/* Landing Page - Account Details Section */
.rma-welcome {
  color: #266d2f;
}
.rma-main-title h1,
.rma-main-title h2 {
  color: #266d2f;
  font-size: 1.8em;
  white-space: nowrap;
  margin-bottom: 0;
  padding-top: 4px;
}
.rma-account-details {

}
.rma-account-select {
  float: right;
}
.rma-account-select-single {
  margin-top: 7px;
  float: right;
}
.rma-account-select .af_outputLabel {
  min-width: initial;
  padding-right: 10px;
}

.rma-main-section {
  background: #E2E2E2;
  border-collapse: separate !important;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}
.rma-main-section > tbody > tr:first-child > td:first-child {
  width: 150px;
}
.rma-section-title {
  white-space: nowrap;
}
.af_panelHeader.rma-section-title h2 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
}
span.rma-section-title {
  font-size: 1.4em;
}
.rma-sub-section {
  width: 100%;
}
.rma-cur-balance {
  font-weight: bold;
  font-size: 2.2em;
}
.rma-credit {
  font-weight: bold;
  font-size: 1.4em;
}
.rma-main-past-due {
  color: #C62127;
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
}
.rma-prev-last {
  font-size: 1.4em;
}
.rma-sub-section a,
.rma-sub-section button {
  float: right;
  white-space: nowrap;
}
.rma-secondary-section {
  
}
.rma-secondary-column {
  display: block;
  width: 190px;
}
.rma-secondary-separator {
  background: #cccccc;
  margin: 0 !important;
}

.rma-enrollment-msgs > div {
  margin-bottom: 10px;
}
.rma-enrollment-msgs > div:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 599px) {
  .rma-account-select {
    width: 100%;
  }
  .rma-main-section > tbody > tr:first-child > td:first-child {
      width: 125px;
  }
  .rma-section-title {
      white-space: initial;
  }
  .rma-cur-balance {
    font-size: 1.4em;
    margin-top: 2px;
    display: block;
  }
  .rma-sub-section a,
  .rma-sub-section button {
    float: none;
    margin-top: 10px !important;
    display: block;
  }
  .rma-account-details .fs-18.rma-secondary-column {
    width: auto;
  }
  .rma-account-details .fs-14.rma-secondary-column {
    width: 140px;
  }
}


/*
 * Pay Bill - One Time Payment
 */
.payBillAccounts.payBillSingleAcct .payBillAccountDetails,
.payBillAccounts.payBillMultiAcct .payBillAccountDetails:nth-child(odd) {
    background: #dbeee1;
}