﻿/* General Browser Fixes - not in main skin because
of ADF compilation issues with modern css selectors/properties */
/* Webkit/Chrome Search Box fix */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.overlayQuery::-ms-clear {
    display: none;
}
.af_panelLabelAndMessage:last-child .af_panelLabelAndMessage_content-cell.AFPanelFormLayoutContentCell {
    padding-bottom: 15px;
}

.message-icon {
    margin-right: 20px;
    padding: 0;
    position: absolute;
    vertical-align: top;
}
/* Landing Page table */
.minAccountTable.maxAccounts .acct > td:nth-child(2) {
    width: 100%;
}
.minAccountTable.maxAccounts .acct.open > td:nth-child(2) {
    width: auto;
}
.landingPromo > div > table > tbody > tr > td:nth-child(2) {
    text-align: right;
}
.af_inputText.p_AFReadOnly textarea {
    height: auto !important;
    border: 1px solid #CCC !important;
}

/* Header Table Fix */
.main-header > tbody > tr > td:last-child {
    width: 100%
}

/* GENERAL */
.main-header,
.main-content,
.main-footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

/* HELPERS */
.visible-d,
.visible-t,
.visible-m {
    display: none !important;
}

/*
 * Pay Bill - One Time Payment
 */
.payBillAccounts.payBillMultiAcct .payBillAccountInfoTable > tbody > tr > td:last-child {
    width: 100%;
}

/* Styles for Desktop viewport and up. */
@media only screen and (min-width:941px) {
	/* Opinion Labs */
	.oma-footer li:nth-child(5),
	.oma-footer li:nth-child(4) {
	  display: none;
	}
	
    /* GENERAL */
    .main-header .logo {
        width: 116px;
        height: 91px;
    }
    .main-header .logo img {
        max-width: 100%;
    }
    .main-header,
    .main-content,
    .main-footer {
        width: 940px;
    }

    .page.shove-page-right {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        position: static !important;
    }
    .mobileNavWrapper.open-mbl-nav {
        -webkit-transform: translateX(-270px);
        -moz-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        transform: translateX(-270px);
    }
    .mobileNavWrapper {
        display:none !important;
    }
    .visible-d {
        display: block !important;
    }
    .hidden-d {
        display: none !important;
    }
    
    /* BUBBLES */
    .bubble {
        float: right;
        height: 0;
        margin-right: -350px;
    }
    .bubble .bubble-inner {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #fff;
        padding: 20px;
    }
    .page.shove-page-right {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
    }
    /* CSO */
    .cso-confirm-image-balance > tbody > tr > td {
      float: left;
    }
    .enter-appliance .bubble {
        margin-left: 305px;
    }
    .open-mbl-nav {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
    }
    .cso-confirm-image-balance > tbody > tr > td {
        padding-left: 30px;
    }
    .cso-confirm-image-balance > tbody > tr > td:first-child {
        padding-left: 0px;
    }
    .shoveDown.visible-m {
        display: none !important;
    }
}
	
/* Styles for Tablet and Mobile */
@media only screen and (max-width: 940px) {
    
    /* Feedback Tab Opinion Labs */
    #oo_tab {
      display: none !important;
    }
	
    /* GENERAL */
    #d1 { background-color: #E7E7E7; }/* Mobile nav remainig background color */
    /*#d1 form#f1 {
        overflow-x: hidden;
    }*/
    .main-header,
    .main-content,
    .main-footer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
    }
    .greeting-user {
        word-break: break-all;
    }
    .right-content {
      width: 100%;
      float: none;
    }
    .left-sidebar {
      width: 100%;
      float: none;
    }
    .shoveDown,
    .shoveDownGroup {
        display: block !important;
    }
    
    /* HEADER */
    .main-header .header-links-search > div:first-child {
        float: right;
    }
    .main-header .header-links-search > div:nth-child(2) {
        display: none;
    }
    .main-header .header-links-search > div:last-child {
        float: left;
    }
    .main-header .btn-orange {
        margin-left: 0 !important;
    }
    .impersonateHeaderLinks {
        display: none;
    }
    /*.search-wrap {
        position: static;
        margin-left: 0;
    }
    **/
    /* MOBILE NAV */
    .mobile-nav-btn {
        float: left;
        /*margin-right: 20px;*/
    }
    
    /* CONTENT */
    .left-content {
        width: 100%;
    }
    .shoveDown {
        display: block;
    }
    .enter-appliance .input input,
    .enter-appliance .shoveDown {
        width: 100%;
        min-width: 0;
        max-width: 220px;
    }

    /* Ways to Save */
    .wtsFrame {
        overflow-x: auto;
    }
    .wtsFrame .af_inlineFrame {
        width: 100% !important;
    }
    
    /* Message Blocks */
    .af_panelGroupLayout.messageArea {
        width: 100%;
    }    
    
    /* MESSAGES */
    .message-container {
        width: 100%;
    }
    
    /* BUBBLES */
    .bubble, .bubble-opt {
        margin-top: 0 !important;
        padding-left: 0;
    }
    .af_selectBooleanCheckbox + .bubble,
    .af_selectOneChoice + .bubble,
    .af_inputText + .bubble,
    .shoveDown + .bubble,
    .vua.bubble,
    .signupPaperless + .bubble {
        margin-top: 10px !important;
    }
    .bubble.warning,
    .bubble-opt.warning {
        width: 100%;
        max-width: 300px;
        float: right;
        margin-bottom: 0;
        margin-top: 10px !important;
    }
    .bubble.attention,
    .bubble-opt.attention {
        width: 300px;
        margin-bottom: 0;
        margin-top: 10px !important;
    }
    .bubble.fullWidth,
    .bubble.fullWidth .bubble-inner,
    .bubble-opt.fullWidth,
    .bubble-opt.fullWidth .bubble-inner {
        width: 100%;
        max-width: 100%;
    }
    .bubble-arrow,
    .bubble-arrow-placeholder {
        display: none;
    }
    .bubble.staticBubble {
        margin-left: 0;
        position: relative;
    }
    .bubble-emergency,
    .bubble-emergency .bubble-inner,
    .bubble-emergency .bubble-inner>div:first-child, 
    .bubble-image-header>div:first-child + div,
    .bubble-emergency .bubble-inner table>tbody>tr:first-child {
        margin: 0;
        padding: 0;
    }
    .bubble-emergency .bubble-wrapper > tbody > tr > td:first-child,
    .bubble-image-header img {
        display: none;
    }
    .bubble-static-full-left {
        margin-left: 0;
        position: static;
        top: 0;
    }
    .captcha-opt-box .captchablurtext { display: block;}    

    /* STEP BAR */
    .step-bar {
        display: none;
    }

      
    /* Popup Page */
    .popup-page .main-content {
        width: 100%;
        box-sizing: border-box;
    }
    .popup-page .frame-content {
        padding: 20px;
    }
    .popup-page .content-box {
        width: 100%;
        margin: 0;
    }
    .popup-page iframe {
        width: 100%;
        height: 391px;
    }
    .footer-wrapper .logo {
        width: 116px;
        height: 91px;
        display: block;
    }
    .footer-wrapper .logo img {
        max-width: 100%;
    }
    
    .ras-span span {
        min-width: 0;
        text-align: left;
    }
}

/* Styles for Tablet */
@media only screen and (max-width: 940px) and (min-width: 600px) {
    /* GENERAL */
    .main-header,
    .main-content,
    .main-footer {
        width: 100%;
    }
    
    /* HEADER */
    .header-wrapper {
        height: 85px;
    }
    .main-header .logo {
        margin: 10px 0 0;
    }
    .main-header .logo img {
        width: 65px;
    }
    .main-header .header-links {
        line-height: 85px;
    }
    .main-header .top-header {
        margin-top: 0;
    }
    .main-header .header-search-align > div {
        float: right;
    }
    .main-header .header-search-bar {
        margin-right: 20px;
        margin-top: 28px;
    }
    
    /* HELPERS */
    .col-t-1{}
    .visible-t {
        display: block !important;
    }
    .hidden-t {
        display: none;
    }
    
    /* FOOTER */
    .main-footer .footer-links,
    .main-footer .copyright {
        width: 45%;
    }
    .main-footer .footer-links ul li a {
        white-space: nowrap;
    }
    
    /* CSO */
    .cso-confirm-image-balance > tbody > tr > td {
        width: 168px;
        display: block;
        clear: both;
        margin-top: 10px;
        padding: 0px;
    }
    .enter-appliance .bubble-inner {
        width: 100%;
    }
    .shoveDown.visible-m {
        display: none !important;
    }
}

/* Styles for Mobile */
@media only screen and (max-width: 599px) {
  /* remove mobile nav for mobile only when on public side */
  .page.shove-page-right.noMobileMenu {
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
      transform: none !important;
      position: static;
  }
  .mobileNavWrapper.open-mbl-nav.noMobileMenu {
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
      -ms-transform: none !important;
      transform: none !important;
      display: none;
  }

  /*  start: date of birth mobile  */
  .birthdate-dropdown-group td {width: 33%;}  
  .birthdate-dropdown-group tr {display:inline-table !important;}
  .date-of-birth-pli select {width: 100%;}
  .date-of-birth-pli tbody {display: table-row-group;}
  /*  end: date of birth mobile  */
  
  /* START: Social Security Number */
  .ssn-input .af_inputText_content {width: 100%;}
  .ssn-content .ssn-bubble td:first-child {vertical-align: top;}


  .panel-label-input > tbody > tr > td:first-child {text-align: left;}
  .grey-box-radio.grey-box {padding: 10px;}
  
  .dropdownlist .af_selectOneChoice_content,
  .dropdownlist .af_selectOneListbox_content {width: 100%;}
  
  /*  Zip Box Container and Input Boxes  */
  .zip-container {margin-left: 0;}
  .zip-container>tbody>tr>td {width: 40%;}
  .zipplus-pli.panel-label-input {margin: 23px 0 0 0;}
  .zipplus-pli.panel-label-input > tbody > tr > td:first-child 
    {width: 30px; padding: 5px 0 0 10px;}
  .zip-pli input, .zipplus-pli input, .zipplus-pli input {width: 100%;}
  .zip-pli input { min-width:130px;}
  .zipplus-pli input { min-width:100px;}
  
    /* Landing Page */
    .summaryHeader .af_separator {
      margin: 10px 0 15px 0 !important;
    }
    .landingMessage {
      border: 1px solid #ccc;
      padding: 10px;
    }
    
    .landingMessage > div > table > tbody > tr > td:first-child {
      vertical-align: top;
    }
    
    .landingMessage > div > table > tbody > tr > td:first-child > img {
        margin-right: 10px;
        width: 23px;
    }
    
    .landingMessage .attentionMessage h1 img {
        width: 23px;
        vertical-align: top;
        margin-right: 10px;
    }
    
    .landingMessage .attentionMessage h1 span {
      margin-left: 35px;
      position: relative;
      margin-top: -15px;
      top: -5px;
    }
    
    /* Acct Retrieval Error */
    .acctRetreivalError .af_image {
        width: 23px;
    }

    /* HELPERS */
    .visible-m {
        display: block !important;
    }
    .hidden-m {
        display: none !important;
    }
    .btn-nofloat-m {
        float: none !important;
        margin-left: 0 !important;
    }
    /* HEADER */
    .main-header .logo {
        width: 45px;
        height: auto;
        margin: 10px 0 0;
    }
    .header-wrapper {
        height: 65px;
        background-position: 0 -10px;
        padding-top: 10px;
    }
    .main-header .top-header {
        margin-top: 10px;
    }
    .main-header .header-links {
        line-height: 45px;
    }
    
    /* MOBILE NAV */
    .mobile-nav-btn img {
        width: 45px;
    }
    
    
    /* CONTENT */
    .message-container {
        border: 1px solid #cccccc;
        padding: 15px 15px 15px 10px;
    }
    .message-container.no-border {
        padding: 0;
    }
    .message-container > div > table {
        min-height: 23px;
    }
    .message-container td:first-child,
	.message-container > div > table > tbody > tr > td:first-child 	{
        width: 33px;
    }
    .message-container .msg-margin-left {
        padding-left: 33px;
    }
    .message-container.content-message,
    .message-container.success-message {
        border: 0;
        padding: 0;
    }    
    .message-icon {
        margin-top: 5px;
        margin-right: 10px;
        width: 23px;
    }
    .error-list {
        margin-top: -5px;
    }
    .message-container.messageH1 .af_panelGroupLayout > div:first-child + div {
        margin-top: 5px;
    }
    .message-container .message-area {
        margin-top: 10px;
    }
    .message-container.messageH1 .af_panelGroupLayout > div:first-child + div,
    .message-container.dynamicError div > .dynamicErrorMsg,
    .message-container .message-area,
    .message-container .message-area-adjust,
    .message-container .messageText,
    .message-container div .header-text,
    .error-list,
    .mover-service-text {
        margin-left: 33px;
    }
    .messageTable {
        margin-left: -33px;
    }
    .message-container.error-list-container .af_panelGroupLayout > div:first-child + div {
        margin-left: auto;
        margin-top: auto;
    }
    
    /* Message with H1 Title and Print This Page link */
    .message-container.success-message div > h1 > img {
        margin-top: 8px;
    }
    .message-container.success-message.h1-17 div > h1 > img,
    .message-container .messageText,
    .success-message .messageText {
        margin-top: 0;
    }
    .message-container .print-link {
        display: none;
    }
    .message-container .print-link-mobile {
        display: block;
        float: left;
        margin: 15px 0 0 33px;
    }
    .print-link,
    .print-link-no-header {
        float: none;
        margin: 15px 0 0 0;
        text-align: left;
    }
    .tableComp table:last-child {
        /*margin-bottom: 0 !important;*/ /* All tables should have margin-bottom */
    }    
    .tableComp table:first-child {
        margin-bottom: 15px !important;
    }
    .content-wrapper {
        background: #fff !important;
    }
    .content-box,
    .content-box.small {
        padding: 0;
    }
    .grey-box {
        padding: 10px;
        margin: 15px 0;
    }    
    .grey-box-container.grey-box {
        padding: 20px 0 1px 15px;
    }
    .getStartedList {
        width: 100%;
        float: none;
    }
    .af_separator {
        margin: 15px 0 !important;
    }
    .custom-form .inlineError,
    .enter-appliance.no-label,
    .no-label,
    .mover-service {
        margin-left: 0;
    }
    .panel-label-input {
        margin-bottom: 15px;
    }
    .panel-label-input.last {
        margin-bottom: 0;
    }
    .panel-label-input label {
        display: block;
        margin-bottom: 5px;
    }
    .panel-label-input .read-only {
        padding-top: 0;
    }
    .af_panelFormLayout_label-cell {
        text-align: left;
    }
    .af_panelLabelAndMessage_content-cell.AFPanelFormLayoutContentCell {
        padding: 5px 0 15px 0 !important;
    }
    /*.middleMultiLine .af_panelLabelAndMessage_content-cell.AFPanelFormLayoutContentCell,
    .lastInput .af_panelLabelAndMessage_content-cell.AFPanelFormLayoutContentCell,
    .last .af_panelLabelAndMessage_content-cell.AFPanelFormLayoutContentCell {
        padding: 10px 0 0 0 !important;
    }*/
    .acceptTermsConditions .af_panelLabelAndMessage_content-cell.AFPanelFormLayoutContentCell {
        padding: 0 !important;
    }
    .af_inputText_content {
        width: 100%;
        margin: 0 0 0 0 !important;
        /*padding: 0 0 0 0 !important;*/
    }
    .af_inputText.p_AFReadOnly .af_inputText_content {
        padding: 0 !important;
    }
    .prevBillAmount .af_inputText_content {
        width: 95%;
    }
    .prevBillAmount .showerror {
        padding-left: 0;
    }
    .af_panelFormLayout table,
    .enter-appliance .input input,
    .enter-appliance .shoveDown {
        width: 100% !important;
        max-width: 100% !important;
    }
    .form-text {
      margin-bottom: 0;
    }
    .af_panelFormLayout.left-align-form .af_selectOneChoice_content {
        min-width: initial;
        min-width: initial;
        width: 100%;
        margin-bottom: 15px;
    }
    .af_panelFormLayout.review .af_panelFormLayout_label-cell,
    .af_panelFormLayout.review .af_panelLabelAndMessage_content-cell {
        padding-bottom: 15px !important;
    }
    .af_panelLabelAndMessage.lastInput {
        margin-bottom: 0;
    }
    .btnGo {
        display: none;
    }
    legend.label,
    .panel-label-input table,
    .panel-label-input.account-select select,
    .select-multi-list,
    .mainAccountNumSearch .af_panelLabelAndMessage_content-cell,
    .mainAccountNumSearch .af_panelLabelAndMessage_content-cell .af_selectOneChoice_content,
    .accountSelect .af_panelLabelAndMessage_content-cell .af_selectOneChoice_content {
        width: 100%;
    }
    .accountSelect .af_selectOneChoice {
        display: block;
        margin-top: 5px;
    }
    .singleAccount {
        padding-top: 0;
    }
    
    /* Fields inside of a field */
    .af_panelLabelAndMessage_content-cell .af_panelLabelAndMessage_label,
    .af_panelLabelAndMessage_content-cell .af_panelFormLayout_label-cell,
    .af_panelLabelAndMessage_content-cell .af_panelLabelAndMessage_content-cell {
        width: 100% !important;
        display: block;
        float: left !important;
        font-size: 1.0em !important;
    }
    .last .af_panelLabelAndMessage_content-cell .af_panelLabelAndMessage_label,
    .last .af_panelLabelAndMessage_content-cell .af_panelFormLayout_label-cell { 
        margin-top: 15px;    
    }
    .phone {
        max-width: 100% !important;
        min-width: 100% !important;
        margin-right: 0;
    }
    .ext {
        margin-top: 15px;
    }
    .errorPhone, .bubble-inner,
    .errorExt {
        width: 100%; 
    }
    .errorExt {
        position: static;
        margin: 0 !important;
        padding: 0;
    }
    .errorExt {
        left: 20px;
        margin-top: 80px;
        padding: 0;
        position: absolute;
    }
    
    /* Radios */
    .inline-radio .af_selectOneRadio_content > div {
        margin-top: 10px;
    }
    .inline-radio .af_selectOneRadio_content > div:first-child {
        margin-top: 0;
    }
    
    /* Registration */
    .regSuccessLeft, .regSuccessRight,
    .pinMsg {
        width: 100%;
        float: none;
    }
    
    #captchaRow,
    #captchaImageSection,
    #captchaButtonSection,
    #inputCaptchaSection {
        float: none;
    }
    #captchaButtonSection {
        margin: 10px 0 0 0;
    }
    
    /* Ways to Save */
    .wtsFrame .af_inlineFrame {
        padding: 0;
    }
    .wtsFrame .mainAccountNumSearch .af_panelFormLayout_label-stacked-cell,
    .wtsLabel .af_panelFormLayout_label-stacked-cell {
        display: none;
    }
    .wtsLabel .af_panelLabelAndMessage_content-cell,
    .wtsLabel.last .af_panelLabelAndMessage_content-cell {
        padding: 0 !important;
    }
    .wtsTable div:nth-child(odd) {
        background: #EEE;
    }
    .wtsSuccessMsg {
    background-color: #E8EFF5;
    border :1px solid #CFDEEA !important;
    }
    .wtsSuccessMsg b {
        color: #039;
    }
    .wtsErrorMsg {
        background-color: #FFECEC;
        border :1px solid #FFD7D7 !important;
    }
    .moreOptionsList {
        width: 100%;
        float: none;
    }
    
    /* PAGE TITLE AND DESCRIPTION */
    .pageTitle .required,
    .pageDesc .required,
    .custom-required .required {
        margin: 10px 0 0 0;
        padding: 0;
        text-align: left;
    }
    
    /* Header and Desc component */
    .pageTitle h1 .pageTitleText {
        margin-bottom: 20px;
    }
    .required {
        width: 100%;
        float: none;
        margin-top: 10px;
        text-align: left;
    }
    
    /* Top Page Headings */
    .topPageHeading {
        background-image: none;
        padding: 0;
    }
    
    /* In-line Errors */
    .inlineErrorGroup,
    .inlineError,
    .inlineErrorInternal {
        display: block;
    }
    .inlineErrorGroup .af_panelLabelAndMessage_content-cell,
    .inlineError .af_panelLabelAndMessage_content-cell {
        padding: 0 0 5px 0 !important;
    }
    
    /* Shove-downs */
    .hasShoveDown tbody,
    .hasShoveDown tr,
    .hasShoveDown > tbody > tr > td {
        display: block;
        width: 100%;
    }
    .shoveDown,
    .shoveDownGroup div {
        width: 100%;
    }
    
    /* Password Strength */
    #password-strength {
        width: 100%;
    }
    
    /* Dropdown w/ Go Button */
    .go-btn-dropdown .af_selectOneChoice {
        display: block !important;
    }
    /* Popup Page */
    .popup-page .page {
        background: #FFF !important;
    }
    .popup-page iframe {
        width: 100%;
        height: 314px;
    }
    
    /* FOOTER */
    .footer-wrapper {
        border-top: 4px solid #cccccc;
    }
    .main-footer {
        padding: 20px;
    }
    .main-footer .copyright {
        text-align:  center;
    }
    .main-footer .footer-links {
        float: none !important;
        margin-bottom: 25px;
        text-align:center;
    }
    .main-footer .footer-links li {
        display: block !important;
    }
    .aa-ssl {
        float: none !important;
        margin: 0 auto;
    }
    
    /* CSO */
    .cso-confirm-image-balance > div > .af_panelGroupLayout {
        width: 165px;
        display: block;
        margin-bottom: 10px;
    }
    
    .cso-review-required {
        float: right;
        margin-top: 0;
    }
    
    .headerAndDesc {
        margin-bottom: 15px;
    }
    
    /* Three Image Promo Component - Replaced UCM-PROMO styles */
    .threeImagePromo li {
        display: block;
        padding-right: 0px;
        margin-bottom: 10px;
        width: 167px;
    }
    .threeImagePromo li:last-child {
	margin-bottom: 0px;
    }
    
    /*
     * Pay Bill - One Time Payment
     */
    .payBillAccounts .payBillDetailLabel {
        width: auto !important;
        padding: 0 0 15px 0;
        text-align: left;
        margin-bottom: 10px;
    }
    .payBillAccounts .panel-label-input label {
        margin: 0;
    }

    .payBillAccounts .payBillDetailCont {
        margin-bottom: 15px;
    }
    
    .payBillAccounts .payBillDetailValue {
        float: right;
        text-align: right;
    }
    
}

/* ADF Compilation issues with last-child psuedo selector - removed from skin css on 3/3/2016 */
.main-header > tbody > tr > td:last-child {
    width: 100%;
}
.shoveDown ul:last-child li:last-child {
    margin-bottom: 0;
}
.titled-list > ul > li:last-child {
    margin-bottom: 0px !important;
}