﻿<html>
<head>
    <title></title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="background-color:#f6f6f6; padding:6px;">
    <tr>
        <td align="center" valign="top" style="font-family:Helvetica, Arial, Verdana; color:#666666; font-size:14px;">
            <!-- CONTAINER ....................................... -->
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer" style="background-color:#ffffff; border:1px solid #dddddd; border-radius:4px; overflow:hidden;">

                <!-- HEADER ....................................... -->
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader" style="background-color:#ffffff; border-top:10px solid #3E4D64; padding:20px 20px 30px 20px;">
                            <tr>
                                <td align="left" valign="top">
                                    Confirmation
                                </td>
                                <td align="right" valign="top" style="font-size:11px; color:#999999;">                                        
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- BODY ....................................... -->
                <tr>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%" id="emailBody" style="background-color:#ffffff;">
                            <!-- BODY ITEM ....................... -->
                            <tr>
                                <td align="left" valign="top" style="padding:20px;">
                                    @*<h2 style="text-align:center; font-size:22px; font-weight:100; border-top:1px solid #eeeeee; padding:30px 20px 0;">
                                            Confirm Email DoubleOptIn
                                        </h2>*@
                                    <p style="color:#666666; font-size:14px; line-height:1.45;">
                                        @ViewBag.Message
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- FOOTER ....................................... -->
                <tr>
                    <td align="center" valign="top" style="padding-top:40px;">
                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color:#eeeeee; ">
                            <tr>
                                <td valign="top" class="footerContent" style="padding:30px 20px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

