﻿
@{
    Layout = "~/Views/Shared/_GreenButtonConnect.cshtml";
}

<script>
    var angWidgets = 'thirdpartyselection';
</script>
@{string angWidgetsHtml = "<thirdpartyscopeselection></thirdpartyscopeselection>";}
<app></app>
<script>
   var angWidgetsHtml = '@angWidgetsHtml';
</script>