<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">


    <!-- Revised 'Error' panel -->
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
                <h1 class="xs-mb-0" role="presentation">{{result.Title}}</h1>
            </div>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-hand-right"></span> <strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>











    <div *ngIf="!errorOccurred" class="panel panel-default greenbutton">
        <div class="panel-heading greenbutton__heading">

            <div class="row">
                <div class="col-xs-5 text-left">
                    <h1 *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-title greenbutton__heading--h3">{{result.Title}}</h1>
                </div>
                <div class="col-xs-7 greenbutton__info text-right xs-pr-0">
                    <div class="xs-pl-0">{{result.BannerText}}</div>
                    <div class="xs-pl-0 toggle__btn toggle__lgt pull-right xs-ml-15">
                        <a class="btn btn-default xs-ml-10" href="#" onclick="return false;" (click)="togglePanel()" role="button">
                            <span *ngIf="!showPanel">{{result.ExpandLabel}}</span>
                            <span *ngIf="showPanel">{{result.CollapseLabel}}</span>
                            <span [ngClass]="showPanel ? 'icon icon-toggle-up' : 'icon icon-toggle-down'"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>





        <!-- start:  toggle enclosure -->
        <div *ngIf="showPanel">



            <!-- Utility Bar - Subtitle and intro text -->
            <div class="panel-body utility xs-mb-0 xs-pl-0 xs-pr-0">
                <div class="sub-title xs-pb-15" *ngIf="result.ShowSubTitle == 'true' && result.Title !== ''">{{result.SubTitle}}</div>
                <!--Intro Text-->
                <div class="intro-text" *ngIf="result.ShowIntro == 'true' && result.Title !== ''">{{result.IntroText}}</div>
            </div>

            <div class="panel-body xs-pl-30 xs-pr-30 xs-ml-15 xs-mr-15 xs-pb-0 xs-mb-0">

                <!-- left column -->
                <div class="col-ms-8 col-md-9">
                    <div *ngIf="!result.HideUsageDownload">
                        <span [ngClass]="{'radio': !result.HideUsageDownload && !result.HideBillDownload}">
                            <label class="text-left"><input type="radio" *ngIf="!result.HideBillDownload" name="optradio" (click)="toggleView('ami')" checked>{{result.DownloadUsage}}</label>
                        </span>
                    </div>

                    <div *ngIf="!result.HideUsageDownload && !result.HideBillDownload">
                        <span class="radio">
                            <label class="text-left"><input type="radio" name="optradio" (click)="toggleView('bill')">{{result.DownloadBills}}</label>
                        </span>
                    </div>



                    <!-- download bills calendar -->
                    <div class="panel-body xs-pl-0 xs-pb-0 xs-mb-0" *ngIf="!result.HideUsageDownload">

                        <div class="col-xs-12 xs-pl-0" *ngIf="checkDownloadType() === 'ami'">

                            <div class="panel-default greenbutton__export no-shadow">

                                <div class="form-horizontal greenbutton__form">

                                    <div class="panel-body xs-pl-0 xs-pb-0 xs-pt-10 xs-mb-0">

                                        <p class="xs-mb-20">{{result.DownloadAmiTitle}}</p>

                                        <fieldset>
                                            <div class="row">

                                                <div class="col-sm-6">

                                                    <label class="col-sm-3 control-label" for="textinput">{{result.FromDate}}</label>
                                                    <div class="form-group text-xs-center text-ms-center text-sm-left">



                                                        <div class="col-sm-9">

                                                            <div class='input-group date'>

                                                                <datepicker [(ngModel)]="startDate" showWeeks="true"></datepicker>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <label class="col-sm-3 control-label" for="textinput">{{result.ToDate}}</label>
                                                    <div class="form-group text-xs-center text-ms-center text-sm-left">



                                                        <div class="col-sm-9">

                                                            <div class='input-group date'>

                                                                <datepicker [(ngModel)]="endDate" showWeeks="true"></datepicker>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>
                <!-- start: button column -->
                <div [ngClass]="result.HideUsageDownload ? 'col-ms-12 col-md-12 text-center' : 'col-ms-4 col-md-3'">

                    <!-- download bills button "bill" -->
                    <div class="col-ms-12 xs-pl-0 xs-pr-0" *ngIf="checkDownloadType() === 'bill'">
                        <div class="panel-default greenbutton__export no-shadow">
                            <div class="panel-body xs-mb-0 xs-pl-0 xs-pr-0">

                                <div class="form-horizontal greenbutton__form">
                                    <fieldset class="text-center">

                                        <div class="form-group xs-mb-0">
                                            <input alt="Download my bills" class="xs-mb-0 xs-mt-5" (click)="download()" style="width: 80px; height: auto;" type="image" src="Content/Images/icon-greenbutton.png"/>
                                            <p class="xs-mb-20 xs-ml-15 xs-mr-5 block error" *ngIf="result.NoBill">{{result.NoBillData}}</p>
                                            <span class="fa fa-refresh fa-spin block" *ngIf="pending">{{result.DownloadingMessage}}</span>
                                        </div>

                                    </fieldset>
                                </div>
                                <p class="xs-mb-20 xs-mb-20 xs-ml-15 xs-mr-0 xs-mt-5">{{result.DownloadBillsTitle}}</p>
                            </div>
                        </div>
                    </div>




                    <!-- download bills button "ami" -->
                    <div class="col-ms-12 xs-pl-0 xs-pr-0" *ngIf="downloadType === 'ami'">
                        <div class="panel-default greenbutton__export no-shadow">
                            <div class="panel-body xs-mb-0 xs-pl-0 xs-pr-0">

                                <div class="form-horizontal greenbutton__form">
                                    <fieldset class="text-center">

                                        <div class="form-group xs-mb-0">
                                            <input alt="Download my usage for specific days" class="xs-mb-0 xs-mt-5" (click)="download()" style="width: 80px; height: auto;" type="image" src="Content/Images/icon-greenbutton.png"/>
                                            <p *ngIf="invalidDates">{{result.DateError}}</p>
                                            <p class="xs-mb-20 xs-ml-15 xs-mr-5 block error" *ngIf="result.NoAmi">{{result.NoUsageData}}</p>
                                            <span class="fa fa-refresh fa-spin block" *ngIf="pending">{{result.DownloadingMessage}}</span>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>






                    <!-- end: button column -->
                </div>





            </div>

            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'">
                <div class="panel-footer">
                    <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                    <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink dv-external-links">
                        <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                    </div>
                </div>
            </div>





            <!-- end:  toggle enclosure -->
        </div>



    </div> <!-- /panel -->
</div>
