﻿@using CE.ControlPanel.Common
@model CE.ControlPanel.Models.Client

@{
    ViewBag.Title = "Create";
}

<h2>Add Insights API Client</h2>
<p class="required"> Required fields are marked with an asterisk (<label title="required"></label>).</p>

<hr />
@using (Html.BeginForm())
{
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group required">
            @Html.Label("Client Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">               
                @Html.TextBox("ClientID", "")
                @Html.ValidationMessageFor(model => model.ClientID)
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Rate Engine XREF Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">               
                @Html.TextBox("RateCompanyID", "")
                @Html.ValidationMessageFor(model => model.RateCompanyID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ReferrerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.TextBox("ReferrerID", "")
                @Html.ValidationMessageFor(model => model.ReferrerID)
            </div>
        </div>*@
        <div class="form-group required">
            @Html.Label("Authentication", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AuthType")
            </div>
        </div>

        <div class="form-group required">
            @Html.Label("Enabled", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnableInd)
                @Html.ValidationMessageFor(model => model.EnableInd)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
                    if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
                    {
                        <input type="button" id="btnCreate" value="Create" class="btn btn-def" />
                    }
                }
                <input type="submit" id="btnSubmit" style="display:none" />
                <label id='lblError' style='color: Red'></label>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $("#btnCreate").click(function () {
        var clientID = $('#ClientID').val();
        $.ajax({
            url: "CheckClientID",
            async: false,
            type: "POST",
            data: JSON.stringify({ "clientID": clientID }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                if (msg.Success == false) {
                    $('#lblError').html(msg.Message);
                }
                else {
                    $('#lblError').html("");
                    $('#btnSubmit').click();
                }
            }
        });
    });
</script>

