﻿@model List<CE.ControlPanel.Models.Clients>

@{
    ViewBag.Title = "Details";
}

<h2>Client details</h2>

@foreach (var i in Model)
{

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Client Id")
            </dt>

            <dd>
               @i.Name
            </dd>

            <dt>
                @Html.Label("Description")
            </dt>

            <dd>
               @i.Description
            </dd>

            <dt>
                @Html.Label("Rate Engine XREF Id")
            </dt>

            <dd>
                @i.RateCompanyID
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.ReferrerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReferrerID)
                </dd>*@

            <dt>
                @Html.Label("Created Date")
            </dt>

            <dd>
                @i.NewDate
            </dd>

            <dt>
                @Html.Label("Updated Date")
            </dt>

            <dd>
                @i.UpdDate
            </dd>

            <dt>
                @Html.Label("Authentication")
            </dt>

            <dd>
                @i.AuthName
            </dd>

            <dt>
                @Html.Label("Enabled")
            </dt>

            <dd>
                @i.EnableInd
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = i.ClientID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}