﻿@using CE.ControlPanel.Common
@model CE.ControlPanel.Models.Client

@{
    ViewBag.Title = "Edit client";
}

<h2>Edit client</h2>
<p class="required"> Required fields are marked with an asterisk (<label title="required"></label>).</p>

@using (Html.BeginForm())
{    
    <div class="form-horizontal">      
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.NewDate)        

        <div class="form-group required">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Rate Engine XREF Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RateCompanyID)
                @Html.ValidationMessageFor(model => model.RateCompanyID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ReferrerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferrerID)
                @Html.ValidationMessageFor(model => model.ReferrerID)              
            </div>
        </div>*@

        <div class="form-group">
            @Html.Label("Created Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.NewDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Updated Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.UpdDate)
            </div>
        </div>

        <div class="form-group required">
            @Html.Label("Authentication", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AuthType")
            </div>
        </div>

        <div class="form-group required">
            @Html.Label("Enabled", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnableInd)
                @Html.ValidationMessageFor(model => model.EnableInd)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            @{
                if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
                {
                            <input type="submit" value="Save" class="btn btn-def" />
                }
            }
            </div>
        </div>
    </div>
      
}

<div>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add/edit user", "Index", "ClientUser", new { clientId = Model.ClientID }, new { })
</div>
