﻿@model List<CE.ControlPanel.Models.Clients>

@{
    ViewBag.Title = "Insights API Clients";
}

<h2>Insights API Clients</h2>

<p>
    <b>This screen displays the Insights API clients for which you are authorized.</b><br />
    Click "Create New" to add a new client.<br />
    Click "Details" to view client properties.<br />
    Click "Edit" to change client properties and manage the client’s users.<br />
    Click "Query Tool" to test or troubleshoot the Insights API for a client.<br />
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Id")
        </th>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Description")
        </th>
        <th>
            @Html.Label("Rate Engine XREF Id")
        </th>
        @*<th>
                @Html.Label("ReferrerID")
            </th>*@
        <th>
            @Html.Label("Created Date")
        </th>
        <th>
            @Html.Label("Updated Date")
        </th>
        <th>
            @Html.Label("Authentication")
        </th>
        <th>
            @Html.Label("Enabled")
        </th>
        <th></th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @i.ClientID
            </td>
            <td>
                @i.Name
            </td>
            <td>
                @i.Description
            </td>
            <td>
                @i.RateCompanyID.ToString()
            </td>
            @*<td>
                    @i.ReferrerID.ToString()
                </td>*@
            <td>
                @i.NewDate.ToShortDateString()
            </td>
            <td>
                @i.UpdDate.ToShortDateString()
            </td>
            <td>
                @i.AuthName
            </td>
            <td>
                @Html.CheckBox("chkBox" + i.ClientID, Convert.ToBoolean(i.EnableInd), new { @disabled = "disabled" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = i.ClientID }) |
                @Html.ActionLink("Details", "Details", new { id = i.ClientID })|
                @Html.ActionLink("Query Tool", "Index", "QueryToolsInsights", new { clientId = i.ClientID }, new { })
            </td>
        </tr>
    }
</table>
