﻿@using Combres.Mvc
@model CE.Dashboard.LayoutFramework.WidgetInfo

@{
    Layout = "~/Views/Shared/_Widget.cshtml";
}


@section ViewJS{
    @Url.CombresLink("siteCss")
    @Url.CombresLink("siteJs")
}
<script>
    var modParams = '@Model.Parameters';
    var tabKey = '@Model.TabKey';
    var browser = '@Model.Browser';
    var iws_loading_text = '@Model.LoadingText';
    var iws_widget_error = '@Html.Raw(Model.WidgetError)';
    var iws_widget_id = '@Model.WidgetList';
    var iws_dl_tp = '';
    var iws_dl_w = '';
    var iws_dl_wst = '';
    var iws_dl_akey = '';
    var iws_dl_wt = '';
    var iws_dl_ws = '';
    var iws_dl_enum = '';
    var iws_dl_res = '';
    var iws_dl_comp = '';
    var iws_dl_yfc = '';
    var partial_browser = '@Html.Raw(@Model.PartialBrowserSupport)';
</script>
@{
    string action = "Index";
    string controller = Model.WidgetList;
}
<div class="iframe-resizer">
    <div class="container">
        @{string angWidgets = "";}
        @{string angWidgetsHtml = "";}
        <app></app>
        @{ angWidgetsHtml = angWidgetsHtml + "<div class='row'>  <div class='col-xs-12 col-ms-12 col-sm-12 col-md-12 col-lg-12'>";}
        <div class="row">
            <div class="col-xs-12 col-ms-12 col-sm-12 col-md-12 col-lg-12">
                @{
                    if (@controller == "longprofile" || @controller == "greenbutton" || @controller == "subscription" || @controller == "threshold" || @controller == "reportlist" || @controller == "profile" || @controller == "quicklinks" || @controller == "promo" || @controller == "billsummary" || @controller == "billhistory" || @controller == "peercomparison" || @controller == "reportcreate" || @controller == "billdisagg" || @controller == "billedusagechart" || @controller == "consumption" || @controller == "billtodate")
                    {
                        @:<@controller></@controller>
                        angWidgets = angWidgets + @controller + ",";
                        angWidgetsHtml = angWidgetsHtml + "<" + @controller + "></" + @controller + ">";
                    }
                    else
                    {
                        Html.RenderAction(action, controller);
                    }

                }
            </div>
        </div>
        @{angWidgetsHtml = angWidgetsHtml + "</div></div>";}
        <script>
            var angWidgets = '@angWidgets';
            var angWidgetsHtml = '@angWidgetsHtml';
        </script>
    </div>
</div>