<Loader *ngIf="enableLoader"></Loader>
<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="panel panel-default usage-summary">

        <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
            <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
            <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text" style="white-space: pre-line">{{result.IntroText}}</div>
        </div>

        <!-- No data -->
        <div *ngIf="result.NoBenchmarks == true" class="alert alert-warning">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NoBenchmarksText}}</strong>
        </div>

        <h2 *ngIf="result.NoBenchmarks !== true && result.ShowSubTitle == 'true' && result.SubTitle !== ''" role="presentation" class="subtitle">{{result.SubTitle}}</h2>

        <div *ngIf="result.NoBenchmarks !== true && commodities.length > 1" class="panel-body utility">
            <div class="utility-icons pull-right">
                <div class="u-icon-focus" >
                    <a *ngFor="let c of commodities;" href="#" (click)="getBenchmark(c.key)" title="{{c.label}}" onclick="return false;" class="btn btn-default icon__{{c.key}} xs-ml-5" [ngClass]="c.key === selectedCommodity ? 'icon_focus' : ''" role="button">
                        <span class="sr-only">{{c.label}} commodity</span>
                        <span class="icon {{c.iconFont}}"></span>
                        <span *ngIf="c.ShowCommodityLabels == 'true'" class="hidden-xs">{{c.label}}</span>
                        <span class="print-only">{{c.label}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="result.NoBenchmarks !== true" class="pc-bar-chart clearfix xs-p-15">
            <div class="pc-bar-chart__item">
                <div class="pc-bar-chart__bar">
                    <span class="pc-bar-chart__chart-title">{{result.YourQty}}</span>
                    <div class="pc-bar-chart__item-progress pc-bar-chart__lastmonth">
                        <div class="pc-bar-chart__bar-lastmonth" [style.width]="result.data.MyUnitsPercentage + '%'">
                            <span class="pc-bar-chart__value pull-right" *ngIf="result.data.AvgUnitsPercentage > 30">{{result.data.MyUnitsFormatted}}</span>
                        </div>
                        <div class="pc-bar-chart__filler text-left">
                            <span class="pc-bar-chart__value" *ngIf="result.data.AvgUnitsPercentage <= 30">{{result.data.MyUnitsFormatted}}</span>
                        </div>
                    </div>
                    <!-- //.item-progress -->
                </div>
                <!-- //.bar -->
            </div>
            <!-- //.item -->
            <div class="pc-bar-chart__item">
                <div class="pc-bar-chart__bar">
                    <span class="pc-bar-chart__chart-title">{{result.AverageQty}}</span>
                    <div class="pc-bar-chart__item-progress pc-bar-chart__similarhomes">
                        <div class="pc-bar-chart__bar-similarhomes" [style.width]="result.data.AvgUnitsPercentage + '%'">
                            <span *ngIf="result.data.AvgUnitsPercentage > 30" class="pc-bar-chart__value pull-right">{{result.data.AvgUnitsFormatted}}</span>
                        </div>
                        <div class="pc-bar-chart__filler text-left">
                            <span *ngIf="result.data.AvgUnitsPercentage <= 30" class="pc-bar-chart__value">{{result.data.AvgUnitsFormatted}}</span>
                        </div>
                    </div>
                    <!-- //.item-progress -->
                </div>
                <!-- //.bar -->
            </div>
            <!-- //.item -->
            <div class="pc-bar-chart__item">
                <div class="pc-bar-chart__bar">
                    <span class="pc-bar-chart__chart-title">{{result.EfficientQty}}</span>
                    <div class="pc-bar-chart__item-progress pc-bar-chart__efficienthomes">
                        <div class="pc-bar-chart__bar-efficienthomes" [style.width]="result.data.EfficientUnitsPercentage + '%'">
                            <span class="pc-bar-chart__value pull-right" *ngIf="result.data.AvgUnitsPercentage > 30">{{result.data.EfficientUnitsFormatted}}</span>
                        </div>
                        <div class="pc-bar-chart__filler text-left">
                            <span class="pc-bar-chart__value" *ngIf="result.data.AvgUnitsPercentage <= 30">{{result.data.EfficientUnitsFormatted}}</span>
                        </div>
                    </div>
                    <!-- //.item-progress -->
                </div>
                <!-- //.bar -->
            </div>
            <!-- //.item -->
        </div>









        <!-- Footer -->
        <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer">
            <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
            <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
            </div>
        </div>
    </div>
</div>
