﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A provisioning tool for CE and CE Query Tool to the CE.Insights RESTful WebApi.</p>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnLogout').hide();
    });
</script>