﻿@using CE.ControlPanel.Common


@using System.Configuration;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to CE.Insights</h1>
    <p class="lead">This control panel will help you provision and troubleshoot the CE.Insights API framework.</p>
    @{
        <p><a href="@ConfigurationManager.AppSettings.Get("CEInsightsAPIBaseURL")" class="btn btn-primary btn-large">Learn more about Aclara's CE.Insights &raquo;</a></p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Select the link below to manage API clients and users and to test API calls for a client.
        </p>
        <p><a class="btn btn-def" href="@Url.Action("Index", "Client")">API Clients >></a></p>
        @{
            if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
            {
                if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).SuperUser == true)
                {
                    <p><a class="btn btn-def" href="@Url.Action("List", "Login")">Manage Control Panel Users >></a></p>
                }
            }
        }
    </div>
</div>