﻿
@{
    ViewBag.Title = "Index";
}
<style>
    .panel-transparent {
        background: none;
    }

    label {
        margin-top: 5px;
    }
</style>

<div class="page-header">
    <h4>Notification Insights</h4>
</div>

<div class="col-xs-12 container-fluid bg-3 text-center">

    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                @Html.Label("Client:", new { @class = "" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
                @(Html.Kendo().DropDownList()
                      .Name("Client")
                      //.HtmlAttributes(new { @class = "col-xs-12 col-sm-12 col-md-8", style = "float:right;" })
                      .HtmlAttributes(new { style = "width:100%;" })
                      .DataTextField("Text")
                      .DataValueField("Value")
                      //.Events(e => e.Change("change_DayMeasure"))
                      .BindTo(new List<SelectListItem>()
                      {
                          new SelectListItem()
                          {
                              Text = @"87",
                              Value = "87"
                          },
                          new SelectListItem()
                          {
                              Text = @"61",
                              Value = "61"
                          },
                          new SelectListItem()
                          {
                              Text = @"290",
                              Value = "290"
                          },
                          new SelectListItem()
                          {
                              Text = @"256",
                              Value = "256"
                          }
                      })
                      .SelectedIndex(0))
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            @*@Html.Label("Interval:", new { @class = "col-xs-12 col-sm-12 col-md-6 col-lg-3" })*@
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                @Html.Label("Interval:", new { @class = "" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
                @(Html.Kendo().DropDownList()
                      .Name("Interval")
                      //.HtmlAttributes(new { @class = "col-xs-12 col-sm-12 col-md-8", style = "float:right;" })
                      .HtmlAttributes(new { style = "width:100%;" })
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .Events(e => e.Change("change_Interval"))
                      .BindTo(new List<SelectListItem>()
                      {
                          new SelectListItem()
                          {
                              Text = @"Week",
                              Value = "Week"
                          },
                          new SelectListItem()
                          {
                              Text = @"Month",
                              Value = "Month"
                          },
                          new SelectListItem()
                          {
                              Text = @"Custom",
                              Value = "Custom"
                          }
                      })
                      .SelectedIndex(0))
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                @Html.Label("Start date:", new { @class = "" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
                @(Html.Kendo().DatePicker()
                  .Name("startDatepicker")
                  //.HtmlAttributes(new { @class = "col-xs-12 col-sm-12 col-md-8", style = "float:right;" })
                  .HtmlAttributes(new { style = "width:100%;" })
                  .Events(e => e.Change("startChange")))
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                @Html.Label("End date:", new { @class = "" })
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
                @(Html.Kendo().DatePicker()
                  .Name("endDatepicker")
                  //.HtmlAttributes(new { @class = "col-xs-12 col-sm-12 col-md-8", style = "float:right;" })
                  .HtmlAttributes(new { style = "width:100%;" })
                  .Events(e => e.Change("endChange"))
                )
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-2 col-md-5">
        </div>
        <div class="col-xs-8 col-md-2" style="padding-top:22px">
            <button type="button" class="btn btn-default" style="width:100%" onclick="onFilterClick()">Filter</button>
        </div>
        <div class="col-xs-2 col-md-5">
        </div>
    </div>

    @*<div class="row vertical-align" >
                 <button style="width: 150px" onclick="onFilterClick()">Filter</button>
        </div>*@

    <div class="col-xs-12" id="loadhere" style="padding-top:22px">

    </div>

</div>

<script type="text/javascript">
    function onFilterClick() {
        var startPicker = $("#startDatepicker").data("kendoDatePicker");
        var startDate = kendo.toString(startPicker.value(), "MM/dd/yyyy");
        var endPicker = $("#endDatepicker").data("kendoDatePicker");
        var endDate = kendo.toString(endPicker.value(), "MM/dd/yyyy");
        var interval = $("#Interval").data("kendoDropDownList").value();
        var clientId = $("#Client").data("kendoDropDownList").value();

        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("Charts", "Notification")',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: { clientId: clientId, interval: interval, startDate: startDate, endDate: endDate },
            success: function (response) {
                $('#loadhere').html('');
                $('#loadhere').html(response);
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    $(document).ready(function () {

        var today = new Date();

        var endDate = $("#endDatepicker").data("kendoDatePicker");
        endDate.value(today);

        var interval = $("#Interval").data("kendoDropDownList").value();
        UpdateFilter(interval);
    });

    $(window).on("resize", function () {
        kendo.resize($(".chart-wrapper"));
    });

    function UpdateFilter(interval) {
        var startDate = $("#startDatepicker").data("kendoDatePicker");
        var endDate = $("#endDatepicker").data("kendoDatePicker");
        var today = new Date();

        switch (interval) {
            case "Week":
                {
                    today.setDate(today.getDate() - 7);
                    startDate.value(today);
                    startDate.enable(false);
                    endDate.enable(false);
                    break;
                }
            case "Month":
                {
                    today.setDate(today.getDate() - 30);
                    startDate.value(today);
                    startDate.enable(false);
                    endDate.enable(false);
                    break;
                }
            case "Custom":
                {
                    startDate.value(today);
                    startDate.enable(true);
                    endDate.enable(false);
                    break;
                }
        }
    }

    function startChange() {
        var endPicker = $("#endDatepicker").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange() {
        var startPicker = $("#startDatepicker").data("kendoDatePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }

    function change_Interval() {
        var interval = this.value();
        UpdateFilter(interval);
    }

</script>

<style>
    .vertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-top: 20px;
    }
</style>