.k-content, .k-input, .k-textbox, .k-widget {
    background-color: #fff;
    border-color: #e2e2e2;
    color: #656565;
    border-radius: 2px
}

.k-header {
    background-color: #f6f6f6;
    border-color: #e2e2e2
}

.k-icon, .k-icon:focus, .k-icon:hover, .k-link {
    color: #656565;
    text-decoration: none
}

.k-centered {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.k-state-default {
    border-color: #e2e2e2
}

.k-state-selected {
    background-color: #ff6358;
    border-color: #ff685d;
    color: #fff
}

.k-state-active {
    background-color: #fff
}

.k-state-focused, .k-textbox:focus {
    box-shadow: 0 0 0 2px #f0f0f0
}

.k-state-hover, .k-state-hover:hover {
    background-color: #ededed;
    border-color: #c3c3c3;
    color: #656565
}

.k-state-disabled, .k-state-disabled .k-button, .k-state-disabled .k-link {
    border-color: #d2d2d2;
    color: #d2d2d2;
    cursor: default;
    outline: 0
}

.k-state-disabled {
    opacity: .7
}

.k-state-error {
    border-style: ridge
}

.k-state-empty {
    font-style: italic
}

.k-state-highlight {
    background-color: #f6f6f6;
    border-color: #ff6358
}

.k-button-bare {
    background: none !important;
    border-width: 0;
    box-shadow: none
}

    .k-button-bare:focus {
        box-shadow: none !important;
        border-color: transparent
    }

.k-var--accent {
    background-color: #ff6358
}

.k-var--base {
    background-color: #f6f6f6
}

.k-var--background {
    background-color: #fff
}

.k-var--border-radius {
    margin-top: 2px
}

.k-var--normal-background {
    background-color: #fff
}

.k-var--normal-text-color {
    background-color: #656565
}

.k-var--hover-background {
    background-color: #ededed
}

.k-var--hover-text-color {
    background-color: #656565
}

.k-var--selected-background {
    background-color: #ff6358
}

.k-var--selected-text-color {
    background-color: #fff
}

.k-var--error {
    background-color: #f31700
}

.k-var--warning {
    background-color: #ffc000
}

.k-var--success {
    background-color: #37b400
}

.k-var--info {
    background-color: #0058e9
}

.k-var--series-a {
    background-color: #ff6358
}

.k-var--series-b {
    background-color: #ffd246
}

.k-var--series-c {
    background-color: #78d237
}

.k-var--series-d {
    background-color: #28b4c8
}

.k-var--series-e {
    background-color: #2d73f5
}

.k-var--series-f {
    background-color: #aa46be
}

html {
    font-family: sans-serif
}

.k-reset {
    border: 0;
    font-size: 100%;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none
}

.k-widget {
    font-size: 14px;
    font-family: inherit
}

.k-button, .k-input, .k-textbox, .k-textbox > input {
    font-size: 100%;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none
}

.k-content, .k-grid, .k-panelbar, .k-slider, .k-textbox, .k-widget {
    outline: 0
}

.k-floatwrap:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.k-link {
    cursor: pointer;
    outline: 0
}

    .k-link, .k-link:hover {
        text-decoration: none
    }

.k-loading {
    width: 64px;
    height: 64px;
    display: block
}

    .k-loading .animate {
        -webkit-animation: loading 2s infinite linear;
        animation: loading 2s infinite linear
    }

@-webkit-keyframes loading {
    0% {
        stroke-dasharray: 0 251;
        stroke-dashoffset: 502
    }

    50% {
        stroke-dasharray: 250 1
    }

    to {
        stroke-dasharray: 0 251;
        stroke-dashoffset: 0
    }
}

@keyframes loading {
    0% {
        stroke-dasharray: 0 251;
        stroke-dashoffset: 502
    }

    50% {
        stroke-dasharray: 250 1
    }

    to {
        stroke-dasharray: 0 251;
        stroke-dashoffset: 0
    }
}

.k-block, .k-textbox, .k-widget {
    box-sizing: border-box
}

.k-drag-clue {
    position: absolute;
    z-index: 10003;
    border-style: solid;
    border-width: 1px;
    font-size: .9em;
    padding: .2em .4em;
    white-space: nowrap;
    cursor: default
}

.k-button {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    line-height: 1.2em;
    margin: 0;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .k-button [disabled] {
        cursor: default
    }

    .k-button::-moz-focus-inner {
        border: 0;
        padding: 0
    }

    .k-button .k-icon {
        vertical-align: text-bottom
    }

    .k-button > .k-image {
        vertical-align: middle
    }

    .k-button .k-icon, .k-button > .k-image {
        margin-right: 6px
    }

.k-button-icon {
    padding: 6px;
    line-height: 1em
}

    .k-button-icon .k-icon {
        margin-right: 0
    }

    .k-button-icon > span {
        width: 1em
    }

.k-button-icontext {
    overflow: visible
}

.k-button-bare {
    border-width: 0;
    color: inherit
}

.k-button-group {
    display: inline-block;
    border-width: 1px;
    border-style: solid
}

    .k-button-group .k-button {
        border-width: 0;
        position: relative;
        margin-left: 1px
    }

        .k-button-group .k-button:before {
            content: "";
            height: 100%;
            position: absolute;
            width: 1px;
            top: 0;
            left: 0;
            margin-left: -1px
        }

        .k-button-group .k-button.k-group-start {
            margin-left: 0
        }

            .k-button-group .k-button.k-group-start:before {
                display: none
            }

.k-button {
    color: #656565;
    background-color: #fff;
    background-image: -webkit-linear-gradient(#f6f6f6,#f1f1f1);
    background-image: linear-gradient(#f6f6f6,#f1f1f1);
    border-color: rgba(0,0,0,.08);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .k-button > .k-icon {
        color: inherit
    }

    .k-button:hover {
        background-image: -webkit-linear-gradient(#eaeaea,#e8e8e8);
        background-image: linear-gradient(#eaeaea,#e8e8e8);
        border-color: rgba(0,0,0,.15)
    }

    .k-button.k-state-focused, .k-button:focus {
        background-color: #fff;
        background-image: -webkit-linear-gradient(#f6f6f6,#f1f1f1);
        background-image: linear-gradient(#f6f6f6,#f1f1f1);
        border-color: rgba(0,0,0,.15);
        box-shadow: 0 0 0 2px #f0f0f0;
        outline: 0
    }

    .k-button.k-state-active, .k-button:active {
        background-image: -webkit-linear-gradient(#f1f1f1,#f6f6f6);
        background-image: linear-gradient(#f1f1f1,#f6f6f6);
        border-color: rgba(0,0,0,.1);
        box-shadow: inset 0 3px 5px #e8e8e8
    }

    .k-button.k-state-disabled, .k-button.k-state-disabled:active, .k-button.k-state-disabled:hover, .k-button[disabled], .k-state-disabled .k-button, .k-state-disabled .k-button:active, .k-state-disabled .k-button:hover, [disabled] .k-button {
        color: #656565;
        background-image: -webkit-linear-gradient(#f6f6f6,#f1f1f1);
        background-image: linear-gradient(#f6f6f6,#f1f1f1);
        border-color: rgba(0,0,0,.08);
        opacity: .7;
        box-shadow: none;
        cursor: default;
        outline: 0
    }

.k-primary {
    color: #fff;
    background-color: #ff6358;
    background-image: -webkit-linear-gradient(#ff6b58,#ff6358);
    background-image: linear-gradient(#ff6b58,#ff6358);
    border-color: #ff6358
}

    .k-primary:hover {
        background-image: -webkit-linear-gradient(#ff7458,#ff6b58);
        background-image: linear-gradient(#ff7458,#ff6b58);
        border-color: #ff6358
    }

    .k-primary.k-state-focused, .k-primary:focus {
        background-color: #ff6358;
        background-image: -webkit-linear-gradient(#ff6b58,#ff6358);
        background-image: linear-gradient(#ff6b58,#ff6358);
        box-shadow: 0 0 0 2px #ffd1cd
    }

    .k-primary.k-state-active, .k-primary:active {
        background-image: -webkit-linear-gradient(#ff6358,#ff6b58);
        background-image: linear-gradient(#ff6358,#ff6b58);
        box-shadow: inset 0 3px 5px #fc655b
    }

    .k-primary.k-state-disabled, .k-primary .k-state-disabled:active, .k-primary .k-state-disabled:focus, .k-primary.k-state-disabled:hover {
        color: #fff;
        background-color: #ff6358;
        background-image: -webkit-linear-gradient(#ff7458,#ff6358);
        background-image: linear-gradient(#ff7458,#ff6358);
        border-color: #ff6358;
        box-shadow: none
    }

.k-button-group {
    border-color: rgba(0,0,0,.08);
    border-radius: 2px
}

    .k-button-group .k-button {
        border-radius: 0
    }

        .k-button-group .k-button:before {
            background: rgba(0,0,0,.08)
        }

        .k-button-group .k-button:focus {
            box-shadow: inset 0 0 0 2px #e9e9e9
        }

        .k-button-group .k-button.k-state-active {
            color: #fff;
            background-color: #ff6358;
            background-image: -webkit-linear-gradient(#ff6b58,#ff6358);
            background-image: linear-gradient(#ff6b58,#ff6358);
            border-color: #ff6358;
            box-shadow: none
        }

            .k-button-group .k-button.k-state-active:focus {
                box-shadow: inset 0 0 0 2px #ff594e
            }

            .k-button-group .k-button.k-state-active:hover {
                background-image: -webkit-linear-gradient(#ff7458,#ff6b58);
                background-image: linear-gradient(#ff7458,#ff6b58);
                border-color: #ff6358
            }

            .k-button-group .k-button.k-state-active.k-state-active + .k-button:before, .k-button-group .k-button.k-state-active.k-state-active:before {
                background: #ff6358
            }

        .k-button-group .k-button.k-group-start {
            border-radius: 1px 0 0 1px
        }

        .k-button-group .k-button.k-group-end {
            border-radius: 0 1px 1px 0
        }

        .k-button-group .k-button.k-group-start:last-child {
            border-radius: 2px
        }

    .k-button-group.k-state-disabled .k-button:focus {
        box-shadow: none
    }

.k-push-right-appear, .k-push-right-enter {
    -webkit-transform: translate(-100%);
    transform: translate(-100%)
}

.k-push-right-appear-active, .k-push-right-enter-active {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-push-right-leave {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.k-push-right-leave-active {
    -webkit-transform: translate(100%,-100%);
    transform: translate(100%,-100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

    .k-push-right-enter-active + .k-push-right-enter-active, .k-push-right-leave-active + .k-push-right-leave-active {
        display: none
    }

.k-push-left-appear, .k-push-left-enter {
    -webkit-transform: translate(100%);
    transform: translate(100%)
}

.k-push-left-appear-active, .k-push-left-enter-active {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-push-left-leave {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.k-push-left-leave-active {
    -webkit-transform: translate(-100%,-100%);
    transform: translate(-100%,-100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

    .k-push-left-enter-active + .k-push-left-enter-active, .k-push-left-leave-active + .k-push-left-leave-active {
        display: none
    }

.k-push-down-appear, .k-push-down-enter {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.k-push-down-appear-active, .k-push-down-enter-active {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-push-down-leave {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.k-push-down-leave-active {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-push-up-appear, .k-push-up-enter {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.k-push-up-appear-active, .k-push-up-enter-active {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-push-up-leave {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.k-push-up-leave-active {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-expand .k-child-animation-container {
    overflow: hidden
}

.k-fade-enter {
    opacity: 0
}

.k-fade-enter-active {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

.k-fade-leave {
    opacity: 1
}

.k-fade-leave-active {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

    .k-fade-enter-active + .k-fade-enter-active, .k-fade-leave-active + .k-fade-leave-active {
        display: none
    }

.k-zoom-in-appear, .k-zoom-in-enter {
    opacity: 0
}

.k-zoom-in-appear-active, .k-zoom-in-enter-active {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.k-zoom-in-leave {
    -webkit-transform: translateY(-100%) scale(1);
    transform: translateY(-100%) scale(1)
}

.k-zoom-in-leave-active {
    -webkit-transform: translateY(-100%) scale(0);
    transform: translateY(-100%) scale(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-zoom-out-appear, .k-zoom-out-enter {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.k-zoom-out-appear-active, .k-zoom-out-enter-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-zoom-out-leave {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.k-zoom-out-leave-active {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.k-slide-in-appear {
    opacity: .1;
    -webkit-transform: translateY(-3em);
    transform: translateY(-3em)
}

    .k-slide-in-appear .k-centered {
        -webkit-transform: translate(-50%,-60%);
        transform: translate(-50%,-60%)
    }

.k-slide-in-appear-active {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: opacity .3s cubic-bezier(.2,1,.2,1),-webkit-transform .3s cubic-bezier(.2,.6,.4,1);
    transition: opacity .3s cubic-bezier(.2,1,.2,1),-webkit-transform .3s cubic-bezier(.2,.6,.4,1);
    transition: transform .3s cubic-bezier(.2,.6,.4,1),opacity .3s cubic-bezier(.2,1,.2,1);
    transition: transform .3s cubic-bezier(.2,.6,.4,1),opacity .3s cubic-bezier(.2,1,.2,1),-webkit-transform .3s cubic-bezier(.2,.6,.4,1)
}

    .k-slide-in-appear-active .k-centered {
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }

.k-slide-down-enter {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.k-slide-down-enter-active {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-slide-down-enter-active, .k-slide-down-leave {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.k-slide-down-leave-active {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-slide-up-enter {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.k-slide-up-enter-active {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-slide-up-enter-active, .k-slide-up-leave {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.k-slide-up-leave-active {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-slide-right-enter {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.k-slide-right-enter-active {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-slide-right-enter-active, .k-slide-right-leave {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.k-slide-right-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-slide-left-enter {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.k-slide-left-enter-active {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-slide-left-enter-active, .k-slide-left-leave {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.k-slide-left-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.k-action-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.143em 0;
    border-top-width: 1px;
    border-top-style: solid
}

    .k-action-buttons .k-button {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 1em;
        margin: -1.143em 0;
        padding: 1.143em 0;
        line-height: 1.2em;
        border-radius: 0
    }

        .k-action-buttons .k-button:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%
        }

        .k-action-buttons .k-button:first-child:before {
            display: none
        }

    .k-action-buttons:after {
        display: block;
        content: "";
        clear: both
    }

.k-action-buttons {
    border-top-color: rgba(0,0,0,.08)
}

    .k-action-buttons .k-button {
        position: relative;
        background-color: #fff;
        background-image: none;
        border-radius: 0;
        border: 0
    }

        .k-action-buttons .k-button:hover {
            background-color: #ededed
        }

        .k-action-buttons .k-button:focus {
            box-shadow: inset 0 0 0 2px rgba(0,0,0,.1)
        }

        .k-action-buttons .k-button:active {
            background-image: -webkit-linear-gradient(#f1f1f1,#f6f6f6);
            background-image: linear-gradient(#f1f1f1,#f6f6f6);
            box-shadow: inset 0 3px 5px #e8e8e8
        }

        .k-action-buttons .k-button:before {
            background-color: rgba(0,0,0,.08)
        }

    .k-action-buttons .k-primary {
        color: #ff6358
    }

        .k-action-buttons .k-primary:hover {
            color: #fff;
            background-color: #ff6358
        }

            .k-action-buttons .k-primary:hover:before {
                background-color: #ff6358
            }

        .k-action-buttons .k-primary:focus {
            box-shadow: inset 0 0 0 2px #ffd1cd
        }

            .k-action-buttons .k-primary:focus:hover {
                box-shadow: inset 0 0 0 2px rgba(0,0,0,.08)
            }

        .k-action-buttons .k-primary:active {
            background-image: -webkit-linear-gradient(#fc655b,#ff6b58);
            background-image: linear-gradient(#fc655b,#ff6b58)
        }

.k-window {
    border-width: 0;
    display: inline-block;
    padding-top: 2.667em;
    position: absolute;
    z-index: 10001;
    min-width: 450px;
    max-width: 100%
}

    .k-window.k-window-titleless {
        padding-top: 0
    }

.k-window-titlebar {
    font-size: 1.286em;
    display: block;
    height: 2.667em;
    margin-top: -2.667em;
    min-height: 1em;
    width: 100%
}

    .k-window-titlebar, .k-window-titlebar .k-window-actions {
        line-height: 2.667em;
        position: absolute;
        white-space: nowrap
    }

        .k-window-titlebar .k-window-actions {
            right: 0;
            top: 0
        }

        .k-window-titlebar .k-window-action {
            cursor: pointer;
            display: inline-block;
            border: 0;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            box-sizing: border-box;
            padding: 0;
            width: 2.667em;
            line-height: inherit
        }

            .k-window-titlebar .k-window-action .k-icon {
                margin: 0;
                vertical-align: middle
            }

            .k-window-titlebar .k-window-action:focus .k-icon, .k-window-titlebar .k-window-action:hover .k-icon {
                font-size: 23.33333px
            }

.k-window-title {
    cursor: default;
    left: .865em;
    overflow: hidden;
    position: absolute;
    right: 1.143em;
    text-overflow: ellipsis
}

    .k-window-title .k-image {
        margin: 0 5px 0 0;
        vertical-align: middle
    }

.k-window-content {
    height: 100%;
    outline: 0;
    overflow: auto;
    padding: 1.143em;
    position: relative
}

.k-window-iframecontent {
    overflow: visible;
    padding: 0
}

.k-window > .k-resize-handle {
    background-color: #fff;
    filter: alpha(opacity=0);
    font-size: 0;
    line-height: 6px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    zoom: 1
}

.k-resize-n {
    cursor: n-resize;
    height: 6px;
    left: 0;
    top: -3px;
    width: 100%
}

.k-resize-e {
    cursor: e-resize;
    height: 100%;
    right: -3px;
    top: 0;
    width: 6px
}

.k-resize-s {
    bottom: -3px;
    cursor: s-resize;
    height: 6px;
    left: 0;
    width: 100%
}

.k-resize-w {
    cursor: w-resize;
    height: 100%;
    left: -3px;
    top: 0;
    width: 6px
}

.k-resize-se {
    bottom: -3px;
    cursor: se-resize;
    height: 1em;
    right: -3px;
    width: 1em
}

.k-resize-sw {
    bottom: -3px;
    cursor: sw-resize;
    height: 6px;
    left: -3px;
    width: 6px
}

.k-resize-ne {
    cursor: ne-resize;
    right: -3px
}

.k-resize-ne, .k-resize-nw {
    height: 6px;
    top: -3px;
    width: 6px
}

.k-resize-nw {
    cursor: nw-resize;
    left: -3px
}

.k-dialog-wrapper, .k-dialog-wrapper > .k-animation-container, .k-dialog-wrapper > .k-animation-container > div, .k-overlay {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%
}

.k-dialog-wrapper {
    z-index: 10001
}

    .k-dialog-wrapper > .k-animation-container {
        z-index: 1
    }

.k-overlay {
    background-color: #000;
    opacity: .5;
    z-index: 10001
}

.k-window .k-overlay {
    background-color: #fff;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%
}

.k-window {
    border-color: rgba(0,0,0,.08);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.06)
}

    .k-window > .k-header {
        color: #fff;
        background-color: #ff6358
    }

        .k-window > .k-header .k-window-action {
            color: inherit;
            background: transparent
        }

    .k-window.k-state-focused {
        box-shadow: 1px 1px 7px 1px rgba(0,0,0,.3)
    }

    .k-window .k-window-action:active {
        box-shadow: none
    }

.k-window-content {
    overflow: hidden
}

.k-grid {
    display: block;
    position: relative;
    border-width: 1px;
    border-style: solid
}

    .k-grid table {
        width: 100%;
        margin: 0;
        max-width: none;
        border-collapse: separate;
        border-spacing: 0;
        empty-cells: show;
        border-width: 0;
        outline: none
    }

.k-grid-toolbar, .k-grouping-header {
    display: block;
    padding: 1em;
    border-width: 0 0 1px;
    border-style: solid
}

.k-grid-header {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

    .k-grid-header th > .k-link > .k-icon {
        vertical-align: text-bottom
    }

.k-grid-footer {
    border-width: 1px 0 0;
    border-style: solid
}

    .k-grid-content-locked > table, .k-grid-content table, .k-grid-footer table, .k-grid-header table {
        table-layout: fixed
    }

.k-grid-virtual .k-grid-content > table {
    position: absolute;
    z-index: 1
}

.k-grid-virtual .k-grid-content > .k-height-container {
    position: relative
}

.k-header.k-drag-clue {
    overflow: hidden;
    padding: .22em 1em .1em;
    line-height: 1.5em;
    border-radius: 2px
}

.k-filter-row th, .k-grid-header th.k-header {
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: 1em;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 1.286em
}

    .k-grid-header th.k-header > .k-link {
        display: block;
        line-height: 1.286em;
        padding: 1em;
        margin: -1em;
        overflow: hidden;
        text-overflow: ellipsis
    }

.k-grid-content {
    position: relative;
    overflow: auto;
    overflow-x: auto;
    overflow-y: scroll;
    min-height: 0
}

.k-grid td {
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: .5em 1em;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis
}

.k-grid-header th.k-header:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child {
    border-left-width: 0
}

.k-grid-content tr:last-child td {
    border-bottom-width: 0
}

.k-grid-footer-wrap, .k-grid-header-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    box-sizing: content-box
}

.k-grid .k-group-col, .k-grid .k-hierarchy-col {
    width: 30px
}

td.k-hierarchy-cell {
    text-align: center;
    padding: 0
}

    td.k-hierarchy-cell > .k-icon {
        width: 100%;
        display: inline-block;
        padding: .5em 0;
        line-height: 1.6em;
        outline: 0
    }

.k-grid-content-locked, .k-grid-footer-locked, .k-grid-header-locked {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 0 1px 0 0
}

    .k-grid-content-locked + .k-grid-content, .k-grid-footer-locked + .k-grid-footer-wrap, .k-grid-header-locked + .k-grid-header-wrap {
        display: inline-block;
        vertical-align: top
    }

.k-grid .k-grouping-row td, .k-grid .k-hierarchy-cell {
    overflow: visible
}

.k-grid-edit-row td {
    text-overflow: clip
}

.k-grouping-header + .k-grid-toolbar {
    border-width: 0 0 1px
}

.k-group-footer td {
    border-style: solid;
    border-width: 1px 0
}

.k-group-footer .k-group-cell + td {
    border-left-width: 1px
}

.k-grouping-row .k-icon {
    margin: -3px 4px 0 2px
}

.k-grouping-row p {
    display: inline-block;
    vertical-align: middle;
    margin-left: -.6em;
    padding: 0 .6em
}

.k-grouping-row + tr td {
    border-top-width: 1px
}

.k-grouping-row + tr .k-group-cell, .k-grouping-row .k-group-cell {
    text-overflow: ellipsis;
}

.k-grid .k-hierarchy-cell + td {
    border-left-width: 0
}

.k-grid .k-group-col, .k-grid .k-hierarchy-col {
    width: 27px
}

.k-grouping-header {
    line-height: 2;
    padding: 8px 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.k-grouping-dropclue {
    position: absolute;
    width: 12px;
    height: 30px
}

    .k-grouping-dropclue:before {
        display: inline-block;
        content: " ";
        width: 12px;
        height: 12px;
        border-width: 6px;
        border-style: solid;
        box-sizing: border-box
    }

.k-grouping-header .k-group-indicator {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin: 0 0 0 16px;
    padding: 6px 18px;
    line-height: 1em
}

.k-grouping-header .k-link {
    display: inline-block;
    border-width: 0;
    padding: 0;
    text-decoration: none
}

.k-grouping-header .k-button {
    border: 0;
    padding: 0;
    background: transparent;
    line-height: 1;
    vertical-align: middle
}

.k-grouping-header .k-link .k-icon {
    margin: 0 0 0 -3px;
    vertical-align: middle
}

.k-grouping-header .k-button .k-icon {
    margin: 0 0 0 3px
}

.k-grouping-header .k-button, .k-grouping-header a {
    display: inline-block;
    vertical-align: middle
}

.k-grid .k-pager-numbers, .k-pager-numbers .k-link, .k-pager-numbers .k-state-selected {
    display: inline-block;
    vertical-align: top
}

.k-pager-wrap {
    display: block;
    clear: both;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 1px 0 0;
    line-height: 2.143em;
    padding: .571em;
    border-radius: 0
}

.k-pager-numbers .k-current-page {
    display: none
}

.k-pager-input, .k-pager-numbers li {
    float: left
}

.k-grid .k-pager-numbers {
    float: left;
    cursor: default
}

.k-pager-info {
    float: right
}

.k-pager-numbers .k-link {
    text-decoration: none
}

.k-pager-numbers .k-link, .k-pager-numbers .k-state-selected, .k-pager-wrap > .k-link {
    min-width: 2.143em
}

.k-pager-wrap > .k-link {
    float: left;
    height: 2.143em;
    line-height: 2.143em;
    cursor: pointer;
    text-align: center
}

.k-pager-wrap > a.k-state-disabled:hover {
    background: none;
    cursor: default
}

.k-pager-numbers .k-link {
    text-align: center;
    line-height: 2.143em
}

.k-pager-wrap .k-pager-refresh {
    float: right;
    margin-right: .5em;
    border-width: 0;
    border-radius: 0
}

.k-pager-numbers .k-state-selected {
    text-align: center
}

.k-pager-wrap .k-textbox {
    width: 3.333em;
    height: 2.143em;
    padding: 0;
    text-indent: .5em
}

.k-pager-wrap .k-dropdown {
    width: 4.5em
}

.k-pager-refresh {
    float: right
}

.k-pager-input, .k-pager-sizes {
    padding: 0 1.4166em
}

.k-pager-sizes {
    display: inline-block
}

    .k-pager-sizes .k-widget.k-dropdown {
        margin-top: -2px
    }

.k-pager-wrap .k-textbox, .k-pager-wrap .k-widget {
    margin: 0 .4em
}

.k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-grid td, .k-grouping-header, .k-grouping-header .k-group-indicator {
    border-color: rgba(0,0,0,.08)
}

.k-grid-footer, .k-grid-header, .k-group-footer, .k-grouping-header, .k-pager-wrap {
    background-color: #f6f6f6
}

    .k-grid-footer td, .k-group-footer td, .k-grouping-row td {
        font-weight: 700
    }

.k-grid .k-alt {
    background-color: #f6f6f6
}

.k-grid tr.k-state-selected {
    background-color: #ff6358;
    color: #fff
}

    .k-grid tr.k-state-selected .k-hierarchy-cell > .k-icon {
        color: #fff
    }

.k-grid .k-grouping-row {
    background-color: #ededed
}

.k-grid .k-grouping-dropclue:before {
    border-color: #656565 transparent transparent
}

.k-grid-pager .k-link, .k-grid-pager .k-link:link {
    color: #ff6358;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease
}

    .k-grid-pager .k-link:focus, .k-grid-pager .k-link:link:focus {
        box-shadow: inset 0 0 0 2px #e2e2e2
    }

    .k-grid-pager .k-link:hover, .k-grid-pager .k-link:link:hover {
        background-color: #ededed
    }

    .k-grid-pager .k-link.k-state-selected, .k-grid-pager .k-link:link.k-state-selected {
        color: #fff
    }

        .k-grid-pager .k-link.k-state-selected:focus, .k-grid-pager .k-link:link.k-state-selected:focus {
            box-shadow: inset 0 0 0 2px #eb5b51
        }

        .k-grid-pager .k-link.k-state-selected:hover, .k-grid-pager .k-link:link.k-state-selected:hover {
            background-color: #eb5b51
        }

    .k-grid-pager .k-link.k-state-disabled, .k-grid-pager .k-link:link.k-state-disabled {
        box-shadow: none;
        background-color: transparent
    }
