﻿/* Master Styles */
h1 {
    font: 250% Arial, Helvetica, sans-serif;
    color: #369;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}


#checkAllBox > label {
    margin-bottom: 0;
}

/* user management */
.panel-group .panel {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}




/*accept new meter  */
.acceptnewmeter__box {
    background-color: #eaeaea;
}
.acceptnewmeter__pane {
    background-color: #fff;
    margin-bottom: 15px;
}
.acceptnewmeter__header {
    background-color: #eaeaea;
    border-bottom: 1px solid #ccc;
    margin: 15px 30px 0 30px;
    padding: 5px;
}
.acceptnewmeter__datacontainer {
    margin: 0 30px !important;
    padding: 10px 5px !important;
}
.acceptnewmeter__datacontainer:not(:last-child) {
    border-bottom: 1px solid #ccc !important;
}


.acceptnewmeter__data {
    display: flex;
    margin: 0;
}
.meterdetails__container {
    margin: 50px
}
.billingComponent__results {
    width: 47%;
    display: inline-block;
}
.consumptionComponent__results {
    width: 47%;
    display: inline-block;
    float: right;
}



/* logo - header */
.navbar-brand {
    padding-top: 8px !important;
    padding-left: 0;
    float: none;
}

.navbar-brand.aclara-logo {
    padding-left: 0
}

.navbar-brand > img {
    display: inline-block !important;
    padding-left: 0;
    padding-right: 4px;
    height: 22px;
    margin-bottom: 4px;
}

.energy__logo {
    padding-left: 0 !important;
}

.energy__logo sup {
    margin-left: -5px;
    margin-right: 5px;
}


.flat-blue {
    margin: 15px;
}

.navbar-default {
    box-shadow: 0 8px 6px -6px rgba(192,192,192,0.7);
}

/* table  */
.k-grid-header th.k-header, table th {
    padding: 10px;
    font-size: 13px;
    min-height: 30px;
    line-height: 18px;
}

.k-filter-row th, .k-grid-header th.k-header {
    font-weight: bold;
}

.k-grid td, .k-grid td .btn, .meters .k-grid td {
    font-size: 13px !important;
    word-wrap: break-word;
    vertical-align: top;
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: normal;
}

th.k-header {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 13px;
}

.k-link, .k-icon, .k-icon:hover, .k-icon:focus {
    color: #333;
    text-decoration: none;
    /* font-size: 13px; */
}

.k-pager-wrap .k-link, .k-pager-wrap .k-link:hover {
    color: #ffffff;
}
/* pagination selected color - white  */
.k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-state-selected.k-today, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    color: #fff !important;
}

/* for the pagination, white text on blue - take out the k-link class. swap the a for a span  */


.k-i-arrow-e {
    background-position: 0 -16px;
}
/*  center pagination arrows */
:root * > .k-button-group .k-tool-icon, :root * > .k-icon, :root * > .k-sprite {
    margin: 8px;
}

/* Buttons */
.btn-toolbar {
    border: 0 !important;
    margin-top: 14px !important;
}

.k-grid td {
    padding: 10px;
    vertical-align: top;
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: normal;
}

/* re-style the pagination */







/* loader */
.container-spinner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Loader  */
.container-spinner .item {
    width: 280px;
    height: 280px;
    margin: 20px;
    border-radius: 3px;
    position: relative;
}

.container-spinner .item .number {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #eaeaea;
    font-size: 30px;
}


.pending_accepted_accounts {
    vertical-align: bottom;
    text-align: right;
}

.pending_accepted_accounts div {
    display: inline-block;
}


.cutomer-property-container {
    display: table;
    margin-bottom: 20px;
    width: 100%;
}



/* links at the top right on contacts and meters pages */

.pending_accepted_accounts a {
    margin-left: 4px;
    color: #449cfa;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: underline;
}

.pending_accepted_accounts .active a {
    margin-left: 5px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    cursor: auto;
    margin-right: 15px;
    vertical-align: middle;
}

.icon-pending-on {
    margin-bottom: 3px;
}

.pending_accepted_accounts a:hover {
    color: #333;
    text-decoration: none;
}

.pending_accepted_accounts a:visited {
    color: #800080;
    font-weight: normal;
    text-decoration: underline;
}

.pending_accepted_accounts a:focus, .pending_accepted_accounts a:active {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.container-spinner .item .loader02 {
    width: 56px;
    height: 56px;
    border: 8px solid rgba(0, 82, 236, 0.25);
    border-top-color: #0052ec;
    border-radius: 50%;
    position: relative;
    animation: loader-rotate 1s linear infinite;
    top: 50%;
    margin: -28px auto 0;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Pagination Temp */
.ngx-pagination li {
    font-size: 1em !important;
    border: 2px solid #a1acb7;
}

.ngx-pagination {
    margin-top: 14px !important;
    padding-left: 0 !important;
}

.rightsreserved {
    font-size: 12px;
    margin-top: 25px;
    color: #999;
    clear: both;
}

.pending_accepted_accounts span.active {
    color: #404040;
    font-weight: bold;
}

.ngx-pagination .current {
    padding: 2px 8px !important;
}




/* padding inside TD's of grid */
.k-grid td .btn {
    padding: 0px !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: normal;
}



.contacts__footer, .contacts__footer > div {
    padding: 0;
}






.ngx-pagination {
    float: none;
    padding: 10px 0 0 0;
    padding-top: 0px;
    color: #a1acb7;
}

.ngx-pagination li {
    display: inline-block;
    border: 2px solid #a1acb7;
    margin-right: 0px !important;
    margin-left: -1px;
    padding: 1px 0 0;
    height: 45px;
}

.ngx-pagination li.pagination-previous {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    margin-right: -4px !important;
}

.ngx-pagination li.pagination-previous {
    padding: 8px 0px;
    display: inline-block;
    /*max-width: 100px !important;*/
    min-width: 100px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ngx-pagination li.pagination-previous:hover {
    background: #e6e6e6;
}

.ngx-pagination li.pagination-previous.disabled {
    padding: 10px 10px !important;
    display: inline-block !important;
}

.ngx-pagination li.pagination-next {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    margin-left: -5px;
}

.ngx-pagination li.pagination-next {
    padding: 8px 10px 8px 10px !important;
    display: inline-block;
    max-width: 90px !important;
    min-width: 90px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ngx-pagination li.pagination-next:hover {
    background: #e6e6e6;
}

.ngx-pagination li.pagination-next.disabled {
    padding: 10px 10px !important;
    display: inline-block !important;
}

.ngx-pagination li.current {
    border-top: 2px solid #2199e8;
    border-bottom: 0 solid #2199e8;
    padding: 2px 4px 4px;
}

.ngx-pagination li.current div span {
    padding: 9px 10px;
    display: block;
}

.ngx-pagination li a {
    color: #337ab7 !important;
    cursor: pointer;
    font-weight: bold;
}

.ngx-pagination li a span {
    padding: 7px 10px 5px 10px;
    display: block;
}






.ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #7c7c7c !important;
    font-weight: bold;
}


.energy__container {
    margin: 18px auto;
    text-align: center;
    display: inline-block;
}

.energy__footer {
    margin: 0 auto;
    text-align: center;
}


.ngx-pagination a, .ngx-pagination button {
    padding: 3px 9px 5px;
}





/* responsive text align  */
@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }

    .text-left-xs {
        text-align: left;
    }

    .text-center-xs {
        text-align: center;
    }

    .text-right-xs {
        text-align: right;
    }

    .text-justify-xs {
        text-align: justify;
    }
}



.vcenter {
    display: inline-block;
    vertical-align: bottom;
    float: none !important; /* need to over-ride this */
    padding-left: 0 !important; /* need to over-ride this */
}



/* re-style tabs */

.nav-tabs > li > a {
    font-weight: bold;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #333;
}



/*  tabs for contacts and meters */
.nav-tabs > li.contacts.active > a, .nav-tabs > li.contacts.active > a:hover, .nav-tabs > li.contacts.active > a:focus {
    border-top: 3px solid red;
}

.nav-tabs > li.meters.active > a, .nav-tabs > li.meters.active > a:hover, .nav-tabs > li.meters.active > a:focus {
    border-top: 3px solid #28e8b4;
}






/* table */
.k-grid {
    border: 0;
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: normal;
}

.k-grid-content {
    position: relative;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 0;
}

.k-grid-header {
    border-bottom: 3px solid #999 !important;
    display: flex;
    padding-right: 0 !important;
    margin-top: 30px;
}

.k-grid-header th.k-header {
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #979797;
}

.k-grid tr.k-state-selected {
    background-color: #f9f6c8;
    color: #555 !important;
}

.btn-reject {
    float: right;
    min-width: 157px;
}




/*  buttons  */
.btn-toolbar > .btn {
    height: 44px;
    font-weight: bold;
    color: #449cfa;
    border: 2px solid #449cfa;
}

.btn-toolbar > .btn.btn-primary {
    color: #fff !important;
    border: 2px solid #337ab7;
}

.btn .caret {
    margin-left: 10px !important;
}

.btn-meter {
    width: 115px;
}

.btn-group.btn-meter {
    float: left;
    width: auto;
    margin-right: 5px
}

.btn-filter {
    margin-left: 15px;
}




/* re-code this */
.btn-account {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    margin-right: 15px;
}

.btn-meter-property {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}




.btn-account button {
    border-right-width: 1px;
}

.energy__filters {
    border: none;
    padding: 3px 13px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    margin-top: 0px;
    vertical-align: middle;
    display: inline-block;
    margin: 6px 0 3px;
    background-color: #eaeaea;
}

.enegry__top {
    padding-top: 35px;
}




/* login */
.account-wall {
    width: 400px;
    margin: 25px auto;
}

.navbar-header {
    float: none;
    padding-bottom: 30px;
}

.navbar-login-brand {
    float: none !important;
    padding-bottom: 30px;
    text-align: center;
    height: 70px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}



h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px !important;
}



.table-user-information td.user-label {
    width: 165px
}


/* custom margin and padding */
.xs-p-0, .progressBar__bar-container, .progressBar__completed, .progressBar__completed-xs {
    padding: 0 !important;
}

.xs-p-5 {
    padding: 5px;
}

.xs-p-10 {
    padding: 10px;
}

.xs-p-15 {
    padding: 15px;
}

.xs-p-20 {
    padding: 20px;
}

.xs-p-30 {
    padding: 30px;
}

.xs-pt-0 {
    padding-top: 0 !important;
}

.xs-pt-5 {
    padding-top: 5px;
}

.xs-pt-10 {
    padding-top: 10px;
}

.xs-pt-15 {
    padding-top: 15px;
}

.xs-pt-20 {
    padding-top: 20px;
}

.xs-pt-30 {
    padding-top: 30px;
}

.xs-pr-0 {
    padding-right: 0 !important;
}

.xs-pr-5 {
    padding-right: 5px;
}

.xs-pr-10 {
    padding-right: 10px;
}

.xs-pr-15 {
    padding-right: 15px;
}

.xs-pr-20 {
    padding-right: 20px;
}

.xs-pr-30 {
    padding-right: 30px;
}

.xs-pb-0 {
    padding-bottom: 0 !important;
}

.xs-pb-5 {
    padding-bottom: 5px;
}

.xs-pb-10 {
    padding-bottom: 10px;
}

.xs-pb-15 {
    padding-bottom: 15px;
}

.xs-pb-20 {
    padding-bottom: 20px;
}

.xs-pb-30 {
    padding-bottom: 30px;
}

.xs-pl-0 {
    padding-left: 0 !important;
}

.xs-pl-5 {
    padding-left: 5px;
}

.xs-pl-10 {
    padding-left: 10px;
}

.xs-pl-15 {
    padding-left: 15px;
}

.xs-pl-20 {
    padding-left: 20px;
}

.xs-pl-30 {
    padding-left: 30px;
}

.xs-m-0 {
    margin: 0 !important;
}

.xs-m-5 {
    margin: 5px;
}

.xs-m-10 {
    margin: 10px;
}

.xs-m-15 {
    margin: 15px;
}

.xs-m-20 {
    margin: 20px;
}

.xs-m-30 {
    margin: 30px;
}

.xs-mt-0 {
    margin-top: 0 !important;
}

.xs-mt-5, .progressBar__title {
    margin-top: 5px;
}

.xs-mt-10 {
    margin-top: 10px;
}

.xs-mt-15 {
    margin-top: 15px;
}

.xs-mt-20, .progressBar__completed-xs {
    margin-top: 20px;
}

.xs-mt-30 {
    margin-top: 30px;
}

.xs-mr-0, .progressBar__completed, .progressBar__completed-xs {
    margin-right: 0 !important;
}

.xs-mr-5 {
    margin-right: 5px;
}

.xs-mr-10 {
    margin-right: 10px;
}

.xs-mr-15 {
    margin-right: 15px;
}

.xs-mr-20 {
    margin-right: 20px;
}

.xs-mr-30 {
    margin-right: 30px;
}

.xs-mb-0 {
    margin-bottom: 0 !important;
}

.xs-mb-5 {
    margin-bottom: 5px;
}

.xs-mb-10 {
    margin-bottom: 10px;
}

.xs-mb-15 {
    margin-bottom: 15px;
}

.xs-mb-20, .progressBar__title {
    margin-bottom: 20px;
}

.xs-mb-30 {
    margin-bottom: 30px;
}

.xs-ml-0 {
    margin-left: 0 !important;
}

.xs-ml-5 {
    margin-left: 5px;
}

.xs-ml-10 {
    margin-left: 10px;
}

.xs-ml-15 {
    margin-left: 15px;
}

.xs-ml-20 {
    margin-left: 20px;
}

.xs-ml-30 {
    margin-left: 30px;
}

@media screen and (min-width: 480px) {
    .ms-p-0 {
        padding: 0 !important;
    }

    .ms-p-5 {
        padding: 5px;
    }

    .ms-p-10 {
        padding: 10px;
    }

    .ms-p-15 {
        padding: 15px;
    }

    .ms-p-20 {
        padding: 20px;
    }

    .ms-p-30 {
        padding: 30px;
    }

    .ms-pt-0 {
        padding-top: 0 !important;
    }

    .ms-pt-5 {
        padding-top: 5px;
    }

    .ms-pt-10 {
        padding-top: 10px;
    }

    .ms-pt-15 {
        padding-top: 15px;
    }

    .ms-pt-20 {
        padding-top: 20px;
    }

    .ms-pt-30 {
        padding-top: 30px;
    }

    .ms-pr-0 {
        padding-right: 0 !important;
    }

    .ms-pr-5 {
        padding-right: 5px;
    }

    .ms-pr-10 {
        padding-right: 10px;
    }

    .ms-pr-15 {
        padding-right: 15px;
    }

    .ms-pr-20 {
        padding-right: 20px;
    }

    .ms-pr-30 {
        padding-right: 30px;
    }

    .ms-pb-0 {
        padding-bottom: 0 !important;
    }

    .ms-pb-5 {
        padding-bottom: 5px;
    }

    .ms-pb-10 {
        padding-bottom: 10px;
    }

    .ms-pb-15 {
        padding-bottom: 15px;
    }

    .ms-pb-20 {
        padding-bottom: 20px;
    }

    .ms-pb-30 {
        padding-bottom: 30px;
    }

    .ms-pl-0 {
        padding-left: 0 !important;
    }

    .ms-pl-5 {
        padding-left: 5px;
    }

    .ms-pl-10 {
        padding-left: 10px;
    }

    .ms-pl-15 {
        padding-left: 15px;
    }

    .ms-pl-20 {
        padding-left: 20px;
    }

    .ms-pl-30 {
        padding-left: 30px;
    }

    .ms-m-0 {
        margin: 0 !important;
    }

    .ms-m-5 {
        margin: 5px;
    }

    .ms-m-10 {
        margin: 10px;
    }

    .ms-m-15 {
        margin: 15px;
    }

    .ms-m-20 {
        margin: 20px;
    }

    .ms-m-30 {
        margin: 30px;
    }

    .ms-mt-0 {
        margin-top: 0 !important;
    }

    .ms-mt-5 {
        margin-top: 5px;
    }

    .ms-mt-10 {
        margin-top: 10px;
    }

    .ms-mt-15 {
        margin-top: 15px;
    }

    .ms-mt-20 {
        margin-top: 20px;
    }

    .ms-mt-30 {
        margin-top: 30px;
    }

    .ms-mr-0 {
        margin-right: 0 !important;
    }

    .ms-mr-5 {
        margin-right: 5px;
    }

    .ms-mr-10 {
        margin-right: 10px;
    }

    .ms-mr-15 {
        margin-right: 15px;
    }

    .ms-mr-20 {
        margin-right: 20px;
    }

    .ms-mr-30 {
        margin-right: 30px;
    }

    .ms-mb-0 {
        margin-bottom: 0 !important;
    }

    .ms-mb-5 {
        margin-bottom: 5px;
    }

    .ms-mb-10 {
        margin-bottom: 10px;
    }

    .ms-mb-15 {
        margin-bottom: 15px;
    }

    .ms-mb-20 {
        margin-bottom: 20px;
    }

    .ms-mb-30 {
        margin-bottom: 30px;
    }

    .ms-ml-0 {
        margin-left: 0 !important;
    }

    .ms-ml-5 {
        margin-left: 5px;
    }

    .ms-ml-10 {
        margin-left: 10px;
    }

    .ms-ml-15 {
        margin-left: 15px;
    }

    .ms-ml-20 {
        margin-left: 20px;
    }

    .ms-ml-30 {
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px) {
    .sm-p-0 {
        padding: 0 !important;
    }

    .sm-p-5 {
        padding: 5px;
    }

    .sm-p-10 {
        padding: 10px;
    }

    .sm-p-15 {
        padding: 15px;
    }

    .sm-p-20 {
        padding: 20px;
    }

    .sm-p-30 {
        padding: 30px;
    }

    .sm-pt-0 {
        padding-top: 0 !important;
    }

    .sm-pt-5 {
        padding-top: 5px;
    }

    .sm-pt-10 {
        padding-top: 10px;
    }

    .sm-pt-15 {
        padding-top: 15px;
    }

    .sm-pt-20 {
        padding-top: 20px;
    }

    .sm-pt-30 {
        padding-top: 30px;
    }

    .sm-pr-0 {
        padding-right: 0 !important;
    }

    .sm-pr-5 {
        padding-right: 5px;
    }

    .sm-pr-10 {
        padding-right: 10px;
    }

    .sm-pr-15 {
        padding-right: 15px;
    }

    .sm-pr-20 {
        padding-right: 20px;
    }

    .sm-pr-30 {
        padding-right: 30px;
    }

    .sm-pb-0 {
        padding-bottom: 0 !important;
    }

    .sm-pb-5 {
        padding-bottom: 5px;
    }

    .sm-pb-10 {
        padding-bottom: 10px;
    }

    .sm-pb-15 {
        padding-bottom: 15px;
    }

    .sm-pb-20 {
        padding-bottom: 20px;
    }

    .sm-pb-30 {
        padding-bottom: 30px;
    }

    .sm-pl-0 {
        padding-left: 0 !important;
    }

    .sm-pl-5 {
        padding-left: 5px;
    }

    .sm-pl-10 {
        padding-left: 10px;
    }

    .sm-pl-15 {
        padding-left: 15px;
    }

    .sm-pl-20 {
        padding-left: 20px;
    }

    .sm-pl-30 {
        padding-left: 30px;
    }

    .sm-m-0 {
        margin: 0 !important;
    }

    .sm-m-5 {
        margin: 5px;
    }

    .sm-m-10 {
        margin: 10px;
    }

    .sm-m-15 {
        margin: 15px;
    }

    .sm-m-20 {
        margin: 20px;
    }

    .sm-m-30 {
        margin: 30px;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .sm-mt-5 {
        margin-top: 5px;
    }

    .sm-mt-10 {
        margin-top: 10px;
    }

    .sm-mt-15 {
        margin-top: 15px;
    }

    .sm-mt-20 {
        margin-top: 20px;
    }

    .sm-mt-30 {
        margin-top: 30px;
    }

    .sm-mr-0 {
        margin-right: 0;
    }

    .sm-mr-5 {
        margin-right: 5px;
    }

    .sm-mr-10, .progressBar__completed {
        margin-right: 10px;
    }

    .sm-mr-15 {
        margin-right: 15px;
    }

    .sm-mr-20 {
        margin-right: 20px;
    }

    .sm-mr-30 {
        margin-right: 30px;
    }

    .sm-mb-0 {
        margin-bottom: 0;
    }

    .sm-mb-5 {
        margin-bottom: 5px;
    }

    .sm-mb-10 {
        margin-bottom: 10px;
    }

    .sm-mb-15 {
        margin-bottom: 15px;
    }

    .sm-mb-20 {
        margin-bottom: 20px;
    }

    .sm-mb-30 {
        margin-bottom: 30px;
    }

    .sm-ml-0 {
        margin-left: 0;
    }

    .sm-ml-5 {
        margin-left: 5px;
    }

    .sm-ml-10 {
        margin-left: 10px;
    }

    .sm-ml-15 {
        margin-left: 15px;
    }

    .sm-ml-20 {
        margin-left: 20px;
    }

    .sm-ml-30 {
        margin-left: 30px;
    }
}

@media screen and (min-width: 992px) {
    .md-p-0 {
        padding: 0;
    }

    .md-p-5 {
        padding: 5px;
    }

    .md-p-10 {
        padding: 10px;
    }

    .md-p-15 {
        padding: 15px;
    }

    .md-p-20 {
        padding: 20px;
    }

    .md-p-30 {
        padding: 30px;
    }

    .md-pt-0 {
        padding-top: 0;
    }

    .md-pt-5 {
        padding-top: 5px;
    }

    .md-pt-10 {
        padding-top: 10px;
    }

    .md-pt-15 {
        padding-top: 15px;
    }

    .md-pt-20 {
        padding-top: 20px;
    }

    .md-pt-30 {
        padding-top: 30px;
    }

    .md-pr-0 {
        padding-right: 0;
    }

    .md-pr-5 {
        padding-right: 5px;
    }

    .md-pr-10 {
        padding-right: 10px;
    }

    .md-pr-15 {
        padding-right: 15px;
    }

    .md-pr-20 {
        padding-right: 20px;
    }

    .md-pr-30 {
        padding-right: 30px;
    }

    .md-pb-0 {
        padding-bottom: 0;
    }

    .md-pb-5 {
        padding-bottom: 5px;
    }

    .md-pb-10 {
        padding-bottom: 10px;
    }

    .md-pb-15 {
        padding-bottom: 15px;
    }

    .md-pb-20 {
        padding-bottom: 20px;
    }

    .md-pb-30 {
        padding-bottom: 30px;
    }

    .md-pl-0 {
        padding-left: 0;
    }

    .md-pl-5 {
        padding-left: 5px;
    }

    .md-pl-10 {
        padding-left: 10px;
    }

    .md-pl-15 {
        padding-left: 15px;
    }

    .md-pl-20 {
        padding-left: 20px;
    }

    .md-pl-30 {
        padding-left: 30px;
    }

    .md-m-0 {
        margin: 0;
    }

    .md-m-5 {
        margin: 5px;
    }

    .md-m-10 {
        margin: 10px;
    }

    .md-m-15 {
        margin: 15px;
    }

    .md-m-20 {
        margin: 20px;
    }

    .md-m-30 {
        margin: 30px;
    }

    .md-mt-0 {
        margin-top: 0;
    }

    .md-mt-5 {
        margin-top: 5px;
    }

    .md-mt-10 {
        margin-top: 10px;
    }

    .md-mt-15 {
        margin-top: 15px;
    }

    .md-mt-20 {
        margin-top: 20px;
    }

    .md-mt-30 {
        margin-top: 30px;
    }

    .md-mr-0 {
        margin-right: 0;
    }

    .md-mr-5 {
        margin-right: 5px;
    }

    .md-mr-10 {
        margin-right: 10px;
    }

    .md-mr-15 {
        margin-right: 15px;
    }

    .md-mr-20 {
        margin-right: 20px;
    }

    .md-mr-30 {
        margin-right: 30px;
    }

    .md-mb-0 {
        margin-bottom: 0;
    }

    .md-mb-5 {
        margin-bottom: 5px;
    }

    .md-mb-10 {
        margin-bottom: 10px;
    }

    .md-mb-15 {
        margin-bottom: 15px;
    }

    .md-mb-20 {
        margin-bottom: 20px;
    }

    .md-mb-30 {
        margin-bottom: 30px;
    }

    .md-ml-0 {
        margin-left: 0;
    }

    .md-ml-5 {
        margin-left: 5px;
    }

    .md-ml-10 {
        margin-left: 10px;
    }

    .md-ml-15 {
        margin-left: 15px;
    }

    .md-ml-20 {
        margin-left: 20px;
    }

    .md-ml-30 {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .lg-p-0 {
        padding: 0;
    }

    .lg-p-5 {
        padding: 5px;
    }

    .lg-p-10 {
        padding: 10px;
    }

    .lg-p-15 {
        padding: 15px;
    }

    .lg-p-20 {
        padding: 20px;
    }

    .lg-p-30 {
        padding: 30px;
    }

    .lg-pt-0 {
        padding-top: 0;
    }

    .lg-pt-5 {
        padding-top: 5px;
    }

    .lg-pt-10 {
        padding-top: 10px;
    }

    .lg-pt-15 {
        padding-top: 15px;
    }

    .lg-pt-20 {
        padding-top: 20px;
    }

    .lg-pt-30 {
        padding-top: 30px;
    }

    .lg-pr-0 {
        padding-right: 0;
    }

    .lg-pr-5 {
        padding-right: 5px;
    }

    .lg-pr-10 {
        padding-right: 10px;
    }

    .lg-pr-15 {
        padding-right: 15px;
    }

    .lg-pr-20 {
        padding-right: 20px;
    }

    .lg-pr-30 {
        padding-right: 30px;
    }

    .lg-pb-0 {
        padding-bottom: 0;
    }

    .lg-pb-5 {
        padding-bottom: 5px;
    }

    .lg-pb-10 {
        padding-bottom: 10px;
    }

    .lg-pb-15 {
        padding-bottom: 15px;
    }

    .lg-pb-20 {
        padding-bottom: 20px;
    }

    .lg-pb-30 {
        padding-bottom: 30px;
    }

    .lg-pl-0 {
        padding-left: 0;
    }

    .lg-pl-5 {
        padding-left: 5px;
    }

    .lg-pl-10 {
        padding-left: 10px;
    }

    .lg-pl-15 {
        padding-left: 15px;
    }

    .lg-pl-20 {
        padding-left: 20px;
    }

    .lg-pl-30 {
        padding-left: 30px;
    }

    .lg-m-0 {
        margin: 0;
    }

    .lg-m-5 {
        margin: 5px;
    }

    .lg-m-10 {
        margin: 10px;
    }

    .lg-m-15 {
        margin: 15px;
    }

    .lg-m-20 {
        margin: 20px;
    }

    .lg-m-30 {
        margin: 30px;
    }

    .lg-mt-0 {
        margin-top: 0;
    }

    .lg-mt-5 {
        margin-top: 5px;
    }

    .lg-mt-10 {
        margin-top: 10px;
    }

    .lg-mt-15 {
        margin-top: 15px;
    }

    .lg-mt-20 {
        margin-top: 20px;
    }

    .lg-mt-30 {
        margin-top: 30px;
    }

    .lg-mr-0 {
        margin-right: 0;
    }

    .lg-mr-5 {
        margin-right: 5px;
    }

    .lg-mr-10 {
        margin-right: 10px;
    }

    .lg-mr-15 {
        margin-right: 15px;
    }

    .lg-mr-20 {
        margin-right: 20px;
    }

    .lg-mr-30 {
        margin-right: 30px;
    }

    .lg-mb-0 {
        margin-bottom: 0;
    }

    .lg-mb-5 {
        margin-bottom: 5px;
    }

    .lg-mb-10 {
        margin-bottom: 10px;
    }

    .lg-mb-15 {
        margin-bottom: 15px;
    }

    .lg-mb-20 {
        margin-bottom: 20px;
    }

    .lg-mb-30 {
        margin-bottom: 30px;
    }

    .lg-ml-0 {
        margin-left: 0;
    }

    .lg-ml-5 {
        margin-left: 5px;
    }

    .lg-ml-10 {
        margin-left: 10px;
    }

    .lg-ml-15 {
        margin-left: 15px;
    }

    .lg-ml-20 {
        margin-left: 20px;
    }

    .lg-ml-30 {
        margin-left: 30px;
    }
}

@media (min-width: 500px) and (max-width: 3000px) {
    .notification-detail__button--link {
        display: inline-block !important;
    }
}

@media print {
    .visible-print {
        display: block !important;
    }

    table.visible-print {
        display: table !important;
    }

    tr.visible-print {
        display: table-row !important;
    }

    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar:before, .navbar:after {
    content: " ";
    display: table;
}

.navbar:after {
    clear: both;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

.navbar-header:before, .navbar-header:after {
    content: " ";
    display: table;
}

.navbar-header:after {
    clear: both;
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}

.navbar-collapse:after {
    clear: both;
}

.navbar-collapse.in {
    overflow-y: auto;
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (max-device-width: 0) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand > img {
    display: block;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (max-width: 479px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .navbar-form .form-control-static {
        display: inline-block;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto;
    }

    .navbar-form .input-group > .form-control {
        width: 100%;
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio label,
    .navbar-form .checkbox label {
        padding-left: 0;
    }

    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}

@media (max-width: 479px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }

    .navbar-form .form-group:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-btn.btn-sm, .btn-group-sm > .navbar-btn.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-btn.btn-xs, .btn-group-xs > .navbar-btn.btn {
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: #777;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

@media (max-width: 479px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #777;
}

.navbar-default .navbar-link:hover {
    color: #333;
}

.navbar-default .btn-link {
    color: #777;
}

.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
    color: #333;
}

.navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:hover,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc;
}

.navbar-inverse {
    background-color: #222;
    border-color: #090909;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-text {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #090909;
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #101010;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #090909;
    color: #fff;
}

@media (max-width: 479px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #090909;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #090909;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #090909;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #9d9d9d;
}

.navbar-inverse .navbar-link:hover {
    color: #fff;
}

.navbar-inverse .btn-link {
    color: #9d9d9d;
}

.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
    color: #fff;
}

.navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #444;
}

@media (min-width: 0) and (max-width: 479px) {
    .block-xs {
        display: block !important;
    }
}

.chart-table-spacer {
    margin-left: 20px;
}


.vcenter {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.panel-footer div:empty, .hideEmptyCont ul:empty, .hideEmptyCont div:empty {
    display: none !important;
}

.progress {
    background: whitesmoke;
    border: 0 solid whitesmoke;
    border-radius: 17px;
    height: 10px;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.table-display {
    display: table;
}

/*custom pull and push based on responsive state.*/
.pull-none-xs, .pull-none-ms, .pull-none-sm, .pull-none-md, .pull-none-lg {
    float: none !important;
}

@media (max-width: 480px) {
    /** Pull left XS **/
    .pull-left-xs {
        float: left;
    }
    /** Pull right XS **/
    .pull-right-xs {
        float: right;
    }
}

@media (min-width: 767px) {
    /** Pull left Ms **/
    .pull-left-ms {
        float: left;
    }
    /** Pull right Ms **/
    .pull-right-ms {
        float: right;
    }
}

@media (min-width: 768px) {
    /** Pull left Sm **/
    .pull-left-sm {
        float: left;
    }
    /** Pull right Sm **/
    .pull-right-sm {
        float: right;
    }

    .pull-none-sm {
        float: none;
    }
}

@media (min-width: 992px) {
    /** Pull left **/
    .pull-left-md {
        float: left;
    }
    /** Pull right **/
    .pull-right-md {
        float: right;
    }
}

@media (min-width: 1200px) {
    /** Pull left **/
    .pull-left-lg {
        float: left;
    }
    /** Pull right **/
    .pull-right-lg {
        float: right;
    }
}

.text-italic {
    font-style: italic !important;
}

.text-monospace {
    font-family: monospace !important;
}

.text-normal {
    font-weight: normal !important;
}

.text-strikethrough {
    text-decoration: line-through !important;
}

.text-strong {
    font-weight: 500 !important;
}

.text-stronger {
    font-weight: 700 !important;
}

/*custom text alignment based on responsive state*/
@media (min-width: 0) and (max-width: 479px) {
    .text-xs-left {
        text-align: left;
    }

    .text-xs-right {
        text-align: right;
    }

    .text-xs-center, .progressBar__title, .progressBar__bar-container, .progressBar__completed, .progressBar__completed-xs, .progress-shell {
        text-align: center;
    }

    .text-xs-justify {
        text-align: justify;
    }
}

@media (min-width: 480px) {
    .text-ms-left, .progressBar__title {
        text-align: left;
    }

    .text-ms-right {
        text-align: right;
    }

    .text-ms-center {
        text-align: center !important;
    }

    .text-ms-justify {
        text-align: justify;
    }
}

@media (min-width: 768px) {
    .text-sm-left {
        text-align: left;
    }

    .text-sm-right {
        text-align: right;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .text-md-left {
        text-align: left;
    }

    .text-md-right {
        text-align: right;
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-justify {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-lg-left {
        text-align: left;
    }

    .text-lg-right {
        text-align: right;
    }

    .text-lg-center {
        text-align: center;
    }

    .text-lg-justify {
        text-align: justify;
    }
}

/* Equal Height Columns */
.equal-height {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#equalheight {
    overflow: hidden;
}

/*column gutter paddings to 0*/
.no-left-gutter[class*='col-'] {
    padding-left: 0;
}

.no-right-gutter[class*='col-'] {
    padding-right: 0;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

/* custom margin and padding */
.xs-p-0, .progressBar__bar-container, .progressBar__completed, .progressBar__completed-xs {
    padding: 0 !important;
}

.xs-p-5 {
    padding: 5px;
}

.xs-p-10 {
    padding: 10px;
}

.xs-p-15 {
    padding: 15px;
}

.xs-p-20 {
    padding: 20px;
}

.xs-p-30 {
    padding: 30px;
}

.xs-pt-0 {
    padding-top: 0 !important;
}

.xs-pt-5 {
    padding-top: 5px;
}

.xs-pt-10 {
    padding-top: 10px;
}

.xs-pt-15 {
    padding-top: 15px;
}

.xs-pt-20 {
    padding-top: 20px;
}

.xs-pt-30 {
    padding-top: 30px;
}

.xs-pr-0 {
    padding-right: 0 !important;
}

.xs-pr-5 {
    padding-right: 5px;
}

.xs-pr-10 {
    padding-right: 10px;
}

.xs-pr-15 {
    padding-right: 15px;
}

.xs-pr-20 {
    padding-right: 20px;
}

.xs-pr-30 {
    padding-right: 30px;
}

.xs-pb-0 {
    padding-bottom: 0 !important;
}

.xs-pb-5 {
    padding-bottom: 5px;
}

.xs-pb-10 {
    padding-bottom: 10px;
}

.xs-pb-15 {
    padding-bottom: 15px;
}

.xs-pb-20 {
    padding-bottom: 20px;
}

.xs-pb-30 {
    padding-bottom: 30px;
}

.xs-pl-0 {
    padding-left: 0 !important;
}

.xs-pl-5 {
    padding-left: 5px;
}

.xs-pl-10 {
    padding-left: 10px;
}

.xs-pl-15 {
    padding-left: 15px;
}

.xs-pl-20 {
    padding-left: 20px;
}

.xs-pl-30 {
    padding-left: 30px;
}

.xs-m-0 {
    margin: 0 !important;
}

.xs-m-5 {
    margin: 5px;
}

.xs-m-10 {
    margin: 10px;
}

.xs-m-15 {
    margin: 15px;
}

.xs-m-20 {
    margin: 20px;
}

.xs-m-30 {
    margin: 30px;
}

.xs-mt-0 {
    margin-top: 0 !important;
}

.xs-mt-5, .progressBar__title {
    margin-top: 5px;
}

.xs-mt-10 {
    margin-top: 10px;
}

.xs-mt-15 {
    margin-top: 15px;
}

.xs-mt-20, .progressBar__completed-xs {
    margin-top: 20px;
}

.xs-mt-30 {
    margin-top: 30px;
}

.xs-mr-0, .progressBar__completed, .progressBar__completed-xs {
    margin-right: 0 !important;
}

.xs-mr-5 {
    margin-right: 5px;
}

.xs-mr-10 {
    margin-right: 10px;
}

.xs-mr-15 {
    margin-right: 15px;
}

.xs-mr-20 {
    margin-right: 20px;
}

.xs-mr-30 {
    margin-right: 30px;
}

.xs-mb-0 {
    margin-bottom: 0 !important;
}

.xs-mb-5 {
    margin-bottom: 5px;
}

.xs-mb-10 {
    margin-bottom: 10px;
}

.xs-mb-15 {
    margin-bottom: 15px;
}

.xs-mb-20, .progressBar__title {
    margin-bottom: 20px;
}

.xs-mb-30 {
    margin-bottom: 30px;
}

.xs-ml-0 {
    margin-left: 0 !important;
}

.xs-ml-5 {
    margin-left: 5px;
}

.xs-ml-10 {
    margin-left: 10px;
}

.xs-ml-15 {
    margin-left: 15px;
}

.xs-ml-20 {
    margin-left: 20px;
}

.xs-ml-30 {
    margin-left: 30px;
}

@media screen and (min-width: 480px) {
    .ms-p-0 {
        padding: 0 !important;
    }

    .ms-p-5 {
        padding: 5px;
    }

    .ms-p-10 {
        padding: 10px;
    }

    .ms-p-15 {
        padding: 15px;
    }

    .ms-p-20 {
        padding: 20px;
    }

    .ms-p-30 {
        padding: 30px;
    }

    .ms-pt-0 {
        padding-top: 0 !important;
    }

    .ms-pt-5 {
        padding-top: 5px;
    }

    .ms-pt-10 {
        padding-top: 10px;
    }

    .ms-pt-15 {
        padding-top: 15px;
    }

    .ms-pt-20 {
        padding-top: 20px;
    }

    .ms-pt-30 {
        padding-top: 30px;
    }

    .ms-pr-0 {
        padding-right: 0 !important;
    }

    .ms-pr-5 {
        padding-right: 5px;
    }

    .ms-pr-10 {
        padding-right: 10px;
    }

    .ms-pr-15 {
        padding-right: 15px;
    }

    .ms-pr-20 {
        padding-right: 20px;
    }

    .ms-pr-30 {
        padding-right: 30px;
    }

    .ms-pb-0 {
        padding-bottom: 0 !important;
    }

    .ms-pb-5 {
        padding-bottom: 5px;
    }

    .ms-pb-10 {
        padding-bottom: 10px;
    }

    .ms-pb-15 {
        padding-bottom: 15px;
    }

    .ms-pb-20 {
        padding-bottom: 20px;
    }

    .ms-pb-30 {
        padding-bottom: 30px;
    }

    .ms-pl-0 {
        padding-left: 0 !important;
    }

    .ms-pl-5 {
        padding-left: 5px;
    }

    .ms-pl-10 {
        padding-left: 10px;
    }

    .ms-pl-15 {
        padding-left: 15px;
    }

    .ms-pl-20 {
        padding-left: 20px;
    }

    .ms-pl-30 {
        padding-left: 30px;
    }

    .ms-m-0 {
        margin: 0 !important;
    }

    .ms-m-5 {
        margin: 5px;
    }

    .ms-m-10 {
        margin: 10px;
    }

    .ms-m-15 {
        margin: 15px;
    }

    .ms-m-20 {
        margin: 20px;
    }

    .ms-m-30 {
        margin: 30px;
    }

    .ms-mt-0 {
        margin-top: 0 !important;
    }

    .ms-mt-5 {
        margin-top: 5px;
    }

    .ms-mt-10 {
        margin-top: 10px;
    }

    .ms-mt-15 {
        margin-top: 15px;
    }

    .ms-mt-20 {
        margin-top: 20px;
    }

    .ms-mt-30 {
        margin-top: 30px;
    }

    .ms-mr-0 {
        margin-right: 0 !important;
    }

    .ms-mr-5 {
        margin-right: 5px;
    }

    .ms-mr-10 {
        margin-right: 10px;
    }

    .ms-mr-15 {
        margin-right: 15px;
    }

    .ms-mr-20 {
        margin-right: 20px;
    }

    .ms-mr-30 {
        margin-right: 30px;
    }

    .ms-mb-0 {
        margin-bottom: 0 !important;
    }

    .ms-mb-5 {
        margin-bottom: 5px;
    }

    .ms-mb-10 {
        margin-bottom: 10px;
    }

    .ms-mb-15 {
        margin-bottom: 15px;
    }

    .ms-mb-20 {
        margin-bottom: 20px;
    }

    .ms-mb-30 {
        margin-bottom: 30px;
    }

    .ms-ml-0 {
        margin-left: 0 !important;
    }

    .ms-ml-5 {
        margin-left: 5px;
    }

    .ms-ml-10 {
        margin-left: 10px;
    }

    .ms-ml-15 {
        margin-left: 15px;
    }

    .ms-ml-20 {
        margin-left: 20px;
    }

    .ms-ml-30 {
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px) {
    .sm-p-0 {
        padding: 0 !important;
    }

    .sm-p-5 {
        padding: 5px;
    }

    .sm-p-10 {
        padding: 10px;
    }

    .sm-p-15 {
        padding: 15px;
    }

    .sm-p-20 {
        padding: 20px;
    }

    .sm-p-30 {
        padding: 30px;
    }

    .sm-pt-0 {
        padding-top: 0 !important;
    }

    .sm-pt-5 {
        padding-top: 5px;
    }

    .sm-pt-10 {
        padding-top: 10px;
    }

    .sm-pt-15 {
        padding-top: 15px;
    }

    .sm-pt-20 {
        padding-top: 20px;
    }

    .sm-pt-30 {
        padding-top: 30px;
    }

    .sm-pr-0 {
        padding-right: 0 !important;
    }

    .sm-pr-5 {
        padding-right: 5px;
    }

    .sm-pr-10 {
        padding-right: 10px;
    }

    .sm-pr-15 {
        padding-right: 15px;
    }

    .sm-pr-20 {
        padding-right: 20px;
    }

    .sm-pr-30 {
        padding-right: 30px;
    }

    .sm-pb-0 {
        padding-bottom: 0 !important;
    }

    .sm-pb-5 {
        padding-bottom: 5px;
    }

    .sm-pb-10 {
        padding-bottom: 10px;
    }

    .sm-pb-15 {
        padding-bottom: 15px;
    }

    .sm-pb-20 {
        padding-bottom: 20px;
    }

    .sm-pb-30 {
        padding-bottom: 30px;
    }

    .sm-pl-0 {
        padding-left: 0 !important;
    }

    .sm-pl-5 {
        padding-left: 5px;
    }

    .sm-pl-10 {
        padding-left: 10px;
    }

    .sm-pl-15 {
        padding-left: 15px;
    }

    .sm-pl-20 {
        padding-left: 20px;
    }

    .sm-pl-30 {
        padding-left: 30px;
    }

    .sm-m-0 {
        margin: 0 !important;
    }

    .sm-m-5 {
        margin: 5px;
    }

    .sm-m-10 {
        margin: 10px;
    }

    .sm-m-15 {
        margin: 15px;
    }

    .sm-m-20 {
        margin: 20px;
    }

    .sm-m-30 {
        margin: 30px;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .sm-mt-5 {
        margin-top: 5px;
    }

    .sm-mt-10 {
        margin-top: 10px;
    }

    .sm-mt-15 {
        margin-top: 15px;
    }

    .sm-mt-20 {
        margin-top: 20px;
    }

    .sm-mt-30 {
        margin-top: 30px;
    }

    .sm-mr-0 {
        margin-right: 0;
    }

    .sm-mr-5 {
        margin-right: 5px;
    }

    .sm-mr-10, .progressBar__completed {
        margin-right: 10px;
    }

    .sm-mr-15 {
        margin-right: 15px;
    }

    .sm-mr-20 {
        margin-right: 20px;
    }

    .sm-mr-30 {
        margin-right: 30px;
    }

    .sm-mb-0 {
        margin-bottom: 0;
    }

    .sm-mb-5 {
        margin-bottom: 5px;
    }

    .sm-mb-10 {
        margin-bottom: 10px;
    }

    .sm-mb-15 {
        margin-bottom: 15px;
    }

    .sm-mb-20 {
        margin-bottom: 20px;
    }

    .sm-mb-30 {
        margin-bottom: 30px;
    }

    .sm-ml-0 {
        margin-left: 0;
    }

    .sm-ml-5 {
        margin-left: 5px;
    }

    .sm-ml-10 {
        margin-left: 10px;
    }

    .sm-ml-15 {
        margin-left: 15px;
    }

    .sm-ml-20 {
        margin-left: 20px;
    }

    .sm-ml-30 {
        margin-left: 30px;
    }
}

@media screen and (min-width: 992px) {
    .md-p-0 {
        padding: 0;
    }

    .md-p-5 {
        padding: 5px;
    }

    .md-p-10 {
        padding: 10px;
    }

    .md-p-15 {
        padding: 15px;
    }

    .md-p-20 {
        padding: 20px;
    }

    .md-p-30 {
        padding: 30px;
    }

    .md-pt-0 {
        padding-top: 0;
    }

    .md-pt-5 {
        padding-top: 5px;
    }

    .md-pt-10 {
        padding-top: 10px;
    }

    .md-pt-15 {
        padding-top: 15px;
    }

    .md-pt-20 {
        padding-top: 20px;
    }

    .md-pt-30 {
        padding-top: 30px;
    }

    .md-pr-0 {
        padding-right: 0;
    }

    .md-pr-5 {
        padding-right: 5px;
    }

    .md-pr-10 {
        padding-right: 10px;
    }

    .md-pr-15 {
        padding-right: 15px;
    }

    .md-pr-20 {
        padding-right: 20px;
    }

    .md-pr-30 {
        padding-right: 30px;
    }

    .md-pb-0 {
        padding-bottom: 0;
    }

    .md-pb-5 {
        padding-bottom: 5px;
    }

    .md-pb-10 {
        padding-bottom: 10px;
    }

    .md-pb-15 {
        padding-bottom: 15px;
    }

    .md-pb-20 {
        padding-bottom: 20px;
    }

    .md-pb-30 {
        padding-bottom: 30px;
    }

    .md-pl-0 {
        padding-left: 0;
    }

    .md-pl-5 {
        padding-left: 5px;
    }

    .md-pl-10 {
        padding-left: 10px;
    }

    .md-pl-15 {
        padding-left: 15px;
    }

    .md-pl-20 {
        padding-left: 20px;
    }

    .md-pl-30 {
        padding-left: 30px;
    }

    .md-m-0 {
        margin: 0;
    }

    .md-m-5 {
        margin: 5px;
    }

    .md-m-10 {
        margin: 10px;
    }

    .md-m-15 {
        margin: 15px;
    }

    .md-m-20 {
        margin: 20px;
    }

    .md-m-30 {
        margin: 30px;
    }

    .md-mt-0 {
        margin-top: 0;
    }

    .md-mt-5 {
        margin-top: 5px;
    }

    .md-mt-10 {
        margin-top: 10px;
    }

    .md-mt-15 {
        margin-top: 15px;
    }

    .md-mt-20 {
        margin-top: 20px;
    }

    .md-mt-30 {
        margin-top: 30px;
    }

    .md-mr-0 {
        margin-right: 0;
    }

    .md-mr-5 {
        margin-right: 5px;
    }

    .md-mr-10 {
        margin-right: 10px;
    }

    .md-mr-15 {
        margin-right: 15px;
    }

    .md-mr-20 {
        margin-right: 20px;
    }

    .md-mr-30 {
        margin-right: 30px;
    }

    .md-mb-0 {
        margin-bottom: 0;
    }

    .md-mb-5 {
        margin-bottom: 5px;
    }

    .md-mb-10 {
        margin-bottom: 10px;
    }

    .md-mb-15 {
        margin-bottom: 15px;
    }

    .md-mb-20 {
        margin-bottom: 20px;
    }

    .md-mb-30 {
        margin-bottom: 30px;
    }

    .md-ml-0 {
        margin-left: 0;
    }

    .md-ml-5 {
        margin-left: 5px;
    }

    .md-ml-10 {
        margin-left: 10px;
    }

    .md-ml-15 {
        margin-left: 15px;
    }

    .md-ml-20 {
        margin-left: 20px;
    }

    .md-ml-30 {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .lg-p-0 {
        padding: 0;
    }

    .lg-p-5 {
        padding: 5px;
    }

    .lg-p-10 {
        padding: 10px;
    }

    .lg-p-15 {
        padding: 15px;
    }

    .lg-p-20 {
        padding: 20px;
    }

    .lg-p-30 {
        padding: 30px;
    }

    .lg-pt-0 {
        padding-top: 0;
    }

    .lg-pt-5 {
        padding-top: 5px;
    }

    .lg-pt-10 {
        padding-top: 10px;
    }

    .lg-pt-15 {
        padding-top: 15px;
    }

    .lg-pt-20 {
        padding-top: 20px;
    }

    .lg-pt-30 {
        padding-top: 30px;
    }

    .lg-pr-0 {
        padding-right: 0;
    }

    .lg-pr-5 {
        padding-right: 5px;
    }

    .lg-pr-10 {
        padding-right: 10px;
    }

    .lg-pr-15 {
        padding-right: 15px;
    }

    .lg-pr-20 {
        padding-right: 20px;
    }

    .lg-pr-30 {
        padding-right: 30px;
    }

    .lg-pb-0 {
        padding-bottom: 0;
    }

    .lg-pb-5 {
        padding-bottom: 5px;
    }

    .lg-pb-10 {
        padding-bottom: 10px;
    }

    .lg-pb-15 {
        padding-bottom: 15px;
    }

    .lg-pb-20 {
        padding-bottom: 20px;
    }

    .lg-pb-30 {
        padding-bottom: 30px;
    }

    .lg-pl-0 {
        padding-left: 0;
    }

    .lg-pl-5 {
        padding-left: 5px;
    }

    .lg-pl-10 {
        padding-left: 10px;
    }

    .lg-pl-15 {
        padding-left: 15px;
    }

    .lg-pl-20 {
        padding-left: 20px;
    }

    .lg-pl-30 {
        padding-left: 30px;
    }

    .lg-m-0 {
        margin: 0;
    }

    .lg-m-5 {
        margin: 5px;
    }

    .lg-m-10 {
        margin: 10px;
    }

    .lg-m-15 {
        margin: 15px;
    }

    .lg-m-20 {
        margin: 20px;
    }

    .lg-m-30 {
        margin: 30px;
    }

    .lg-mt-0 {
        margin-top: 0;
    }

    .lg-mt-5 {
        margin-top: 5px;
    }

    .lg-mt-10 {
        margin-top: 10px;
    }

    .lg-mt-15 {
        margin-top: 15px;
    }

    .lg-mt-20 {
        margin-top: 20px;
    }

    .lg-mt-30 {
        margin-top: 30px;
    }

    .lg-mr-0 {
        margin-right: 0;
    }

    .lg-mr-5 {
        margin-right: 5px;
    }

    .lg-mr-10 {
        margin-right: 10px;
    }

    .lg-mr-15 {
        margin-right: 15px;
    }

    .lg-mr-20 {
        margin-right: 20px;
    }

    .lg-mr-30 {
        margin-right: 30px;
    }

    .lg-mb-0 {
        margin-bottom: 0;
    }

    .lg-mb-5 {
        margin-bottom: 5px;
    }

    .lg-mb-10 {
        margin-bottom: 10px;
    }

    .lg-mb-15 {
        margin-bottom: 15px;
    }

    .lg-mb-20 {
        margin-bottom: 20px;
    }

    .lg-mb-30 {
        margin-bottom: 30px;
    }

    .lg-ml-0 {
        margin-left: 0;
    }

    .lg-ml-5 {
        margin-left: 5px;
    }

    .lg-ml-10 {
        margin-left: 10px;
    }

    .lg-ml-15 {
        margin-left: 15px;
    }

    .lg-ml-20 {
        margin-left: 20px;
    }

    .lg-ml-30 {
        margin-left: 30px;
    }
}


.col-xs-1, .col-ms-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-ms-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-ms-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-ms-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-ms-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-ms-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-ms-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-ms-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-ms-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-ms-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-ms-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-ms-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 480px) {
    .col-ms-1, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9, .col-ms-10, .col-ms-11, .col-ms-12 {
        float: left;
    }

    .col-ms-1 {
        width: 8.33333%;
    }

    .col-ms-2 {
        width: 16.66667%;
    }

    .col-ms-3 {
        width: 25%;
    }

    .col-ms-4 {
        width: 33.33333%;
    }

    .col-ms-5 {
        width: 41.66667%;
    }

    .col-ms-6 {
        width: 50%;
    }

    .col-ms-7 {
        width: 58.33333%;
    }

    .col-ms-8 {
        width: 66.66667%;
    }

    .col-ms-9 {
        width: 75%;
    }

    .col-ms-10 {
        width: 83.33333%;
    }

    .col-ms-11 {
        width: 91.66667%;
    }

    .col-ms-12 {
        width: 100%;
    }

    .col-ms-pull-0 {
        right: auto;
    }

    .col-ms-pull-1 {
        right: 8.33333%;
    }

    .col-ms-pull-2 {
        right: 16.66667%;
    }

    .col-ms-pull-3 {
        right: 25%;
    }

    .col-ms-pull-4 {
        right: 33.33333%;
    }

    .col-ms-pull-5 {
        right: 41.66667%;
    }

    .col-ms-pull-6 {
        right: 50%;
    }

    .col-ms-pull-7 {
        right: 58.33333%;
    }

    .col-ms-pull-8 {
        right: 66.66667%;
    }

    .col-ms-pull-9 {
        right: 75%;
    }

    .col-ms-pull-10 {
        right: 83.33333%;
    }

    .col-ms-pull-11 {
        right: 91.66667%;
    }

    .col-ms-pull-12 {
        right: 100%;
    }

    .col-ms-push-0 {
        left: auto;
    }

    .col-ms-push-1 {
        left: 8.33333%;
    }

    .col-ms-push-2 {
        left: 16.66667%;
    }

    .col-ms-push-3 {
        left: 25%;
    }

    .col-ms-push-4 {
        left: 33.33333%;
    }

    .col-ms-push-5 {
        left: 41.66667%;
    }

    .col-ms-push-6 {
        left: 50%;
    }

    .col-ms-push-7 {
        left: 58.33333%;
    }

    .col-ms-push-8 {
        left: 66.66667%;
    }

    .col-ms-push-9 {
        left: 75%;
    }

    .col-ms-push-10 {
        left: 83.33333%;
    }

    .col-ms-push-11 {
        left: 91.66667%;
    }

    .col-ms-push-12 {
        left: 100%;
    }

    .col-ms-offset-0 {
        margin-left: 0%;
    }

    .col-ms-offset-1 {
        margin-left: 8.33333%;
    }

    .col-ms-offset-2 {
        margin-left: 16.66667%;
    }

    .col-ms-offset-3 {
        margin-left: 25%;
    }

    .col-ms-offset-4 {
        margin-left: 33.33333%;
    }

    .col-ms-offset-5 {
        margin-left: 41.66667%;
    }

    .col-ms-offset-6 {
        margin-left: 50%;
    }

    .col-ms-offset-7 {
        margin-left: 58.33333%;
    }

    .col-ms-offset-8 {
        margin-left: 66.66667%;
    }

    .col-ms-offset-9 {
        margin-left: 75%;
    }

    .col-ms-offset-10 {
        margin-left: 83.33333%;
    }

    .col-ms-offset-11 {
        margin-left: 91.66667%;
    }

    .col-ms-offset-12 {
        margin-left: 100%;
    }
}

.gly-rotate-45 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.glyphicon-pencil {
    font-size: 18px;
    margin-right: 5px;
}

.user-row div {
    display: inline-block
}

.user-icon {
    max-height: 150px;
}


.es__mapping--add .glyphicon-plus-sign, .es__mapping--remove .glyphicon-minus-sign {
    font-size: 24px;
    margin: 0 5px
}

.es__mapping--add.btn, .es__mapping--remove.btn {
    padding: 0;
    border: none;
}

.error-border {
    border: 2px solid red;
}

.es__mapping--remove.btn .fa-times-circle {
    color: #BC001A;
    padding: 5px;
}

.fa-lg {
    line-height: 100%;
}

.es__mapping--add.btn-default, .es__mapping--remove.btn-default {
    color: #777;
    background-color: transparent;
}

.es__mapping--add.btn-default:hover, .es__mapping--remove.btn-default:hover {
    color: #333;
    background-color: #fff;
}

.es__mapping td input, .es__bill-data td input {
    padding: 5px;
    border-radius: 4px 4px;
    border-style: solid;
    width: 100%;
}

.card {
    width: 100% !important; /* over-ride kendo */
}


.es__bill-data  {
    width: 48%;
    display: inline-block;
}


.es__bill-data table td, .es__bill-data .table td  {
    background-color: #eaeaea;
    border-bottom: 3px solid #fff;
}

.es__bill-data .table > tbody > tr > th {
    border-top: none;
}

.modal-dialog.es__bill-data-modal {
    width: 90%;
}

.es__accounterror {
    display: inline-block;
}

.es__mapaccountid {
    display: inline-block;
}

.errspan {
    float: left;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

.mapping-fa {
    padding: .2em .25em .15em;
    background-color: transparent;
    color: red;
}

.mapping-fa-check-circle {
    font-size: 24px;
    color: #31B761;
    padding: 5px;
}

.alert-mapping {
    display: block
}

.middle {
    vertical-align: middle;
}

.icon-consumption-records, .icon-bill-data, .icon-consumption-records + H4, .icon-bill-data + H4 {
    display: inline-block;
}

.icon-consumption-records, .icon-bill-data {
    margin-right: 4px;
    MARGIN-BOTTOM: 4PX;
}

.portal__list ul {
    width: 100%
}


/* add user */
.edituser__panel.panel {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 0;
}

.manage__user:first-child + div {
    display: table;
}

.manage__user--cards {
    display: block !important;
}

.manage__user-title, .manage__user-add {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    display: table-cell;
}

.manage__user-add {
    float: right;
}
/* meter mapping */
.card__metermap {
}



.k-grid-header-wrap {
    border-width: 0;
}

#showPassword {
    position: absolute;
    right: 50px;
    top: 6px;
    content: "\f096";
    color: #449cfa;
    font-family: FontAwesome;
    display: inline-block;
}

#showCheckBox {
    position: absolute;
    display: initial;
}




/* font icon support */
span.fa.fa-external-link {
    color: #449cfa;
    cursor: pointer;
    padding-left: 5px;
}




/*** custom checkboxes ***/

input[type=checkbox] {
    display: none;
}
/* to hide the checkbox itself */

input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox] + label:before {
    content: "\f096";
    color: #449cfa;
    cursor: pointer;
}
/* unchecked icon */
input[type=checkbox] + label:before {
    letter-spacing: 10px;
}
/* space between checkbox and label */

input[type=checkbox]:checked + label:before {
    content: "\f046";
    color: #449cfa;
    cursor: pointer;
}
/* checked icon */
input[type=checkbox]:checked + label:before {
    letter-spacing: 5px;
}
/* allow space for check mark */

.mapped span {
    display: inline-block;
}


.metrics__container {
    padding: 30px;
    background-color: #fff;
    /* margin: 15px; */
}

.property__thumb {
    width: 120px;
    height: 95px;
    overflow: hidden;
}
.property__thumb .img-responsive {
    max-height: 100% !important;
}

.property__thumbcontainer {
    width: 120px;
    background-color: #eaeaea;
}
.property__thumbRow {
    background-color: #eaeaea;
}
.property__info-one, .property__info-two {
    background-color: #eaeaea;
    padding: 10px;
}
.property__info-one p, .property__info-two p {
    margin-bottom: 5px;
}
.property__info-one div {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}



/* progress bar loader */

.container-loader {
    justify-content: space-around;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* PROGRESS */
.progress-loader {
    background-color: #e5e9eb;
    height: 0.45em;
    position: relative;
    width: 24em;
}
.progress-bar-loader {
    animation-duration: 3s;
    animation-name: width;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    background-size: 24em 0.25em;
    height: 100%;
    position: relative;
}

.drop{
    max-height: 220px;
    overflow-y:scroll;
}

/* ANIMATIONS */
@keyframes width {
    0%, 100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.propertyDropDown {
    max-height: 300px;
    overflow: auto;
}

.browser-alert {
    color: #8a6d3b;
    background-color: #fdf4c6;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid #e0a11d;
    border-radius: 4px;
}