﻿@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<script>
    $(document).ready(function () {
        try {

            $('#btnLogin').click(function () {
                GetUser();
            });
        }
        catch (ex) { }
    });


    function GetUser() {
        if ($("#txtUserName").val() != "" && $("#txtPassword").val() != "") {
            $('#btnLogin').html('Please Wait...');
            $('#btnLogin').off("click");
            $('#lblError').hide();

            $.ajax({
                url: ResolveURL("~/Login/CheckUser?user=" + $("#txtUserName").val() + "&password=" + $("#txtPassword").val()),
                async: false,
                cache: false,
                type: "GET",
                data: "",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg == "false") {
                        $('#btnLogin').html('Log In');
                        $('#lblError').html('Bad username/password');
                        $('#lblError').show();
                    } else {
                        var url = ResolveURL("~/Dashboard?clientId=" + msg);
                        window.location = url;
                    }
                    $('#btnLogin').on("click", GetUser);
                }
            });
        }
    }

    function ResolveURL(relative) {
        var resolved = relative;
        if (relative.charAt(0) == '~')
            resolved = relativeRoot + relative.substring(2);
        return resolved;
    }
</script>
<div id="auth">
    <table class="log-table">
        <tr>
            <th class="">
                User Name
            </th>
            <td>
                @Html.TextBox("txtUserName", "")
            </td>
        </tr>
        <tr>
            <th class="">
                Password
            </th>
            <td>
                <input id="txtPassword" type="password">
            </td>
        </tr>
        <tr>
            <th class="">
                &nbsp;
            </th>
            <td>
                <div id="loginDiv">
                    <button id="btnLogin" type="button" onclick="return false;">
                        Log In
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th class="">
                &nbsp;
            </th>
            <td>
                <label id='lblError' style='color: Red'>
                </label>
            </td>
        </tr>
    </table>
</div>
