﻿<div *ngFor='#row of layout.Rows'>
    <div class="row">    
        <div *ngFor='#column of row.Columns' class="col-{{column.Size}}-{{column.Span}}">
            <div *ngFor='#widget of column.Widgets' id="{{widget.Name}}-{{widget.Instance}}">
            </div>
        </div>
    </div>
</div>