﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <!-- Error -->
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>


    <div *ngIf="!errorOccurred">
        <!-- No data -->
        <div *ngIf="noConsumption == true && result.Commodities.indexOf(',') == -1 " class="panel panel-default">
            <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
                <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
            </div>
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NoConsumptionText}}</strong>
            </div>
        </div>

        <!-- Title -->
        <div *ngIf="result.ShowTitle == 'true' || result.ShowIntro == 'true'" class="panel-heading">
            <h1 *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-title" role="presentation">{{result.Title}}</h1>
            <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text markdown">{{result.IntroText}}</div>
        </div>

        <!-- start consumption AMI -->
        <div *ngIf="noConsumption !== true" class="panel panel-default">
            <div class="panel-heading utility xs-pl-0 xs-pr-0">
                <div class="panel-body utility xs-mr-0 xs-p-5">
                    <!-- START: 1st col in Header -->
                    <div class="col-sm-6 intervals text-xs-left xs-pl-0 xs-pt-10 ms-pt-0">
                        <!-- drop down  -->
                        <div *ngIf="result.ShowResolutionsDropdown == 'true'" class="monthsdayshours__intervals">
                            <div id="intervals" class="dropdown monthsdayshours listbox" aria-label="Choose an interval" [style.display]="showChart ? 'block': 'none'">
                                <button aria-level="1" class="btn-default btn dropdown-toggle deep-link-highlight" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <p class="select" style="display:inline" val="result.SelectedResolutionValue">{{result.SelectedResolutionText}}</p>
                                    <span><img src="Content/Images/caret-darker.png" height="6" width="10" alt=""></span>
                                </button>
                                <span class="listbox-label sr-only">Choose an interval</span>
                                <ul class="dropdown-menu" role="menu">
                                    <li *ngFor="let r of result.Resolutions" role="menuitem"><a id="iws_cn_res-{{r.Id}}" title="{{r.Value}}" href="#" onclick="return false;">{{r.Text}}</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- pagination  -->
                        <div *ngIf="resolution !== 'month'" class="monthsdayshours__nextprev ms-mt-0">
                            <nav class="cell-inner" aria-label="Primary" [style.display]="showChart ? 'block': 'none'">
                                <ul class="pagination">
                                    <li class="active prev"><a class="xs-mr-5 xs-ml-10" onclick="return false;" (click)="pageBack()" href="#" tabindex="0"><span aria-hidden="true"><img alt="previous" src="Content/Images/pagination-panel-left-on.png" height="32" width="32"></span></a></li>
                                    <li class="active next"><a onclick="return false;" (click)="pageForward()" href="#" tabindex="0"><span aria-hidden="true"><img alt="next" src="Content/Images/pagination-panel-right-on.png" height="32" width="32"></span></a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="monthsdayshours__date xs-mt-15 xs-mb-15 ms-ml-10" style="display:inline-block" aria-label="Date Range Interval">
                            <div>{{result.StartDateTitle}} - {{result.EndDateTitle}}</div>
                        </div>
                        <!-- END: 1st col  -->
                    </div>




                    <div class="utility-icons monthsdayshours__utility-icons col-sm-6 text-xs-left text-sm-right xs-pr-0 xs-pl-0">
                        <div class="pull-right-sm">
                            <div class="u-icon-focus">
                                <a *ngIf="result.ShowCommodities === true && result.ShowGas === true" (click)="commodityChange('gas')" href="#" onclick="return false;" aria-label="Gas Commodity" class="btn btn-default xs-ml-5 icon__gas" [ngClass]="selectedCommodity==='gas' ? 'icon_focus' : ''" role="button">
                                    <span class="icon icon-flame" aria-hidden="true"></span>
                                    <span *ngIf="result.ShowCommodityLabels === 'true'" class="hidden-xs">{{result.GasLabel}}</span>
                                    <span class="print-only">{{result.GasLabel}}</span>
                                </a>

                                <a *ngIf="result.ShowCommodities === true && result.ShowElectric === true" (click)="commodityChange('electric')" href="#" onclick="return false;" aria-label="Electric Commodity" class="btn btn-default xs-ml-5 icon__electric" [ngClass]="selectedCommodity==='electric' ? 'icon_focus' : ''" role="button">
                                    <span class="icon icon-bolt" aria-hidden="true"></span>
                                    <span *ngIf="result.ShowCommodityLabels === 'true'" class="hidden-xs">{{result.ElectricLabel}}</span>
                                    <span class="print-only">{{result.ElectricLabel}}</span>
                                </a>

                                <a *ngIf="result.ShowCommodities === true && result.ShowWater === true" (click)="commodityChange('water')" href="#" onclick="return false;" aria-label="Water Commodity" class="btn btn-default xs-ml-5 icon__water" [ngClass]="selectedCommodity==='water' ? 'icon_focus' : ''" role="button">
                                    <span class="icon icon-drop" aria-hidden="true"></span>
                                    <span *ngIf="result.ShowCommodityLabels === 'true'" class="hidden-xs">{{result.WaterLabel}}</span>
                                    <span class="print-only">{{result.WaterLabel}}</span>
                                </a>
                                <a href="#" aria-label="Chart and Graph toggle" onclick="return false;" (click)="displayChart()" class="btn btn-default chart-table-spacer" [ngClass]="showChart ? 'icon__table' : 'icon__graph'" role="button">
                                    <span class="icon" [ngClass]="showChart ? 'icon-table' : 'icon-graph'"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="panel-body">
                <div [style.display]="showChart ? 'block': 'none'">
                    <div id="iws_cn_chart" style="height: 400px"></div>
                </div>
                <div [style.display]="showChart ? 'none': 'block'">
                    <div role="grid" aria-readonly="true" aria-labelledby="consumption">
                        <table class="table table-hover table-striped" role="presentation">
                            <thead>
                                <tr role="row">
                                    <th *ngFor="let h of table.Headers" role="columnheader">{{h.Label}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of table.Rows" role="row">
                                    <td *ngFor="let c of l.Cells" role="gridcell" [attr.data-th]="c.Header">{{c.Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer">
                <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink dv-external-links">
                    <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                </div>
            </div>
        </div>
    </div>
</div>