﻿/*==========  variables ===========*/
.account-select .utility {
  border-top: 0;
}

.account-select label {
  font-size: 18px;
}

.account-select H1.panel-title {
  color: #4d4d4d !important;
}

.account-select .panel-heading {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

.account-select__info {
  display: block;
  margin: 15px;
  border: 1px solid #ddd !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.account-select__info .icon-home {
  line-height: 0em;
  font-size: 24px;
  display: inline-block;
  vertical-align: sub;
}

.account-select__heading {
  background-color: white !important;
  color: #4d4d4d !important;
  min-height: 60px !important;
}

.account-select__heading div div.toggle__btn {
  line-height: 280%;
  display: flex;
}

.account-select__heading--h3 {
  vertical-align: text-bottom;
  position: relative;
  line-height: 125%;
}

.account-select__item {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
}

.account-select__item p {
  margin-bottom: 0;
}

table .premise-select {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

table.account-select__item {
  border-bottom: 2px solid #ddd;
}

.premise-select th,
.premise-select td, .premises {
  font-size: 14px;
  padding: 10px;
  text-align: left;
  vertical-align: top;
  text-transform: lowercase;
  text-transform: capitalize;
}

.premises tr:last-child {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 0 !important;
}

.premises {
  border-top: 1px solid #ddd;
  margin-bottom: 0 !important;
}

.premises:last-child {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0 !important;
}

.toggle__btn .btn:hover {
  color: #1a1a1a !important;
}

.premise-select th {
  color: #ddd;
  font-size: 16px;
}

.premises > div > p {
  margin-bottom: 0px;
  line-height: 20px;
  text-transform: lowercase;
  text-transform: capitalize;
}

.premise-select tr.selected {
  background: #ddd;
}

.account-select__checkmark {
  text-align: right !important;
  width: 20px !important;
}

.premises:nth-of-type(odd) {
  background-color: #f9f9f9;
  padding: 5px 0;
}

.premises:nth-of-type(even) {
  background-color: #fff;
  padding: 5px 0;
}

