﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
.bill-comparison th {
  background-color: white;
}

.bill-comparison .table > thead > tr {
  border-bottom: 0;
  border-top: 1px solid white;
  color: #919191;
}

.bill-comparison .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
}

.bill-comparison .highcharts-axis-labels.highcharts-yaxis-labels {
  display: none;
}

.bill-statement.list-group li:first-child {
  border-top: none;
}

.btn.action-btn--reverse:hover, .btn.action-btn--reverse:focus, .btn.action-btn--reverse:focus {
  color: #fff;
}

