﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
#pie-chart .highcharts-container {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none !important;
  }
}

.legend {
  font-weight: normal;
}

.legend::before {
  content: "";
  font-size: 12px;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  padding: 0 1px;
  margin-right: 10px;
  width: 9px;
  display: inline-block;
  height: 9px;
  vertical-align: middle;
}

.cooling:before {
  background-color: #96D7E0;
  color: #96D7E0;
}

.hotwater:before {
  background-color: #197591;
  color: #197591;
}

.cooking:before {
  background-color: #5d4327;
  color: #5d4327;
}

.lighting:before {
  background-color: #E96B74;
  color: #E96B74;
}

.appliances:before {
  background-color: #AAAAAA;
  color: #AAAAAA;
}

.heating:before {
  background-color: #f9b129;
  color: #f9b129;
}

.pool:before {
  background-color: #78D39B;
  color: #78D39B;
}

.foodstorage:before {
  background-color: #9FB6EE;
  color: #9FB6EE;
}

.miscellaneous:before {
  background-color: #aaaaaa;
  color: #aaaaaa;
}

.computer:before {
  background-color: #3B8F2E;
  color: #3B8F2E;
}

.indoorwater:before {
  background-color: #BD99CE;
  color: #BD99CE;
}

.outdoorwater:before {
  background-color: #E1C769;
  color: #E1C769;
}

.sumppump:before {
  background-color: #839E95;
  color: #839E95;
}

.tv:before {
  background-color: #AB341F;
  color: #AB341F;
}

.vehicle:before {
  background-color: #6BADE6;
  color: #6BADE6;
}

.businessheating:before {
  background-color: #97A92E;
  color: #97A92E;
}

.businesscooling:before {
  background-color: #96D7E0;
  color: #96D7E0;
}

.businessventilation:before {
  background-color: #78D39B;
  color: #78D39B;
}

.businesswaterheating:before {
  background-color: #B96A9D;
  color: #B96A9D;
}

.businesslighting:before {
  background-color: #E96B74;
  color: #E96B74;
}

.businesscooking:before {
  background-color: #197591;
  color: #197591;
}

.businessrefrigeration:before {
  background-color: #9FB6EE;
  color: #9FB6EE;
}

.businessofficeequipment:before {
  background-color: #E1C769;
  color: #E1C769;
}

.businesscomputers:before {
  background-color: #197591;
  color: #197591;
}

.businessmisc:before {
  background-color: #DA7777;
  color: #DA7777;
}

.businesslaundry:before {
  background-color: #6BADE6;
  color: #6BADE6;
}

.billCycle table td:first-child {
  white-space: nowrap;
}

