﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
.bill-statement.list-group li, .bill-statement .panel > .panel-collapse > .list-group li {
  border-width: 1px 0;
  border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  position: relative !important;
  display: block !important;
  padding: 10px 15px !important;
  margin-bottom: -1px !important;
  background-color: #fff !important;
  border-bottom: 1px solid #e6e6e6;
}

.bill-statement.list-group li:hover {
  background-color: #f5f5f5 !important;
}

.bill-statement.list-group {
  margin-bottom: 0;
  padding-left: 0;
}

.bill-statement .list-group-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bill-statement .list-group-item:last-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bill-statement .list-group-item li:hover, .bill-statement .panel > .panel-collapse > .list-group li {
  background-color: #ccc;
}

.bill-statement.list-group li p {
  float: right;
}

