﻿/*==========  variables ===========*/
.billing-history .table > thead > tr > th {
  border-bottom: 1px solid white;
  border-right: none;
}

.billing-history .table > tbody > tr > td a {
  color: #337ab7;
}

.billing-history th.navbar.navbar-default.navbar-table-cell {
  border: none;
}

table.billing-history {
  margin-bottom: 0;
}

.billing-history .table-curved {
  border-collapse: separate;
  border: solid #ccc 1px;
  border-radius: 4px;
  overflow: hidden;
}

.billing-history .panel-footer {
  text-transform: none;
}

.billing-history img {
  margin-right: 4px;
}

.billing-history .icon-table-data {
  margin-left: 8px;
}

.billing-history .navbar-default .navbar-nav {
  font-size: 14px;
  font-weight: 400;
}

.billing-history .navbar-default .navbar-link {
  font-weight: 400;
}

.billing-history td {
  width: 16%;
  text-align: right;
  padding-right: 17px !important;
}

.billing-history td:last-child {
  width: 20%;
  text-align: center;
}

.billing-history .navbar-default {
  -webkit-border-radius: 3px;
  border-radius: 0;
  background-clip: padding-box;
}

.billing-history table > thead > tr > td.navbar-table-cell {
  border: none;
  text-align: center;
  padding: 0;
}

.billing-history table > tfoot > tr > td {
  padding-right: 0 !important;
}

.billing-history .navbar-default .navbar-nav.nav-justified li {
  float: none;
}

.billing-history .navbar-default .navbar-nav.nav-justified li:last-child a:after {
  display: none;
}

.billing-history .navbar-default .navbar-nav.nav-justified li > a {
  padding-left: 0;
  padding-right: 0;
}

table.billing-history tr th {
  vertical-align: bottom;
  border-bottom: none;
  text-align: center;
  border-right: none;
  padding: 18px 0 !important;
}

table.billing-history tr td {
  padding: 9px 0 !important;
  text-align: center !important;
}

table.billing-history tr td a {
  color: #333;
}

table.billing-history tr th:first-child {
  border-left: none;
}

.billing-history .pagination {
  margin: 1px;
}

.billing-history .table > thead > tr > th {
  border-bottom: 0;
}

.billing-history.table-responsive {
  border: 0;
}

.billing-history .arrow img {
  margin-right: 0px;
}

.fa-exchange {
  color: #919191;
}

