﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
/* ============================================== */
/* == Consumption Chart dropdown/nav component == */
/* ============================================== */
.monthsdayshours__utility-icons > div {
  display: table;
  height: 49px;
}

.monthsdayshours__utility-icons > div > div {
  display: table-cell;
  vertical-align: middle;
}

.monthsdayshours {
  width: auto;
  line-height: 2.4;
}

.monthsdayshours__utility-icons {
  height: 49px;
}

.monthsdayshours__nextprev {
  display: inline-block;
  height: 34px;
  max-height: 34px;
  vertical-align: middle;
}

.monthsdayshours__nextprev ul {
  margin: 1px 0 0 0;
}

.monthsdayshours__nextprev ul.pagination > li.prev > a,
.monthsdayshours__nextprev ul.pagination > li.next > a {
  background-color: #fff;
  width: 33px;
  height: 33px;
  border: 1px solid #e6e6e6;
  padding: 2px;
  cursor: pointer;
}

.monthsdayshours__nextprev ul.pagination > li.prev > a:hover,
.monthsdayshours__nextprev ul.pagination > li.next > a:hover {
  border: 1px solid #4d4d4d;
}

.monthsdayshours__nextprev ul.pagination > .active > a:hover, .monthsdayshours__nextprev ul.pagination > .active > a:focus {
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
}

.monthsdayshours__nextprev ul.pagination > li.prev > a img,
.monthsdayshours__nextprev ul.pagination > li.next > a img {
  width: 90%;
  height: 90%;
}

.monthsdayshours__nextprev ul.pagination > li:first-child > a,
.monthsdayshours__nextprev ul.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.monthsdayshours__intervals {
  display: inline-block;
  margin-right: 10px;
}

.monthsdayshours__nextprev .pagination > .active > a {
  z-index: 3;
  background-color: #ddd;
  cursor: default;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
}

.monthsdayshours p {
  margin-right: 10px !important;
}

/* ====================== */
/* == Responsive Table == */
/* ====================== */
@media (min-width: 0) and (max-width: 480px) {
  #iws_consumption_main table {
    margin: 1em 0;
  }
  #iws_consumption_main table tr {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
  #iws_consumption_main table th {
    display: none;
  }
  #iws_consumption_main table td {
    display: block;
  }
  #iws_consumption_main table td:first-child {
    padding-top: .5em;
  }
  #iws_consumption_main table td:last-child {
    padding-bottom: .5em;
  }
  #iws_consumption_main table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }
}

@media (min-width: 0) and (max-width: 480px) and (min-width: 480px) {
  #iws_consumption_main table td:before {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 480px) {
  #iws_consumption_main table th, #iws_consumption_main table td {
    text-align: left;
    margin: 0;
  }
}

@media (min-width: 0) and (max-width: 480px) and (min-width: 480px) {
  #iws_consumption_main table th, #iws_consumption_main table td {
    display: table-cell;
    padding: .25em .5em;
  }
  #iws_consumption_main table th:first-child, #iws_consumption_main table td:first-child {
    padding-left: 0;
  }
  #iws_consumption_main table th:last-child, #iws_consumption_main table td:last-child {
    padding-right: 0;
  }
}

#iws_consumption_main table {
  overflow: hidden;
}

#iws_consumption_main table th, #iws_consumption_main table td {
  margin: 0;
}

@media (min-width: 480px) {
  #iws_consumption_main table th, #iws_consumption_main table td {
    padding: 1em !important;
  }
}

