﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
html {
  font-family: sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

/*  4242  */
.panel {
  border: 1px solid #ddd;
  border-radius: 0;
  -moz-box-shadow: 5px 4px 8px 0px #ccc;
  -webkit-box-shadow: 5px 4px 8px 0px #ccc;
  box-shadow: 5px 4px 8px 0px #ccc;
}

/*  no shadow  */
#iws_panel_div {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px;
  width: auto;
  line-height: 148%;
  padding: 12px !important;
}

.no-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* 5303 */
.panel-default > .panel-heading {
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #ddd;
  border-bottom: none;
}

/*  insigts  action.css 150 and insights and actionplan.css for action shell */
.insights .panel, .panel-body-recommended-actions .panel, #iws_ap_ip_actions .panel, #iws_ap_cpl_actions .panel {
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

@media (min-width: 768px) {
  .area li:first-child {
    margin-left: 0 !important;
  }
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  color: #CD771D !important;
  margin-bottom: 0;
  font-size: 28px !important;
  text-align: left;
  margin: 7px 0 9px 0;
  font-weight: 400 !important;
}

.icon-nav-energy-long .energyIconNav li.active a.navbar-link:first-child, .icon-nav-energy-long .energyIconNav li.active:first-child {
  background-color: #3999CD;
  border-radius: 0 !important;
}

.info-header h5 {
  font-weight: bold;
  font-size: 12px;
  color: #666;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}

.info-header span {
  font-size: 12px;
}

.info-header h2 {
  color: #4d4d4d;
  font-size: 14px;
}

.info-header .dropdown {
  position: relative;
  border: 1px solid #e6e6e6;
  padding: 5px 5px 5px 0;
  border-radius: 4px;
}

.info-header .dropdown a b {
  float: right;
  padding-right: 15px;
  background-repeat: no-repeat;
}

.info-header .dropdown a:hover, .info-header .dropdown a:focus, .info-header .dropdown a:active {
  color: #084B8E;
  text-decoration: none;
}

.info-header .dropdown-toggle:focus {
  outline: 0;
  border: none;
}

.aclaraone-header {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #05599e;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  font-size: 24px;
}

.aclaraone-header.username {
  font-size: 18px;
  min-height: 71px;
  line-height: 2.5;
  text-align: right;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  color: #CD771D !important;
  margin-bottom: 0;
  font-size: 28px !important;
  text-align: left;
  margin: 7px 0 9px 0;
  font-weight: 400 !important;
}

.customerinfo__body {
  position: relative;
}

.customerinfo__report {
  color: #3999CD;
  text-decoration: underline;
  margin-right: 10px;
  padding-top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.customerinfo__report--link {
  margin-left: 5px;
  font-size: 12px;
}

.customerinfo__report--linkresults {
  text-decoration: underline;
}

.customerinfo__dropdown {
  height: 38px;
  font-size: 14px;
  border: none !important;
  /*over-ride in this instance*/
  z-index: 10;
}

.customerinfo__dropdown--btn {
  width: 100%;
  padding: 6px;
}

.customerinfo__dropdown--btnp {
  white-space: normal;
  font-size: 12px;
  width: 90%;
}

.customerinfo__dropdown--list {
  width: 100%;
}

.customerinfo__dropdown--list a {
  font-size: 12px !important;
}

.customerinfo__font {
  font-size: 12px;
}

