﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
.greenbutton__form .btn-sm, .btn-group-sm > .btn {
  padding: 0px 2px;
}

.greenbutton__form .input-group.date {
  margin: 0 auto;
}

.greenbutton .utility {
  border-top: 0;
}

.greenbutton label {
  font-size: 18px;
}

.greenbutton__info {
  display: table;
  min-height: 46px !important;
}

.greenbutton__info div {
  display: table-cell;
  vertical-align: middle;
  height: 46px;
  min-height: 46px !important;
  padding-right: 40px;
}

.greenbutton__info .toggle__btn {
  padding-right: 0;
  top: 10px;
  display: flex;
}

.gbc__term-link {
  color: #00a1de;
}

.greenbutton H1.panel-title {
  color: #fff !important;
}

.greenbutton__heading {
  background-color: #34AA3A !important;
  color: #fff !important;
  min-height: 60px !important;
  background: url("../../Images/greenbutton-image.png") no-repeat center;
  background-position-y: -24px;
}

.greenbutton .panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.greenbutton__heading--h3 {
  color: #fff;
}

