﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
/* ============================================== */
/* ======== Ways-to-Save Actions Widgets ======== */
/* ========== Dashboard and My Savings ========== */
/* ============================================== */
.panel.actions {
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  height: 100%;
  overflow: hidden;
}

.actions__container {
  height: 100%;
}

.actions__message--Container {
  width: 100%;
  display: table;
}

.actions__message--Img {
  width: 100px;
  height: auto;
  display: table-cell;
  vertical-align: top;
  background-color: white;
  border-right: 1px solid #ddd;
}

.actions__message--title {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}

.actions__message a img {
  display: inline;
}

.actions__message p {
  display: inline;
}

.actions__message.actions__buttons {
  display: inline;
}

.actions__title {
  color: #4d4d4d;
  font-weight: bold;
}

.actions__title a {
  color: #4d4d4d;
  font-weight: bold;
}

.actions__costSavings {
  border-left: 1px solid #e6e6e6;
  background-color: #eeeeee !important;
  line-height: 1;
}

.actions__value {
  font-weight: normal;
  font-size: 1.3em;
  color: #990000;
  line-height: 1.5;
}

.actions__cost-title, .actions__savings-title {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
}

/* ============================================== */
/* ============= Insights Detail Page =========== */
/* ============================================== */
.detail-items {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0 10px 15px;
  margin: 0;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}

.detail-shell {
  padding: 25px 15px 10px 30px;
}

.detail-item__h1 {
  color: #337ab7;
  font-size: 28px !important;
  text-align: left;
  margin: 7px 0 9px 0;
  font-weight: 400 !important;
}

.detail-items > div {
  float: left;
  width: 25%;
  font-size: 11px;
  font-weight: bold;
  color: #084B8E;
}

.detail-items__circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #337ab7;
  margin-right: 3px;
  display: inline-block;
}

.details__headers {
  padding: 30px;
}

.details__headers h3, .while-youre-at-it, .detail-shell h3 {
  font-size: 14px;
  color: #4d4d4d;
  text-transform: none;
  font-weight: bold;
  margin-top: 15px;
}

.details__headers li, .detail-shell li {
  margin-bottom: 11px;
}

.detail-featured-image img {
  height: auto;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
}

