﻿/*==========  variables ===========*/
.quick-links a {
  color: #4d4d4d;
  font-weight: bold;
  display: table;
  margin-bottom: 15px;
}

.quick-links a:hover {
  opacity: 0.8;
}

.quick-links a:last-child {
  margin-bottom: 0;
}

.quick-links span.icon {
  display: table-cell;
  font-size: 24px;
  padding-right: 12px;
  vertical-align: middle;
  line-height: .5;
}

.quick-links span:before {
  display: inline-block;
  text-decoration: none;
}

