﻿/*==========  variables ===========*/
/*========== Panel variants ===========*/
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.PDF__time {
  color: #4d4d4d;
}

.PDF__subtitle {
  color: #1f62a3;
  margin-bottom: 0;
}

.PDF__list--item {
  border-top: 1px solid #ccc;
  border-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.PDF__subtitle--block {
  border-top: 1px solid #ccc;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.scroll {
  overflow-y: scroll;
}

.sub-line {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 11px;
}

.popover.top.popover-top .popover-title {
  display: none;
}

.popover.top.popover-top .btn.btn-block.btn-success {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

