﻿@charset "UTF-8";
/*==========  variables ===========*/
/*========== Panel variants ===========*/
.more-options {
  line-height: 125%;
  color: #337ab7;
  font-size: 16px;
}

a.more-options {
  text-decoration: underline;
}

a.more-options:hover {
  color: #919191;
  cursor: default;
  text-decoration: none;
}

.savings-options-edit {
  width: 250px;
  text-align: left;
  padding-left: 21px;
  margin-top: 20px;
}

.setgoal__amount {
  font-size: 42px;
  COLOR: #337ab7;
  letter-spacing: -.05em;
}

.setgoal__amount span {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  color: #4d4d4d;
}

.setgoal__estimated span {
  font-size: 14px;
  font-weight: bold;
  COLOR: #337ab7;
}

.radio_block, .setgoal__block   {
  display: inline-block;
}

.radio_block input, .setgoal__block input  {
  display: inline-block;
  vertical-align: middle;
}

.setgoalRadio_label, .setgoalRadio_label {
  display: inline-block;
  padding-left: 0;
  margin-top: 1px !important;
}

