﻿@charset "UTF-8";
/*==========  variables ===========*/
/*========== Panel variants ===========*/
.setgoal__fivepercent {
  background-color: #337ab7;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  color: #fff;
  white-space: normal;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.setgoal__fivepercent:hover {
  text-decoration: none;
}

h2.setgoal__amount-year {
  font-size: 16px;
  color: #919191;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

.setgoal__goal {
  height: 35px;
}

.bar-txt span.amount {
  color: #337ab7;
  font-weight: bold;
}

.radio_block, .setgoal__block   {
  display: inline-block;
}

.radio_block input, .setgoal__block input  {
  display: inline-block;
  vertical-align: middle;
}

.setgoalRadio_label, .setgoalRadio_label {
  display: inline-block;
  padding-left: 0;
  margin-top: 1px !important;
}

