﻿
<style > body {
    background-color: #ccc;
}

div.well {
    height: 250px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
}

.unauthenticated__alert {
    color: #fff5f5;
    margin-top: 4px;
}

    .unauthenticated__alert p {
        background-color: #d44f4f;
        width: fit-content;
        padding: 2px 7px;
        font-size: 11px;
        letter-spacing: 1px;
    }

h4 {
    color: #eaeaea;
    margin-top: 0;
}

.unauthenticated__signin--label, unauthenticated__register--label {
    margin-bottom: 40px;
}

h2 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 250px;
    max-width: 400px;
    padding: 15px;
}

.unauthenticated__email, .unauthenticated__zip {
    max-width: 300px
}


#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 100;
}

    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }

.unauthenticated {
    z-index: 200;
}

    .unauthenticated button {
        color: #fff;
        font-weight: bold;
    }

.unauthenticated__loginlink {
    text-align: center;
}

    .unauthenticated__loginlink a {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }

</style >
