﻿    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script src="~/node_modules/jquery.min.js"></script>
    <script src="~/node_modules/jquery-ui.min.js"></script>
    <script src="~/node_modules/bootstrap.js">
    </script>


    <div id="dialog" title="System Info">

        <div id="div0"></div>
        <div id="div1">

        </div>
    </div>



    <script src="~/node_modules/system.src.js"></script>
    <div id="divbrowserfail" class='browser-alert'></div>
    <script src="~/node_modules/browsernotsupported.js"></script>
    <environment names="dev, localdev">
        <div>DEV</div>
        <script src="~/system.config.js"></script>

    </environment>
    <environment names="qa">
        <div>QA</div>
        <script src="~/system.bundle.config.js"></script>
        @*<script>console.log = function () { }; console.debug = function () { };</script>*@

    </environment>
    <environment names="prod,uat,perf">
        <script src="~/system.bundle.config.js"></script>
        @*<script>console.log = function () { }; console.debug = function () { };</script>*@

    </environment>

    <style>
        #angApp {
            height: 200px;
            width: 200px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
        }
    </style>

    @*<script>
            console.log = function() {};
            System.import('app').catch(function (err) { console.error(err); });
        </script>*@

    <script src="~/node_modules/appscripts.js"></script>
    <div class="flat-blue container">
        <myCOmponent>
            <div class="container-spinner">
                <div class="item">
                    <div class="number"></div>
                    <div class="loader02"></div>
                </div>
            </div>
        </myCOmponent>
    </div>



