﻿@{
    Layout = null;
}

<div class="loader">
    <div id="iws_gl_loader" class="acl-loader" tabindex="0"> <span class="sr-only"></span> <p></p></div>
</div>

<!-- Revised 'Fatal Error' panel -->
<script id="tmpl_gl_fatal_error" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{:Message}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
</script>



<div id="iws_gl_wrapper" style="display:none;">
    <div id="iws_gl_main"></div>
</div>

<script id="tmpl_gl_default" type="text/x-jsrender">

    <div class="panel panel-default deep-link-highlight setgoal">
        <!--<div class="panel-heading">
            <h1 role="presentation" id="iws_gl_title"></h1>
        </div>-->
        <div id="iws_gl_intro_text"></div>

        <div id="iws_gl_nogoalyet_wrapper" style="display:none;"></div>
        <div id="iws_gl_choosegoal_wrapper" style="display:none;"></div>
        <div id="iws_gl_savedgoal_wrapper" style="display:none;"></div>
        <div class="hideEmptyCont"><div class="panel-footer"><div id="iws_gl_footertext" class="footertext">{{:Footer}}</div><div id="iws_gl_footerlink" class="footerlink"><a href="{{:FooterLink}}">{{:FooterLinkText}}</a></div></div></div>
    </div>
</script>




<!-- wide templates -->
<!-- Set up responsive text alignment - and in col 1 set up responsive pulls -->

<script id="tmpl_setgoalwide_nogoalyet" type="text/x-jsrender">
    <div class="panel-heading">
        <h1 class="panel-title">{{:IntroTitle}}</h1>
    </div>
    <div class="panel-body xs-mb-0">
        <div class="container-fluid">
            <div class="col-ms-6 xs-pl-0"><h5>{{:IntroSubtitle}}</h5></div>
            <div class="col-ms-6 setgoal__box text-center xs-pl-0 xs-pr-0">

                <a id="iws_gl_intro_button" class="setgoal__box--link" href="#" onclick="return false;" aria-labelledby="five-percent-goal">
                    <div class="setgoal__fivepercent text-center xs-pt-5 xs-pr-0 xs-pb-10 xs-m-10 xs-mt-20 xs-mb-0">
                        {{:IntroSetgoalButton}}
                        <!--<h1>{{:IntroTitle2}}</h1>-->
                        <h5 class="xs-mb-0"><em>{{:IntroSetgoalButtonDesc}}</em></h5>
                    </div>
                </a>
                <p class="xs-mt-10 xs-mb-0"><a id="iws_gl_intro_options" href="#" onclick="return false;" aria-labelledby="my-savings-goal">{{:IntroMoreOptions}}</a></p>
            </div>
        </div>
    </div>

    <div class="clearfix space"></div>
</script>

<script id="tmpl_setgoalwide_choosegoal" type="text/x-jsrender">
    <div class="panel-heading">
        <h1 class="panel-title">{{:IntroTitle}}</h1>
    </div>
    <div class="radios">

        <div id="iws_gl_options_desc" class="col-ms-6 message xs-mt-15"><h5>{{:OptionsDesc}}</h5></div>
        <div class="col-ms-6 set xs-mt-15">
            <div class="save-radio">
                <div class="setgoal__block xs-m-5 xs-mt-0 xs-mb-0">
                    <input id="iws_gl_option0" type="radio" name="iws_savings_goal" value="{{:GoalOptions[0].OptionValue}}-{{:GoalOptions[0].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[0].OptionText}}</label><br />

                    <input id="iws_gl_option1" type="radio" name="iws_savings_goal" value="{{:GoalOptions[1].OptionValue}}-{{:GoalOptions[1].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[1].OptionText}}</label><br />

                    <input id="iws_gl_option2" type="radio" name="iws_savings_goal" value="{{:GoalOptions[2].OptionValue}}-{{:GoalOptions[2].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[2].OptionText}}</label><br />

                    <input id="iws_gl_option3" type="radio" name="iws_savings_goal" value="{{:GoalOptions[3].OptionValue}}-{{:GoalOptions[3].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[3].OptionText}}</label>
                </div>

            </div>
        </div>


    </div>

    <div class="setgoal--edit xs-m-15 text-right">
        <button id="iws_gl_save" class="btn btn-primary goal xs-mt-15" role="button" tabindex="0" onkeydown="return buttonKey(event);">{{:OptionsSaveButton}}</button>
        <button id="iws_gl_cancel" class="btn ghost goal  xs-mt-15" role="button" tabindex="0" onkeydown="return buttonKey(event);">{{:OptionsCancelButton}}</button>
    </div>
</script>

<script id="tmpl_setgoalwide_savedgoal" type="text/x-jsrender">

    <div class="panel-heading">
        <h1 class="panel-title">{{:IntroTitle}}</h1>
    </div>
    <div class="panel-body xs-mb-0 xs-pb-0 xs-pt-15 xs-pl-0">
        <div class="col-xs-6 setgoal__goal">
            <h2 class="setgoal__amount-year xs-mb-0" href="#" aria-labelledby="estimated-savings"><span class="mygoal-amount">{{:GoalAmountFormatted}}</span> <span class="goal-message">{{:MyGoalAmount}}</span></h2>
        </div>
        <div class="col-xs-6 setgoal__edit xs-pr-0">
            <a id="iws_gl_edit" class="btn action-btn pull-right" href="#" onclick="return false;" aria-labelledby="no-goal">{{:MyGoalEditButton}}</a>
        </div>
    </div>

    <div class="panel-body xs-pt-0">
        <div id="iws_gl_progress_bar" class="" style="">
            <div class="progress-holder">
                <h2 id="iws_gl_section_title" aria-label="Options for Your Home"></h2>
                <div class="progress-shell">
                    <div class="progress">
                        <div id="iws_gl_percent_complete" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                        </div>
                    </div>
                </div>
                <div id="iws_gl_completeness_label" class="bar-txt">
                    <span class="goal-message">{{:MyGoalPlanAmount}}</span>
                    <span class="amount">{{:PlanAmountFormatted}}</span>
                </div>
            </div>
        </div>

        {{if PlanAmount > 0 && PlanAmount < GoalAmount }}
        <div>{{:MyGoalAddMoreActions}}</div>
        {{else PlanAmount >= GoalAmount}}

        <div>{{:EnoughActions}}</div>
        {{else}}
        <div>{{:MyGoalCreatePlan}}</div>
        {{/if}}

        {{if PlanAmount < GoalAmount && ShowWaysToSaveLink == "true"}}
        <div class="goal">
            <a id="iws_gl_goto_actions" href="{{:WaysToSaveLink}}" aria-labelledby="no-goal">{{:ViewMoreActions}}</a>
        </div>
        {{/if}}
    </div>

    <!--<div class="clearfix space"></div>-->
</script>





<!-- narrow templates -->
<script id="tmpl_setgoalnarrow_nogoalyet" type="text/x-jsrender">
    <div class="panel-heading">
        <h1 id="iws_gl_intro_title" class="panel-title">{{:IntroTitle}}</h1>
    </div>
    <div class="panel-body xs-mb-0 xs-pt-0">

        <p id="iws_gl_intro_subtitle" class="sub-title">{{:IntroSubtitle}}</p>
        <button id="iws_gl_intro_button" type="button" class="btn action-btn xs-mt-00 xs-mb-10">{{:IntroSetgoalButton}}</button>
        <p class="xs-mb-0"><a id="iws_gl_intro_options" class="more-options">{{:IntroMoreOptions}}</a></p>
    </div>
</script>


<script id="tmpl_setgoalnarrow_choosegoal" type="text/x-jsrender">
    <div class="panel-heading">
        <h1 class="panel-title">{{:OptionsTitle}}</h1>
    </div>
    <div class="panel-body xs-mb-0">

        <p class="intro-text">{{:OptionsDesc}}</p>
        <div class="savings-options-edit">
            <form class="radio radio-success">
                <div class="radio_block xs-mr-5">
                    <input id="iws_gl_option0" type="radio" name="iws_savings_goal" value="{{:GoalOptions[0].OptionValue}}-{{:GoalOptions[0].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[0].OptionText}}</label><br />

                    <input id="iws_gl_option1" type="radio" name="iws_savings_goal" value="{{:GoalOptions[1].OptionValue}}-{{:GoalOptions[1].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[1].OptionText}}</label><br />

                    <input id="iws_gl_option2" type="radio" name="iws_savings_goal" value="{{:GoalOptions[2].OptionValue}}-{{:GoalOptions[2].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[2].OptionText}}</label><br />

                    <input id="iws_gl_option3" type="radio" name="iws_savings_goal" value="{{:GoalOptions[3].OptionValue}}-{{:GoalOptions[3].OptionAmount}}" aria-labelledby="set-goal">
                    <label class="setgoalRadio_label xs-mt-5 xs-ml-5 xs-pl-0">{{:GoalOptions[3].OptionText}}</label>
                </div>

            </form>
        </div>
        <div class="clearfix space"></div>
        <button id="iws_gl_save" type="button" class="btn action-btn xs-mt-20 xs-mb-20">{{:OptionsSaveButton}}</button>
        <div class="inline-block xs-ml-15">
            <a id="iws_gl_cancel" href="#" onclick="return false;">{{:OptionsCancelButton}}</a>
        </div>
    </div>
</script>












<script id="tmpl_setgoalnarrow_savedgoal" type="text/x-jsrender">
    <div class="panel-heading">
        <h1 class="panel-title">{{:IntroTitle}}</h1>
    </div>
    <div class="panel-body xs-pt-0">

        <p class="setgoal__amount">{{:GoalAmountFormatted}} <span>{{:MyGoalAmount}}</span></p>

        <hr>
        <div class="header">
            <p class="setgoal__estimated">{{:MyGoalPlanAmount}}<span class="xs-ml-10">{{:PlanAmountFormatted}}</span></p>
        </div>
        {{if PlanAmount > 0 && PlanAmount < GoalAmount }}
        <div>{{:MyGoalAddMoreActions}}</div>
        {{else PlanAmount >= GoalAmount}}

        <div>{{:EnoughActions}}</div>
        {{else}}
        <div>{{:MyGoalCreatePlan}}</div>
        {{/if}}

        {{if PlanAmount < GoalAmount && ShowWaysToSaveLink == "true"}}
        <div class="">
            <a id="iws_gl_goto_actions" href="{{:WaysToSaveLink}}" aria-labelledby="no-goal">{{:ViewMoreActions}}</a>
        </div>
        {{/if}}
    </div>
    <div class="hideEmptyCont"><div id="iws_gl_edit" class="panel-footer"><a href="#" onclick="return false;">{{:MyGoalEditButton}}</a></div></div>
</script>