﻿@model DevWt1.Areas.Alerts.Models.WebReqContext
@using AO.TimeSeriesProcessing

@{
    ViewBag.Title = "Details";
}

<h3>Details for selected Analysis</h3>

@using (FormExtensions.BeginForm(Html)) {
    @*@Html.AntiForgeryToken()*@
    @*<dl class="dl-horizontal" style="width: 100%">*@
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <p>
            <a class="label label-default" data-toggle="collapse" href="#collapseWeb" aria-expanded="false" aria-controls="collapseWeb">
                Request info
            </a>
        </p>
        <div class="collapse" id="collapseWeb">
            <dt>
                @Html.DisplayNameFor(model => model.Method)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Method)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>

                @for (var i = 0; i < Model.urlParts.Count; i++) {
                    @Html.EditorFor(m => Model.urlParts[i])
                    <br/>
                }

                @*@foreach (var item in Model.UrlParts()) {
                        @Html.EditorFor(m => item)
                        <br/>
                    }*@

            <p>
                <a class="label label-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Query Params
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <table class="table-responsive">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>

                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.QueryparsKVPList.Count; i++) {
                            <tr>
                                @*<td>@Html.LabelFor(m => Model.QueryparsKVPList[i].Value, Model.QueryparsKVPList[i].Key)</td>*@
                                @Html.TextBoxFor(m => Model.QueryparsKVPList[i]) Model.QueryparsKVPList[i].Key
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <p>
                <a class="label label-default col-sm-12" data-toggle="collapse" href="#collapseHeaders" aria-expanded="false" aria-controls="collapseHeaders">
                    -----Headers-----
                </a>
            </p>
            <div class="collapse" id="collapseHeaders">
                <table class="table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HeadersKVPList) {
                            <tr>
                                <td>@Html.LabelFor(m => item.Value, item.Key)</td>
                                <td>@Html.EditorFor(m => item.Value)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <p>
                <a class="label label-default" data-toggle="collapse" href="#collapseData" aria-expanded="false" aria-controls="collapseData">
                    --------Data--------
                </a>
            </p>
            <div class="collapse" id="collapseData">
                @foreach (var item in Model.DataLines()) {
                    <p>
                        <input type="text" style="width: 1024px" value="@item">
                    </p>
                }
            </div>
        </div>
        <hr />
        <p>
            <a class="label label-default" data-toggle="collapse" href="#collapseResultsSummary" aria-expanded="true" aria-controls="collapseResultsSummary">
                Results Summary
            </a>
        </p>
        <div class="collapse in" id="collapseResultsSummary">
            @foreach (var item in Model.LastResultLines()) {
                @AlertsCustomHelpers.StatusResultsString(@item)
            }
        </div>
        <p>
            <a class="label label-default" data-toggle="collapse" href="#collapseResultsFull" aria-expanded="false" aria-controls="collapseResultsFull">
                Results Details
            </a>
        </p>
        <div class="collapse" id="collapseResultsFull">
            @foreach (var item in Model.LastResultLines()) {
                @AlertsCustomHelpers.ColorResultsString(@item)
            }
        </div>
        <hr />
    @*</dl>*@
@Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.urlParts)

    for (var i = 0; i < Model.urlParts.Count; i++) {
        @Html.EditorFor(m => Model.urlParts[i])
        <br />
    }

    <div>
        PWOTD @Html.EditorFor(model => model.UserName)
        @Html.EditorFor(model => model.Process)
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="submit" value="Execute" class="btn btn-danger" />
    </div>

}

<hr />
<p>
    @Html.ActionLink("Execute", "Edit", new { id = Model.ID, val = "execute" }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, val = "edit" }) |
    @Html.ActionLink("Back to List", "Index")
</p>




