﻿@model IEnumerable<DevWt1.Areas.Alerts.Models.WebReqContext>
@using AO.TimeSeriesProcessing

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 310px;
        }

            table td {
                border: solid 1px #fab;
                width: 100%;
                word-wrap: break-word;
            }

            table td {
                border: solid 1px #fab;
                width: 100px;
                word-wrap: break-word;
            }
    </style>
</head>


<h2>Index</h2>
<h4>WebReqContext</h4>
<hr />
@using (Html.BeginForm()) {

    <table class="table">
        <tr>
            <th style="width:15%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th style="width:70%">
                    @Html.DisplayNameFor(model => model.Url)
                </th>*@
            <th style="width:15%">Operation</th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

}




