﻿@using CE.ControlPanel.Common
@model CE.ControlPanel.Models.ClientUser

@{
    ViewBag.Title = "Create user";
}

<h2>Create user</h2>
<p class="required"> Required fields are marked with an asterisk (<label title="required"></label>).</p>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.CEAccessKeyID)

        <div class="form-group required">
            @Html.LabelFor(model => model.ClientID, "Client Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientID", String.Empty)
                @Html.ValidationMessageFor(model => model.ClientID)
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.ActorName,"Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.ActorName)
                @Html.ValidationMessageFor(model => model.ActorName)
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.CEAccessKeyID, "CE Access Key Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="divGuid">
                @Html.DisplayTextFor(model => model.CEAccessKeyID)
                @Html.ValidationMessageFor(model => model.CEAccessKeyID)
            </div>
            <input type="button" id="btnGenerate" value="Generate ID" class="btn btn-def" />
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.EnableInd, "Enabled", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnableInd)
                @Html.ValidationMessageFor(model => model.EnableInd)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Roles:</label>
            <div class="col-md-10">
                @foreach (var role in (List<CE.ControlPanel.Models.Roles>)ViewData["roles"])
                {
                    if (role.Enabled)
                    {
                        <input type="checkbox" checked="checked" name="Roles" value="@role.Id" />@role.Name
                    }
                    else
                    {
                        <input type="checkbox" name="Roles" value="@role.Id" />@role.Name
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Endpoints:</label>
            <div class="col-md-10">
                @foreach (var endpoint in (List<CE.ControlPanel.Models.Endpoints>)ViewData["endpoints"])
                {
                    if (endpoint.Enabled)
                    {
                        <input type="checkbox" checked="checked" name="Endpoints" value="@endpoint.Id" />@endpoint.Name
                        <br />
                    }
                    else
                    {
                        <input type="checkbox" name="Endpoints" value="@endpoint.Id" />@endpoint.Name
                        <br />
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
                    if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
                    {
                        <input type="submit" value="Save" class="btn btn-def" />
                    }
                }
            </div>
        </div>
    </div>
}

<div>
    @{
        if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).ClientEditing == true)
        {
            @Html.ActionLink("Back to List", "Index", "ClientUser", new { clientId = Model.ClientID }, new { })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    }
</div>
<script>
    $("#btnGenerate").click(function () {
        var guid = createUUID();
        $("#CEAccessKeyID").val(guid);
        $("#divGuid").html(guid);
    });
</script>