﻿@using CE.ControlPanel.Common
@model CE.ControlPanel.Models.User

@{
    ViewBag.Title = "User details";
}

<h2>User details</h2>

<div>   
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorName)
        </dd>

        <dt>
            @Html.Label("Client Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.Label("CE Access Key Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEAccessKeyID)
        </dd>

        <dt>
            @Html.Label("Created Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewDate)
        </dd>

        <dt>
           @Html.Label("Updated Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>

        <dt>
            @Html.Label("Enabled")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableInd)
        </dd>        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |

    @{
        if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).ClientEditing == true)
        {
            @Html.ActionLink("Back to List", "Index", "ClientUser", new { clientId = Model.ClientID }, new { })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    }   
</p>
