﻿@using CE.ControlPanel.Common
@model List<CE.ControlPanel.Models.Environments>

@{
    ViewBag.Title = "Environment Configuration";
}

<h2>Environment Configuration</h2>
<p>Use this screen to configure the user’s security settings across multiple environments.</p>
<p><b>@ViewBag.ClientUser</b></p>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-1">
                <label class="control-label"></label>
            </div>
            @{
                if (ViewBag.AuthType == 0)
                {
                    <div class="col-md-4">
                        <label class="control-label">Access Key</label>
                    </div>
                }
                else if (ViewBag.AuthType == 1)
                {
                    <div class="col-md-4">
                        <label class="control-label">Basic Key</label>
                    </div>
                }
            }

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (var e in Model)
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-md-1">
                        <label class="control-label">@e.EnvDescription</label>
                    </div>
                    @{
                        if (ViewBag.AuthType == 0)
                        {
                            <div class="col-md-4">
                                <input type="text" id="txt@(e.EnvID)" name="@e.EnvID" style="width:350px" value="@e.CEAccessKey" />
                                <input type="button" id="@e.EnvID" value="Create" class="btn btn-def" />
                            </div>
                        }
                        else if (ViewBag.AuthType == 1)
                        {
                            <div class="col-md-4">
                                <input type="text" id="@(e.EnvID)Basic" name="@e.EnvID" style="width:350px" value="@e.BasicAccessKey" />
                            </div>
                        }
                    }
                </div>
            </div>
            <br />
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                @{
                    if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
                    {
                        <input id="btnSubmit" type="submit" value="Save" class="btn btn-def" />
                    }
                }
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Client", "Index", "Client", null, new { @id = "lnkClient", @class = "acl-btn-link", @style = "display:none" })
<br />
@Html.ActionLink("Back to Client List", "Index", "Client")
<script>
    $("input[type=button]").click(function () {
        var guid = createUUID();
        $("input[name='" + $(this).attr('id') + "']").val(guid);
    });

    $("#btnSubmit").click(function () {
        var model = JSON.parse('@Html.Raw(Json.Encode(Model))');

        $("input[type=text]").each(function () {
            var id = $(this).attr("name");
            if (id >= 0) {
                for (i = 0; i < model.length; i++) {
                    if (model[i].EnvID == id) {
                        model[i].CEAccessKey = $(this).val();
                        model[i].BasicAccessKey = $("#" + id + "Basic").val();
                    }
                }
            }
        });

        $.ajax({
            url: "../UpdateEnvironment?userID=" + @ViewBag.UserID + "",
            async: false,
            type: "POST",
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var url = $('#lnkClient').attr('href');
                window.location = url;
            },
            beforeSend: function () { }
        });


    });
</script>
