﻿@using CE.ControlPanel.Common
@model IEnumerable<CE.ControlPanel.Models.User>

@{
    ViewBag.Title = "Insights API Users";
}

<h2>Insights API Users</h2>
<p>
    Click "Create New" to set up a new user.<br />
    Click "Details" to see user properties. <br />
    Click "Edit" to change user properties, including security keys and endpoint access.<br />
    Click "Environment" to set up the user’s security keys for different environments.<br />

</p>
<p>

    @{
        if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).ClientEditing == true)
        {
            @Html.ActionLink("Create New", "Create", "ClientUser", new { clientId = ViewBag.clientId }, new { })
        }
        else
        {
            @Html.ActionLink("Create New", "Create")
        }
    }   
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Client")
        </th>
        <th>
           @Html.Label("CE Access Key Id")
        </th>
        <th>
            @Html.Label("Created Date")
        </th>
        <th>
            @Html.Label("Updated Date")
        </th>
        <th>
            @Html.Label("Enabled")
        </th>       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
           @Html.DisplayTextFor(modelItem => item.CEAccessKeyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableInd)
        </td>       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Environment", "Environment", new { id = item.UserID })            
        </td>
    </tr>
}

</table>
@{
    if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).ClientEditing == true)
    {
        @Html.ActionLink("Back to List", "Index", "Client", new { clientId = ViewBag.clientId }, new { })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", "Client")
    }
}