﻿<div class="container-fluid">
    <div class="row">
        <div class="account-wall">
            <div class="ng-scope" ui-view="header">
                <div class="navbar-header energy__logo ng-scope navbar-brand navbar-login-brand">
                    <img id="AclaraLogo" alt="AclaraOne logo" src="../images/aclara.svg">
                    <span>Aclara ACE <span class="TM"><sup>®</sup></span> Portfolio Manager Portal</span>
                </div>
            </div>
 
            <div class="alert alert-danger" id="divError" *ngIf="showErrorMessage" style="word-wrap: break-word">
                <label id="lblError">{{errorMessage}}</label>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="form-signin" autocomplete="off" method="post" action="/form">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.UserName" #username="ngModel" required autocomplete="off"/>
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>
                <div class="hidden">
                    <input type="password" name="password"/>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control"  name="password" [(ngModel)]="model.Password" #password="ngModel" required autocomplete="off"/>
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">Login</button>
                    
                </div>

            </form>
        </div>
    </div>
</div>
