﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Aclara One</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            //$("#Account").prev('.k-dropdown-wrap').css('display', 'none');
            $("#Account").parent().css('display', 'none');
        });
    </script>

}
