﻿@model List<CE.ReportPortalWeb.Models.Clients>
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Reporting Portal Clients";
}



<div class="container l-clients">
    <div class="row">
        <h2>Reporting Portal Clients</h2>
        <hr />
        <div class="form-horizontal">
            @Html.ActionLink("Create New Client", "CreateClient", "Login")
            <div class="table table-responsive">
                <table class="clients">
                    <tr>
                        <th width="15%">
                            @Html.Label("Client ID")
                        </th>
                        <th width="20%">
                            @Html.Label("Client Name")
                        </th>
                        <th width="15%">
                            @Html.Label("Description")
                        </th>
                        <th width="35%">
                            @Html.Label("Power BI Workspace ID")
                        </th>
                        <th width="15%">
                            @Html.Label("Environment")
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td width="15%">
                                @i.ClientID
                            </td>
                            <td width="20%">
                                @i.ClientName
                            </td>
                            <td width="15%">
                                @i.Description
                            </td>
                            <td width="35%">
                                @i.PBIWorkspaceID
                            </td>
                            <td width="15%">
                                @i.Environment
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditClient", "Login", new { ClientID = @i.ClientID, Environment = @i.Environment }, null)
                            </td>
                            <td>
                                <input id="delete@{@i.ClientID}" type="submit" value="Delete" class="btn btn-sm" onclick='return deleteClient("@i.ClientID", "@i.Environment")' />
                            </td>
                        </tr>
    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container l-create backdash">
    <div class="row">
        @Html.ActionLink("<-- Back to Dashboard", "Index", "Dashboard")
    </div>
</div>



<script type="text/javascript">

    //function Enable(username) {
    //    $("input[name=" + username + "]").prop('disabled', false);

    //    $("#btnSave" + username).prop('disabled', false);
    //};

    function deleteClient(clientid,env) {
        if (confirm('Please confirm')) {
            $.ajax({
                url: ResolveURL("~/Login/DeleteClient?clientID=" + clientid+"&environment="+env),
                async: false,
                cache: false,
                type: "POST",
                data: "",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg === "true") {
                        alert('Client is removed');
                    } else {
                        var url = ResolveURL("~/Login/Clients");
                        window.location = url;
                    }
                }
            });
        }
    };
    function ResolveURL(relative) {
        var resolved = relative;
        if (relative.charAt(0) === '~')
            resolved = relativeRoot + relative.substring(2);
        return resolved;
    }
</script>
