﻿@using System.Activities.Statements
@using CE.ReportPortalWeb.Common
@using Microsoft.Ajax.Utilities
@model CE.ReportPortalWeb.Models.Logins
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Create Login";
}




<div class="container l-create">
    <div class="row">




        <h2>Create login account</h2>
        <p class="required">
            Required fields are marked with an asterisk (<label class="required" title="required">*</label>).
        </p>

        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBox("FirstName", String.Empty)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBox("LastName", String.Empty)
                    </div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.UserName, "User Name*", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBox("UserName", String.Empty)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.Password, "Password*", new {@class = "control-label col-sm-3"})
                    <div class="col-sm-9">
                        @Html.Password("Password", String.Empty)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientID, "Client ID", new {@class = "control-label col-sm-3"})
                    <div class="col-sm-9">
                       @Html.DropDownListFor(model => model.ClientID, Model.ClientList)
                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnvID, "Environment", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.EnvID, new List<SelectListItem>
                        {
                            new SelectListItem {Value = "0",Text ="Production"},
                            new SelectListItem {Value = "1",Text="UAT"},
                            new SelectListItem {Value = "2",Text="QA"},
                            new SelectListItem {Value = "3",Text="Dev"},
                            new SelectListItem {Value = "4",Text="LocalDev"}
                        })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserType, "User Type", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.CheckBox("UserType", false) Admin
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                       <input type="submit" value="Create Login Account" class="btn btn-default" id="btnCreate"/>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<div class="container l-createLogin backdash">
    <div class="row">
        @Html.ActionLink("<-- Back to Dashboard", "Index", "Dashboard")
    </div>
</div>