﻿@using CE.ReportPortalWeb.Common
@model CE.ReportPortalWeb.Models.Clients
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Create Client";
}



@*<script type="text/javascript">
        $("#btnCreateClient").click(function () {

            $.ajax({
                url: '@Url.Action("CreateClient","Login")',
                async: false,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg.Success == false) {
                        $('#lblError').html(msg.Message);
                    }
                    else {
                        $('#lblError').html("");
                        $('#btnSubmit').click();
                    }
                }
            });
        });
    </script>*@


<div class="container l-createClient">
    <div class="row">




        <h2>Create Client</h2>
        <p class="required">
            Required fields are marked with an asterisk (<label class="required" title="required">*</label>).
        </p>

        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group required">
                    @Html.LabelFor(model => model.ClientID, "Client ID*", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.TextBox("ClientID", String.Empty)
                        @Html.ValidationMessageFor(model => model.ClientID)
                    </div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.ClientName, "Client Name*", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.TextBox("ClientName", String.Empty)
                        @Html.ValidationMessageFor(model => model.ClientName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "Client Description", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.TextBox("Description", String.Empty)
                    </div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.PBIWorkspaceID, "Power BI Workspace ID*", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.TextBox("PBIWorkspaceID", String.Empty)
                        @Html.ValidationMessageFor(model => model.PBIWorkspaceID)
                    </div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.Environment, "Environment", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.EnvID, new List<SelectListItem>
                        {
                            new SelectListItem {Value = "0", Text = "Production"},
                            new SelectListItem {Value = "1", Text = "UAT"},
                            new SelectListItem {Value = "2", Text = "QA"},
                            new SelectListItem {Value = "3", Text = "Dev"},
                            new SelectListItem {Value = "4", Text = "LocalDev"}
                        })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" value="Create Client" class="btn btn-default" id="btnCreateClient" />
                        @*<input type="submit" id="btnSubmit" style="display:none" />*@
                    </div>
                </div>


            </div>
        }

    </div>
    </div><div class="container l-createClient backdash">
    <div class="row">
        @Html.ActionLink("<-- Back to Dashboard", "Index", "Dashboard")
    </div>
</div>


