﻿@using CE.ReportPortalWeb.Common
@model CE.ReportPortalWeb.Models.Clients
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Edit Client";
}





<div class="container l-editClient">
    <div class="row">



                <h2>Edit Client</h2>
                <p class="required">
                    Required fields are marked with an asterisk (<label class="required" title="required">*</label>).
                </p>

                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.EnvID)
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientID, new { @class = "control-label col-sm-4" })
                            <div class="col-sm-8">
                                @Html.DisplayTextFor(model => model.ClientID)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientName, "Client Name", new { @class = "control-label col-sm-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ClientName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "Client Description", new { @class = "control-label col-sm-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Description)
                            </div>
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(model => model.PBIWorkspaceID, "Power BI Workspace ID*", new { @class = "control-label col-sm-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.PBIWorkspaceID)
                                @Html.ValidationMessageFor(model => model.PBIWorkspaceID)
                            </div>
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(model => model.Environment, "Environment", new { @class = "control-label col-sm-4" })
                            <div class="col-sm-8">
                                @Html.DisplayTextFor(model => model.Environment)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <input type="submit" value="Edit Client" class="btn btn-default" id="btnEditClient" />
                                @*<input type="submit" id="btnSubmit" style="display:none" />*@
                            </div>
                        </div>


                    </div>
                }
            </div>
</div>

<div class="container l-editClient backdash">
    <div class="row">
        @Html.ActionLink("<-- Back to Dashboard", "Index", "Dashboard")
    </div>
</div>

@*<script type="text/javascript">
    $("#btnEditClient").click(function () {
        
        $("#btnSubmit").click();
        editClient();
    });

    function editClient() {
             $.ajax({
                url: '@Url.Action("EditClient","Login")',
                async: false,
                cache: false,
                type: "POST",
                data: "",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg === "true") {
                        alert('Client is removed');
                    } else {
                        var url = ResolveURL("~/Login/Clients");
                        window.location = url;
                    }
                }
            });
        }
    
    function ResolveURL(relative) {
        var resolved = relative;
        if (relative.charAt(0) === '~')
            resolved = relativeRoot + relative.substring(2);
        return resolved;
    }
</script>*@