﻿@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_Login.cshtml";
}




<script>
    $(document).ready(function () {
        try {
            $('#btnLogin').click(function () {
                GetUser();
            });
        } catch (ex) {
        }
    });


    function GetUser() {
        //if ($("#txtUserName").val() != "" && $("#txtPassword").val() != "" && $("#txtClientId").val() != "") {
            $('#btnLogin').html('Please Wait...');
            $('#btnLogin').off("click");
            $('#lblError').hide();

            $.ajax({
                url: ResolveURL("~/Login/CheckUser?user=" + $("#txtUserName").val() + "&password=" + $("#txtPassword").val() + "&clientId=" + $("#txtClientId").val()),
                async: false,
                cache: false,
                type: "POST",
                data: "",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg.indexOf("false")>-1) {
                        var error = msg.substring(msg.indexOf("_")+1);
                        $('#btnLogin').html('Log In');
                        $('#lblError').html(error);
                        $('#lblError').show();
                    } else {
                        var url = ResolveURL("~/Dashboard");//?clientId=" + msg);
                        window.location = url;
                    }
                    $('#btnLogin').on("click", GetUser);
                }
            });
        
    }

    function ResolveURL(relative) {
        var resolved = relative;
        if (relative.charAt(0) == '~')
            resolved = relativeRoot + relative.substring(2);
        return resolved;
    }
</script>


<div class="container l-login">
    <div class="row">
        <h2>Login</h2>

        <div id="auth" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="txtUserName">
                        User Name
                    </label>
                    <div class="col-sm-8">
                        @Html.TextBox("txtUserName", "")
                    </div>
                </div>

                <div class="form-group">
                    <label  class="control-label col-sm-4" for="txtPassword">
                        Password
                    </label>
                    <div class="col-sm-8">
                        <input id="txtPassword" type="password">
                    </div>
                </div>

                <div class="form-group required">
                    <label  class="control-label col-sm-4" for="txtClientId">
                        Aclara Client ID
                    </label>
                    <div class="col-sm-8">
                        @Html.TextBox("txtClientId", "87")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input id="btnLogin" type="submit" value="Login" class="btn btn-default" onclick="return false;" />
                        <label id='lblError' style='color: Red'></label>
                    </div>
                </div>

            </div>

        </div>
    </div>