﻿@model List<CE.ReportPortalWeb.Models.Logins>
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Reporting Portal Users";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">




<div class="container l-editList">
    <div class="row">

        <div class="panel-default">
            <div class="panel-body">



                <h2>Reporting Portal Users</h2>
                <hr />
                <div class="form-horizontal">

                    <table class="table" style="padding: 10px">
                        <tr>
                            <th width="15">
                                @Html.Label("Username")
                            </th>
                            <th width="10">
                                @Html.Label("Client")
                            </th>
                            <th width="15">
                                @Html.Label("First Name")
                            </th>
                            <th width="15">
                                @Html.Label("Last Name")
                            </th>
                            <th width="15">
                                @Html.Label("User Type")
                            </th>
                            <th width="23">
                                @Html.Label("Enabled")
                            </th>
                            <th width="6"></th>
                            <th width="6"></th>
                        </tr>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td width="15">
                                    @i.UserName
                                </td>
                                <td width="10">
                                    @if (!string.IsNullOrEmpty(@i.Client))
                                    {
                                      @Html.Label(@i.Client, new { id = @i.Client })
                                    }
                                </td>
                                <td width="15">
                                    @i.FirstName
                                </td>
                                <td width="15">
                                    @i.LastName
                                </td>
                                <td width="23" style="white-space: nowrap">
                                    @i.UserType
                                </td>
                                <td width="6">
                                    @Html.CheckBox(i.UserName, Convert.ToBoolean(i.Enabled), new { @disabled = "disabled" })
                                </td>
                                <td width="6">
                                    <a id="edit@{@i.UserName}" onclick='return Enable("@i.UserName")'>Edit</a>
                                </td>
                                <td width="10">
                                    <input id="btnSave@{@i.UserName}" type="submit" value="Save" disabled="true" class="btn btn-sm" onclick='return save("@i.UserName", "@i.Client")' />
                                </td>
                            </tr>
    }
                    </table>

                </div>
            </div>
        </div>
    </div>

        </div>

        <div class="container l-editList backdash">
            <div class="row">
                @Html.ActionLink("<-- Back to Dashboard", "Index", "Dashboard")
            </div>
        </div>

        <script type="text/javascript">

            function Enable(username) {
                $("input[name=" + username + "]").prop('disabled', false);

                $("#btnSave" + username).prop('disabled', false);
            };

    function save(username, client) {
        var checkboxVal = true;
        //alert($("input[id=" + username + "]").prop('checked'));
        if ($("input[id=" + username + "]").prop('checked')===false) {
            checkboxVal = false;
        }
        $.ajax({
            url: ResolveURL("~/Login/Edit?username=" + username + "&client=" + client + "&enabled=" + checkboxVal),
            async: false,
            cache: false,
            type: "POST",
            data: "",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                if (msg === "false") {
                    alert('User cannot be edited');
                } else {
                    if (checkboxVal===true) {
                        alert('User enabled successfully');
                    } else {
                        alert('User disabled successfully');
                    }
                    var url = ResolveURL("~/Login/List");
                    window.location = url;
                }                
            }
        });
    };
    function ResolveURL(relative) {
        var resolved = relative;
        if (relative.charAt(0) == '~')
            resolved = relativeRoot + relative.substring(2);
        return resolved;
    }
</script>
