﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="panel panel-default panel-threshold">

        <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
            <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
        </div>


        <!-- Non tier rate -->
        <div *ngIf="result.NonTier == true" class="alert alert-warning">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NonTierText}}</strong>
        </div>

        <!-- Non bills and bill to date -->
        <div *ngIf="result.BillToDate.NoBillToDate === true && result.BillSummary.NoBills === true" class="alert alert-warning">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NoBillsText}}</strong>
        </div>


        <div *ngIf="(result.BillToDate.NoBillToDate === false || result.BillSummary.NoBills === false) && result.NonTier == false" class="panel-body xs-pb-0">

            <h2 *ngIf="result.ShowSubTitle == 'true' && result.SubTitle !== ''" role="presentation" class="subtitle">{{result.SubTitle}}</h2>
            <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text" style="white-space: pre-line">{{result.IntroText}}</div>

            <div class="panel-body xs-pb-0">

                <div *ngIf="commodities && commodities.length > 1" class="panel-body utility">
                    <div class="utility-icons pull-right">
                        <div class="u-icon-focus">
                            <a *ngFor="let c of commodities;" href="#" (click)="loadThreshold(c.key)" onclick="return false;" class="btn btn-default icon__gas" role="button">
                                <span class="sr-only">{{c.label}} commodity</span>
                                <span class="icon {{c.iconFont}}"></span>
                                <span *ngIf="c.ShowCommodityLabels == 'true'" class="hidden-xs">{{c.label}}</span>
                                <span class="print-only">{{c.label}}</span>
                            </a>

                        </div>
                    </div>
                </div>


                <div *ngIf="result.BillToDate.NoBillToDate === true" class="current-bar">
                    <h3 class="pull-left">{{result.BilledUseLabel}} {{result.BillStartDate}} {{result.DateTo}} {{result.BillEndDate}}</h3>
                    <h3 class="pull-right">{{result.BillTotalServiceUse}} {{result.UOM}}</h3>
                    <span class="pull-right my-current" [style.background-color]="inTierColor">&nbsp;</span>
                </div>
                <div *ngIf="result.BillToDate.NoBillToDate === false" class="current-bar">
                    <h3 class="pull-left">
                        {{result.UseToDateLabel}}
                        <span>{{result.BillToDate.DaysLeftInBillPeriod}} {{result.DaysLeftLabel}}</span>
                    </h3>
                    <h3 class="pull-right">{{result.UseToDate}} {{result.UOM}}</h3>
                    <span class="pull-right my-current" [style.background-color]="inTierColor">&nbsp;</span>
                </div>

                <div class="threshold-bar">
                    <div *ngFor="let z of result.TierBoundariesCurrent | objToArr;" class="tier" [style.width]="z.TierPercentage" [style.background-color]="z.TierColor"></div>
                </div>

                <div class="pricing-bar"><h3 class="pull-left">{{result.PricingTiersLabel}}</h3></div>
                <div class="threshold-bar">
                    <div *ngFor="let t of result.TierBoundaries | objToArr; let i = index;" class="tier" [style.width]="t.TierPercentage + '%'" [style.background-color]="t.TierColor"></div>
                </div>

                <div id="iws_th_tbl" class="table-responsive">
                    <table class="table table-hover" role="presentation">
                        <tbody>
                            <tr *ngFor="let t of result.TierBoundaries | objToArr; let i = index;" role="row">
                                <th [style.background-color]="t.TierColor" role="rowheader"></th>
                                <td role="rowheader">{{t.TierLabel}}</td>
                                <td role="gridcell">{{t.TierRangeLabel}}</td>
                                <td role="gridcell">{{t.UseChargesLabel}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body panel-projection-info xs-pb-0">
                    <p *ngIf="result.BillToDate.NoBillToDate === true" class="projected">{{result.BilledUseMessage}} <span>{{result.BillTotalServiceUse}} {{result.UOM}}.</span></p>
                    <p *ngIf="result.BillToDate.NoBillToDate === false" class="projected">{{result.ProjectedUseMessage}} <span>{{result.ProjectedUse}} {{result.UOM}}</span></p>
                    <p *ngIf="result.BillToDate.NoBillToDate === false" class="average">{{result.AveragedailyUseMessage}} {{result.AverageDailyUse}} {{result.UOM}}</p>
                </div>

            </div>

        </div>

    </div>

    <!-- Footer -->
    <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer">
        <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
        <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
            <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
        </div>
    </div>

</div>
