﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">

        <div class="panel panel-default">
            <div *ngIf="result.Content.ShowTitle == 'true' && result.Content.Title !== ''" class="panel-heading">
                <h1 role="presentation">{{result.Content.Title}}</h1>
            </div>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="container">
        <div class="row">
            <!-- col -->
            <div class="col-ms-10 col-md-8 col-lg-6 xs-pl-0">


                <div class="panel panel-default PDF-list">

                    <!-- Widget Title -->
                    <div class="panel-heading">
                        <h1 role="presentation" class="panel-title PDF__title">
                            {{result.Content.Title}}
                        </h1>
                        <div class="row no-right-gutter">
                            <h2 *ngIf="result.Content.ShowSubTitle == 'true' && result.Content.SubTitle !== ''" role="presentation" class="subtitle">{{result.Content.SubTitle}}</h2>
                            <div *ngIf="result.Content.ShowIntro == 'true' && result.Content.ShowIntro !== ''" class="markdown">{{result.Content.IntroText}}</div>
                        </div>
                    </div>

                    <!-- scrollbar -->
                    <div class="scroll">


                        <!-- Title for Reports by Customer (not CSR) -->
                        <div class="PDF__subtitle--block panel-body xs-pt-20 xs-pb-0">
                            <h4 id="iws_ql_subtitle" role="presentation" class="sub-title xs-mb-0"><b>{{result.Content.CustomerSectionTitle}}</b></h4>
                        </div>

                        <!-- PDF item -->
                        <div class="panel-body PDF__list--item">
                            <div *ngIf="result.ReportsUser.length===0">
                                {{result.Content.NoData}}
                            </div>
                            <div *ngIf="result.ReportsUser.length > 0">
                                <div *ngFor="let n of result.ReportsUser" class="container-fluid sub-line xs-mb-20">
                                    <div class="col-sm-9 xs-pl-0">
                                        <a class="inline-block PDF__subtitle" (click)="downloadReport(n.Id,n.Name,'user')" onclick="return false;" href="#">
                                            <h4>{{n.Title}}</h4>
                                        </a>
                                        <p class="inline-block ms-pl-15 PDF__time">{{n.RelativeTime}}</p>
                                        <div>{{n.Description}}</div>
                                        <!-- Error for view/delete-->
                                        <div *ngIf="n.ErrorStatus">
                                            <p *ngIf="viewErrorOccurred" class="error">{{result.Content.ViewError}}</p>
                                            <p *ngIf="deleteErrorOccurred" class="error">{{result.Content.DeleteError}}</p>
                                        </div>
                                        <!-- /Error for view/delete-->
                                    </div>
                                    <div class="col-sm-3 xs-pl-0 xs-pr-0">
                                        <div class="notify-detail__buttons">
                                            <a class="xs-ml-0 xs-mr-0 xs-pl-0 xs-pr-15 button-small" (click)="downloadReport(n.Id,n.Name,'user')" onclick="return false;" href="#">{{result.Content.OpenLink}}</a>
                                            <a class="xs-ml-0 xs-mr-0 xs-pl-0 xs-pr-0 button-small" href="#" mwlConfirmationPopover [message]="result.Content.DeletConfirm"
                                               placement="top"
                                               [appendToBody]="true"
                                               (confirm)="deleteReport(n.Id,'user')"
                                               onclick="return false;"
                                               [title]="popoverTitle">{{result.Content.DeleteLink}}</a>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /PDF item -->
                        <!-- New section -->
                        <!-- Title for Reports by CSR (not customer) -->
                        <div *ngIf="result.isCSR" class="PDF__subtitle--block panel-body xs-pt-20 xs-pb-0">
                            <h4 id="iws_ql_subtitle" role="presentation" class="sub-title xs-mb-0"><b>{{result.Content.CsrSectionTitle}}</b></h4>
                        </div>

                        <!-- PDF item -->
                        <div *ngIf="result.isCSR" class="panel-body PDF__list--item">
                            <div *ngIf="result.ReportsCSR.length===0">
                                {{result.Content.NoData}}
                            </div>
                            <div *ngIf="result.ReportsCSR.length>0">
                                <div *ngFor="let n of result.ReportsCSR" class="container-fluid sub-line xs-mb-20">
                                    <div class="col-sm-9 xs-pl-0">
                                        <a class="inline-block PDF__subtitle" (click)="downloadReport(n.Id,n.Name,'user')" onclick="return false;" href="#">
                                            <h4>{{n.Title}}</h4>
                                        </a>
                                        <p class="inline-block ms-pl-15 PDF__time">{{n.RelativeTime}}</p>
                                        <div>{{n.Description}}</div>
                                        <!-- Error for view/delete-->
                                        <div *ngIf="n.ErrorStatus">
                                            <p *ngIf="viewErrorOccurred" class="error">{{result.Content.ViewError}}</p>
                                            <p *ngIf="deleteErrorOccurred" class="error">{{result.Content.DeleteError}}</p>
                                        </div>
                                        <!-- /Error for view/delete-->
                                    </div>
                                    <div class="col-sm-3 xs-pl-0 xs-pr-0">
                                        <div class="notify-detail__buttons">
                                            <a class="xs-ml-0 xs-mr-0 xs-pl-0 xs-pr-15 button-small" (click)="downloadReport(n.Id,n.Name,'csr')" href="#" onclick="return false;">{{result.Content.OpenLink}}</a>
                                            <a class="xs-ml-0 xs-mr-0 xs-pl-0 xs-pr-0 button-small" href="#" mwlConfirmationPopover [message]="result.Content.DeletConfirm"
                                               placement="top"
                                               (confirm)="deleteReport(n.Id,'csr')"
                                               [appendToBody]="true"
                                               onclick="return false;"
                                               [title]="popoverTitle">{{result.Content.DeleteLink}}</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /PDF item -->


                    </div>
                    <!-- /scrollbar -->

                </div>
                <!-- /panel -->

            </div>
            <!-- /col -->

        </div>
        <!-- /Row -->
        <!-- /Footer -->
        <div *ngIf="result.Content.ShowFooterText === 'true' || result.Content.ShowFooterLink === 'true'" class="panel-footer sub__footer container-fluid">
            <div *ngIf="result.Content.ShowFooterText === 'true'" class="footertext">{{result.Content.Footer}}</div>
            <div *ngIf="result.Content.ShowFooterLink === 'true'" class="footerlink">
                <a href="{{result.Content.FooterLink}}">{{result.Content.FooterLinkText}}</a>
            </div>
        </div>

    </div>
    <!-- /Container -->
</div>