﻿
@{
    Layout = "~/Views/Shared/_Public.cshtml";
}

<script>
    var angWidgets = 'unauthenticated';
    var enableRemote = 'False';
</script>
@{string angWidgetsHtml = "<unauthenticated></unauthenticated>";}
<app></app>
<script>
    var angWidgetsHtml = '@angWidgetsHtml';
</script>