﻿<div class="jumbotron">
    <h1>ADAM</h1>
    <p class="lead">Alerts DIagnostics and Maintenance support tooling</p>
    <p><a href="http://www.aclara.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>On the Alerts Dagnostics page diagnostic tests can be initiated and the results analyzed.</p>
        <p><a class="btn btn-default" href="http://www.aclara.com/">Learn more &raquo;</a></p>
    </div>
</div>
