﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="panel panel-default">
        <!-- Title -->
        <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
            <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
        </div>

        <div class="panel-body utility">
            <div class="utility-icons pull-right">
                <div class="u-icon-focus">
                    <ng-container *ngIf="result.ShowCombinedView == 'false'">
                        <a *ngFor="let c of result.Dropdown" href="#" (click)="getUsage(c.Value)" onclick="return false;" class="btn btn-default icon__{{c.Value}} xs-ml-5" [ngClass]="c.Value === selectedCommodity ? 'icon_focus' : ''" role="button">
                            <span class="sr-only">{{c.Value}} commodity</span>
                            <span class="icon {{c.Font}}"></span>
                            <span *ngIf="result.ShowCommodityLabels == 'true'" class="hidden-xs">{{c.Text}}</span>
                        </a>
                    </ng-container>
                    <a href="#" onclick="return false;" (click)="showChart = !showChart" class="btn btn-default chart-table-spacer" [ngClass]="showChart ? 'icon__table' : 'icon__graph'" role="button">
                        <span class="sr-only">Toggle chart table data</span>
                        <span class="icon" [ngClass]="showChart ? 'icon-table' : 'icon-graph'"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Introtext -->
        <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text" style="white-space: pre-line">{{result.IntroText}}</div>

        <!-- No data -->
        <div *ngIf="noData" class="alert alert-warning">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NoModelledUsage}}</strong>
        </div>

        <div *ngIf="!noData" class="panel-body xs-pt-0 xs-pl-0 xs-pr-0 xs-pb-0 xs-mb-0">

            <div class="billCycle__piechart" [style.display]="showChart ? 'block' : 'none'">
                <div id="pie-chart"></div>
            </div>

            <div class="billCycle__table xs-mr-0 xs-p-15 xs-pt-0" [style.display]="showChart ? 'none' : 'block'">
                <div class="table-condensed table-responsive xs-mt-10">
                    <table class='table xs-mb-0' role='presentation'>
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{result.PercentColumnHeader}}</th>
                                <th *ngIf="!showPercentageOnly">{{result.CostColumnHeader}}</th>
                                <th *ngIf="result.All.PieData === null && !showPercentageOnly">{{result.UsageColumnHeader}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ld of legendData">
                                <td>{{ld.Text}}</td>
                                <td>{{ld.Percent}}</td>
                                <td *ngIf="!showPercentageOnly">{{ld.Dollars}}</td>
                                <td *ngIf="result.All.PieData === null && !showPercentageOnly">{{ld.Usage}} {{ld.UOM}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true' || result.ShowBillHistoryLink === 'true'" class="panel-footer">
            <div *ngIf="result.ShowBillHistoryLink === 'true'" class="dv-external-links">
                <a href="{{result.BillHistoryLink}}" >{{result.ViewBillHistory}}</a>
            </div>
            <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
            <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink dv-external-links">
                <a href="{{result.FooterLink}}" >{{result.FooterLinkText}}</a>
            </div>
        </div>
    </div>
</div>

