<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">

    <div *ngIf="errorOccurred">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-hand-right"></span> <strong>{{errorMessage}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
    <!-- START - Customer Info Bar - this widget lives at the top of the page UNDER the upper navbar -->

    <div *ngIf="!errorOccurred">
        <div class="panel panel-default">
            <div class="panel-body xs-p-15 customerinfo__body">
                <div class="customerinfo__report"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><a class="customerinfo__report--link" href="#create-report-csr">Create Report</a></div>

                <div class="info-header col-md-3" role="navigation" aria-label="" style="padding: 20px 0 15px 10px;">
                    <h2 style="padding-left: 0">{{result.FirstName}} {{result.LastName}}</h2>
                    <h5>{{result.CustomerIdLabel}}</h5>&nbsp;<span>{{result.CustomerId}}</span><br />
                    <h5>{{result.AccountNumberLabel}}</h5>&nbsp;<span>{{result.AccountId}}</span>

                    <!-- Home Profile -->
                    <h5 style="">{{result.QuestionAnsweredText}}</h5>&nbsp;&nbsp;<span *ngIf="result.ShowProfile === 'true'"><a class="customerinfo__report--linkresults" href="{{result.ViewLink}}">{{result.ProfileLink}}</a></span>


                </div>
                <div class="info-header col-md-4" role="navigation" aria-label="" style="padding: 20px 0 15px 10px;">
                    <h2 style="padding-left: 0">{{result.AddressLabel}}</h2>



                    <!-- drop down button -->
                    <div *ngIf="!useRegularSelect && result.Addresses.length > 1" class="dropdown text-left customerinfo__dropdown">
                        <button href="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle customerinfo__dropdown--btn">
                            <p class="select pull-left xs-m-0 text-left xs-pr-20 customerinfo__dropdown--btnp">#{{premiseId}} {{address1}}</p>
                            <span class="pull-right"><img height="6" src="Content/Images/caret-darker.png" width="10" alt="triangle image for button"></span>
                        </button>
                        <ul class="dropdown-menu customerinfo__dropdown--list" role="menu">
                            <li *ngFor="let a of result.Addresses | objToArr;" role="menuitem"><a href="{{a.Url}}">#{{a.Id}} {{a.Addr1}}</a></li>
                        </ul>
                    </div>

                    <select *ngIf="useRegularSelect && result.Addresses.length > 1" (change)="changePremise($event.target.value)" class="iosHeight">

                        <option *ngFor="let a of result.Addresses | objToArr; let i = index" value="{{a.Url}}" [attr.selected]="a.Selected ? '' : null">#{{a.Id}} {{a.Addr1}}</option>
                    </select>

                    <div *ngIf="result.Addresses.length === 1">
                        <div class="customerinfo__font">{{address1}}</div>
                        <div class="customerinfo__font" *ngIf="result.Addresses[0].Addr2.length > 0">{{address2}}</div>
                        <div class="customerinfo__font">{{city}} {{state}} {{postalCode}}</div>
                    </div>
                </div>


                <div class="info-header col-md-5 xs-pt-20 xs-pr-0 xs-pb-15 xs-pl-15" role="navigation">
                    <h2 class="xs-pl-0">{{result.ServiceInfoLabel}}</h2>
                    <div *ngFor="let s of result.ServiceInfo | objToArr;">
                        <h5>{{s.CommodityName}}:</h5>&nbsp;<span>{{s.Id}}{{result.MeterLabel}}{{s.MeterId}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END - Customer Info Bar -->
    <!-- END - Loader -->
</div>