﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Reports/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<style>
    .panel-transparent {
        background: none;
    }
</style>

<div class="page-header">
    <h3>Subscription Insights</h3>
</div>

<div class="col-sm-12 ">

    <div class="col-sm-2">
        Client:
        @(Html.Kendo().DropDownList()
              .Name("Client")
              //.HtmlAttributes(new { @class = "col-sm-2", style = "width: 90px;" })
              .DataTextField("Text")
              .DataValueField("Value")
              //.Events(e => e.Change("change_DayMeasure"))
              .BindTo(new List<SelectListItem>()
              {
                  new SelectListItem()
                  {
                      Text = @"87",
                      Value = "87"
                  },
                  new SelectListItem()
                  {
                      Text = @"61",
                      Value = "61"
                  },
                  new SelectListItem()
                  {
                      Text = @"290",
                      Value = "290"
                  },
                  new SelectListItem()
                  {
                      Text = @"256",
                      Value = "256"
                  }
              })
              .SelectedIndex(0))
    </div>
    
    <div class="col-sm-2">
        Program:
        @(Html.Kendo().DropDownList()
              .Name("Program")
              //.HtmlAttributes(new { @class = "col-sm-2", style = "width: 90px;" })
              .DataTextField("ProgramName")
              .DataValueField("ProgramId")
               .DataSource(source =>
               {
                   source.Read(read =>
                   {
                       read.Action("getProgramsForClientID", "Subscription")
                           .Data("filterPrograms");
                   })
                   .ServerFiltering(true);
               })

              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("Client")
        .SelectedIndex(0)

        )
    </div>
    <script>
        function filterPrograms() {
            return {
                ClientId: $("#Client").val()
            };
        }
    </script>
    

    
    <div class="col-sm-2">
        Interval:
        @(Html.Kendo().DropDownList()
              .Name("Interval")
              //.HtmlAttributes(new { @class = "col-sm-2", style = "width: 90px;" })
              .DataTextField("Text")
              .DataValueField("Value")
              .Events(e => e.Change("change_Interval"))
              .BindTo(new List<SelectListItem>()
              {
                  new SelectListItem()
                  {
                      Text = @"Week",
                      Value = "Week"
                  },
                  new SelectListItem()
                  {
                      Text = @"Month",
                      Value = "Month"
                  },
                  new SelectListItem()
                  {
                      Text = @"Custom",
                      Value = "Custom"
                  }
              })
              .SelectedIndex(0)
        )
    </div>
    
    <div class="col-sm-2">
        Start date:
        @(Html.Kendo().DatePicker()
              .Name("startDatepicker")
              .Events(e => e.Change("startChange")))
    </div>

    <div class="col-sm-2">
        End date:
        @(Html.Kendo().DatePicker()
              .Name("endDatepicker")
              .Events(e => e.Change("endChange"))
        )
    </div>

    <div class="col-sm-2" >
        <button onclick="onFilterClick()">Filter</button>
    </div>

</div>


<div class="col-sm-12" id="loadhere" style="padding-top: 22px">
    @*@{Html.RenderAction("Charts", "Notification",new { clientId= 87,startDate="02/17/2016",endDate= "02/17/2016" });}*@
</div>


<Script>

  
    function change_Interval() {
        debugger;
        var interval = this.value();
        UpdateFilter(interval);
    }

    function UpdateFilter(interval) {
        debugger;
        var startDate = $("#startDatepicker").data("kendoDatePicker");
        var endDate = $("#endDatepicker").data("kendoDatePicker");
        var today = new Date();

        switch (interval) {
            case "Week":
                {
                    today.setDate(today.getDate() - 7);
                    startDate.value(today);
                    startDate.enable(false);
                    endDate.enable(false);
                    break;
                }
            case "Month":
                {
                    today.setDate(today.getDate() - 30);
                    startDate.value(today);
                    startDate.enable(false);
                    endDate.enable(false);
                    break;
                }
            case "Custom":
                {
                    today.setDate(today.getDate() - 7);
                    startDate.value(today);
                    startDate.enable(true);
                    endDate.enable(false);
                    break;
                }
        }
    }

    function startChange() {
        var endPicker = $("#endDatepicker").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange() {
        var startPicker = $("#startDatepicker").data("kendoDatePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }

    $(document).ready(function () {

       
        var today = new Date();

        var endDate = $("#endDatepicker").data("kendoDatePicker");
        endDate.value(today);

        var interval = $("#Interval").data("kendoDropDownList").value();
        UpdateFilter(interval);
    });

   

    function onFilterClick() {

        var startPicker = $("#startDatepicker").data("kendoDatePicker");
        var startDate = kendo.toString(startPicker.value(), "MM/dd/yyyy");
        var endPicker = $("#endDatepicker").data("kendoDatePicker");
        var endDate = kendo.toString(endPicker.value(), "MM/dd/yyyy");
        var interval = $("#Interval").data("kendoDropDownList").value();
        var clientId = $("#Client").data("kendoDropDownList").value();
        var program = $("#Program").data("kendoDropDownList").value();

        debugger;

        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("SubscriptionCharts", "Subscription")',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: { clientId: clientId, interval: interval, startDate: startDate, endDate: endDate, program: program },
            success: function (response) {
                debugger;
                $('#loadhere').html('');
                $('#loadhere').html(response);
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }
   
   
    

</Script>


