﻿@model CE.AO.Portal.Areas.Reports.Models.SubscriptionReportList

<script type="text/javascript">
        $(document).ready(function () {

        });

        $(window).on("resize", function () {
            kendo.resize($(".chart-wrapper"));
        });

</script>

<div class="chart-wrapper col-sm-12">
    <div class="col-sm-4" style="padding-top:40px">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">Summary</h3>
            </div>
            <div class="panel-body">
                Client :@Model.ClientId <br/>
                Interval :@Model.Interval <br/>
                Program :@Model.Program <br/>
                Subscribed User :@Model.SubscribedUser <br/>
                UnSubscribed User :@Model.UnSubscribedUser <br/>
            </div>
        </div>
    </div>
    <div class="col-sm-8">

        @(Html.Kendo().Chart(Model.StackChartList)
        .Name("chart")
        .HtmlAttributes(new { style = "height: 300px;" })
        .Title("Day wise")
        .DataSource(dataSource => dataSource
            //.Read(read => read.Action("NotificationStats", "Notification"))
            .Group(group => group.Add(model => model.Type))
            .Sort(sort => sort.Add(model => model.Date).Ascending())
        )
        .ChartArea(chart => chart
            .Background("transparent")
         )
        .Series(series =>
        {
            series.Column(model => model.Count)
                .Name("#= group.value # (Count)");
        })
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .ValueAxis(axis => axis.Numeric()
            .Labels(labels => labels
                .Format("{0}")
                .Skip(2)
                .Step(2)
            )
        )
        .CategoryAxis(axis => axis
            .Categories(model => model.Date)
            .Labels(labels => labels.Format("ddd-d").Rotation(300))
        )
        )
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-8" style="padding-top: 20px">

        @(Html.Kendo().Chart(Model.PiaChartList)
            .Name("Chart")
            .Title("Aggregate")
            .HtmlAttributes(new { style = "height: 250px;" })
            //.HtmlAttributes(new { @class = "small-chart" })
            .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom))

            .ChartArea(chart => chart
            .Background("transparent")
         )
            //.DataSource(ds =>
            //{
            //    //ds.Read(read => read.Action("_SpainElectricityProduction", "Pie_Charts"));
            //    ds.Filter(filter => filter.Add(model => model.Year).IsEqualTo(year));
            //    ds.Sort(sort => sort.Add(model => model.Year).Ascending());
            //}
            //)
            .Series(series => series
                    .Pie(model => model.Value, model => model.Category)
                    .Padding(0)
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Format("{0:N0}")
                .Template("${ category } - ${ value }")
    )
        )
    </div>

</div>
