﻿@using Combres.Mvc

@{
    Layout = "";
}

<div class="loader">
    <div id="iws_in_loader" class="acl-loader" tabindex="0">
        <span class="sr-only"></span> <p></p>
    </div>
</div>

<!-- Revised 'Fatal Error' panel -->
<script id="tmpl_in_fatal_error" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{:Message}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
</script>

<!-- Revised 'No Data' panel -->
<script id="tmpl_in_no_data" type="text/x-jsrender">
    <div class="panel panel-default">
            {{if ShowTitle}}
            <div class="panel-heading">
                <h1 role="presentation" class="panel-title">{{:Title}}</h1>
            </div>
            {{/if}}

            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{:Message}}</strong>
            </div>
        </div>
</script>


<div id="iws_in_wrapper" style="display: none;">
    <div id="iws_in_main">

    </div>
</div>

<script id="tmpl_in_default" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="panel-heading xs-pb-0 xs-pr-0">
            <h1 id="iws_in_title" role="presentation" class="panel-title pull-left">
                {{:Title}}
            </h1>
            <div class="xs-pl-0 xs-pr-0 toggle__btn toggle__drk pull-right">
                <a href="#" onclick="return false;" id="iws_in_viewall" class="btn btn-default xs-ml-10" role="button">
                <span id="iws_expand_collapse_label">{{:ExpandLabel}}</span>
                <span id="iws_view_all_icon" class="icon icon-toggle-down"></span></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="iws_in_no_content_msg" style="display:none;" class="panel-body insights xs-mb-0"></div>

        <div class="panel-body insights xs-mb-0">
            <h5 id="iws_in_subtitle">{{:SubTitle}}</h5>
            <div id="iws_in_intro_text">{{:IntroText}}</div>
            <h5 id="iws_in_recent_title">{{:RecentTitle}}</h5>
            <div id="iws_in_list"></div>
        </div>
        <div class="hideEmptyCont"><div class="panel-footer panel-footer-off"><div id="iws_in_footertext" class="footertext">{{:Footer}}</div><div id="iws_in_footerlink" class="footerlink"><a href="{{:FooterLink}}">{{:FooterLinkText}}</a></div></div></div>

    </div>

</script>

<script id="tmpl_in_list" type="text/x-jsrender">

    {{for InsightsToShow}}

    {{if #index < 1 && #parent.parent.data.HideImage != "true"}}

    <!-- Notification Detail -->


    <div class="panel panel-default notification-detail xs-mb-15">
        <div class="panel-body xs-p-0 xs-mb-0">

            <div class="notification-detail__image visible-ms-table-cell visible-sm-table-cell visible-md-table-cell visible-lg-table-cell hidden-xs xs-pl-0"><img src="{{:ImageUrl}}" aria-hidden="true" alt="" style="width: auto;"></div>

            <div class="notification-detail__message visible-ms-table-cell visible-sm-table-cell visible-md-table-cell visible-lg-table-cell xs-p-15 ms-pl-15 ms-pb-10" style="width: 100%; vertical-align: top; ">
                <p id="{{:Key}}-as_ai_title" class="notification-detail__title"><a class="xs-mb-10" href="#" onclick="return false;">{{:Title}}</a><span class="sr-only">{{:ImageTitle}}</span></p>
            </div>

            {{if LinkText != "" && LinkText != "Undefined" }}
            <div class="notification-detail__button visible-ms-table-cell visible-sm-table-cell visible-md-table-cell visible-lg-table-cell" style="vertical-align: top;">
                <div role="button" tabindex="0" class="text-xs-center text-ms-right xs-p-10">
                    <a id="iws_detail_link_notification" name="{{:Key}}" style="min-width: 150px" href="{{:Link}}" class="notification-detail__button--link btn action-btn visible-xs-block visible-ms-inline-block">{{:LinkText}}</a>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    {{else}}

    <!-- Notification Mini -->
            {{if ~root.isCSR == "True"}}
                <div id="iws_in_notification_{{:Key}}" name="{{:Key}}" class="panel panel-default panel-notify xs-mb-5">
            {{else}}
                <div id="iws_in_notification_{{:Key}}" name="{{:Key}}" class="panel panel-default panel-notify xs-mb-15">
            {{/if}}

            <div class="notify xs-p-0">
                <div class="notify__icon hidden-xs"><i id="iws_in_icon_{{:Key}}" class='icon {{:Icon}}'></i></div>
                <div class="notify__message xs-p-10 block-xs">
                    {{:Title}}
                </div>
                {{if LinkText != "" && LinkText != "Undefined" }}
                <div roll="button" tabindex="0" class="notify__button pull-right-ms pull-right-sm">
                    <a id="iws_in_link_notification-{{:#getIndex()}}" name="{{:Key}}" style="min-width: 150px" href="{{:Link}}" class="notification-detail__button--link btn action-btn visible-xs-block visible-ms-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{:LinkText}}</a>
                </div>
                {{/if}}
            </div>

        </div>

    {{/if}}

    {{/for}}

</script>
