﻿

<div class="" role="navigation">
    <portallist>Loading Portals...</portallist>
</div>
<router-outlet></router-outlet>

<footer class="app-footer">
    <div class="wrapper">

    </div>
</footer>

