﻿@{
    Layout = "";
}

<div class="loader">
    <div id="iws_ap_loader" class="acl-loader" tabindex="0"> <span class="sr-only"></span> <p></p></div>
</div>




<!-- Revised 'Fatal Error' panel -->
<script id="tmpl_ap_fatal_error" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{:Message}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
</script>






<div id="iws_ap_wrapper" style="display: none;">
    <div id="iws_ap_main"></div>
</div>

<script id="tmpl_ap_default" type="text/x-jsrender">

    <div class="panel panel-default">
        <div id="iws_ap_title" class="panel-heading">
            <h1 role="presentation" class="panel-title">{{:Title}}</h1>
        </div>

        <div class="panel-body xs-mb-0 xs-pb-0">
            <h3 id="iws_ap_subtitle" class="panel-title subtitle">{{:Subtitle}}</h3>
            <div class="intro-text xs-mb-0" id="iws_ap_intro_text">{{:IntroText}}</div>
        </div>

        <div class="acl-scroll-bar">
            <div class="panel-body my-actions-shell">
                <div id="iws_ap_ip_actions" class="myplan__container"></div>
                <div id="iws_ap_cpl_actions" class="myplan__container"></div>
            </div>
        </div>

        <div class="hideEmptyCont"><div class="panel-footer"><div id="iws_ap_footertext" class="footertext">{{:Footer}}</div><div id="iws_ap_footerlink" class="footerlink"><a href="{{:FooterLink}}">{{:FooterLinkText}}</a></div></div></div>
        </div>

</script>

<div class="loader">
    <div id="iws_ad_loader" class="acl-loader" tabindex="0"> <span class="sr-only"></span> <p></p></div>
</div>

<div id="iws_ad_wrapper" style="display: none;">
    <div id="iws_ad_main"></div>
</div>

<script id="tmpl_ad_default" type="text/x-jsrender">

        <div id="iws_ad_intro_text" class="intro-text"></div>

        <div class="panel panel-default">
            
            <div class="hideEmptyCont"><div id="iws_ap_title" class="panel-heading"><h1 role="presentation" id="iws_ad_title" class="panel-title"></h1></div></div>
            <div class="details">
                <div class="detail-shell" style="display: block">

                    <div class="detail-featured-image hidden-xs xs-pr-15">
                        <img src="" aria-hidden="true" id="iws_ad_ai_img" height="100" width="100" alt="">
                    </div>

                    <div class="detail-featured-text">
                        <div class="col-xs-12">
                            <h1 id="iws_ad_ai_title" class="title detail-item__h1"></h1>
                            <div id="iws_ad_btns"></div>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="detail-items" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0px 10px 30px; margin: 0; width:100%; height: 60px; margin-top: 30px;">
                    <div id="iws_ad_ai_category"></div>
                    <div id="iws_ad_ai_cost"></div>
                    <div id="iws_ad_ai_savings"></div>
                    <div id="iws_ad_ai_difficulty"></div>
                </div>

                <div id="iws_details_bottom" class="detail-shell">


                </div>
                <div class="hideEmptyCont"><div class="panel-footer"><div id="iws_ad_footertext" class="footertext"></div><div id="iws_ad_footerlink" class="footerlink"><a href=""></a></div></div><div class="footer__backlink"><a href="#" id="iws_ad_back" onclick="return false;"></a></div></div>

            </div>
        </div>
</script>

<script id="tmpl_ad_btns" type="text/x-jsrender">
    <div id="iws_ad_btns" class="actions__buttons">
        <a id="iws_ad_btn1-{{:Key}}" tabindex="0" class="add button-small" val="{{:Button1Value}}">{{:Button1Text}}</a>
        <a id="iws_ad_btn2-{{:Key}}" tabindex="0" class="completed-temp button-small" val="{{:Button2Value}}">{{:Button2Text}}</a>
    </div>
</script>




<!-- ============================================== -->
<!--  This is the 'ways to save template' for MY PLAN -->
<!-- ============================================== -->


<script id="tmpl_ap_ip_action" type="text/x-jsrender">

    <div class="panel panel-default actions plan">

        <div class="actionplan__container panel-body xs-p-0 xs-mb-0" id="equalheight">

            <div class="actionplan__message col-ms-9 col-sm-9 col-md-10 equal-height ms-pl-0" >
                {{if Status.indexOf('NA') >= 0 }}
                <img src="{{:ImageUrl}}" alt="{{:ImageTitle}}" onclick="return false;" width="103" class="img-responsive ms-pl-0 ms-pr-0 ms-mr-15 pull-left hidden-xs" style="width:103px;height:auto">
                {{else}}
                <a href="#" class="pull-left hidden-xs"><img id="{{:Key}}-ap_ai_img" src="{{:ImageUrl}}" alt="" onclick="return false;" width="103" class="img-responsive ms-pl-0 ms-pr-0 ms-mr-15" style="width:103px;height:auto"></a>
                {{/if}}


                {{if Status.indexOf('NA') >= 0 }}
                <p class="actionplan__title xs-ml-0 xs-mr-0 xs-mt-10 xs-mb-5">{{:Title}}</p>
                {{else}}
                <p class="actionplan__title xs-ml-0 xs-mr-0 xs-mt-10 xs-mb-5" id="{{:Key}}-ap_ai_title">
                    <a href="#" onclick="return false;">{{:Title}}</a>
                </p>
                {{/if}}

                {{if Status.indexOf('NA') >= 0 }}
                <div class="not-applicable">{{:NotApplicableMessage}}</div>
                {{/if}}

                <div class="actions__buttons" style="width:100%;white-space: nowrap">
                    {{if Status.indexOf('NA') >= 0 }}
                    <a id="iws_ap_btn_1-{{:Key}}" tabindex="0" class="button-small visible-xs-block visible-ms-inline-block visible-sm-inline-block visible-md-inline-block  visible-lg-inline-block" val="{{:Val0}}">{{:Text0}}</a>
                    {{/if}}

                    {{if Status.indexOf('NA') == -1 }}
                    <a id="iws_ap_btn_1-{{:Key}}" tabindex="0" class="button-small visible-xs-block visible-ms-inline-block visible-sm-inline-block visible-md-inline-block  visible-lg-inline-block" val="{{:Val0}}">{{:Text0}}</a>
                    <a id="iws_ap_btn_2-{{:Key}}" tabindex="0" class="button-small visible-xs-block visible-ms-inline-block visible-sm-inline-block visible-md-inline-block  visible-lg-inline-block" val="{{:Val1}}">{{:Text1}}</a>
                    {{/if}}
                </div>

            </div>

            {{if Status.indexOf('NA') == -1 }}
            <div class="actionplan__costSavings col-xs-12 col-ms-3 col-sm-3 col-md-2 equal-height xs-pl-0 xs-pr-0">
                <div class="xs-p-10 xs-pb-3" role="">
                    <div class="visible-xs-inline-block visible-ms-inline-block visible-sm-block visible-md-block visible-lg-block xs-m-0 xs-mt-15" style="margin-right: 10px !important">
                        <div class="actionplan__cost-title">{{:CostTitle}}</div>
                        <div class="actionplan__value">{{:UpfrontCostFormatted}}</div>
                    </div>
                    <div class="visible-xs-inline-block visible-ms-inline-block visible-sm-block visible-md-block visible-lg-block">
                        <div class="actionplan__savings-title">{{:SavingsTitle}}</div>
                        <div class="actionplan__value">{{:AnnualSavingsEstimateFormatted}}</div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

</script>