﻿.site-header {
    background-color: rgba(0,121,193,1);
    border: none;
    padding: 5px;
    margin-bottom: 0;
    box-shadow: none;
}
    .site-header a {
    color: #fff;
}

.remote-watermark
    {
    color: #fff;
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    position: relative;
    text-align: center;
    opacity: 0.4;
    font-family: serif;
}



