﻿.site-footer {
    background-color: #666;
    border: 1px solid #ddd;
    padding: 5px;
}
.site-footer .panel-body {
    display: table;
    width: 100%;
}
.site-footer .footer__sitesocial {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.site-footer .footer__sitelinks {
    display: table-cell;
    vertical-align: middle;
}
.site-footer .footer__sitelinks a {
    color: #fff;
}
.panel.panel-default.site-footer {
    box-shadow: none;
}
