﻿@using Combres.Mvc

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_GreenButtonConnect.cshtml";
}

@section ViewJS{
    @Url.CombresLink("siteCss")
    @Url.CombresLink("siteJs")
}

<div class="gbc__confirmation xs-mt-15">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        Third Party Application
                    </h1>
                </div>
                <div class="panel-body xs-pb-0">
                    <h3>Sorry, an error occurred during your registration.</h3>
                </div>
                <div class="alert alert-danger">Error code: @Model.Error</div>
            </div>
        </div>
    </div>
</div>         