﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Third Party Application Confirmation</title>
</head>
<body>
    <div class="gbc__confirmation">
        <div class="container xs-mt-15">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            Third Party Application
                        </h1>
                    </div>
                    <div class="panel-body xs-pb-0">
                        <h3>Congratulations you are now connected! Click <a href="ThirdPartyApplication">here</a> to begin!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
