﻿@using Combres.Mvc
@model CE.InsightsWeb.Controllers.ThirdPartyConfirmationModel

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_GreenButtonConnect.cshtml";
}

@section ViewJS{
    @Url.CombresLink("siteCss")
    @Url.CombresLink("siteJs")
}

<div class="gbc__confirmation">
    <div class="container xs-mt-15">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        Third Party Application
                    </h1>
                </div>
                <div class="panel-body xs-pb-0">
                    <h3>Congratulations, you are now connected!</h3>
                    <h4>Click <a href="@Model.ThirdPartyApplicationUrl">here</a> to begin!</h4>
                </div>
            </div>
        </div>
    </div>
</div>
