﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>
    <div *ngIf="!errorOccurred">
        <div id="bg">
            
        </div>

        <div class="Absolute-Center is-Responsive">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h2>Get Started</h2>
                <h4>Register</h4>
                <form action="" id="loginForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="emailaddress" placeholder="Email">
                        <div class="danger">Enter a valid email</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputZip">Zip Code</label>
                        <input type="email" class="form-control" id="zipcode" placeholder="Zip Code">
                        <div class="danger">Enter a valid Zip Code</div>
                    </div>
                    <div class="form-group input-group">
                        <form action="?" method="POST">
                            <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                            <br />
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <button type="button" class="btn btn-primary">Create Account</button>
                    <br />
                    <p><a class="unauthenticated__loginlink">I already have a login</a></p>
                </form>
            </div>
        </div>
    </div>
</div>