@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using CE.Insights.Areas.HelpPage
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ?
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
        null;
}

<h2 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h2>
@if (!String.IsNullOrEmpty(controllerDocumentation))
{
    <p>@controllerDocumentation</p>
}
<table class="help-page-table">
    <thead>
        <tr><th>API</th><th>Description</th></tr>
    </thead>
    <tbody>
        @foreach (var api in Model)
        {
            if (api.ActionDescriptor.ControllerDescriptor.ControllerType.Namespace != null)
            {
                var versionName = api.ActionDescriptor.ControllerDescriptor.ControllerType.Namespace.Replace(".Controllers", "").Split('.').Last();
                api.RelativePath = api.RelativePath.Replace("v???", versionName);
            }
            <tr>
                @if (api.GetFriendlyId() != "")
                {
                    <td class="api-name"><a href="@Url.Action("Api", "Help", new {apiId = api.GetFriendlyId()})">@api.HttpMethod.Method @api.RelativePath.Replace("{folder}", "oauth").Replace("UsagePoint?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&subscriptionId={subscriptionId}", "datacustodian/espi/1_1/resource/subscription/{subscriptionId}/usagepoint?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("datacustodian/espi/1_1/resource/subscription/{subscriptionId}/usagepoint?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&usagePointId={usagePointId}", "datacustodian/espi/1_1/resource/subscription/{subscriptionId}/usagepoint/{usagePointId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("UsagePoint?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&batchSubscriptionId={batchSubscriptionId}", "datacustodian/espi/1_1/resource/batch/subscription/{batchSubscriptionId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("datacustodian/espi/1_1/resource/batch/subscription/{batchSubscriptionId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&batchUsagePointId={batchUsagePointId}", "datacustodian/espi/1_1/resource/batch/subscription/{batchSubscriptionId}/usagepoint/{batchUsagePointId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("MeterReading?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&subscriptionId={subscriptionId}&usagePointId={usagePointId}", "datacustodian/espi/1_1/resource/subscription/{subscriptionId}/usagepoint/{usagePointId}/meterreading?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("meterreading?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&meterReadingId={meterReadingId}", "meterreading/{meterReadingId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("ReadingType", "datacustodian/espi/1_1/resource/ReadingType").Replace("ReadingType?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&readingTypeId={readingTypeId}", "ReadingType/{readingTypeId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("LocalTimeParameters", "datacustodian/espi/1_1/resource/LocalTimeParameters").Replace("LocalTimeParameters?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&localTimeParameterId={localTimeParameterId}", "LocalTimeParameters/{localTimeParameterId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("IntervalBlock?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&subscriptionId={subscriptionId}&usagePointId={usagePointId}&meterReadingId={meterReadingId}", "datacustodian/espi/1_1/resource/subscription/{subscriptionId}/usagepoint/{usagePointId}/meterreading/{meterReadingId}/intervalblock?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("intervalblock?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&intervalBlockId={intervalBlockId}", "intervalblock/{intervalBlockId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("ReadServiceStatus", "datacustodian/espi/1_1/resource/ReadServiceStatus").Replace("ApplicationInformation?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}&applicationInformationId={applicationInformationId}", "ApplicationInformation/{applicationInformationId}?published-max={published-max}&published-min={published-min}&updated-max={updated-max}&updated-min={updated-min}&max-result={max-result}&start-index={start-index}&depth={depth}").Replace("ApplicationInformation", "datacustodian/espi/1_1/resource/ApplicationInformation").Replace("Authorization", "datacustodian/espi/1_1/resource/Authorization")</a></td>
                    <td class="api-documentation">
                        @if (api.Documentation != null)
                    {
                            <p>@api.Documentation</p>
                        }
                        else
                        {
                            <p>No documentation available.</p>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>