@using System.Collections.Generic
@using System.Collections.ObjectModel
@using System.Web.Http.Description
@using System.Threading
@using CE.Insights.Areas.HelpPage.ModelDescriptions
@model IList<ParameterDescription>

@if (Model.Count > 0)
{
    <table class="help-page-table">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Type</th><th>Additional information</th></tr>
        </thead>
        <tbody>
            @foreach (ParameterDescription parameter in Model)
            {
                ModelDescription modelDescription = parameter.TypeDescription;
                <tr>
                    <td class="parameter-name">@parameter.Name</td>
                    <td class="parameter-documentation">
                        
                        @if (@parameter.Name == "published-max")
                        {

                            if (Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-IntervalBlock_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_subscriptionId_usagePointId_meterReadingId" ||
                                Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-MeterReading_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_subscriptionId_usagePointId" ||
                                Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-UsagePoint_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_batchSubscriptionId" ||
                                Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-UsagePoint_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_batchSubscriptionId_batchUsagePointId")
                            {
                                <p>If specified, retrieve usage data on or before this date time.</p>       
                            }
                            else
                            {
                                <p>@parameter.Documentation</p>
                            }
                        }
                        else if (@parameter.Name == "published-min")
                        {
                            if (Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-IntervalBlock_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_subscriptionId_usagePointId_meterReadingId" ||
                                Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-MeterReading_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_subscriptionId_usagePointId" ||
                                Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-UsagePoint_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_batchSubscriptionId" ||
                                Request.Url.PathAndQuery.Substring(Request.Url.PathAndQuery.LastIndexOf("/") + 1) == "GET-api-v1-UsagePoint_published-max_published-min_updated-max_updated-min_max-result_start-index_depth_batchSubscriptionId_batchUsagePointId")
                            {
                                <p>If specified, retrieve usage data on or after this date time.</p>
                            }
                            else
                            {
                                <p>@parameter.Documentation</p>
                            }
                        }
                        else
                        {
                            <p>@parameter.Documentation</p>
                        }

                    </td>
                    <td class="parameter-type">
                        
                        
                            @Html.DisplayFor(m => modelDescription.ModelType, "ModelDescriptionLink", new {modelDescription = modelDescription})
                        
                    </td>
                    <td class="parameter-annotations">
                        @if (parameter.Annotations.Count > 0)
                        {
                            foreach (var annotation in parameter.Annotations)
                            {
                                <p>@annotation.Documentation</p>
                            }
                        }
                        else
                        {
                            <p>None.</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>None.</p>
}

