﻿<div>
    <div id="pt1:pt_pgl18" class="footer-wrapper af_panelGroupLayout">
        <div>
            <div id="pt1:pt_pgl16" class="main-footer af_panelGroupLayout">
                <div><div id="pt1:pt_pl1" class="footer-links af_panelList"><ul><li value="1"><a id="pt1:pt_gl3" class="footer-link" href="http://custhelp.socalgas.com/app/answers/help_topics/c/23" target="_blank">Help Center</a></li><li value="2"><span class="hidden-m"> | </span></li><li value="3"><a id="pt1:pt_gl14" class="footer-link mobile-feedback hidden-d" href="#" target="_blank">Feedback</a></li><li value="4"><span class="hidden-m hidden-d"> | </span></li><li value="5"><a id="pt1:pt_gl4" class="footer-link" href="http://socalgas.com/terms-and-conditions/my-account.shtml" target="_blank">SoCalGas Terms and Conditions</a></li><li value="6"><span class="hidden-m"> | </span></li><li value="7"><div id="pt1:pt_pgl6" class="visible-t af_panelGroupLayout"></div></li><li value="8"><a id="pt1:pt_gl9" class="footer-link" href="http://socalgas.com/privacy-policy.shtml" target="_blank">SoCalGas Privacy Policy</a></li><li value="9"><span class="hidden-m"> | </span></li><li value="10"><a id="pt1:pt_gl10" class="footer-link" href="http://socalgas.com/privacy-notice.shtml" target="_blank">SoCalGas Privacy Notice</a></li></ul></div></div><div>
                    <table cellpadding="0" cellspacing="0" border="0" summary="" id="pt1:pt_pglright" class="aa-ssl af_panelGroupLayout">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="pt1:pt_pglaccess" class="aa-accessible-small af_panelGroupLayout">
                                        <div>
                                            <a id="pt1:pt_gil1" title="Rated AA Accessible" class="visible-d af_goImageLink" href="http://www.socalgas.com/my-account-accessibility.shtml" target="_blank">
                                                <img id="pt1:pt_gil1::icon" src="~/Content/Clients/101/Images/accessibility_badge.png" alt="Rated AA Accessible" class="af_goImageLink_image">
                                            </a>
                                        </div><div>
                                            <a id="pt1:pt_i1" title="Southern California Gas Company: A Sempra Energy Utility" class="logo hidden-d af_goImageLink" href="http://www.socalgas.com/">
                                                <img id="pt1:pt_i1::icon" src="~/Content/Clients/101/Images/socalgas_logo.png" alt="Southern California Gas Company: A Sempra Energy Utility" class="af_goImageLink_image">
                                            </a> 
                                        </div>
                                    </div>
                                </td>
                                @*<td><div align="center" id="pt1:pt_pglssl" class="aa-ssl-container af_panelGroupLayout"><div><a class="norton" href="#" onclick="nortonClick(event,'residential')" tabindex="-1"><img id="pt1:pt_i2" alt="" class="af_image" src="/myAccount/images/norton-secured.jpg"></a></div><div><a id="pt1:pt_gl1" class="about-ssl af_goLink" href="http://www.verisign.com/ssl/ssl-information-center/" target="_blank">ABOUT SSL CERTIFICATES</a></div></div></td>*@
                            </tr>
                        </tbody>
                    </table>
                </div><div><div id="pt1:pt_pglcopyright" class="copyright af_panelGroupLayout"><div>© 1998 - 2016<span id="pt1:pt_s1" class="visible-m af_panelGroupLayout"></span> Southern California Gas Company.</div><div>The trademarks used herein are the property of their respective owners. All rights reserved.</div></div></div><div><span id="pt1:pt_pgl12" class="clear af_panelGroupLayout"></span></div>
            </div>
        </div>
    </div>
</div>