﻿@*<img src="~/Content/Clients/101/Images/SoCal_Ways2Save_hearderSlice_01.png" class="SoCal-HeaderImg" />*@
<link href="~/Content/Clients/101/Css/test1.css" rel="stylesheet" />
<link href="~/Content/Clients/101/Css/test2.css" rel="stylesheet" />
<link href="~/Content/Clients/101/Css/test3.css" rel="stylesheet" /> 
<div id="pt1:pt_pgl10" class="header-wrapper af_panelGroupLayout">
    <div>
        <table cellpadding="0" cellspacing="0" border="0" summary="" id="pt1:pt_pgl11" class="main-header af_panelGroupLayout">
            <tbody>
                <tr>
                    <td valign="top"><a id="pt1:socalgas_mobile_logo" title="Southern California Gas Company: A Sempra Energy Utility" class="logo hidden-d af_goImageLink" href="/myAccount/faces/myAccountHome?_adf.ctrl-state=1axn934457_12"><img id="pt1:socalgas_mobile_logo::icon" src="~/Content/Clients/101/Images/socalgas_logo-mobile.png" alt="Southern California Gas Company: A Sempra Energy Utility" class="af_goImageLink_image"></a></td>
                    <td valign="top"><a id="pt1:socalgas_logo" title="Southern California Gas Company: A Sempra Energy Utility" class="logo visible-d af_goImageLink" href="/myAccount/faces/myAccountHome?_adf.ctrl-state=1axn934457_12"><img id="pt1:socalgas_logo::icon" src="~/Content/Clients/101/Images/socalgas_logo.png" alt="Southern California Gas Company: A Sempra Energy Utility" class="af_goImageLink_image"></a></td>
                    <td valign="top">
                        <div id="pt1:pt_pgl1" class="header-search-align af_panelGroupLayout">
                            <div>

                                <table cellpadding="0" cellspacing="0" border="0" summary="" id="pt1:pt_pgl8" class="maxWidth top-header af_panelGroupLayout">
                                    <tbody>
                                        <tr>
                                            <td valign="top"><span id="pt1:pt_pgl13" class="green-title visible-d af_panelGroupLayout"><span class="greeting-user">Hi Erika, </span><span class="fs-15 display-inline-block">Welcome to My Account</span></span></td>
                                            <td valign="top">
                                                <table cellpadding="0" cellspacing="0" border="0" summary="" id="pt1:pt_pgl14" class="header-links af_panelGroupLayout">
                                                    <tbody>
                                                        <tr>
                                                            <td><a id="pt1:pt_gl5" class="header-link visible-d af_goLink" href="http://custhelp.socalgas.com/" target="_blank">Help Center</a></td>
                                                            <td>
                                                                <table cellpadding="0" cellspacing="0" border="0" summary="" id="pt1:pt_pgl15" class="af_panelGroupLayout">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top"><button id="pt1:logout-btn" class="btn-orange visible-d af_commandButton p_AFTextOnly" onclick="return false;">Log Out »</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td>@*<a id="pt1:mobile-nav-btn" class="mobile-nav-btn hidden-d af_goImageLink" href="#"><img id="pt1:mobile-nav-btn::icon" src="/myAccount/images/nav-menu-ico.png" class="af_goImageLink_image"></a>*@</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <table cellpadding="0" cellspacing="0" border="0" summary="" id="pt1:pt_pgl9" class="maxWidth bottom-header af_panelGroupLayout">
                                    <tbody>
                                        <tr>
                                            <td valign="top">
                                                <span id="pt1:pt_pgl19" class="nav-menu-box visible-d af_panelGroupLayout">
                                                    <div id="pt1:pt_dc2:desktopNav" class="desktopNav af_panelList">
                                                        <ul>
                                                            <li value="1" class="highlight-parent"><span id="pt1:pt_dc2:i1:0:navParent" class="af_panelGroupLayout"><a id="pt1:pt_dc2:i1:0:navParentLink" class="navParent" href="/myAccount/faces/myAccountHome?_adf.ctrl-state=1axn934457_12"><span>My Account</span> <span class="desktopNavLrgTxt">Home</span></a></span></li>
                                                            <li value="2">
                                                                <span id="pt1:pt_dc2:i1:1:navParent" class="af_panelGroupLayout">
                                                                    <a id="pt1:pt_dc2:i1:1:navParentLink" class="navParent hasChildren" href="/myAccount/faces/viewAndPayMyBill?_adf.ctrl-state=1axn934457_12"><span>View and Pay</span> <span class="desktopNavLrgTxt">My Bill</span></a>
                                                                    <div id="pt1:pt_dc2:i1:1:navChildList" class="navChild af_panelList">
                                                                        <ul>
                                                                            <li value="1"><a id="pt1:pt_dc2:i1:1:i2:0:navChild" href="/myAccount/faces/viewAndPayMyBill/payMyBillOnline?_adf.ctrl-state=1axn934457_12">Pay My Bill</a></li>
                                                                            <li value="2"><a id="pt1:pt_dc2:i1:1:i2:1:navChild" href="/myAccount/faces/viewAndPayMyBill/automaticMonthlyPayments?_adf.ctrl-state=1axn934457_12">Automatic Monthly Payment Plan</a></li>
                                                                            <li value="3"><a id="pt1:pt_dc2:i1:1:i2:2:navChild" href="/myAccount/faces/viewAndPayMyBill/viewAllWaysToPay?_adf.ctrl-state=1axn934457_12">Ways to Pay</a></li>
                                                                            <li value="4">
                                                                                <div id="pt1:pt_dc2:i1:1:i2:3:pgl1" class="hasBorderBottom af_panelGroupLayout"></div>
                                                                            </li>
                                                                            <li value="5"><a id="pt1:pt_dc2:i1:1:i2:4:navChild" href="/myAccount/faces/viewAndPayMyBill/manageScheduledPayments?_adf.ctrl-state=1axn934457_12">Manage Scheduled Payments</a></li>
                                                                            <li value="6"><a id="pt1:pt_dc2:i1:1:i2:5:navChild" href="/myAccount/faces/viewAndPayMyBill/manageBankInformation?_adf.ctrl-state=1axn934457_12">Manage Bank Information</a></li>
                                                                            <li value="7">
                                                                                <div id="pt1:pt_dc2:i1:1:i2:6:pgl1" class="hasBorderBottom af_panelGroupLayout"></div>
                                                                            </li>
                                                                            <li value="8"><a id="pt1:pt_dc2:i1:1:i2:7:navChild" href="/myAccount/faces/viewAndPayMyBill/paymentArrangments?_adf.ctrl-state=1axn934457_12">Payment Extension</a></li>
                                                                            <li value="9"><a id="pt1:pt_dc2:i1:1:i2:8:navChild" href="/myAccount/faces/viewAndPayMyBill/levelPayPlan?_adf.ctrl-state=1axn934457_12">Level Pay Plan</a></li>
                                                                            <li value="10">
                                                                                <div id="pt1:pt_dc2:i1:1:i2:9:pgl1" class="hasBorderBottom af_panelGroupLayout"></div>
                                                                            </li>
                                                                            <li value="11"><a id="pt1:pt_dc2:i1:1:i2:10:navChild" href="/myAccount/faces/viewAndPayMyBill/viewMyBill?_adf.ctrl-state=1axn934457_12">View My Bill</a></li>
                                                                            <li value="12"><a id="pt1:pt_dc2:i1:1:i2:11:navChild" href="/myAccount/faces/viewAndPayMyBill/chargesAndPayments?_adf.ctrl-state=1axn934457_12">Charges and Payments</a></li>
                                                                            <li value="13"><a id="pt1:pt_dc2:i1:1:i2:12:navChild" href="/myAccount/faces/viewAndPayMyBill/billHistory?_adf.ctrl-state=1axn934457_12">Bill History</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </span>
                                                            </li>
                                                            <li value="3">
                                                                <span id="pt1:pt_dc2:i1:2:navParent" class="af_panelGroupLayout">
                                                                    <a id="pt1:pt_dc2:i1:2:navParentLink" class="navParent hasChildren" href="/myAccount/faces/scheduleService?_adf.ctrl-state=1axn934457_12"><span>Schedule</span> <span class="desktopNavLrgTxt">Service</span></a>
                                                                    <div id="pt1:pt_dc2:i1:2:navChildList" class="navChild af_panelList">
                                                                        <ul>
                                                                            <li value="1"><a id="pt1:pt_dc2:i1:2:i2:0:navChild" href="/myAccount/faces/scheduleService/transferService?_adf.ctrl-state=1axn934457_12">Moving? Transfer Service</a></li>
                                                                            <li value="2"><a id="pt1:pt_dc2:i1:2:i2:1:navChild" href="/myAccount/faces/scheduleService/startService?_adf.ctrl-state=1axn934457_12">Start Service</a></li>
                                                                            <li value="3"><a id="pt1:pt_dc2:i1:2:i2:2:navChild" href="/myAccount/faces/scheduleService/stopService?_adf.ctrl-state=1axn934457_12">Stop Service</a></li>
                                                                            <li value="4"><a id="pt1:pt_dc2:i1:2:i2:3:navChild" href="/myAccount/faces/scheduleService/customerServiceOrder?_adf.ctrl-state=1axn934457_12">Schedule a Service Appointment</a></li>
                                                                            <li value="5"><a id="pt1:pt_dc2:i1:2:i2:4:navChild" href="/myAccount/faces/scheduleService/manageAppointments?_adf.ctrl-state=1axn934457_12">Manage Appointments</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </span>
                                                            </li>
                                                            <li value="4">
                                                                <span id="pt1:pt_dc2:i1:3:navParent" class="af_panelGroupLayout">
                                                                    <a id="pt1:pt_dc2:i1:3:navParentLink" class="navParent hasChildren" href="/myAccount/faces/waysToSave?_adf.ctrl-state=1axn934457_12"><span>Ways to</span> <span class="desktopNavLrgTxt">Save</span></a>
                                                                    <div id="pt1:pt_dc2:i1:3:navChildList" class="navChild af_panelList">
                                                                        <ul>
                                                                            <li value="1"><a id="pt1:pt_dc2:i1:3:i2:0:navChild" href="/myAccount/faces/waysToSave/mySavingsPlan?_adf.ctrl-state=1axn934457_12">My Savings Plan</a></li>
                                                                            <li value="2"><a id="pt1:pt_dc2:i1:3:i2:1:navChild" href="/myAccount/faces/waysToSave/compareBills?_adf.ctrl-state=1axn934457_12">Compare Bills</a></li>
                                                                            <li value="3"><a id="pt1:pt_dc2:i1:3:i2:2:navChild" href="/myAccount/faces/waysToSave/analyzeUsage?_adf.ctrl-state=1axn934457_12">Analyze Usage</a></li>
                                                                            <li value="4"><a id="pt1:pt_dc2:i1:3:i2:3:navChild" href="/myAccount/faces/waysToSave/usageHistory?_adf.ctrl-state=1axn934457_12">Usage History</a></li>
                                                                            <li value="5"><a id="pt1:pt_dc2:i1:3:i2:4:navChild" href="/myAccount/faces/waysToSave/carbonFootprint?_adf.ctrl-state=1axn934457_12">Calculate Carbon Footprint</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </span>
                                                            </li>
                                                            <li value="5">
                                                                <span id="pt1:pt_dc2:i1:4:navParent" class="af_panelGroupLayout">
                                                                    <a id="pt1:pt_dc2:i1:4:navParentLink" class="navParent hasChildren" href="/myAccount/faces/manageMyAccount?_adf.ctrl-state=1axn934457_12"><span>Manage My</span> <span class="desktopNavLrgTxt">Account</span></a>
                                                                    <div id="pt1:pt_dc2:i1:4:navChildList" class="navChild af_panelList">
                                                                        <ul>
                                                                            <li value="1"><a id="pt1:pt_dc2:i1:4:i2:0:navChild" href="/myAccount/faces/manageMyAccount/manageMyOnlineProfile?_adf.ctrl-state=1axn934457_12">Manage My Online Profile</a></li>
                                                                            <li value="2"><a id="pt1:pt_dc2:i1:4:i2:1:navChild" href="/myAccount/faces/manageMyAccount/manageAccountInformation?_adf.ctrl-state=1axn934457_12">Manage Account Information</a></li>
                                                                            <li value="3"><a id="pt1:pt_dc2:i1:4:i2:2:navChild" href="/myAccount/faces/manageMyAccount/manageAlerts?_adf.ctrl-state=1axn934457_12">Manage Alerts</a></li>
                                                                            <li value="4"><a id="pt1:pt_dc2:i1:4:i2:3:navChild" href="/myAccount/faces/manageMyAccount/addRemoveAccounts?_adf.ctrl-state=1axn934457_12">Add or Remove an Account</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <span id="pt1:pt_dc2:navClear2" class="clear af_panelGroupLayout"></span>
                                                </span>
                                            </td>
                                            <td valign="top">
                                                <table cellpadding="0" cellspacing="0" border="0" summary="" id="pt1:header-search-bar" class="visible-d header-search-bar af_panelGroupLayout">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="search-wrap" id="search-wrap-2">
                                                                    <div class="searchFormWithOverlay" id="searchFormWithOverlay2"><input id="siteref2" name="siteref" type="hidden" value="MyAccount"><input id="referrer2" name="referrer" type="hidden" value="MyAccount"><input class="qgoSuggestEnabled overlayQuery qgoSuggestEnabled qgoSuggestEnabled" id="overlayQuery2" maxlength="128" name="site-search" value="Search or Ask a question here" type="search" autocomplete="OFF"><span class="search-glass-wrap" id="submitlink2"><span class="search-glass"></span></span></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>