﻿<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://aclaceheadersdemowebwaqa.azurewebsites.net/RemoteContent/118/header.js"></script>
<link href="https://aclaceheadersdemowebwaqa.azurewebsites.net/RemoteContent/118/utility.css" rel="stylesheet" />
<link href="https://aclaceheadersdemowebwaqa.azurewebsites.net/Content/offcanvas.css" rel="stylesheet" />
