﻿
<div class="blue-shade"></div>
<div class="container">
    <div class="col-xs-12 col-ms-3 col-md-3 col-lg-6 xs-pl-0">
        <div id="iws_rc_pagewidget_1">
            <a class="logo" href="#" style="">
                @*<img src="~/Content/Clients/87/Images/brand-logo.png" alt="logo" class="brand-logo" style="width: 63px; height: 61px; margin-top: 10px; border: none;">*@
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-ms-9 col-md-9 col-lg-6 text-right" role="navigation" aria-label="Account, Community, and working with us">
        <ul class="top-links pull-right-ms pull-right-sm pull-right-md pull-right-lg inline-block" style="margin-top: 10px; padding-left: 0; display: inline-block; list-style: none" role="menu">
            @*<li style="display: inline-block; list-style: none" role="option"><a href="#">Account</a></li>
                <li style="display: inline-block; list-style: none; margin-left: 10px" role="option"><a href="#">Community</a></li>
                <li style="display: inline-block; list-style: none; margin-left: 10px" role="option"><a href="#">About Us</a></li>*@
        </ul>
    </div>
</div>