﻿<header class="navbar navbar-top navTop">
    <div class="container">
        <a class="sr-only" href="#content">Skip navigation</a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" role="navigation" aria-label="General Site Navigation">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li role="option"><a href="#">My Account</a></li>
                <li role="option"><a href="#">Outage Info</a></li>
                <li role="option"><a href="#">About Us</a></li>
                <li role="option"><a href="#">Careers</a></li>
                <li role="option"><a href="#">Contact Us</a></li>
                <li role="option"><a href="#">Log in</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- area wide links: manage account, in our community, working with JEA -->
<div class="container area">
    <section>
        <div class="col-sm-2" role="banner">
            <div id="iws_rc_pagewidget_1">
                <a class="logo" href="#">
                    <img src="~/Content/Clients/256/Images/brand-logo.png" alt="logo" class="brand-logo" border="0">
                </a>
            </div>
            </div>
            <div class="col-sm-10">
                <div class="areas" role="navigation" aria-label="Account, Community, and working with us">
                    <ul class="nav navbar-nav">
                        <li role="option"><a href="#">Manage My Account</a></li>
                        <li role="option"><a href="#">In Our Community</a></li>
                        <li role="option"><a href="#">Working with Acme</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
    </section><!-- /.row -->
</div>
<!-- /.area -->