﻿<!--<div id="footerWrap">
    <div id="footer">
        <ul id="ftrunav" class="nav nav-pills nav-justified">
            <li><a class="popup" href="http://www.snl.com/irweblinkx/docs.aspx?iid=4060957">Investor Services</a></li>
            <li><a class="popup" href="http://www.thelacledegroup.com/">The Laclede Group, Inc.</a></li>
            <li><a class="popup" href="https://employeeportal.lacledegas.com">Employee Portal</a></li>
            <li><a href="/sitemap/">Site Map</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
            <li><a href="/legal/">Copyright/Legal Notice</a></li>
        </ul>
        <ul class="social-icons nav nav-pills nav-justified">
            <li><a id="tw" class="popup" href="https://twitter.com/LacledeGas">Follow us on Twiter</a></li>
            <li><a id="fb" class="popup" href="https://www.facebook.com/LacledeGas?ref=hl">Follow us on Facebook</a></li>
            <li><a id="yt" class="popup" href="https://www.youtube.com/user/LacledeTV">View us on YouTube</a></li>
        </ul>
        <p id="copy">Copyright &copy; <? echo date('Y'); ?> Laclede Gas Company&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All rights reserved.</p>
        <p id="lgsbbnr">Laclede Gas, the largest natural gas distribution company in Missouri, is a regulated public utility and a wholly owned subsidiary of <a class="popup" title="Laclede Group" href="http://www.thelacledegroup.com/">The Laclede Group, Inc.</a></p>

    </div>
   <p>&nbsp;</p>
</div>-->