﻿<!--<header class="navbar navbar-top navTop">
    <div class="container">
        <a class="sr-only" href="#content">Skip navigation</a>
       
       < <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <div class="collapse navbar-collapse navbar-right laclede-nav" id="bs-example-navbar-collapse-1" role="navigation" aria-label="General Site Navigation">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">The Laclede Group</a></li>
                <li role="option"><a href="#">Gas Service</a></li>
                <li role="option"><a href="#">Your Gas Bill</a></li>
                <li role="option"><a href="#">Products &Aacute; Services</a></li>
                <li role="option"><a href="#">Customer Service</a></li>
                <li role="option"><a href="#">Energy Efficency</a></li>
                <li role="option"><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="container area">
    <section>
            <div class="col-sm-2" role="banner">
                <a class="logo" href="#">
                    <img src="~/Content/Clients/87/Images/brand-logo.png" alt="logo" class="brand-logo" border="0">
                </a>
            </div>
            <div class="col-sm-10">
                
            </div>
            <div class="col-sm-2">
            </div>
    </section>
</div>-->
