﻿<header class="navbar navbar-top navTop">
</header>
<!-- area wide links: manage account, in our community, working with JEA -->
<div class="container area">
    <section>
        <div class="col-xs-12" role="banner">
            <div id="iws_rc_pagewidget_1">
                <a class="logo" href="#">
                    <img src="~/Content/Clients/283/Images/brand-logo.png" alt="logo" class="brand-logo" border="0">
                </a>
            </div>
        </div>
    </section><!-- /.row -->

    <div class="container" style="border: 1px solid #ddd; padding: 15px 20px; border-radius: 4px">
        <row>
            <div class="col-sm-3" role="banner" style="font-size: 12px; color: #808080; padding-right:0">
                <p style="margin: 0; color: #333"><strong>Customer #123456</strong></p>
                <p style="margin: 0; line-height: 130%; color: #333"><span style="font-size: 18px; font-weight:bold">Andrew Burton</span></p>
</div>
            <div class="col-sm-3" role="banner" style="font-size: 12px; color: #808080; padding-left: 0">
                <strong>Address</strong><br />
                123 1st St. Springville DM 12345
            </div>
            <div class="col-sm-3" role="banner" style="font-size: 12px; color: #808080">
                <strong>Home Profile</strong><br />
                13 Questions Answered | <span style="color: steelblue">View</span>
            </div>
            <div class="col-sm-3" role="banner" style="text-align: right; margin-top: 4px">
                <button class="primary-wide-btn">View As Customer</button>
            </div>
        </row><!-- /.row -->
        </div>
            </section><!-- /.row -->


        </div>
<!-- /.area -->