﻿<script src="https://use.fontawesome.com/601ba5b12c.js"></script>
<div id="pt1:pt_pgl18" class="footer-modified">
    <div class="container">
        <div class="row">
            <div class="footer-modified-inners">
                <div class="col-md-8 col-sm-8 col-ms-6">
                    <div class="copyright text-xs-center">
                        <p>© Aclara Theme - All Right Reserved 2017</p>
                        <div class="credits hidden-xs hidden-ms">

                            <a href="http://www.aclara.com/">Business Aclara Themes</a> by <a href="http://www.aclara.com/">Aclara Client Professional Services</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-ms-6">
                    <ul class="social-nav xs-pl-0 ms-pl-0 md-pt-10">
                        <li class="xs-ml-0 sm-ml-0">
                            <a href="http://www.aclara.com/" target="_blank">
                                <i class="fa fa-facebook">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.aclara.com/" target="_blank">
                                <i class="fa fa-flickr">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.aclara.com/" target="_blank">
                                <i class="fa fa-twitter">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.aclara.com/" target="_blank">
                                <i class="fa fa-wordpress">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.aclara.com/" target="_blank">
                                <i class="fa fa-youtube">
                                </i>
                            </a>
                        </li>
                    </ul>


                    @*<ul class="social-network">
                            <li><a href="#" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" data-placement="top" title="" data-original-title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
    </div>