﻿<!-- area wide links: manage account, in our community, working with JEA -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<div id="pt1:pt_pgl15" class="container header-wrap md-m-0">
    <div class="row header-wrap-inner">
        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 xs-pl-0 text-xs-center">
            <div id="iws_rc_pagewidget_1" class="logo-wrap" name="header">
                <a id="logoClick" class="logo" href="#" onclick="demoClick()">
                    <img src="~/Content/Clients/4/Images/AceEnergy-brand-logo.png" alt="logo" class="brand-logo">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="pt1:pt_pgl10" class="container nav-modified">
    <div id="iws_rc_pagewidget_3" class="navbar navbar-default navbar-static-top md-mb-0 nav-modified-inner" name="bluenav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-collapse-mod">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">My Account</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"> Services <i class="glyphicon glyphicon-menu-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Gold Series</a></li>
                        <li><a href="#">Silver Series</a></li>
                        <li><a href="#">Bronze Series</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Safety <i class="glyphicon glyphicon-menu-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Local</a></li>
                        <li><a href="#">Regional</a></li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown">Pages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">About Us <i class="glyphicon glyphicon-menu-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Presidents Message</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>



<div class="sticky" id="stickNav">
    <input type="button" data-name="show" value="➧" id="btnSticky" class="stickyToggle">

    <div id="ck-bx-wrapper">

    </div>
</div>

<script>
    $(document).ready(function () {
        var widgetNum = $("[id^= iws_rc_pagewidget]");
        //var widgetTotal = widgetNum.substring(17, 19);

        var widgetArray = new Array();
        widgetNum.each(function () {
            widgetArray.push($(this).slice(17));
        });

        var idCount = widgetArray.length + 1;
        //alert(idCount);

        for (var i = 1; i < idCount; i++) {
            var nameNum = 'iws_rc_pagewidget_' + i;
            var widgetName = $("#" + nameNum).attr("name");

            window.console && console.log(widgetName);

            var newSet = '<div class="checkbox "> <label> <input type="checkbox" id="chBk_' + i + '">' + widgetName + ' Widget</label></div>';
            $('#ck-bx-wrapper').append(newSet);

            //$(".answer").show();
            //else
            //  $(".answer").hide();

        }

        $("[id^=chBk_]").on('click', function () {
            //debugger;
            //alert(this.id);
            var w = this.id.slice(5);
            //window.console && console.log(w);
            var h = 'iws_rc_pagewidget_' + w;
            //alert(h);
            if (this.checked == true) {
                $("#" + h).hide();
            }
            else {
                $("#" + h).show();
            }
        });

        //window.console && console.log(widgetArray);

    });
</script>


<script type="text/javascript">
    //pt1:pt_pgl10-- Header ID
    //pt1:pt_pgl18-- Footer ID
    //window.onload = function () {
    //    //if (localStorage["hideClass"] == undefined || localStorage["hideClass"] == 0 || localStorage["hideClass"] == null || localStorage["hideClass"] == false || localStorage["hideClass"] == '') {
    //    //alert("localStorage is empty");
    //    //}

    //    if ("hideClass" in localStorage) {
    //        //alert(localStorage.getItem("hideClass"));

    //        document.getElementById('pt1:pt_pgl10').classList += " hidden";
    //        document.getElementById('pt1:pt_pgl15').classList += " hidden";
    //        document.getElementById('pt1:pt_pgl18').classList += " hidden";
    //        document.getElementById('logoClick').classList += " hide-now";

    //    } else {
    //        //alert('no');
    //    }

    //};

    function demoClick() {
        // alert("This is working 1");

        //declaring header and footer as a variable for the above specified id's
        var header = document.getElementById('pt1:pt_pgl10').classList;
        var topContent = document.getElementById('pt1:pt_pgl15').classList;
        var Footer = document.getElementById('pt1:pt_pgl18').classList;

        //declaring logo click class here
        var btn = document.getElementById('logoClick').classList;

        // setting local storage
        var setHide = localStorage.setItem("hideClass", "hide-now");

        // alert("Hide value is set locally");

        //storing local storage in var
        var getHide = localStorage.getItem("hideClass");
        if (btn.contains(getHide)) {
            //alert("Now you are in if loop..... ");
            localStorage.clear();
            header.toggle("hidden");
            topContent.toggle("hidden");
            Footer.toggle("hidden");
            document.getElementById('logoClick').classList = "logo";
            //Using Toggle adding and removing hidden class

        }
        else {
            header.toggle("hidden");
            topContent.toggle("hidden");
            Footer.toggle("hidden");
            document.getElementById('logoClick').classList += " " + getHide;
        }
    }
</script>


<script>
    $(document).ready(function () {
        $("#btnSticky").click(function () {
            if ($(this).data('name') == 'show') {
                $("#stickNav")
                    .animate({
                        left: '0px'
                    });
                $(this).data('name', 'hide');
            } else {
                $("#stickNav")
                    .animate({
                        left: '-160px'
                    })
                    .show();
                $(this).data('name', 'show');
            }
        });
    });
</script>
