﻿<header class="navbar navbar-top navTop">
    <div class="container">
        <a class="sr-only" href="#content">Skip navigation</a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

    </div>
</header>
<!-- area wide links: manage account, in our community, working with JEA -->

<div class="container">