﻿<script src="https://use.fontawesome.com/601ba5b12c.js"></script>
<footer class="wp-footer pull-left">
    <div class="footer-container">
        <ul class="footer-nav pull-left-md pull-left-sm pull-left-lg text-ms-center text-xs-center sm-mb-15 xs-pl-0 ms-pl-0">
            <li class="xs-ml-0 ms-ml-0 xs-pl-0 ms-pl-0">
                <a href="https://new.consumersenergy.com/contact-us" target="">
                    Contact
                </a>
            </li>
            <li>
                <a href="https://new.consumersenergy.com/privacy" target="">
                    Privacy
                </a>
            </li>
            <li>
                <a href="https://new.consumersenergy.com/terms-and-conditions" target="">
                    Terms &amp; Conditions
                </a>
            </li>
            <li>
                © 2017 Consumers Energy
            </li>
        </ul>
        <ul class="social-nav pull-right-md pull-right-sm pull-right-lg text-ms-center text-xs-center xs-pl-0 ms-pl-0">
            <li class="xs-ml-0 sm-ml-0">
                <a href="https://www.facebook.com/consumersenergymichigan" target="_blank">
                    <i class="fa fa-facebook">
                    </i>
                </a>
            </li>
            <li>
                <a href="http://www.flickr.com/consumersenergy" target="_blank">
                    <i class="fa fa-flickr">
                    </i>
                </a>
            </li>
            <li>
                <a href="http://www.twitter.com/consumersenergy" target="_blank">
                    <i class="fa fa-twitter">
                    </i>
                </a>
            </li>
            <li>
                <a href="http://consumersenergyinyourcommunity.wordpress.com/" target="_blank">
                    <i class="fa fa-wordpress">
                    </i>
                </a>
            </li>
            <li>
                <a href="http://www.youtube.com/consumersenergy" target="_blank">
                    <i class="fa fa-youtube">
                    </i>
                </a>
            </li>
        </ul>
    </div>
</footer>