﻿<div class="site-header">
    <div class="container">
        <div class="panel panel-default xs-mb-0 ms-pb-15 xs-mt-15">
            <div class="panel-body xs-m-0 xs-pl-0 xs-pr-0 xs-pb-0 ms-pt-10">
                <div class="col-xs-12 col-ms-4 col-md-4 col-lg-4 xs-pl-0 ms-pb-10 xs-pr-0 text-xs-center">
                    <a class="logo xs-p-10 xs-pl-20 ms-pl-10" href="#"><img class="logo desktop" alt="Consumer" s="" energy="" website'="" src="~/Content/Clients/80/images/HeaderDefaultLogo.png" width="160" height="49"></a>
                </div>
                <div class="col-xs-12 col-ms-8 col-md-8 col-lg-8 text-right text-xs-center xs-pr-0 ms-pl-0 header-returnLink" role="navigation" aria-label="Account, Community, and working with us">
                    <ul class="top-links pull-right-ms pull-right-sm pull-right-md pull-right-lg inline-block xs-p-10 ms-pl-0 xs-pr-10 ms-pb-0 ms-mb-0" role="menu"><li role="option"><a href="https://consumersenergy.com/">Return to ConsumersEnergy.com</a></li></ul>
                </div>
            </div>
        </div>
    </div>
</div>