﻿<!-- Sidebar -->
<!-- toggle -->
            
<p class="visible-xs visible-ms" style="color: #fff; padding: 15px"><button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button></p>
<!-- container class shows only if sidebar is enabled -->
<div class="container">
<div class="row-offcanvas row-offcanvas-left">
<div class="col-sm-3 sidebar-offcanvas" id="sidebar">
    <div id="acl-remote-sidenav"></div>
</div>


<!--/.sidebar-offcanvas-->
<!-- Content - temporary columns to test -->
<div class="col-sm-9 xs-pl-0 xs-pr-0">
