﻿@model List<CE.WeatherSensitivityWebJobsWeb.Models.RootObject>
@{
    ViewBag.Title = "History";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@foreach (var item in Model)
{
    <tr>
        <td>
            <b>@Html.DisplayFor(modelItem => item.name)</b><br />
        </td>
        @*<td>
            History URL: @Html.DisplayFor(modelItem => item.history_url)<br />
        </td>*@
        <td>
            @if (item.latest_run != null)
            {
                <ul>
                    <li><b>Start Time: </b>@Html.DisplayFor(modelItem => item.latest_run.start_time)</li>
                    <li><b>End Time: </b>@Html.DisplayFor(modelItem => item.latest_run.end_time)</li>
                    <li><b>Status: </b>@Html.DisplayFor(modelItem => item.latest_run.status)</li>
                    <li><b>Duration: </b>@Html.DisplayFor(modelItem => item.latest_run.duration)</li>
                    <li><b>Trigger: </b>@Html.DisplayFor(modelItem => item.latest_run.trigger)</li>
                    
                </ul>

            }
        </td>

    </tr>

   
}

<input type="submit" onclick="refreshPage()" value="Refresh" />

<script>
        function refreshPage() {
            window.location.href = '/Home/History/' + @ViewBag.clientId;
        }
</script>