﻿@model CE.WeatherSensitivityWebJobsWeb.Models.ReportViewModel

@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

@*<div>
    <button onclick="OpenDialog()">
        Open Dialog
    </button>
</div>*@

<div id="Dialog-Box-history" title="Enter Client ID">
    <input type="text" id="Dialog-history-clientId" />
    <input type="submit" onclick="showhistory()" value="History" />
</div>
<div id="Dialog-Box-reportlist" title="Enter Client ID">
    <input type="text" id="Dialog-reportlist-clientId" />
    <input type="submit" onclick="showreportlist()" value="Get Report List" />
</div>

<div class="jumbotron">
    <h1>Weather Sensitivity Program</h1>
    <p class="lead">Weather Sensitivity program that explains to utility customers how their usage increases on extreme weather days and warns them of upcoming extreme temperatures.</p>
    @*<p>Objectives:</p>
    
    <ul>
        <li>Implement an Extreme Day Self Comparison chart using AMI and weather data</li>
        <li>Implement an Extreme Day Peer Comparison chart using AMI and weather data</li>
        <li>Send the program managers a daily weather forecast</li>
        <li>Program managers can initiate customer emails on extreme days</li>
        <li>Program managers can initiate monthly print reports</li>
    </ul>*@

</div>

<input type="checkbox" id="cboxtrial" checked><label id="lbltrial" for="cboxtrial" style="color:red; font-size: 170%;">:      Trial</label>
<div class="row">
    <div class="col-md-4">
        <h2>Run Benchmarks</h2>
        <p>
            Fill in the data to generate benchmarks:
            @using (Ajax.BeginForm("RunBenchmarkWebJob", new AjaxOptions {UpdateTargetId = "benchmarkresponseMessage" }))
            {
                @Html.LabelFor(m => m.BenchmarkModel.ReportAlias)
                <br/>
                @Html.TextBoxFor(m => m.BenchmarkModel.ReportAlias)
                <br/>
                @Html.LabelFor(m => m.BenchmarkModel.ClientId)
                <br/>
                @Html.TextBoxFor(m => m.BenchmarkModel.ClientId)
                <br/>
                @Html.LabelFor(m => m.BenchmarkModel.ReportRequestDate)
                <br/>
                @Html.TextBoxFor(m => m.BenchmarkModel.ReportRequestDate, new {mask = "99/99/9999"})
                <br/>
                @Html.LabelFor(m => m.BenchmarkModel.UserName)
                <br/>
                @Html.TextBoxFor(m => m.BenchmarkModel.UserName, new {autocomplete = "off"})
                @Html.HiddenFor(m => m.BenchmarkModel.Trial);
                <br/>

                <br/>
                <input class="btn btn-default" type="submit" value="Generate Report &raquo;"/>
            }
        </p>
        <div id='benchmarkresponseMessage'>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Email Report</h2>
        <p>
            Enter data to generate an email report:
            @using (Ajax.BeginForm("RunEmailReportWebJob", new AjaxOptions { UpdateTargetId = "emailresponseMessage" }))
            {
                @Html.LabelFor(m => m.EmailReportModel.ReportAlias)
                <br />
                @Html.TextBoxFor(m => m.EmailReportModel.ReportAlias)
                <br />
                @Html.LabelFor(m => m.EmailReportModel.ClientId)
                <br />
                @Html.TextBoxFor(m => m.EmailReportModel.ClientId)
                <br />
                @Html.LabelFor(m => m.EmailReportModel.ReportRequestDate)
                <br />
                @Html.TextBoxFor(m => m.EmailReportModel.ReportRequestDate, new { mask = "99/99/9999" })
                <br />
                @Html.LabelFor(m => m.EmailReportModel.UserName)
                <br />
                @Html.TextBoxFor(m => m.EmailReportModel.UserName, new { autocomplete = "off" })

                @Html.HiddenFor(m => m.EmailReportModel.Trial);

                <br />

                <br />
                <input class="btn btn-default" type="submit" value="Generate Report &raquo;" />
            }
        </p>
        <div id='emailresponseMessage'>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Print Report</h2>
        <p>
            Fill in the data to generate an email report:
            @using (Ajax.BeginForm("RunPrintReportWebJob", new AjaxOptions { UpdateTargetId = "printresponseMessage" }))
            {
                @Html.LabelFor(m => m.PrintReportModel.ReportAlias)
                <br />
                @Html.TextBoxFor(m => m.PrintReportModel.ReportAlias)
                <br />
                @Html.LabelFor(m => m.PrintReportModel.ClientId)
                <br />
                @Html.TextBoxFor(m => m.PrintReportModel.ClientId)
                <br />
                @Html.LabelFor(m => m.PrintReportModel.ReportRequestDate)
                <br />
                @Html.TextBoxFor(m => m.PrintReportModel.ReportRequestDate, new { mask = "99/99/9999" })
                <br />
                @Html.LabelFor(m => m.PrintReportModel.UserName)
                <br />
                @Html.TextBoxFor(m => m.PrintReportModel.UserName, new { autocomplete = "off" })
                @Html.HiddenFor(m => m.PrintReportModel.Trial);
                <br />

                <br />
                <input class="btn btn-default" type="submit" value="Generate Report &raquo;" />
            }
        </p>
         <div id='printresponseMessage'>
        </div>
    </div>
    
    
   
    
    <script>
        $(document)
            .ready(function() {
                $('#Dialog-Box-reportlist').dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false,
                    position: {
                        my: 'top',
                        at: 'top+75'
                    }
                });
                $('#Dialog-Box-history').dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false,
                    position: {
                        my: 'top',
                        at: 'top+75'
                    }
                });
            });
      
       
        //$('#Dialog-Box-reportlist').dialog({
        //    autoOpen: false,
        //    modal: true,
        //    resizable: false,
        //    position: {
        //        my: 'top',
        //        at: 'top+75'
        //    }
        //});

        function OpenReportListDialog() {
            //var opt = {
            //    autoOpen: false,
            //    modal: true,
            //    resizable: false,
            //    position: {
            //        my: 'top',
            //        at: 'top+75'
            //    },
            //    title:'Eneter Client Id'
            //};
            //$('#Dialog-Box-reportlist').dialog('open');
            var theDialog = $("#Dialog-Box-reportlist").dialog();
            theDialog.dialog("open");

        }

        function showreportlist() {
            window.location.href = '/Home/Reports/' + $('#Dialog-reportlist-clientId').val();
            $('#Dialog-Box-reportlist').dialog('close');
        }

        function OpenHistoryDialog() {
          
            //$('#Dialog-Box-reportlist').dialog('open');
            var theDialog = $("#Dialog-Box-history").dialog();
            theDialog.dialog("open");
        }

        function showhistory() {
            window.location.href = '/Home/History/' + $('#Dialog-history-clientId').val();
            $('#Dialog-Box-history').dialog('close');

            @*$.ajax({
                url: '@Url.Action("History", "Home")',
                type: 'POST',
                data: {
                    clientId: $('#Dialog-clientId').val(),
                },
                success: function (msg) {
                    window.location.href = '/Home/History';
                    $('#Dialog-Box').dialog('close');
                },
                error: function (msg) {
                    $('#Dialog-Box').dialog('close');
                }
            });*@

        }
        $('#cboxtrial').on('click', function () {
            //check if checkox is checked    
            if ($(this).is(':checked')) {
                //add extra option
                $('#lbltrial').text(" :      Trial");
                $('#EmailReportModel_Trial').val("true");
                $('#PrintReportModel_Trial').val("true");
                $('#BenchmarkModel_Trial').val("true");
                
            } else {
                $('#lbltrial').text(" :      Non-Trial");
                $('#EmailReportModel_Trial').val("false");
                $('#PrintReportModel_Trial').val("false");
                $('#BenchmarkModel_Trial').val("false");
            }
            
        });
    </script>

</div>