﻿@model List<ReportOutputLib.FileInfo>
@{
    ViewBag.Title = "Report List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@foreach (var item in Model)
{
    <tr>
        <td>
            <b onclick='selectfile(event)'>@Html.DisplayFor(modelItem => item.Name)</b><br />
            <ul>
                <li><b>Directory: </b>@Html.DisplayFor(modelItem => item.Directory)</li>
               
                <li><b>Last Modified: </b>@Html.DisplayFor(modelItem => item.CreateDateTime)</li>
                
            </ul>
            
        </td>
     

    </tr>
    


}
<br/>

@using (Html.BeginForm("Download", "Home"))
{
    <div>
        Selected File:
        <br />
        @Html.TextBox("selectedfile", null, new { style = "width:350px" })
        <br />
        @*Local folder path:
        <br />
        @Html.TextBox("localfolderpath", null, new { style = "width:350px" })
        <br />*@
        Client Id:
        <br />
        @Html.TextBox("clientid", null, new { style = "width:100px" })
        <br />
        @*< input type = "submit" onclick = "download()" value = "Download Selected File" /> *@
        <input type="submit" value="download" />

    </div>
}

<br />


<input type="submit" onclick="refreshPage()" value="Refresh" />

<script>
    function selectfile(e){ 
        if (!e) var e = window.event;                // Get the window event
        e.cancelBubble = true;                       // IE Stop propagation
        if (e.stopPropagation) e.stopPropagation();  // Other Broswers
        console.log('td clicked');
        console.log(e);
        document.getElementById("selectedfile").value = e.target.textContent;
    }

    function refreshPage() {
        window.location.href = '/Home/Reports/' + @ViewBag.clientId;
    }
    //function download() {
        
    //    if (document.getElementById("selectedfile").value === "")
    //        alert("please select a file");
    //    else {
    //        window.location.href = '/Home/download';
    //    }
       
    //}
</script>