﻿@{
    ViewBag.Title = "Chart";
}
<!DOCTYPE html>
<html>
<head>
    <title>Chart</title>
    <script src="../../Scripts/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../../Scripts/hmac-sha256.js"></script>
    <script src="../../Scripts/core-min.js"></script>
    <script src="../../Scripts/enc-base64-min.js"></script>

    <script type="text/javascript" src="../../Scripts/FusionCharts/FusionCharts.js"></script>
    <script type="text/javascript" src="../../Scripts/FusionCharts/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/FusionCharts/FusionCharts.jqueryplugin.js"></script>
     
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }

        #usage-graph {
            min-height: 100%;
        }
    </style>


</head>
<body>
    <div id="body">
        <section>
            <div id="usage-graph">
            </div>
        </section>
    </div>
</body>


</html>
<script type="text/javascript">

    var dNow = new Date();
    var utc = new Date(dNow.getTime() + dNow.getTimezoneOffset() * 60000)
    var utcdate = ("0" + (utc.getMonth() + 1)).slice(-2) + '/' + ("0" + utc.getDate()).slice(-2) + '/' + utc.getFullYear() + ' ' + ("0" + utc.getHours()).slice(-2) + ':' + ("0" + utc.getMinutes()).slice(-2) + ':' + ("0" + utc.getSeconds()).slice(-2);

    var str = "POST\n\n" + utcdate + "\nKEYID23456789EXAMPLE\n/ce.insights/api/v1/chartdata/chartstream";
    var r1 = CryptoJS.HmacSHA256(str, "BaetVecKHeEEdqMeBOX98SM6Hqg=");
    var req = CryptoJS.enc.Base64.stringify(r1);
    req = "KEYID23456789EXAMPLE" + ":" + req;

    $.ajax({
        url: "../v1/chartdata/chartstream?en='testing'",
        type: "POST",
        async: false,
        //data: dat,
        dataType: "json",
        headers: { "X-DateTime": utcdate, "X-CE-AccessKeyId": "KEYID23456789EXAMPLE" },
        contentType: "application/json; charset=utf-8",
        beforeSend: function (request, xhr) {
            request.setRequestHeader('authorization', 'CE ' + req);
            //request.setRequestHeader('content-md5', 'jS3ufcxsLEX5ZuiGkSMDtQ==');
        },
        success: function (msg) {
            $('#usage-graph').html(msg);
        },
        error: function (msg) { }
    });


    function createCORSRequest(method, url) {
        var xhr = new XMLHttpRequest();
        if ("withCredentials" in xhr) {
            // XHR has 'withCredentials' property only if it supports CORS
            xhr.open(method, url, true);
        } else if (typeof XDomainRequest != "undefined") { // if IE use XDR
            xhr = new XDomainRequest();
            xhr.open(method, url);
        } else {
            xhr = null;
        }
        return xhr;
    }

    var request = createCORSRequest("get", "http://enggargelap/CE.Insights/api/v1/chart");
    if (request) {
        // Define a callback function
        request.onload = function () { };
        // Send request
        request.send();
    }


    $('#usage-graph').insertFusionCharts({
        swfUrl: "../../Scripts/FusionCharts/Column3D.swf",
        width: "400",
        height: "300",
        id: "myChartId",

        dataFormat: "json",
        dataSource: {
            "chart": {
                "caption": "Weekly Sales Summary",
                "xAxisName": "Week",
                "yAxisName": "Sales",
                "numberPrefix": "$"
            },

            "data":
             [
                      { "label": "Week 1", "value": "14400" },
                      { "label": "Week 2", "value": "19600" },
                      { "label": "Week 3", "value": "24000" },
                      { "label": "Week 4", "value": "15700" }
             ]
        }
    });
</script>