﻿body {
}

.acl-panel-notification-detail .acl-button.valign-inside-top {
    width: 100% !important;
    text-align: right !important;
}

#iws_in_list .acl-text.valign-inside-top {
    display: table-cell !important;
    font-size: 12px;
}

.panel-comparison .panel-heading {
    font-weight: 600;
    color: #4F4F4F;
    font-size: 15px;
    background-color: #F5F5F5;
    padding: 10px 0px 0px 10px !important;
}

