﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <!-- Error -->
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>


    <div *ngIf="!errorOccurred">
        <!-- No data -->
        <div *ngIf="result.NoBills == true" class="panel panel-default">
            <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
                <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
            </div>
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NoBillsText}}</strong>
            </div>
        </div>


        <div *ngIf="result.NoBills !== true && result.BilledUsageLastYear !== null && result.BilledUsagePreviousYear!==null && result.CommoditiesText !== null" class="panel panel-default panel-bill-usage">
            <!-- Title -->
            <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
                <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
            </div>

            <!-- Subtitle and Introtext -->
            <div *ngIf="result.ShowSubTitle === 'true' || result.ShowIntro === 'true'">
                <div class="panel-body xs-pt-0 xs-pb-0 xs-mb-0">
                    <div *ngIf="result.ShowSubTitle == 'true' && result.SubTitle !== ''" class="sub-title xs-mb-10">{{result.SubTitle}}</div>
                    <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text" style="white-space: pre-line">{{result.IntroText}}</div>
                </div>
            </div>

            <div class="panel-body utility">
                <div class="utility-icons pull-right">
                    <div class="u-icon-focus">
                        <a *ngIf="result.ShowCommodities === true && result.ShowGas === true" aria-label="Gas Commodity" (click)="getUsage('gas')" href="#" onclick="return false;" class="btn btn-default xs-ml-5 icon__gas" [ngClass]="selectedCommodity==='gas' ? 'icon_focus' : ''" role="button">
                            <span class="sr-only">{{result.GasLabel}} commodity</span><span class="icon icon-flame"></span>
                            <span *ngIf="result.ShowCommodityLabels === 'true'" class="hidden-xs">{{result.GasLabel}}</span>
                            <span class="print-only">{{result.GasLabel}}</span>
                        </a>

                        <a *ngIf="result.ShowCommodities === true && result.ShowElectric === true" aria-label="Electric Commodity" (click)="getUsage('electric')" href="#" onclick="return false;" class="btn btn-default xs-ml-5 icon__electric" [ngClass]="selectedCommodity==='electric' ? 'icon_focus' : ''" role="button">
                            <span class="sr-only">{{result.ElectricLabel}} commodity</span><span class="icon icon-bolt"></span>
                            <span *ngIf="result.ShowCommodityLabels === 'true'" class="hidden-xs">{{result.ElectricLabel}}</span>
                            <span class="print-only">{{result.ElectricLabel}}</span>
                        </a>

                        <a *ngIf="result.ShowCommodities === true && result.ShowWater === true" aria-label="Water Commodity" (click)="getUsage('water')" href="#" onclick="return false;" class="btn btn-default xs-ml-5 icon__water" [ngClass]="selectedCommodity==='water' ? 'icon_focus' : ''" role="button">
                            <span class="sr-only">{{result.WaterLabel}} commodity</span><span class="icon icon-drop"></span>
                            <span *ngIf="result.ShowCommodityLabels === 'true'" class="hidden-xs">{{result.WaterLabel}}</span>
                            <span class="print-only">{{result.WaterLabel}}</span>
                        </a>
                        <a href="#" onclick="return false;" (click)="getUsage('')" class="btn btn-default chart-table-spacer" aria-label="Toggle chart table data" [ngClass]="showChart ? 'icon__table' : 'icon__graph'" role="button">
                            <span class="sr-only">Toggle chart table data</span>
                            <span class="icon" [ngClass]="showChart ? 'icon-table' : 'icon-graph'"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div [style.display]="showChart ? 'block': 'none'">
                    <div id="usage_chart" style="height: 300px"></div>
                </div>
                <div [style.display]="showChart ? 'none': 'block'">
                    <div class="table-responsive" role="grid" aria-readonly="true">
                        <table class="table" role="presentation">
                            <thead>
                                <tr role="row">
                                    <th role="columnheader">Month</th>
                                    <th role="columnheader">{{result.CurrentYearLegend}}</th>
                                    <th role="columnheader">{{result.PrevYearLegend}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of table" role="row">
                                    <td role="rowheader"><a href="#" onclick="return false;">{{l.col1}}</a></td>
                                    <td role="gridcell"><a href="#" onclick="return false;">{{l.col2}}</a></td>
                                    <td role="gridcell"><a href="#" onclick="return false;">{{l.col3}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer">
                <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink dv-external-links">
                    <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                </div>
            </div>
        </div>
    </div>
</div>