﻿@using CE.AO.Portal.Models
@model LoginViewModel

@{
    ViewBag.Title = "Aclara One";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

@*<h2>@ViewBag.Title</h2>*@

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default login-panel">
                <div class="panel-body">

                    <div class="brand">ACLARA ONE</div>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>
                                Sign in with your
                                <strong>Email &amp; Password</strong>
                            </h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", align = "left"})
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", onblur = "removeMessage();" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })             
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>*@
                            <div class="form-group">
                                @*<div class="col-md-offset-2 col-md-10">*@
                                <input type="submit" value="Sign in" class="btn btn-primary btn-lg btn-block" />
                                @*</div>*@
                            </div>
                            @*<p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>*@
                            @* Enable this once you have account confirmation enabled for password reset functionality*@
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>
                        }
                    </section>
                </div>
            </div>
        </div>

    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function removeMessage() {
        if ($(".field-validation-error span").length !== 0)
            $(".validation-summary-errors").css("display", "none");
    }
</script>
