﻿@charset "UTF-8";
/*==========  variables ===========*/
/*========== Panel variants ===========*/
/*==========  variables ===========*/
@media (min-width: 0) and (max-width: 479px) {
  .block-xs {
    display: block !important;
  }
}

.chart-table-spacer {
  margin-left: 20px;
}

.just-letting-you-know {
  -webkit-transition: #ff0000 0.3s ease-in-out;
  -moz-transition: #ff0000 0.3s ease-in-out;
  -ms-transition: #ff0000 0.3s ease-in-out;
  -o-transition: #ff0000 0.3s ease-in-out;
  transition: #ff0000 0.3s ease-in-out;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.panel-footer div:empty, .hideEmptyCont ul:empty, .hideEmptyCont div:empty {
  display: none !important;
}

.progress {
  background: whitesmoke;
  border: 0 solid whitesmoke;
  border-radius: 17px;
  height: 10px;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.table-display {
  display: table;
}

/*custom pull and push based on responsive state.*/
.pull-none-xs, .pull-none-ms, .pull-none-sm, .pull-none-md, .pull-none-lg {
  float: none  !important;
}

@media (max-width: 480px) {
  /** Pull left XS **/
  .pull-left-xs {
    float: left;
  }
  /** Pull right XS **/
  .pull-right-xs {
    float: right;
  }
}

@media (min-width: 767px) {
  /** Pull left Ms **/
  .pull-left-ms {
    float: left;
  }
  /** Pull right Ms **/
  .pull-right-ms {
    float: right;
  }
}

@media (min-width: 768px) {
  /** Pull left Sm **/
  .pull-left-sm {
    float: left;
  }
  /** Pull right Sm **/
  .pull-right-sm {
    float: right;
  }
  .pull-none-sm {
    float: none;
  }
}

@media (min-width: 992px) {
  /** Pull left **/
  .pull-left-md {
    float: left;
  }
  /** Pull right **/
  .pull-right-md {
    float: right;
  }
}

@media (min-width: 1200px) {
  /** Pull left **/
  .pull-left-lg {
    float: left;
  }
  /** Pull right **/
  .pull-right-lg {
    float: right;
  }
}

.text-italic {
  font-style: italic !important;
}

.text-monospace {
  font-family: monospace !important;
}

.text-normal {
  font-weight: normal !important;
}

.text-strikethrough {
  text-decoration: line-through !important;
}

.text-strong {
  font-weight: 500 !important;
}

.text-stronger {
  font-weight: 700 !important;
}

/*custom text alignment based on responsive state*/
@media (min-width: 0) and (max-width: 479px) {
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-center {
    text-align: center;
  }
  .text-xs-justify {
    text-align: justify;
  }
}

@media (min-width: 480px) {
  .text-ms-left {
    text-align: left;
  }
  .text-ms-right {
    text-align: right;
  }
  .text-ms-center {
    text-align: center !important;
  }
  .text-ms-justify {
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}

/* Equal Height Columns */
.equal-height {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#equalheight {
  overflow: hidden;
}

/*column gutter paddings to 0*/
.no-left-gutter[class*='col-'] {
  padding-left: 0;
}

.no-right-gutter[class*='col-'] {
  padding-right: 0;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* custom margin and padding */
.xs-p-0 {
  padding: 0 !important;
}

.xs-p-5 {
  padding: 5px;
}

.xs-p-10 {
  padding: 10px;
}

.xs-p-15 {
  padding: 15px;
}

.xs-p-20 {
  padding: 20px;
}

.xs-p-30 {
  padding: 30px;
}

.xs-pt-0 {
  padding-top: 0 !important;
}

.xs-pt-5 {
  padding-top: 5px;
}

.xs-pt-10 {
  padding-top: 10px;
}

.xs-pt-15 {
  padding-top: 15px;
}

.xs-pt-20 {
  padding-top: 20px;
}

.xs-pt-30 {
  padding-top: 30px;
}

.xs-pr-0 {
  padding-right: 0 !important;
}

.xs-pr-5 {
  padding-right: 5px;
}

.xs-pr-10 {
  padding-right: 10px;
}

.xs-pr-15 {
  padding-right: 15px;
}

.xs-pr-20 {
  padding-right: 20px;
}

.xs-pr-30 {
  padding-right: 30px;
}

.xs-pb-0 {
  padding-bottom: 0 !important;
}

.xs-pb-5 {
  padding-bottom: 5px;
}

.xs-pb-10 {
  padding-bottom: 10px;
}

.xs-pb-15 {
  padding-bottom: 15px;
}

.xs-pb-20 {
  padding-bottom: 20px;
}

.xs-pb-30 {
  padding-bottom: 30px;
}

.xs-pl-0 {
  padding-left: 0 !important;
}

.xs-pl-5 {
  padding-left: 5px;
}

.xs-pl-10 {
  padding-left: 10px;
}

.xs-pl-15 {
  padding-left: 15px;
}

.xs-pl-20 {
  padding-left: 20px;
}

.xs-pl-30 {
  padding-left: 30px;
}

.xs-m-0 {
  margin: 0 !important;
}

.xs-m-5 {
  margin: 5px;
}

.xs-m-10 {
  margin: 10px;
}

.xs-m-15 {
  margin: 15px;
}

.xs-m-20 {
  margin: 20px;
}

.xs-m-30 {
  margin: 30px;
}

.xs-mt-0 {
  margin-top: 0 !important;
}

.xs-mt-5 {
  margin-top: 5px;
}

.xs-mt-10 {
  margin-top: 10px;
}

.xs-mt-15 {
  margin-top: 15px;
}

.xs-mt-20 {
  margin-top: 20px;
}

.xs-mt-30 {
  margin-top: 30px;
}

.xs-mr-0 {
  margin-right: 0 !important;
}

.xs-mr-5 {
  margin-right: 5px;
}

.xs-mr-10 {
  margin-right: 10px;
}

.xs-mr-15 {
  margin-right: 15px;
}

.xs-mr-20 {
  margin-right: 20px;
}

.xs-mr-30 {
  margin-right: 30px;
}

.xs-mb-0 {
  margin-bottom: 0 !important;
}

.xs-mb-5 {
  margin-bottom: 5px;
}

.xs-mb-10 {
  margin-bottom: 10px;
}

.xs-mb-15 {
  margin-bottom: 15px;
}

.xs-mb-20 {
  margin-bottom: 20px;
}

.xs-mb-30 {
  margin-bottom: 30px;
}

.xs-ml-0 {
  margin-left: 0 !important;
}

.xs-ml-5 {
  margin-left: 5px;
}

.xs-ml-10 {
  margin-left: 10px;
}

.xs-ml-15 {
  margin-left: 15px;
}

.xs-ml-20 {
  margin-left: 20px;
}

.xs-ml-30 {
  margin-left: 30px;
}

@media screen and (min-width: 480px) {
  .ms-p-0 {
    padding: 0 !important;
  }
  .ms-p-5 {
    padding: 5px;
  }
  .ms-p-10 {
    padding: 10px;
  }
  .ms-p-15 {
    padding: 15px;
  }
  .ms-p-20 {
    padding: 20px;
  }
  .ms-p-30 {
    padding: 30px;
  }
  .ms-pt-0 {
    padding-top: 0 !important;
  }
  .ms-pt-5 {
    padding-top: 5px;
  }
  .ms-pt-10 {
    padding-top: 10px;
  }
  .ms-pt-15 {
    padding-top: 15px;
  }
  .ms-pt-20 {
    padding-top: 20px;
  }
  .ms-pt-30 {
    padding-top: 30px;
  }
  .ms-pr-0 {
    padding-right: 0 !important;
  }
  .ms-pr-5 {
    padding-right: 5px;
  }
  .ms-pr-10 {
    padding-right: 10px;
  }
  .ms-pr-15 {
    padding-right: 15px;
  }
  .ms-pr-20 {
    padding-right: 20px;
  }
  .ms-pr-30 {
    padding-right: 30px;
  }
  .ms-pb-0 {
    padding-bottom: 0 !important;
  }
  .ms-pb-5 {
    padding-bottom: 5px;
  }
  .ms-pb-10 {
    padding-bottom: 10px;
  }
  .ms-pb-15 {
    padding-bottom: 15px;
  }
  .ms-pb-20 {
    padding-bottom: 20px;
  }
  .ms-pb-30 {
    padding-bottom: 30px;
  }
  .ms-pl-0 {
    padding-left: 0 !important;
  }
  .ms-pl-5 {
    padding-left: 5px;
  }
  .ms-pl-10 {
    padding-left: 10px;
  }
  .ms-pl-15 {
    padding-left: 15px;
  }
  .ms-pl-20 {
    padding-left: 20px;
  }
  .ms-pl-30 {
    padding-left: 30px;
  }
  .ms-m-0 {
    margin: 0 !important;
  }
  .ms-m-5 {
    margin: 5px;
  }
  .ms-m-10 {
    margin: 10px;
  }
  .ms-m-15 {
    margin: 15px;
  }
  .ms-m-20 {
    margin: 20px;
  }
  .ms-m-30 {
    margin: 30px;
  }
  .ms-mt-0 {
    margin-top: 0 !important;
  }
  .ms-mt-5 {
    margin-top: 5px;
  }
  .ms-mt-10 {
    margin-top: 10px;
  }
  .ms-mt-15 {
    margin-top: 15px;
  }
  .ms-mt-20 {
    margin-top: 20px;
  }
  .ms-mt-30 {
    margin-top: 30px;
  }
  .ms-mr-0 {
    margin-right: 0 !important;
  }
  .ms-mr-5 {
    margin-right: 5px;
  }
  .ms-mr-10 {
    margin-right: 10px;
  }
  .ms-mr-15 {
    margin-right: 15px;
  }
  .ms-mr-20 {
    margin-right: 20px;
  }
  .ms-mr-30 {
    margin-right: 30px;
  }
  .ms-mb-0 {
    margin-bottom: 0 !important;
  }
  .ms-mb-5 {
    margin-bottom: 5px;
  }
  .ms-mb-10 {
    margin-bottom: 10px;
  }
  .ms-mb-15 {
    margin-bottom: 15px;
  }
  .ms-mb-20 {
    margin-bottom: 20px;
  }
  .ms-mb-30 {
    margin-bottom: 30px;
  }
  .ms-ml-0 {
    margin-left: 0 !important;
  }
  .ms-ml-5 {
    margin-left: 5px;
  }
  .ms-ml-10 {
    margin-left: 10px;
  }
  .ms-ml-15 {
    margin-left: 15px;
  }
  .ms-ml-20 {
    margin-left: 20px;
  }
  .ms-ml-30 {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .sm-p-0 {
    padding: 0 !important;
  }
  .sm-p-5 {
    padding: 5px;
  }
  .sm-p-10 {
    padding: 10px;
  }
  .sm-p-15 {
    padding: 15px;
  }
  .sm-p-20 {
    padding: 20px;
  }
  .sm-p-30 {
    padding: 30px;
  }
  .sm-pt-0 {
    padding-top: 0 !important;
  }
  .sm-pt-5 {
    padding-top: 5px;
  }
  .sm-pt-10 {
    padding-top: 10px;
  }
  .sm-pt-15 {
    padding-top: 15px;
  }
  .sm-pt-20 {
    padding-top: 20px;
  }
  .sm-pt-30 {
    padding-top: 30px;
  }
  .sm-pr-0 {
    padding-right: 0 !important;
  }
  .sm-pr-5 {
    padding-right: 5px;
  }
  .sm-pr-10 {
    padding-right: 10px;
  }
  .sm-pr-15 {
    padding-right: 15px;
  }
  .sm-pr-20 {
    padding-right: 20px;
  }
  .sm-pr-30 {
    padding-right: 30px;
  }
  .sm-pb-0 {
    padding-bottom: 0 !important;
  }
  .sm-pb-5 {
    padding-bottom: 5px;
  }
  .sm-pb-10 {
    padding-bottom: 10px;
  }
  .sm-pb-15 {
    padding-bottom: 15px;
  }
  .sm-pb-20 {
    padding-bottom: 20px;
  }
  .sm-pb-30 {
    padding-bottom: 30px;
  }
  .sm-pl-0 {
    padding-left: 0 !important;
  }
  .sm-pl-5 {
    padding-left: 5px;
  }
  .sm-pl-10 {
    padding-left: 10px;
  }
  .sm-pl-15 {
    padding-left: 15px;
  }
  .sm-pl-20 {
    padding-left: 20px;
  }
  .sm-pl-30 {
    padding-left: 30px;
  }
  .sm-m-0 {
    margin: 0 !important;
  }
  .sm-m-5 {
    margin: 5px;
  }
  .sm-m-10 {
    margin: 10px;
  }
  .sm-m-15 {
    margin: 15px;
  }
  .sm-m-20 {
    margin: 20px;
  }
  .sm-m-30 {
    margin: 30px;
  }
  .sm-mt-0 {
    margin-top: 0;
  }
  .sm-mt-5 {
    margin-top: 5px;
  }
  .sm-mt-10 {
    margin-top: 10px;
  }
  .sm-mt-15 {
    margin-top: 15px;
  }
  .sm-mt-20 {
    margin-top: 20px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mr-0 {
    margin-right: 0;
  }
  .sm-mr-5 {
    margin-right: 5px;
  }
  .sm-mr-10 {
    margin-right: 10px;
  }
  .sm-mr-15 {
    margin-right: 15px;
  }
  .sm-mr-20 {
    margin-right: 20px;
  }
  .sm-mr-30 {
    margin-right: 30px;
  }
  .sm-mb-0 {
    margin-bottom: 0;
  }
  .sm-mb-5 {
    margin-bottom: 5px;
  }
  .sm-mb-10 {
    margin-bottom: 10px;
  }
  .sm-mb-15 {
    margin-bottom: 15px;
  }
  .sm-mb-20 {
    margin-bottom: 20px;
  }
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .sm-ml-0 {
    margin-left: 0;
  }
  .sm-ml-5 {
    margin-left: 5px;
  }
  .sm-ml-10 {
    margin-left: 10px;
  }
  .sm-ml-15 {
    margin-left: 15px;
  }
  .sm-ml-20 {
    margin-left: 20px;
  }
  .sm-ml-30 {
    margin-left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .md-p-0 {
    padding: 0;
  }
  .md-p-5 {
    padding: 5px;
  }
  .md-p-10 {
    padding: 10px;
  }
  .md-p-15 {
    padding: 15px;
  }
  .md-p-20 {
    padding: 20px;
  }
  .md-p-30 {
    padding: 30px;
  }
  .md-pt-0 {
    padding-top: 0;
  }
  .md-pt-5 {
    padding-top: 5px;
  }
  .md-pt-10 {
    padding-top: 10px;
  }
  .md-pt-15 {
    padding-top: 15px;
  }
  .md-pt-20 {
    padding-top: 20px;
  }
  .md-pt-30 {
    padding-top: 30px;
  }
  .md-pr-0 {
    padding-right: 0;
  }
  .md-pr-5 {
    padding-right: 5px;
  }
  .md-pr-10 {
    padding-right: 10px;
  }
  .md-pr-15 {
    padding-right: 15px;
  }
  .md-pr-20 {
    padding-right: 20px;
  }
  .md-pr-30 {
    padding-right: 30px;
  }
  .md-pb-0 {
    padding-bottom: 0;
  }
  .md-pb-5 {
    padding-bottom: 5px;
  }
  .md-pb-10 {
    padding-bottom: 10px;
  }
  .md-pb-15 {
    padding-bottom: 15px;
  }
  .md-pb-20 {
    padding-bottom: 20px;
  }
  .md-pb-30 {
    padding-bottom: 30px;
  }
  .md-pl-0 {
    padding-left: 0;
  }
  .md-pl-5 {
    padding-left: 5px;
  }
  .md-pl-10 {
    padding-left: 10px;
  }
  .md-pl-15 {
    padding-left: 15px;
  }
  .md-pl-20 {
    padding-left: 20px;
  }
  .md-pl-30 {
    padding-left: 30px;
  }
  .md-m-0 {
    margin: 0;
  }
  .md-m-5 {
    margin: 5px;
  }
  .md-m-10 {
    margin: 10px;
  }
  .md-m-15 {
    margin: 15px;
  }
  .md-m-20 {
    margin: 20px;
  }
  .md-m-30 {
    margin: 30px;
  }
  .md-mt-0 {
    margin-top: 0;
  }
  .md-mt-5 {
    margin-top: 5px;
  }
  .md-mt-10 {
    margin-top: 10px;
  }
  .md-mt-15 {
    margin-top: 15px;
  }
  .md-mt-20 {
    margin-top: 20px;
  }
  .md-mt-30 {
    margin-top: 30px;
  }
  .md-mr-0 {
    margin-right: 0;
  }
  .md-mr-5 {
    margin-right: 5px;
  }
  .md-mr-10 {
    margin-right: 10px;
  }
  .md-mr-15 {
    margin-right: 15px;
  }
  .md-mr-20 {
    margin-right: 20px;
  }
  .md-mr-30 {
    margin-right: 30px;
  }
  .md-mb-0 {
    margin-bottom: 0;
  }
  .md-mb-5 {
    margin-bottom: 5px;
  }
  .md-mb-10 {
    margin-bottom: 10px;
  }
  .md-mb-15 {
    margin-bottom: 15px;
  }
  .md-mb-20 {
    margin-bottom: 20px;
  }
  .md-mb-30 {
    margin-bottom: 30px;
  }
  .md-ml-0 {
    margin-left: 0;
  }
  .md-ml-5 {
    margin-left: 5px;
  }
  .md-ml-10 {
    margin-left: 10px;
  }
  .md-ml-15 {
    margin-left: 15px;
  }
  .md-ml-20 {
    margin-left: 20px;
  }
  .md-ml-30 {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .lg-p-0 {
    padding: 0;
  }
  .lg-p-5 {
    padding: 5px;
  }
  .lg-p-10 {
    padding: 10px;
  }
  .lg-p-15 {
    padding: 15px;
  }
  .lg-p-20 {
    padding: 20px;
  }
  .lg-p-30 {
    padding: 30px;
  }
  .lg-pt-0 {
    padding-top: 0;
  }
  .lg-pt-5 {
    padding-top: 5px;
  }
  .lg-pt-10 {
    padding-top: 10px;
  }
  .lg-pt-15 {
    padding-top: 15px;
  }
  .lg-pt-20 {
    padding-top: 20px;
  }
  .lg-pt-30 {
    padding-top: 30px;
  }
  .lg-pr-0 {
    padding-right: 0;
  }
  .lg-pr-5 {
    padding-right: 5px;
  }
  .lg-pr-10 {
    padding-right: 10px;
  }
  .lg-pr-15 {
    padding-right: 15px;
  }
  .lg-pr-20 {
    padding-right: 20px;
  }
  .lg-pr-30 {
    padding-right: 30px;
  }
  .lg-pb-0 {
    padding-bottom: 0;
  }
  .lg-pb-5 {
    padding-bottom: 5px;
  }
  .lg-pb-10 {
    padding-bottom: 10px;
  }
  .lg-pb-15 {
    padding-bottom: 15px;
  }
  .lg-pb-20 {
    padding-bottom: 20px;
  }
  .lg-pb-30 {
    padding-bottom: 30px;
  }
  .lg-pl-0 {
    padding-left: 0;
  }
  .lg-pl-5 {
    padding-left: 5px;
  }
  .lg-pl-10 {
    padding-left: 10px;
  }
  .lg-pl-15 {
    padding-left: 15px;
  }
  .lg-pl-20 {
    padding-left: 20px;
  }
  .lg-pl-30 {
    padding-left: 30px;
  }
  .lg-m-0 {
    margin: 0;
  }
  .lg-m-5 {
    margin: 5px;
  }
  .lg-m-10 {
    margin: 10px;
  }
  .lg-m-15 {
    margin: 15px;
  }
  .lg-m-20 {
    margin: 20px;
  }
  .lg-m-30 {
    margin: 30px;
  }
  .lg-mt-0 {
    margin-top: 0;
  }
  .lg-mt-5 {
    margin-top: 5px;
  }
  .lg-mt-10 {
    margin-top: 10px;
  }
  .lg-mt-15 {
    margin-top: 15px;
  }
  .lg-mt-20 {
    margin-top: 20px;
  }
  .lg-mt-30 {
    margin-top: 30px;
  }
  .lg-mr-0 {
    margin-right: 0;
  }
  .lg-mr-5 {
    margin-right: 5px;
  }
  .lg-mr-10 {
    margin-right: 10px;
  }
  .lg-mr-15 {
    margin-right: 15px;
  }
  .lg-mr-20 {
    margin-right: 20px;
  }
  .lg-mr-30 {
    margin-right: 30px;
  }
  .lg-mb-0 {
    margin-bottom: 0;
  }
  .lg-mb-5 {
    margin-bottom: 5px;
  }
  .lg-mb-10 {
    margin-bottom: 10px;
  }
  .lg-mb-15 {
    margin-bottom: 15px;
  }
  .lg-mb-20 {
    margin-bottom: 20px;
  }
  .lg-mb-30 {
    margin-bottom: 30px;
  }
  .lg-ml-0 {
    margin-left: 0;
  }
  .lg-ml-5 {
    margin-left: 5px;
  }
  .lg-ml-10 {
    margin-left: 10px;
  }
  .lg-ml-15 {
    margin-left: 15px;
  }
  .lg-ml-20 {
    margin-left: 20px;
  }
  .lg-ml-30 {
    margin-left: 30px;
  }
}

@media (max-width: 0) {
  .visible-xs {
    display: block !important;
  }
  .visible-xs-table-cell {
    display: table-cell;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .visible-ms {
    display: block !important;
  }
  table.visible-ms {
    display: table !important;
  }
  tr.visible-ms {
    display: table-row !important;
  }
  th.visible-ms,
  td.visible-ms {
    display: table-cell !important;
  }
  .visible-ms-block {
    display: block !important;
  }
  .visible-ms-table-cell {
    display: table-cell;
  }
  .visible-ms-inline {
    display: inline !important;
  }
  .visible-ms-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .visible-sm {
    display: block !important;
  }
  .visible-sm-table-cell {
    display: table-cell !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .visible-md {
    display: block !important;
  }
  .visible-md-table-cell {
    display: table-cell !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  .visible-lg-table-cell {
    display: table-cell !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 500px) and (max-width: 3000px) {
  .notification-detail__button--link {
    display: inline-block !important;
  }
}

@media (max-width: 0) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .hidden-ms {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

html, body {
  height: 100%;
}

html {
  font-family: sans-serif;
  font-family: arial, verdana;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

a {
  color: #337ab7;
}

/*.alert-warning {
    background-color: #fff7cf;
    border-color: #ead2a0;
    color: #8a6d3b;
}*/
.cursor__pointer {
  cursor: pointer;
}

.iosHeight {
  height: 33px;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.sr-only, span.acl-access {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.acl-loader img {
  width: 80px;
  height: auto;
}

span.acl-access {
  display: none;
}

.acl-loader-text {
  text-align: center;
}

.acl-loader-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.acl-toggle {
  font-size: 18px;
  color: #666;
  margin-top: 5px;
}

.footer__backlink a:before {
  padding-left: 0 !important;
  background: transparent !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  color: #00539a;
  font-family: FontAwesome;
  content: "\f137";
  padding-right: 7px;
}

.footer__backlink :after {
  font-family: inherit;
  content: initial;
}

.footer__backlink {
  text-decoration: none;
  font-weight: bold;
  color: #00539a;
  padding: 20px;
  background-color: #f5f5f5;
}

.footer__backlink a {
  text-decoration: none;
}

.footer__backlink a:hover {
  text-decoration: none;
  color: #919191;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.klp-progress {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.klp-progress__txt {
  font-size: 16px;
  padding-left: 0.3125rem;
  text-align: center;
  font-weight: normal;
}

.klp-progress__spinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-indent: 999em;
  overflow: hidden;
  width: 60px;
  height: 60px;
  animation: spin 1s infinite steps(12);
  margin: 10px auto 5px auto;
}

.klp-progress__spinner:before, .klp-progress__spinner:after,
.klp-progress__spinner > span:before,
.klp-progress__spinner > span:after,
.klp-progress__spinner > span > span:before,
.klp-progress__spinner > span > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 27px;
  /* (container width - part width)/2  */
  width: 6px;
  height: 15px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.16);
  box-shadow: 0 45px rgba(0, 0, 0, 0.16);
  /* container height - part height */
  transform-origin: 50% 30px;
  /* container height / 2 */
}

.klp-progress__spinner:before {
  background: black;
}

.klp-progress__spinner:after {
  transform: rotate(-30deg);
  background: rgba(0, 0, 0, 0.76);
}

.klp-progress__spinner > span:before {
  transform: rotate(-60deg);
  background: rgba(0, 0, 0, 0.64);
}

.klp-progress__spinner > span > span:before {
  transform: rotate(-90deg);
  background: rgba(0, 0, 0, 0.52);
}

.klp-progress__spinner > span:after {
  transform: rotate(-120deg);
  background: rgba(0, 0, 0, 0.4);
}

.klp-progress__spinner > span > span:after {
  transform: rotate(-150deg);
  background: rgba(0, 0, 0, 0.28);
}

/* QA Core Global Overrides */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* Special Mozilla */
a {
  outline: 0;
}

:focus, :hover {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}

input::-moz-focus-inner {
  border: 0;
}

/* google fonts */
h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

/* High Contrast  */
.high-contrast-test {
  background-image: url("../Images/high-contrast-checker.jpg");
  /* image */
  background-repeat: no-repeat;
  width: 1px;
  height: 1px;
}

@media screen and (-ms-high-contrast: active) {
  .progress-bar {
    border: 1px #fff;
  }
  .progress {
    border: 1px solid #fff;
  }
  .progress .progress-bar {
    border: 1px solid #fff;
  }
}

html.high-contrast-mode .action-btn:focus, html.high-contrast-mode .button:focus, html.high-contrast-mode .btn:focus, html.high-contrast-mode .focus.btn, html.high-contrast-mode .btn:focus:active, html.high-contrast-mode .focus.btn:active, html.high-contrast-mode .active.btn:focus, html.high-contrast-mode .focus.active.btn, html.high-contrast-mode .utility-icons a:focus, html.high-contrast-mode .utility a:focus {
  border: 3px solid #000 !important;
  background-color: #000 !important;
  font-weight: bolder;
  outline: 3px solid #000;
}

html.high-contrast-mode .u-icon-focus a:focus {
  outline-offset: -4px !important;
  outline: 3px solid #333 !important;
}

html.high-contrast-mode .u-icon-focus a img:focus {
  outline: 1px dotted #000;
  border: 1px dotted #000;
}

html.high-contrast-mode .u-icon-focus a img:hover {
  outline: 1px dotted #000;
  border: 1px dotted #000;
}

html.high-contrast-mode  .tier   {
  outline: 1px solid  #000;
  border: 1px solid  #000;
}

html.high-contrast-mode .monthsdayshours button p, html.high-contrast-mode .monthsdayshours a {
  background-color: black;
  color: #fff;
}

html.high-contrast-mode button,
html.high-contrast-mode input,
html.high-contrast-mode textarea {
  border: 1px solid #000 !important;
}

html.high-contrast-mode .panel-footer a {
  padding-right: 0 !important;
}

html.high-contrast-mode a {
  text-decoration: underline;
}

html.high-contrast-mode label.btn.btn-default.active {
  border: 1px solid #fff;
}

html.high-contrast-mode .list-group-item.list-action.mysort {
  text-decoration: underline;
}

html.high-contrast-mode #iws_as_todolist, html.high-contrast-mode #iws_as_completedlist {
  text-decoration: none;
}

html.high-contrast-mode .nav-tab-title {
  border: 1px solid #fff;
}

html.high-contrast-mode a {
  font-weight: normal;
  text-decoration: none;
}

html.high-contrast-mode a:focus, html.high-contrast-mode a.navbar-link:focus {
  font-weight: bold;
  text-decoration: underline;
}

#partialBrowserSupport.browser-support {
  background-color: #fff3df;
  border: 1px solid #fcd596;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  margin-top: 20px;
  color: #666;
}

.list-group-item.footer {
  background-color: #EBEBEB !important;
  font-weight: 400;
}

/*.legend::before { display: none }*/
/* utility font icons  */
.utility-icons a.icon__electric, .utility-icons a.icon__gas, .utility-icons a.icon__water, .utility-icons a.icon__table, .utility-icons a.icon__graph {
  border: 1px solid #9a9a9a;
  padding: 4px 6px 3px 6px;
  color: #999;
}

.utility-icons a.icon__electric span, .utility-icons a.icon__gas span, .utility-icons a.icon__water span {
  color: #6f6f6f;
  text-transform: capitalize;
  letter-spacing: .05em;
  font-weight: normal;
  font-size: 14px;
}

.utility-icons a.icon__electric:hover, .utility-icons a.icon__gas:hover, .utility-icons a.icon__water:hover {
  border: 1px solid #6f6f6f;
  background-color: white;
  color: #6f6f6f !important;
}

.utility-icons a.btn.icon__electric:hover, .utility-icons a.btn.icon__gas:hover, .utility-icons a.btn.icon__water:hover {
  color: #6f6f6f !important;
}

.utility-icons a.btn.icon__electric span:hover, .utility-icons a.btn.icon__gas span:hover, .utility-icons a.btn.icon__water span:hover .utility-icons a.btn.icon__electric span:active, .utility-icons a.btn.icon__gas span:active, .utility-icons a.btn.icon__water span:active {
  color: #6f6f6f !important;
  display: inline-block;
}

.utility-icons a.icon__electric:focus, .utility-icons a.icon__gas:focus, .utility-icons a.icon__water:focus, .utility-icons a.icon__table:focus, .utility-icons a.icon__graph:focus {
  border: 1px solid #6f6f6f;
  background-color: white;
  color: #6f6f6f !important;
}

.utility-icons a.icon__electric.icon_focus, .utility-icons a.icon__gas.icon_focus,
.utility-icons a.icon__water.icon_focus, .utility-icons a.icon__table.icon_focus,
.utility-icons a.icon__graph.icon_focus {
  border: 1px solid #990000 !important;
  color: #990000 !important;
  background-color: transparent;
}

.utility-icons a.icon__electric.icon_focus:focus, .utility-icons a.icon__gas.icon_focus:focus,
.utility-icons a.icon__water.icon_focus:focus, .utility-icons a.icon__table.icon_focus:focus,
.utility-icons a.icon__graph.icon_focus:focus {
  border: 1px solid #d11717 !important;
  color: #d11717 !important;
  background-color: transparent;
}

.utility-icons a.icon__electric.icon_focus span, .utility-icons a.icon__gas.icon_focus span,
.utility-icons a.icon__water.icon_focus span, .utility-icons a.icon__table.icon_focus,
.utility-icons a.icon__graph.icon_focus {
  color: #990000 !important;
}

.utility-icons a.icon__electric span:focus, .utility-icons a.icon__gas span:focus,
.utility-icons a.icon__water span:focus {
  font-family: Helvetica, Arial, sans-serif !important;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.utility-icons .icon__electric span.icon, .utility-icons .icon__gas span.icon,
.utility-icons .icon__water span.icon {
  font-size: 18px;
}

.utility-icons span.icon {
  display: inline-block !important;
  margin: 0;
  font-size: 18px;
  vertical-align: text-bottom;
}

/*  font smoothing */
body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.error, #iws_bc_ddl_lbl_error {
  color: #d9534f !important;
  margin-top: 2px;
  margin-left: 5px;
}

.btn-error, .caret {
  border: 2px solid #d9534f !important;
}

.error-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

@media aural {
  abbr.spell {
    speak: spell-out;
  }
  abbr.speak {
    speak: normal;
  }
  acronym.spell {
    speak: spell-out;
  }
  acronym.speak {
    speak: normal;
  }
  strong {
    pitch-range: 80;
    stress: 80;
    richness: 80;
  }
}

li a {
  width: 100%;
}

.thumbnail .caption {
  padding: 15px 15px 10px !important;
}

.panel {
  border: 1px solid #ddd;
  border-radius: 0;
  -moz-box-shadow: 5px 4px 8px 0 #ccc;
  -webkit-box-shadow: 5px 4px 8px 0 #ccc;
  box-shadow: 5px 4px 8px 0 #ccc;
}

/*  no shadow  */
#iws_panel_div {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px;
  width: auto;
  line-height: 148%;
  padding: 12px !important;
}

.no-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.not-applicable {
  margin-bottom: 5px;
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  display: inline-block;
}

.nav > li > a:hover [role="button"][aria-pressed="true"], .nav > li > a:focus, [role="button"][aria-pressed="true"] {
  outline: dotted 1px #eaeaea;
}

.loader {
  display: table;
  text-align: center;
  width: 100%;
}

.loader > div {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.loader p {
  font: normal 16px arial;
  letter-spacing: 1px;
}

#iws_bc_chart .highcharts-yaxis-title {
  display: none;
}

.panel-class {
  border-color: #d01919;
}

.panel-class > .panel-heading {
  color: #1cf21c;
  background-color: #000000;
  border-color: #bad017;
}

.panel-class > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d01919;
}

.panel-class > .panel-heading .badge {
  color: #000000;
  background-color: #1cf21c;
}

.panel-class > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d01919;
}

.panel-body {
  margin-bottom: 15px;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: #fff;
  border-color: #ddd;
  border-bottom: none;
}

h1.panel-title, .panel-content h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  color: #CD771D !important;
  margin-bottom: 0;
  font-size: 28px !important;
  text-align: left;
  margin: 7px 0 9px 0;
  font-weight: 400 !important;
}

/*Overriding Bootstrap*/
.dropdown-menu > li > a {
  white-space: normal;
}

hr.dotted {
  clear: both;
  margin-left: 15px;
  margin-right: 15px;
}

.panel-footer {
  margin: 0;
  padding: 15px;
}

.panel-footer div {
  padding: 0;
  margin: 0;
}

/* ============================================== */
/* ============ footer styles global ============ */
/* ============================================== */
.footerlink {
  padding: 0;
  margin: 0;
  text-align: right;
}

.footertext {
  font-size: 12px;
  line-height: 140%;
  padding: 0;
  color: #4d4d4d;
  margin-bottom: 0;
  margin-left: 0;
  font-weight: normal;
}

.footerlink a, .panel-footer a {
  text-decoration: none;
  font-weight: bold;
  color: #00539a;
}

.footerlink a:after, .panel-footer a:after {
  padding-right: 0 !important;
  background: transparent !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  color: #00539a;
  font-family: FontAwesome;
  content: "\f138";
  padding-left: 7px;
}

.footerlink a:hover, .panel-footer a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #00539a;
}

/* external links */
.footerlink a[href*="//"], .panel-footer a[href*="//"], .quick-links a[href*="//"] {
  padding-right: 0 !important;
  background: none !important;
  color: #00539a;
}

.footerlink a[href*="//"]:after, .panel-footer a[href*="//"]:after, .quick-links a[href*="//"]:after {
  padding-right: 0 !important;
  background: transparent !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  color: #00539a;
  font-family: FontAwesome;
  content: "\f08e";
  padding-left: 7px;
}

.quick-links a[href*="//"] {
  color: #4d4d4d;
}

.quick-links a[href*="//"]:after {
  color: #4d4d4d;
}

.intro-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}

.alert {
  margin: 20px;
}

/*   =========================================================
            PRIMARY UPPER NAV STARTS HERE  -  SITE WIDE
     =========================================================   */
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 0) and (max-width: 0) {
  #myItems_listbox li a.navbar-link {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 767px) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

/*   ===========================================================================
     SECONDARY PILL NAV STARTS HERE  (glossy buttons)  -  Billing and My Savings
     ===========================================================================   */
.nav-pills > li > a.navbar-link {
  display: block;
  position: relative;
  overflow: hidden;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: -webkit-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
  background-image: -moz-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
  background-image: -ms-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
  background-image: -o-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
  background-image: linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
}

.nav-pills > li > a.active {
  content: '';
  position: absolute;
  height: 400px;
  width: 20px;
  background: white;
  top: -80px;
  left: -20px;
  display: block;
  opacity: 0.8;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-pills > li > a.navbar-link:hover {
  -webkit-box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 10px 0 rgba(255, 255, 255, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.nav-pills > li.active > a.navbar-link {
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pills.nav {
  margin-bottom: 0;
  padding-bottom: 7px;
}

.pills.nav-pills > li > a {
  border-radius: 24px;
  font-weight: 500;
  color: #4f4f4f;
}

.pills.nav > li > a {
  padding: 3px 6px 3px;
  text-align: center;
  font-weight: bold;
  background-color: #ccc;
  border-radius: 0;
}

@media (max-width: 479px) {
  .pills.nav > li {
    width: 100%;
    display: block;
  }
  .pills.nav > li > a {
    width: 100%;
    margin-bottom: 5px;
  }
  .nav-pills > li + li {
    margin-left: 0;
  }
}

.pills.nav-pills > li.active > a {
  padding: 2px 6px 2px;
  color: #337ab7;
  font-weight: bold;
  background-color: Transparent;
  text-align: center;
  border: 1px solid #337ab7;
}

.nav-pills > li > a.active, .nav-pills > li > a {
  float: left;
  margin: 0 8px;
  font-size: 12px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #666;
}

.nav-pills > li > a.active:first-child, .nav-pills > li > a:first-child {
  margin-left: 0;
}

/*   =======================
     ICON NAVBAR STARTS HERE
     =======================    */
/* make each button equal in width */
.nav.navbar-nav > li.menu-icon {
  float: none;
}

nav.navbar-icons {
  border: none !important;
  border-radius: 0 !important;
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
}

ul.nav-icons {
  margin: 0;
  display: table;
  width: 100%;
  font-weight: normal;
  min-height: 50px;
  padding: 0;
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li.menu-icon.active {
  background-color: transparent;
}

li.menu-icon {
  display: table-cell;
  margin: 0;
  float: none;
  text-align: center;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

li.menu-icon:last-child {
  border-right: none;
}

li.menu-icon a {
  font-size: 12px;
}

.menu-icon span.icon {
  display: block;
}

@media (max-width: 768px) {
  nav.navbar-icons {
    display: block;
  }
  .menu-icon span.icon {
    display: none;
  }
  li.menu-icon {
    display: block;
    border-bottom: 1px solid #ddd;
  }
  .menu-icon span.icon {
    display: none;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  nav.navbar-icons.waystosave-icons {
    display: block;
  }
}

/* END  Icon Navbar */
.nav-tabs > li.active {
  background-color: #337ab7;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #3c3c3c;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs > li > a {
  text-align: center;
  color: #fff;
  border: none;
  margin: 0;
}

.nav-tabs > li > a:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: none;
}

.nav-tabs > li > a:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* =============== Full width Tabs  ================ */
.full-width-tabs .nav-tabs {
  display: table;
  width: 100%;
}

.full-width-tabs .nav-tabs > li {
  float: none;
  display: table-cell;
  background-color: #6f6f6f;
  font-weight: bold;
}

.full-width-tabs .nav > li > a:hover, .full-width-tabs .nav > li > a:focus {
  background-color: #3c3c3c;
}

h5.form-item-label {
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 5px;
}

h2.form-item-title {
  padding: 0 0 15px 0;
}

h5.thumb-item-label {
  font-weight: 700;
}

/* Navigation */
.pagination > li > a {
  background-color: #fff;
  border: none;
}

.pagination > li > a:hover {
  background-color: transparent;
}

/* Form Over-rides
.form-group {
    margin-bottom: 30px;
} */
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  background-color: #ddd;
  cursor: default;
  color: #6f6f6f;
  border-radius: 50%;
}

.pager li > a:hover, .pager li > a:focus {
  text-decoration: none;
  background-color: #fff;
}

.col-xs-1, .col-ms-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-ms-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-ms-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-ms-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-ms-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-ms-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-ms-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-ms-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-ms-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-ms-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-ms-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-ms-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 479px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-pull-0 {
    right: auto;
  }
  .col-xs-pull-1 {
    right: 8.33333%;
  }
  .col-xs-pull-2 {
    right: 16.66667%;
  }
  .col-xs-pull-3 {
    right: 25%;
  }
  .col-xs-pull-4 {
    right: 33.33333%;
  }
  .col-xs-pull-5 {
    right: 41.66667%;
  }
  .col-xs-pull-6 {
    right: 50%;
  }
  .col-xs-pull-7 {
    right: 58.33333%;
  }
  .col-xs-pull-8 {
    right: 66.66667%;
  }
  .col-xs-pull-9 {
    right: 75%;
  }
  .col-xs-pull-10 {
    right: 83.33333%;
  }
  .col-xs-pull-11 {
    right: 91.66667%;
  }
  .col-xs-pull-12 {
    right: 100%;
  }
  .col-xs-push-0 {
    left: auto;
  }
  .col-xs-push-1 {
    left: 8.33333%;
  }
  .col-xs-push-2 {
    left: 16.66667%;
  }
  .col-xs-push-3 {
    left: 25%;
  }
  .col-xs-push-4 {
    left: 33.33333%;
  }
  .col-xs-push-5 {
    left: 41.66667%;
  }
  .col-xs-push-6 {
    left: 50%;
  }
  .col-xs-push-7 {
    left: 58.33333%;
  }
  .col-xs-push-8 {
    left: 66.66667%;
  }
  .col-xs-push-9 {
    left: 75%;
  }
  .col-xs-push-10 {
    left: 83.33333%;
  }
  .col-xs-push-11 {
    left: 91.66667%;
  }
  .col-xs-push-12 {
    left: 100%;
  }
  .col-xs-offset-0 {
    margin-left: 0%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 480px) {
  .col-ms-1, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9, .col-ms-10, .col-ms-11, .col-ms-12 {
    float: left;
  }
  .col-ms-1 {
    width: 8.33333%;
  }
  .col-ms-2 {
    width: 16.66667%;
  }
  .col-ms-3 {
    width: 25%;
  }
  .col-ms-4 {
    width: 33.33333%;
  }
  .col-ms-5 {
    width: 41.66667%;
  }
  .col-ms-6 {
    width: 50%;
  }
  .col-ms-7 {
    width: 58.33333%;
  }
  .col-ms-8 {
    width: 66.66667%;
  }
  .col-ms-9 {
    width: 75%;
  }
  .col-ms-10 {
    width: 83.33333%;
  }
  .col-ms-11 {
    width: 91.66667%;
  }
  .col-ms-12 {
    width: 100%;
  }
  .col-ms-pull-0 {
    right: auto;
  }
  .col-ms-pull-1 {
    right: 8.33333%;
  }
  .col-ms-pull-2 {
    right: 16.66667%;
  }
  .col-ms-pull-3 {
    right: 25%;
  }
  .col-ms-pull-4 {
    right: 33.33333%;
  }
  .col-ms-pull-5 {
    right: 41.66667%;
  }
  .col-ms-pull-6 {
    right: 50%;
  }
  .col-ms-pull-7 {
    right: 58.33333%;
  }
  .col-ms-pull-8 {
    right: 66.66667%;
  }
  .col-ms-pull-9 {
    right: 75%;
  }
  .col-ms-pull-10 {
    right: 83.33333%;
  }
  .col-ms-pull-11 {
    right: 91.66667%;
  }
  .col-ms-pull-12 {
    right: 100%;
  }
  .col-ms-push-0 {
    left: auto;
  }
  .col-ms-push-1 {
    left: 8.33333%;
  }
  .col-ms-push-2 {
    left: 16.66667%;
  }
  .col-ms-push-3 {
    left: 25%;
  }
  .col-ms-push-4 {
    left: 33.33333%;
  }
  .col-ms-push-5 {
    left: 41.66667%;
  }
  .col-ms-push-6 {
    left: 50%;
  }
  .col-ms-push-7 {
    left: 58.33333%;
  }
  .col-ms-push-8 {
    left: 66.66667%;
  }
  .col-ms-push-9 {
    left: 75%;
  }
  .col-ms-push-10 {
    left: 83.33333%;
  }
  .col-ms-push-11 {
    left: 91.66667%;
  }
  .col-ms-push-12 {
    left: 100%;
  }
  .col-ms-offset-0 {
    margin-left: 0%;
  }
  .col-ms-offset-1 {
    margin-left: 8.33333%;
  }
  .col-ms-offset-2 {
    margin-left: 16.66667%;
  }
  .col-ms-offset-3 {
    margin-left: 25%;
  }
  .col-ms-offset-4 {
    margin-left: 33.33333%;
  }
  .col-ms-offset-5 {
    margin-left: 41.66667%;
  }
  .col-ms-offset-6 {
    margin-left: 50%;
  }
  .col-ms-offset-7 {
    margin-left: 58.33333%;
  }
  .col-ms-offset-8 {
    margin-left: 66.66667%;
  }
  .col-ms-offset-9 {
    margin-left: 75%;
  }
  .col-ms-offset-10 {
    margin-left: 83.33333%;
  }
  .col-ms-offset-11 {
    margin-left: 91.66667%;
  }
  .col-ms-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

