﻿/* QA Core IE9 Global Overrides */

.pagination > li  {  display: table-cell  }

.detail-items #iws_ad_ai_category, .detail-items #iws_ad_ai_cost, .detail-items #iws_ad_ai_savings,  .detail-items #iws_ad_ai_difficulty {
     Display: table-cell; float: left; margin-right: 15px;
}

.btn.btn-default.dropdown-toggle p.select, .btn.btn-default.dropdown-toggle span { display: table-cell }
.btn.btn-default.dropdown-toggle ul { float: left; left: 0px; width: auto; }

.panel-bill-usage .chart-table-toggle  { float: right; margin-right: 13px; }

.panel-body-energy-profile ul.dropdown-menu {
    left: 0;
}

.goal h1, .goal h2 { width: 500px }