﻿@-webkit-keyframes div-fade-in { from { background-color:#ff9900; } to { background-color:white; } }
@-moz-keyframes div-fade-in { from { background-color:#ff9900; } to { background-color:white; } }
@keyframes div-fade-in { from { background-color:#ff9900; } to { background-color:white; } }

@-webkit-keyframes dropdown-fade-in { from { background-color:#ff9900; } to { background-color:#084B8E; } }
@-moz-keyframes dropdown-fade-in { from { background-color:#ff9900; } to { background-color:#084B8E; } }
@keyframes dropdown-fade-in { from { background-color:#ff9900; } to { background-color:#084B8E; } }

@-webkit-keyframes tab-fade-in { from { background-color:#ff9900; } to { background-color:#084B8E; } }
@-moz-keyframes tab-fade-in { from { background-color:#ff9900; } to { background-color:#084B8E; } }
@keyframes tab-fade-in { from { background-color:#ff9900; } to { background-color:#084B8E; } }

.div-fade-in {
    -webkit-animation:div-fade-in ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:div-fade-in ease-in 1;
    animation:div-fade-in ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;

    -webkit-animation-delay: 0.0s;
    -moz-animation-delay: 0.0s;
    animation-delay: 0.0s;
}

.tab-fade-in {
    -webkit-animation:div-fade-in ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:div-fade-in ease-in 1;
    animation:div-fade-in ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;

    -webkit-animation-delay: 0.0s;
    -moz-animation-delay: 0.0s;
    animation-delay: 0.0s;
}

.dropdown-fade-in {
    -webkit-animation:dropdown-fade-in ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:dropdown-fade-in ease-in 1;
    animation:dropdown-fade-in ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;

    -webkit-animation-delay: 0.0s;
    -moz-animation-delay: 0.0s;
    animation-delay: 0.0s;
}
