﻿@font-face {
  font-family: 'icomoon';
  src:
    url('../Fonts/icomoon.woff2?wdpvh9') format('woff2'),
    url('../Fonts/icomoon.ttf?wdpvh9') format('truetype'),
    url('../Fonts/icomoon.woff?wdpvh9') format('woff'),
    url('../Fonts/icomoon.svg?wdpvh9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-overview {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-money:before {
  content: "\e905";
}
.icon-icon-overview:before {
  content: "\e903";
}
.icon-pay-my-bills:before {
  content: "\e900";
}
.icon-request-extension:before {
  content: "\e901";
}
.icon-compare-my-bills:before {
  content: "\e902";
}
.icon-snow:before {
  content: "\e81c";
}
.icon-facebook:before {
  content: "\e800";
}
.icon-trash:before {
  content: "\e801";
}
.icon-twitter:before {
  content: "\e802";
}
.icon-profile:before {
  content: "\e803";
}
.icon-bell:before {
  content: "\e804";
}
.icon-waves:before {
  content: "\e805";
}
.icon-house:before {
  content: "\e806";
}
.icon-monitor:before {
  content: "\e807";
}
.icon-share:before {
  content: "\e808";
}
.icon-google-plus:before {
  content: "\e809";
}
.icon-refrigerator:before {
  content: "\e80a";
}
.icon-sun:before {
  content: "\e80b";
}
.icon-bolt:before {
  content: "\e80c";
}
.icon-clock:before {
  content: "\e80d";
}
.icon-printer:before {
  content: "\e80e";
}
.icon-light-bulb:before {
  content: "\e80f";
}
.icon-bubble2:before {
  content: "\e810";
}
.icon-check:before {
  content: "\e811";
}
.icon-drop:before {
  content: "\e812";
}
.icon-user:before {
  content: "\e813";
}
.icon-menu:before {
  content: "\e814";
}
.icon-download:before {
  content: "\e815";
}
.icon-flame:before {
  content: "\e816";
}
.icon-drops:before {
  content: "\e817";
}
.icon-graph:before {
  content: "\e818";
}
.icon-cross:before {
  content: "\e819";
}
.icon-arrow-right:before {
  content: "\e81a";
}
.icon-table:before {
  content: "\e904";
}
.icon-toggle-up:before {
  content: "\e906";
}
.icon-toggle-down:before {
  content: "\e907";
}.icon-home:before {
  content: "\e908";
}






