﻿@import '_bootstrap.min.css';
@import 'font-awesome.min.css';   


#framewrap {
    padding: 10px;
    background-color: #f60;
    width: 850px;
    height: 750px;
    padding: 0.5em;
}

#frame {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#framewrap1 {
    padding: 10px;
    background-color: #f60;
    width: 850px; height: 750px; padding: 0.5em;
}

#frame1 {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}

tr.border_bottom td {
    border-bottom:2px solid black;
}


.border_bottom td {
    padding-bottom:5px;
}

th {
    text-align: left;
    font: 14px arial;
    white-space: nowrap;
    width: 100px;
    padding-right: 10px;
}

input {
    border-radius: 4px;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    width: 192px;
    padding: 8px;
    font-size: 14px;
    color: #999;
}


button#btnLogin {
    padding: 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

.log-table {
    border: 1px solid #ddd; 
    padding: 30px 30px 20px 30px; 
    border-radius: 10px; 
    background-color: #fff;
}
.spacer_log {
    padding-bottom: 40px
}


.checkbox label:hover {
    color: #a9a9a9
}
input[type="text"], input[type="password"], .selectpicker {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    background-color: #f5f5f5;
}

.form-horizontal .controls {
    margin-left: 125px !important;
}

.form-horizontal .control-label {
    width: 115px;
}

#loginbox {
    max-width: 360px;
}
body {
    background-color: #cfd7e2 !important
}
.panel-heading {
    padding-left: 0 !important;
}
option {
    background-color: #fff;
    color: #666;
}