﻿ @using CE.ControlPanel.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CE Control Panel</title>
   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ControlPanel.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.7.2.js"></script>
    <script src="~/Scripts/common.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    
    @{ UserSessionVariables usv = (UserSessionVariables)HttpContext.Current.Session[Constants.USER_SESSION_VARIABLE];}
    <script src="~/Scripts/JsonEditor/jsoneditor-min.js"></script>
    <link href="~/Scripts/JsonEditor/jsoneditor-min.css" rel="stylesheet" />

    <!-- ace code editor -->
    <script type="text/javascript" src="~/Scripts/JsonEditor/lib/ace/ace.js"></script>
    <script type="text/javascript" src="~/Scripts/JsonEditor/lib/ace/mode-json.js"></script>
    <script type="text/javascript" src="~/Scripts/JsonEditor/lib/ace/theme-textmate.js"></script>
    <script type="text/javascript" src="~/Scripts/JsonEditor/lib/ace/theme-jsoneditor.js"></script>

    <!-- json lint -->
    <script type="text/javascript" src="~/Scripts/JsonEditor/lib/jsonlint/jsonlint.js"></script>

    <script type="text/javascript">
        var relativeRoot = '@Url.Content("~/")';
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Insights Control Panel", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li><a href="/">Insights API</a></li>*@
                </ul>
                <div align="right"><button id="btnLogout" class="btn btn-def" onclick="return false">Logout</button></div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aclara</p>
        </footer>
        @Html.ActionLink("Login", "Index", "Login", null, new { @id = "lnkLogin", @class = "acl-btn-link", @style = "display:none" })
    </div>
</body>
</html>
