/*rendered CSS1-addressable elements and all applicable non-inherited properties set to initial values and default display types*/
a, abbr, acronym, address, applet, b, bdo, big, blockquote, body, button, center, cite, code, dd, del, dfn, dir, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, ins, kbd, label, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {background: transparent; border: 0; clear: none; float: none; height: auto; list-style-image: none; list-style-position: outside; list-style-type: disc; margin: 0; padding: 0; text-decoration: none; vertical-align: baseline; width: auto;}
address, blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, ul, center, dir, hr, menu, pre {display: block;}
a, abbr, acronym, applet, bdo, button, cite, code, del, dfn, em, iframe, img, ins, kbd, label, object, q, samp, span, strong, sub, sup, var, b, big, font, i, s, small, strike, tt, u {display: inline;}
li {display: list-item;}
img {background: transparent; border: 0; clear: none; float: none; list-style-image: none; list-style-position: outside; list-style-type: disc; margin: 0; padding: 0; text-decoration: none; vertical-align: baseline;}

/* Begin tree of inherited properties and cascades. Describes the default type, color, and link decoration specs of Mosaic-derivative browsers to the extent and degree of granularity that users may typically override.*/
html {font-family: Verdana, Arial, sans-serif, Helvetica;}
body {font-size: 62.5%;}
pre, tt, code, kbd, samp {font-family: Verdana, Arial, sans-serif, Helvetica;}
a, a:link, a:visited, a:active	{color: #ca992b; text-decoration: none; cursor: pointer; outline: none;}
a:hover	{color: #ba6727; text-decoration: underline; cursor: pointer;}
/*end pre-CSS user settings*/

html {letter-spacing: normal; text-indent: 0; text-transform: none; white-space: normal; word-spacing: normal;}
body {margin: 0px; line-height: 1.3;}
blockquote {margin: 0 40px 0 40px;}
i, cite, em, var, address {font-style: italic;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4, p, blockquote, fieldset, form, ul, ol, dl, dir, menu {font-size: 1em; margin: 0;}
h5 {font-size: .83em;}
h6 {font-size: .6em;}
h1, h2, h3, h4, h5, h6, b, strong {font-weight: bold; margin: 0;}
pre, tt, code, kbd, samp {font-family: monospace;}
pre {white-space: pre;}
big {font-size: larger;}
small, sub, sup {font-size: smaller;}
sub {vertical-align: sub;}
sup {vertical-align: super;}
s, strike, del {text-decoration: line-through;}
hr {border: 1px inset;}
ol, ul, dir, menu, dd {padding-left: 0px;}
ol li {list-style-type: decimal;}
ul li {list-style-type: disc;}
ul ul, ul ol, ul menu, ul dir, menu ul, menu ol, menu menu, menu dir, dir ul, dir ol, dir menu, dir dir, ol ul, ol ol, ol menu, ol dir {margin-bottom: 0; margin-top: 0;}
ol ul, ul ul, menu ul, dir ul, ol menu, ul menu, menu menu, dir menu, ol dir, ul dir, menu dir, dir dir {list-style-type: circle;}
ol ol ul, ol ul ul, ol menu ul, ol dir ul, ol ol menu, ol ul menu, ol menu menu, ol dir menu, ol ol dir, ol ul dir, ol menu dir, ol dir dir, ul ol ul, ul ul ul, ul menu ul, ul dir ul, ul ol menu, ul ul menu, ul menu menu, ul dir menu, ul ol dir, ul ul dir, ul menu dir, ul dir dir, menu ol ul, menu ul ul, menu menu ul, menu dir ul, menu ol menu, menu ul menu, menu menu menu, menu dir menu, menu ol dir, menu ul dir, menu menu dir, menu dir dir, dir ol ul, dir ul ul, dir menu ul, dir dir ul, dir ol menu, dir ul menu, dir menu menu, dir dir menu, dir ol dir, dir ul dir, dir menu dir, dir dir dir {list-style-type: square;}
u, ins {text-decoration: underline;}
caption, col, colgroup, legend, tbody, tfoot, thead {background: transparent; border: none; clear: none; float: none; margin: 0px; padding: 0px; text-decoration: none;}
th {font-weight: bolder; text-align: center;}

caption {display: block;}
td, th {display: table-cell;}
/*
table {display: table;}
thead {display: table-header-group;}
tfoot {display: table-footer-group;}
tbody {display: table-row-group;}
tr {display: table-row;}
col {display: table-column;}
colgroup {display: table-column-group;}
*/
/* not part of the legacy browser default sheet, but an obvious enhancement  */
ol ol li {list-style-type: lower-alpha;}
ol ol ol li {list-style-type: lower-roman;}
center, caption {text-align: center;}
acronym {speak: normal;}
abbr {border-bottom: 1px dotted;}
abbr.initialism {speak: spell-out;}
abbr.truncation {speak: normal;}
button {cursor: pointer;}
.hide {height: 0; width: 0; overflow: hidden; position: absolute; /* for the benefit of IE5 Mac */}