/*.hide {width: auto; height: auto; position: relative;}*/
.hide {height: 0; width: 0; overflow: hidden; position: absolute; /* for the benefit of IE5 Mac */}
body {background: #fff; color: #000; font-size: 9pt;}
a:link, a:visited {background: #fff; color: #000; font-weight: bold; text-decoration: underline;}

#header h1 .hide {width: auto; height: auto; position: relative;}
#header ul#headerNav, #header #headerUtility, #header #flashcontent {display: none;}

#main, #main_2 {width: auto; margin: 25px 0; padding: 0% 3% 0% 0%; border: 0; float: none !important; background: transparent none;}
h2 {margin: 0 0 15px 0; font-size: 13pt; text-transform: uppercase;}
h2 .hide {height: auto; width: auto; overflow: auto; position: relative; /* for the benefit of IE5 Mac */}
h3 {margin: 0 0 15px 0; font-size: 12pt;}
h4 {margin: 0 0 15px 0; font-size: 11pt;}
h5 {margin: 0 0 15px 0; font-size: 10pt;}
p, ul, ol, dl {margin: 0 0 15px 0;}
table {margin: 0 0 15px 0;}

#sidebar {display: none;}

#footer {margin: 25px 0 0 0; font-size: 8pt}
#footerNav, #footerUtilNav {display: none;}