html {background: #768696;}
body {background: #fff url(../images/bg-body.gif) repeat-x; color: #666666;}

/**************************************************header**************************************************/
#headerWrap {background: url(../images/bg-headerWrap.gif) no-repeat 100% 0;}
#header {background: url(../images/bg-header.gif); width: 949px; height: 105px; margin: 0 auto; font-size: 1em; position: relative; z-index: 9999;}
#header h1 a {width: 137px; height: 36px; top: 10px; left: 10px; position: absolute;}
#header ul#headerNav {width: 893px; height: 35px; top: 60px; left: 18px; position: absolute; z-index: 999;}
#header ul#headerNav li {height: 35px; top: 0px; list-style: none; display: inline; position: absolute; background-repeat: no-repeat;}
#header ul#headerNav li:hover, #header ul#headerNav li.hdrhover {background-position: 0 -35px;}
#header ul#headerNav li a {background: transparent; height: 35px; left: 0; position: absolute; display: block; text-indent: -9999px;}
#header ul#headerNav li#ctl00_theNavigationHeader_ma {background-image: url(../images/headerNav-malnk.gif); width: 107px; left: 0px;}
#header ul#headerNav li#ctl00_theNavigationHeader_ma a#malnk {width: 107px;}
#header ul#headerNav li#ctl00_theNavigationHeader_mb {background-image: url(../images/headerNav-mblnk.gif); width: 76px; left: 110px;}
#header ul#headerNav li#ctl00_theNavigationHeader_mb a#mblnk {width: 76px;}
#header ul#headerNav li#ctl00_theNavigationHeader_po {background-image: url(../images/headerNav-polnk.gif); width: 144px; left: 190px;}
#header ul#headerNav li#ctl00_theNavigationHeader_po a#polnk {width: 190px;}
#header ul#headerNav li#ctl00_theNavigationHeader_um {background-image: url(../images/headerNav-umlnk.gif); width: 154px; left: 338px;}
#header ul#headerNav li#ctl00_theNavigationHeader_um a#umlnk {width: 154px;}
#header ul#headerNav li#ctl00_theNavigationHeader_cs {background-image: url(../images/headerNav-cslnk.gif); width: 144px; left: 496px;}
#header ul#headerNav li#ctl00_theNavigationHeader_cs a#cslnk {width: 144px;}
#header ul#headerNav li#ctl00_theNavigationHeader_rs {background-image: url(../images/headerNav-rslnk.gif); width: 83px; left: 496px;}
#header ul#headerNav li#ctl00_theNavigationHeader_rs a#rslnk {width: 83px;}
#header ul#headerNav li#ctl00_theNavigationHeader_hp {background-image: url(../images/headerNav-hplnk.gif); width: 60px; left: 644px;}
#header ul#headerNav li#ctl00_theNavigationHeader_hp a#hplnk {width: 60px;}
#header ul#headerNav li#ctl00_theNavigationHeader_wm {background-image: url(../images/headerNav-wmlnk.gif); width: 150px; left: 583px;}
#header ul#headerNav li#ctl00_theNavigationHeader_wm a#wmlnk {width: 150px;}
#header ul#headerNav li#ctl00_theNavigationHeader_lt {background-image: url(../images/headerNav-ltlnk.gif); width: 58px; left: 835px;}
#header ul#headerNav li#ctl00_theNavigationHeader_lt a#ltlnk {width: 58px;}
#header ul#headerNav li#ctl00_theNavigationHeader_ln {background-image: url(../images/headerNav-lnlnk.gif); width: 58px; left: 835px;}
#header ul#headerNav li#ctl00_theNavigationHeader_ln a#lnlnk {width: 58px;}

/*1st level dropdown*/
#header ul#headerNav li ul {background: #9ab; color: #fff; width: 25em; height: auto; margin: 34px 0 0 0; left: -9999px; position: absolute; border: 1px solid #567; z-index: 99;}
#header ul#headerNav li ul li {height: auto; top: auto; display: inline; position: relative;}
#header ul#headerNav li ul li a {background: #9ab url(../images/headerNav-bullet.gif) no-repeat 10px 10px; color: #fff; height: auto; padding: 5px 10px 5px 20px; left: auto; font-size: 1.1em; font-weight: bold; position: relative; text-indent: 0;}
#header ul#headerNav li ul li a:hover {background: #9ab url(../images/headerNav-bullet.gif) no-repeat 10px 10px; color: #456; display: block; text-decoration: none;}
#header ul#headerNav li:hover ul, #header ul#headerNav li.hdrhover ul {left: -1px;}

/**************************************************content area********************************************/
#wrap {background: #fff; width: 949px; margin: 0 auto; padding: 0; position: relative; font-size: 1em;}
#content {background: url(../images/bg-content.gif) repeat-y; overflow: hidden;/* This hides the excess padding in non-IE browsers */ position: relative;}/*see ie.css for fixes*/
#content:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}

/**************************************************center column*******************************************/
#main {color: #666; width: 679px; margin: 25px 0 0 260px; position: relative; float: left;}/*see ie.css for fixes*/
#main #contentContainer {margin: 0 30px 0 25px;}
#main img.left {float: left; margin: 0 20px 10px 0;}
#main img.right {float: right; margin: 0 0 10px 20px;}
#main h2 {color: #989898; margin: 0 0 25px 0; font-size: 2.2em; line-height: .7; text-transform: uppercase; border-bottom: 1px solid #989898;}
#main p#loggedIn {color: #989898; margin: 0; top: 0px; right: 35px; position: absolute;}
#main h3 {margin: 0 0 20px 0; font-weight: bold; font-size: 1.3em;}
#main h4 {margin: 0 0 20px 0; font-weight: bold; font-size: 1.2em;}
#main h5 {margin: 0 0 20px 0; font-weight: bold; font-size: 1.1em;}
#main p {margin: 0 0 20px 0; line-height: 1.3; font-size: 1.1em;}
#main ul {margin: 0 0 20px 20px; line-height: 1.3; font-size: 1.1em;}
#main ol {margin: 0 0 20px 30px; line-height: 1.3; font-size: 1.1em;}
#main ul li {margin: 0 0 10px 0;}
#main ol li {margin: 0 0 10px 0;}
#main ol li ul, #main ul li ul {margin: 10px 0 0 20px; font-size: 1em;}
#main ol li ol, #main ul li ol {margin: 10px 0 0 30px; font-size: 1em;}
#main ol li ol li, #main ul li ol li {list-style: decimal;}
#main dl {margin: 0 0 20px 0; line-height: 1.3; font-size: 1.1em;}
#main dl dt {margin: 0 0 3px 0;}
#main dl dd {margin: 0 0 15px 0;}
/*
#main table {width: 441px; margin: 0 0 20px 0; border: 1px solid #989898; display: table; border-collapse: collapse;}
#main table thead {display: table-header-group;}
#main table thead tr {display: table-row;}
#main table thead tr th, #main table tfoot tr td {background: #989898; color: #fff; display: table-cell; padding: 5px 10px; text-align: left; vertical-align: bottom;}
#main table tbody {display: table-row-group;}
#main table tbody tr {display: table-row;}
#main table tbody tr td {display: table-cell; padding: 5px 10px; border-bottom: 1px solid #989898; vertical-align: middle;}
*/
iframe {background: transparent; border: 0; clear: none; float: none; list-style-image: none; list-style-position: outside; list-style-type: disc; margin: 0 50px 0 50px; padding: 0; text-decoration: none; vertical-align: baseline;}
#main form#aspnetForm {margin: 0 0 15px 0;}
#main form#aspnetForm #divPleaseWait {background: #fff; width: 250px; padding: 15px; top: 0px; left: 0px; position: absolute; text-align: center; border: 1px solid #666; z-index: 99; visibility: hidden;}
#main form#aspnetForm #divPleaseWait p {margin: 0; font-size: 1.5em;}
#main form#aspnetForm #divPleaseWaitLong {background: #fff; width: 350px; padding: 15px; top: 0px; left: 0px; position: absolute; text-align: center; border: 1px solid #666; z-index: 99; visibility: hidden;}
#main form#aspnetForm #divPleaseWaitLong p {margin: 0; font-size: 1.5em;}
#main form#aspnetForm select#ctl00_WebAppContent_objAccountSelection_lstAccounts {width: 350px;}
#main form#aspnetForm select#ctl00_WebAppContent_objAccountSelection_DropDownList1 {width: 75px;}
#main form#aspnetForm input {margin: 4px 0 0 0;}
#main #information {background: url(../images/bg-information.gif) no-repeat; width: 616px; margin: 0 0 35px 0;}
#main #information:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #information #billInformation {width: 293px; float: left;}
#main #information #accountInformation {width: 323px; float: left;}
#main #paymentInfo #mailingAddress {width: 270px; float: left;}
#main #paymentInfo #paymentOptions {width: 305px; float: left;}
#main #information h3 {color: #fff; padding: 10px 0 0 15px; font-size: 1.8em;}
#main #paymentInfo h3 {color: #89a; padding: 10px 0 0 0px; font-size: 1.8em;}
#main #information dl {margin: 0 0 0 15px; font-size: 1.2em;}
#main #information dl dt {width: 110px; float: left; display: block; clear: left;}
#main #information #accountInformation dl dt {width: 120px;}
#main #information dl dd {width: 165px; margin: 0 0 5px 0; float: left; display: block;}
#main #information ul {margin: 0;}
#main #information ul li {margin: 0; list-style: none; display: inline;}
#main #information ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 285px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}

#main ul#buttonsNav {width: 458px; height: 76px; margin: 0 0 40px 60px; position: relative;}
#main ul#buttonsNav li {margin: 0; list-style: none; display: inline;}
#main ul#buttonsNav li a {width: 206px; height: 36px; position: absolute; text-indent: -9999px; display: block;}
#main ul#buttonsNav li a:hover {background-position: 0 -36px;}
/* RER-removed v3.0.2 b1-Removes missing button issue in AccountPaymentOptions.aspx. */
/*
#main ul#buttonsNav li a#pbbtlnk {background-image: url(../images/buttonsNav-pblnk.gif); top: 0; left: 0;}
*/
#main ul#buttonsNav li a#plbtlnk {background-image: url(../images/buttonsNav-pllnk.gif); top: 0; right: 0;}
#main ul#buttonsNav li a#osbtlnk {background-image: url(../images/buttonsNav-oslnk.gif); top: 0; right: 0;}
#main ul#buttonsNav li a#ebbtlnk {background-image: url(../images/buttonsNav-eeblnk.gif); bottom: 0; right: 0;}
#main ul#buttonsNav li a#epbtlnk {background-image: url(../images/buttonsNav-eplnk.gif); bottom: 0; left: 0;}

#main ul#buttonsNav2 {width: 458px; height: 76px; margin: 0 0 40px 60px; position: relative;}
#main ul#buttonsNav2 li {margin: 0; list-style: none; display: inline;}
#main ul#buttonsNav2 li a {width: 206px; height: 36px; position: absolute; text-indent: -9999px; display: block;}
#main ul#buttonsNav2 li a:hover {background-position: 0 -36px;}
#main ul#buttonsNav2 li a#vpeblnk {background-image: url(../images/buttonsNav-vpelnk.gif); top: 0; left: 0;}

#main table#buttonsNav3 {width: 458px; height: 76px; margin: 0 0 40px 60px; position: relative;}
#main table#buttonsNav3 td {margin: 0; list-style: none; display: inline;}
#main table#buttonsNav3 td a {width: 206px; height: 36px; position: absolute; text-indent: -9999px; display: block;}
#main table#buttonsNav3 td a:hover {background-position: 0 -36px;}
/* RER-removed v3.0.2 b1-Removes missing button issue in Main.aspx. */
/*
#main table#buttonsNav3 td a#pbbtlnk {background-image: url(../images/buttonsNav-pblnk.gif); top: 0; left: 0;}
#main table#buttonsNav3 td a#osbtlnk {background-image: url(../images/buttonsNav-oslnk.gif); top: 0; right: 0;}
#main table#buttonsNav3 td a#vpeblnk {background-image: url(../images/buttonsNav-vpelnk.gif); bottom: 0; right: 0;}
#main table#buttonsNav3 td a#ebbtlnk {background-image: url(../images/buttonsNav-eeblnk.gif); bottom: 0; left: 0;}
*/


#main #paymentImages {background: url(../images/bg-information.gif) no-repeat; width: 616px; margin: 0 0 35px 0;}
#main #paymentImages:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #additionalOptions {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #additionalOptions:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #additionalOptions h3 {color: #89a; font-size: 1.8em;}
#main #additionalOptions ul {margin: 0;}
#main #additionalOptions ul li {margin: 0; list-style: none; display: inline;}
#main #additionalOptions ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}
#main #cbSitemap {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #cbSitemap:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #cbSitemap h3 {color: #89a; font-size: 1.8em;}
#main #cbSitemap ul {margin: 0;}
#main #cbSitemap ul li {margin: 0; list-style: none; display: inline;}
#main #cbSitemap ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}
#main #poSitemap {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #poSitemap:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #poSitemap h3 {color: #89a; font-size: 1.8em;}
#main #poSitemap ul {margin: 0;}
#main #poSitemap ul li {margin: 0; list-style: none; display: inline;}
#main #poSitemap ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}
#main #umSitemap {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #umSitemap:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #umSitemap h3 {color: #89a; font-size: 1.8em;}
#main #umSitemap ul {margin: 0;}
#main #umSitemap ul li {margin: 0; list-style: none; display: inline;}
#main #umSitemap ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}
#main #ctl00_WebAppContent_rsSitemap {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #ctl00_WebAppContent_rsSitemap:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #ctl00_WebAppContent_rsSitemap h3 {color: #89a; font-size: 1.8em;}
#main #ctl00_WebAppContent_rsSitemap ul {margin: 0;}
#main #ctl00_WebAppContent_rsSitemap ul li {margin: 0; list-style: none; display: inline;}
#main #ctl00_WebAppContent_rsSitemap ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}
#main #csSitemap {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #csSitemap:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #csSitemap h3 {color: #89a; font-size: 1.8em;}
#main #csSitemap ul {margin: 0;}
#main #csSitemap ul li {margin: 0; list-style: none; display: inline;}
#main #csSitemap ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}
#main #ctl00_WebAppContent_wmSitemap {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #ctl00_WebAppContent_wmSitemap:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #ctl00_WebAppContent_wmSitemap h3 {color: #89a; font-size: 1.8em;}
#main #ctl00_WebAppContent_wmSitemap ul {margin: 0;}
#main #ctl00_WebAppContent_wmSitemap ul li {margin: 0; list-style: none; display: inline;}
#main #ctl00_WebAppContent_wmSitemap ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}
#main #hpSitemap {background: url(../images/bg-additionalOptions.gif) no-repeat; width: 601px; padding: 15px 0 50px 20px;}
#main #hpSitemap:after {clear: both; content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; visibility: hidden;}
#main #hpSitemap h3 {color: #89a; font-size: 1.8em;}
#main #hpSitemap ul {margin: 0;}
#main #hpSitemap ul li {margin: 0; list-style: none; display: inline;}
#main #hpSitemap ul li a {background: url(../images/additionalOptions-arrow.gif) no-repeat 0 5px; width: 287px; margin: 0 0 15px 0; padding: 0 0 0 13px; font-weight: bold; display: block; float: left;}

/**************************************************left column*********************************************/
#sidebar {background: #ffe; color: #666; width: 239px; margin-left: -928px; position: relative; float: left;}
#sidebar h3#title-my-bill {background: url(../images/sidebar-title-my-bill.gif) no-repeat; width: 239px; height: 41px; margin: 0 0 10px 0; text-indent: -9999px;}
#sidebar h3#title-previous-bills {background: url(../images/sidebar-title-previous-bills.gif) no-repeat; width: 239px; height: 51px; text-indent: -9999px;}
#sidebar h3#title-login-options {background: url(../images/sidebar-title-login-options.gif) no-repeat; width: 239px; height: 51px; text-indent: -9999px;}
#sidebar h3#title-logged-options {background: url(../images/sidebar-title-login-options.gif) no-repeat; width: 239px; height: 51px; text-indent: -9999px;}
#sidebar ul {margin: 0 0 5px 0;}
#sidebar ul li {list-style: none; display: inline;}
#sidebar ul li a {color: #776; height: 25px; margin: 0; padding: 10px 0 0 45px; text-transform: uppercase; font-size: 1.1em; display: block;}
#sidebar ul li a:hover {background-position: 0 -36px; color: #c72; text-decoration: none;}
#sidebar ul li a#ctsblnk {background-image: url(../images/sidebarNav-ctlnk.gif);}
#sidebar ul li a#fdsblnk {background-image: url(../images/sidebarNav-fdlnk.gif);}
#sidebar ul li a#cesblnk {background-image: url(../images/sidebarNav-celnk.gif);}
#sidebar ul li a#awsblnk {background-image: url(../images/sidebarNav-awlnk.gif);}
#sidebar ul li a#eusblnk {background-image: url(../images/sidebarNav-eulnk.gif);}
#sidebar ul li a#pealnk {background-image: url(../images/sidebarNav-eulnk.gif);}
#sidebar ul li a#ebsblnk {background-image: url(../images/sidebarNav-eblnk.gif);}
#sidebar ul li a#bhsblnk {background-image: url(../images/sidebarNav-bhlnk.gif);}
#sidebar ul li a#mssblnk {background-image: url(../images/sidebarNav-mslnk.gif);}
#sidebar ul li a.epsblnk {background-image: url(../images/sidebarNav-eplnk.gif);}
#sidebar ul li a#rpsblnk {background-image: url(../images/sidebarNav-rplnk.gif);}
#sidebar ul li a#ltsblnk {background-image: url(../images/sidebarNav-ltlnk.gif);}
#sidebar ul li a#lnsblnk {background-image: url(../images/sidebarNav-lnlnk.gif);}
#sidebar ul li a#january {background-image: url(../images/sidebarNav-jylnk.gif);}
#sidebar ul li a#february {background-image: url(../images/sidebarNav-fylnk.gif);}
#sidebar ul li a#march {background-image: url(../images/sidebarNav-mhlnk.gif);}
#sidebar ul li a#april {background-image: url(../images/sidebarNav-allnk.gif);}
#sidebar ul li a#may {background-image: url(../images/sidebarNav-mylnk.gif);}
#sidebar ul li a#june {background-image: url(../images/sidebarNav-jelnk.gif);}
#sidebar ul li a#july {background-image: url(../images/sidebarNav-jllnk.gif);}
#sidebar ul li a#august {background-image: url(../images/sidebarNav-atlnk.gif);}
#sidebar ul li a#september {background-image: url(../images/sidebarNav-srlnk.gif);}
#sidebar ul li a#october {background-image: url(../images/sidebarNav-orlnk.gif);}
#sidebar ul li a#november {background-image: url(../images/sidebarNav-nrlnk.gif);}
#sidebar ul li a#december {background-image: url(../images/sidebarNav-drlnk.gif);}
#sidebar ul li a#mbsblnk {background: none; text-transform: lowercase; text-decoration: underline;}

#main, #sidebar {margin-bottom: -32767px !important; padding-bottom: 32767px !important;}

/**************************************************footer**************************************************/
#footerWrap {background: #768696 url(../images/bg-footerWrap.gif) repeat-x; overflow: hidden; }
#footer {background: url(../images/bg-footer.gif) no-repeat; color: #fff; width: 949px; margin: 0 auto; padding: 30px 0; position: relative; clear: both;}
#footer ul#footerNav {width: 929px; margin: 0 10px; padding: 0 0 10px 0; text-align: right; border-bottom: 1px solid #456;}
#footer ul#footerNav li {color: #fff; list-style: none; display: inline;}
#footer ul#footerNav li a {color: #fff;}
#footer ul#footerUtilNav {width: 929px; margin: 0 10px; padding: 10px 0 0 0; text-align: right;}
#footer ul#footerUtilNav li {color: #fff; list-style: none; display: inline;}
#footer ul#footerUtilNav li a {color: #fff;}
/*Safari needs this - otherwise the ghost overflow, though painted correctly obscures links and form elements that by rights should be above it. An unintended side-effect is that it cause such elements to vanish in IE 5.01 and 5.5, hence the child selector hack*/
* > #footer, * > form {position: relative; z-index: 1000;}