﻿#so p.RegularText {
    color:          #000000;
    font-family:    Verdana,Helvetica;
    font-size:      12px;
    font-style:     normal;
    font-weight:    normal;
    line-height:    18px;
}
#so h3 
{
    font-size:      1.8em;
}
#sohead {
    padding-left:   10px;
    padding-right:  10px;
}
#sohead.soheader {
    background:     url(../images/bg-information.gif) no-repeat;    
    margin:         15px 0px 50px; 
    width:          616px;
    position:       relative;
    top:            20px;
    padding-top:    5px;
}
#sohead h3 {
    padding-left:   15px;     
    color:          #fff;
}
#sohead p {
    padding-left:   15px; 
    padding-right:  10px;
}

/* User input content */
#soappt
{
    margin-left:    10px;

}
#sodata p {
    padding-left:   30px;
}
#sodatabody {
    margin-left:    30px;
}
#sodatabody .sodatainput
{
    margin-top:     5px;
    margin-bottom:  5px;
}
#sodatabody span.sodatabodylblmajor
{    
    font-weight:    bold;
}
#sodatabody span.sodatabodylblminor
{    
}
#sodatasection {
    background:     transparent url(../images/bg-additionalOptions.gif) no-repeat scroll 0 0;
    margin-top:     15px;
    margin-bottom:  20px;
    display:        block;
    border:         0;
}
#sodatasection h3 {
    width:          575px;
    border-bottom:  #989898 1px solid;
    margin-left:    20px;
    color:          #8899AA;
    padding-top:    10px;
}
/*  Row data */
#rowdata {
}
#rowdata ul#rowlist
{
    float:          left;
    margin:         0;
    padding:        0;
    border:         0;
}

#rowlist li
{
    display:        inline;
    list-style:     none;
}
#rowlist li#title {
    color:          #000000;
    font-family:    Verdana,Helvetica;
    font-size:      12px;
    font-style:     normal;
    font-weight:    bold;
    line-height:    18px;
    text-align:     left;
    padding-left:   3px;
    padding-right:  48px;
}

/* Page navigation controls */
#socontrols 
{
    padding:        0px; 
    margin:         0px;
    padding-top:    20px;
    padding-left:   30px;
    padding-right:  30px;
    text-align:     right;    
}
#socontrols hr {   
    width:          100%; 
    color:          black; 
    height:         2px; 
    vertical-align: top;
    margin-bottom:  10px;
}
#socontrols div#soCntrlButtons 
{
    width:          100%;
    position:       relative;
}
#soCntrlButtons div#soBtnBack
{
    float:          right;
    padding-right:  2px;
}
#soCntrlButtons div#soBtnContinue
{
    float:          right;
    padding-left:   2px;
}
#soCntrlButtons div#soBtnConfirm
{
    float:          right;
    padding-right:  2px;
}
#soCntrlButtons div#soBtnFinish
{
    float:          right;
    padding-left:   2px;
}

/* Footer section of page */
#sofooter 
{
    padding-top:    50px;
}
.clear {
    height:         0;
    font-size:      1px;
    margin:         0;
    padding:        0;
    line-height:    0;
    clear:          both;
}
.required 
{
    color:          Red;
}
