A {color: #003399;text-decoration: none; font-family: Verdana, Helvetica, sans-serif; font-weight:bold;}
A:link {color: #003399;text-decoration: none; font-family: Verdana, Helvetica, sans-serif; font-weight:bold;}
A:hover {color: #009900;text-decoration: underline;}
A:active {color: #009900;text-decoration: underline;}

.grnbutton { background: #009900; border: 2px solid #000000; font-family: Verdana, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: White; padding: 2px; }
.redbutton { background: #990000; border: 2px solid #000000; font-family: Verdana, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: White; padding: 2px; }
.FormField { background-color:white; font-weight: normal; font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal;}
.FormFieldError { background-color:#ff0000; font-weight: bold; font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; }
.FormField_SmText { background-color:white; font-size: 10px; }
.FormLabelText { font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; }
.FormLabel_SmText { font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; }
.PrintLabelField { background-color:white; font-family: Verdana, Helvetica; font-size: 12px; }


#divScrollableTableData { visibility: visible; top:0px; left:0px; position:static;}
.celScrollableTableHeader { background-color: #CCCCCC; font-family: Verdana, Helvetica; font-size: 12px; color: #1166CC; font-style: normal; font-weight: bold;}
.celScrollableDataColor { background-color: #EEEEEE; font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; padding:5;}
.celScrollableDataAltColor { background-color: White; font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; padding:5;}
.fntScrollableData { font-family: Verdana, Helvetica; font-size: 11px; color: #000000; font-style: normal; font-weight: normal; }
.celScrollableTableHeaderCenter { background-color: #CCCCCC; font-family: Verdana, Helvetica; font-size: 12px; color: #1166CC; font-style: normal; font-weight: bold; text-align:center; }
.celScrollableDataColorCenter { background-color: #EEEEEE; font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; text-align:center; }
.celScrollableDataAltColorCenter { background-color: White; font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; text-align:center; }

.HeadingText {  font-family: Verdana, Helvetica; font-size: 18px; color: #1166CC; font-style: normal; font-weight: bold; line-height: 18px;}
.LargerText { font-family: Verdana, Helvetica; font-size: 14px; color: #336699; font-style: normal; font-weight: bold; line-height: 18px; }
.RegularText { font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; line-height: 18px;}
.SmallText { font-family: Verdana, Helvetica; font-size: 9px; color: #000000; font-style: normal; font-weight: normal; line-height: 11px;}
.LinkText {FONT-WEIGHT: bold; COLOR: #2E6998; FONT-STYLE: normal; FONT-FAMILY: Verdana, Helvetica}
.DisclaimerText {  font-family: Verdana, Helvetica; font-size: 9px; color: #fff; font-style: normal; font-weight: normal;}
.HeaderMessageText {  font-family: Verdana, Helvetica; font-size: 18px; color: #1166CC; font-style: normal; font-weight: bold; line-height: 26px;}


.UserInfo {  font-family: Verdana, Helvetica; font-size: 11px; color: #000000; font-style: normal; font-weight: normal; line-height: 16px;}
.PrintText { font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal; line-height: 12px;}
.GridDataText {  font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal;}
.GridHeadText {  font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: normal;}
.NavText {  font-family: Verdana, Helvetica; font-size: 12px; color: #000000; font-style: normal; font-weight: bold; line-height: 16px;}

.frmFieldsButtonTiny { width: 100px; background-color : #EB981B;}
.frmFieldsButtonSmall { width: 175px; background-color : #EB981B;}
.frmFieldsTextBoxSmall { width: 175px; border: solid 1px gray; background-color : white;}

.frmFieldsFileBoxSmall { width: 258px; border: solid 1px gray; background-color : white;}
.frmFieldsDropDownSmall { width: 175px; border: solid 1px gray; background-color : white;}
.frmFieldsListSmall { width: 175px; background-color : white;}
.frmFieldsCheckBoxSmall { width: 175px; font: Verdana; font-size: 8pt;}
.frmFieldsTextAreaSmall { width: 175px; background-color : white;}

.frmFieldsFileBoxMedium { width: 355px; border: solid 1px gray; background-color : white;}
.frmFieldsTextBoxMedium { width: 355px; border: solid 1px gray; background-color : white;}
.frmFieldsButtonMedium { width: 355px; background-color : #EB981B;}
.frmFieldsDropDownMedium { width: 355px; border: solid 1px gray; background-color : white;}
.frmFieldsListMedium { width: 355px; background-color : white;}
.frmFieldsCheckBoxMedium { width: 355px; font: Verdana; font-size: 8pt;}
.frmFieldsTextAreaMedium { width: 355px; background-color : white;}

.frmFieldsTextBoxMediumLarge { width: 535px; border: solid 1px gray; background-color : white;}
.frmFieldsButtonMediumLarge { width: 535px; background-color : white;}
.frmFieldsDropDownMediumLarge { width: 535px; background-color : white;}
.frmFieldsListMediumLarge { width: 535px; background-color : white;}
.frmFieldsCheckBoxMediumLarge { width: 535px; font: Verdana; font-size: 8pt;}
.frmFieldsTextAreaMediumLarge { width: 535px; background-color : white;}

.frmFieldsTextBoxLarge { width: 552px; border: solid 1px gray; background-color : white;}
.frmFieldsButtonLarge { width: 552px; background-color : white;}
.frmFieldsDropDownLarge { width: 554px; border: solid 1px gray; background-color : white;}
.frmFieldsListLarge { width: 535px; background-color : white;}
.frmFieldsCheckBoxLarge { width: 535px; font: Verdana; font-size: 8pt;}
.frmFieldsTextAreaLarge { width: 535px; background-color : white;}

.kubraIFrame { margin-left: -24px; margin-top:-10px; z-index: -1; overflow: auto; width: 678px; height: 800px; }

.BoldText { font-weight: bold; }

.AccountInformation { padding: 3px 5px 3px 0; line-height: 1.5em; vertical-align: top; font-size: 9pt; }
.AccountPaymentHistory { padding: 3px 5px 3px 0; line-height: 1.5em; }

.ModalPopupBG { background-color: #333333; filter: alpha(opacity=80); opacity: 0.7; z-index: 2147483647; }
.popup_Container { background-color:#fffeb2; border:2px solid #000000; padding: 0px 0px 0px 0px; }
.popupConfirmation { width: 300px; height: 400px; z-index: 2147483647; }
.popup_Titlebar { background: url(../Images/titlebar_bg.jpg); height: 29px; }
.popup_Body { padding:15px 15px 15px 15px; font-family:Arial; font-weight:bold; font-size:12px; color:#000000; line-height:15pt; clear:both; padding:20px; }
.TitlebarLeft { float:left; padding-left:5px; padding-top:5px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#FFFFFF; }
.popup_Buttons { margin:10px; }

.ModalPopupBG_PEA { background-color: #333333; filter: alpha(opacity=80); opacity: 0.7; z-index: 2147483647; }
.PersonalEnergyAnalysisPanel { width: 900px; height: 400px; z-index: 2147483647; position: relative; top: 70px; left: 10px; display: block; }
.PersonalEnergyAnalysisPanel .popup_Container { background-color: #ffffff; border:2px solid #000000; padding: 0px 0px 0px 0px; }
.PersonalEnergyAnalysisPanel .popup_Container .popup_Titlebar { background-color: #666666; height: 23px; }
.PersonalEnergyAnalysisPanel .popup_Container .popup_Body { background-color: #ffffff; padding:5px 5px 5px 5px; color:#000000; overflow: scroll; }

.PhoneList { margin: 10px 0 0 10px; font-size: 1.2em; }
.PhoneNumberEdit { margin: 20px 0 0 10px; font-size: 1.2em; }
.PhoneNumberEdit .Title { font-size: 1.2em; font-weight: bold; margin: 15px 0 5px 0; color: #989898; }
.PhoneNumberEditTable { margin: 0 0 0 0; width: 100%; }
.PhoneNumberEditTable tr td { height: 30px; }
.PhoneNumberEditTable td.label { width: 250px; font-weight: bold; }

.AccountBillHistoryList .BillPopLinkPanel { margin: 30px 0 0 30px; }
.AccountBillHistoryList .BillPopLinkPanel a { margin: 30px 0 0 10px; font-size: 1.1em; width: 100%; }

.BillFormatEditTable { margin: 0 0 0 0; }
.BillFormatEditTable td.label { width: 250px; font-weight: bold; font-size: 1.2em; }
