﻿@*@{
    Layout = null;
}

<div class="loader">
    <div id="iws_btd_loader" class="acl-loader" tabindex="0"> <span class="sr-only"></span> <p></p></div>
</div>



<!-- Revised 'Fatal Error' panel -->
<script id="tmpl_btd_fatal_error" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{:Message}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
</script>



<div id="iws_btd_wrapper" style="display: none;">
    <div id="iws_btd_main"></div>
</div>

<script id="tmpl_btd_default" type="text/x-jsrender">

     <div class="panel panel-default panel-bill-summary">

         <div class="panel-heading">
             <h1 role="presentation" id="iws_bs_title" class="panel-title">{{:Title}}</h1>
             <div id="iws_btd_intro_text" class="intro-text xs-mb-0"></div>
         </div>

         <div class="panel-body xs-pt-0">
             <div class="row">
                 <div role="tabpanel" class="full-width-tabs">
                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs" role="tablist">
                         <li id="iws_btd_li_next_bill" class="nav-tab-title active" role="presentation">
                             <a id="iws_btd_next_bill" data-toggle="tab" href="#" role="tab">{{:BTDTitle}}<span class="sr-only">Next Bill</span></a>
                         </li>
                         <li id="iws_btd_li_last_bill" class="nav-tab-title" role="presentation">
                             <a id="iws_btd_last_bill" data-toggle="tab" href="#" role="tab">{{:BillStatementTitle}}<span class="sr-only">Last Bill</span></a>
                         </li>
                     </ul>
                 </div>
             </div>
  
             {{if NoBillToDate == false }}
             <ul id="iws_btd_ul_next_bill" class="list-group list-bill-to-date" role="list" style="display: none;">
                 {{if ShowBTDBillPeriod == "true" }}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         {{:BillPeriod}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:NumberOfDays}} {{:NumberOfDaysText}}
                     </div>
                 </li>
                 {{/if}}
                 {{if ShowBTDElectricUseToDate == "true" && Commodities.indexOf(('electric')) !== -1 && ElectricUseToDate.replace(",", "") > 0 }}
                 <li class="list-group-item row"
                     role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         {{:ElectricUseToDateText}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:ElectricUseToDate}} {{:ElectricUOM}}
                     </div>
                 </li>
                 {{/if}}
                 {{if ShowBTDGasUseToDate == "true"  && Commodities.indexOf(('gas')) !== -1 && GasUseToDate.replace(",", "") > 0}}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         {{:GasUseToDateText}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:GasUseToDate}} {{:GasUOM}}
                     </div>
                 </li>
                 {{/if}}
                 {{if ShowBTDWaterUseToDate == "true"  && Commodities.indexOf(('water')) !== -1 && WaterUseToDate.replace(",", "") > 0}}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         {{:WaterUseToDateText}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:WaterUseToDate}} {{:WaterUOM}}
                     </div>
                 </li>
                 {{/if}}
                 {{if ShowBTDCostToDate == "true" }}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0" id="projected_bill">
                         <strong>{{:CostToDateText}}</strong>
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         <strong>{{:CostToDate}}</strong>
                     </div>
                 </li>
                 {{/if}}
                 {{if ShowBTDAverageDailyCost == "true" }}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-7 xs-pl-0" id="projected_bill">
                         <strong>{{:AvgDailyCostText}}</strong>
                     </div>
                     <div class="col-xs-5 text-right list-value xs-pr-0 xs-pl-0">
                         <strong>{{:AvgDailyCost}}</strong>
                     </div>
                 </li>
                 {{/if}}
                 {{if ShowBTDProjectedCost == "true" }}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0" id="projected_bill">
                         <strong>{{:ProjectedCostText}}</strong>
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         <strong>{{:ProjectedCost}}</strong>
                     </div>
                 </li>
                 {{/if}}
             </ul>
             {{/if}}
<!-- I took out the pull left and added text-align: right - check this in browser -->

             <ul id="iws_btd_ul_last_bill" class="list-group list-bill-to-date" role="list" style="display: none;">
                 {{if BillSummary.TotalElectricityUsed > 0 }}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0" id="days">
                         {{:BillSummary.TotalElectricUse}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0" aria-labelledby="days">
                         {{:BillSummary.TotalElectricityUsed}} {{:BillSummary.ElectricUOM}}
                     </div>
                 </li>
                 {{/if}}
                 {{if BillSummary.TotalGasUsed > 0 }}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         {{:BillSummary.TotalGasUse}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:BillSummary.TotalGasUsed}} {{:BillSummary.GasUOM}}
                     </div>
                 </li>
                 {{/if}}
                 {{if BillSummary.TotalWaterUsed > 0 }}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         {{:BillSummary.TotalWaterUse}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:BillSummary.TotalWaterUsed}} {{:BillSummary.WaterUOM}}
                     </div>
                 </li>
                 {{/if}}
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-7 xs-pl-0" id="days">
                         {{:BillSummary.AvgDailyCostText}}
                     </div>
                     <div class="col-xs-5 text-right list-value xs-pr-0 xs-pl-0">
                         {{:BillSummary.AvgDailyCost}}
                     </div>
                 </li>
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0" id="days">
                         {{:BillSummary.NumberOfDaysText}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:BillSummary.NumberOfDays}}
                     </div>
                 </li>
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         {{:BillSummary.AvgTempText}}
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         {{:BillSummary.AvgTemp}}&deg;{{:BillSummary.TempFormat}}
                     </div>
                 </li>
                 <li class="list-group-item row" role="listitem">
                     <div class="col-xs-6 xs-pl-0">
                         <strong>{{:BillSummary.AmountDueText}}</strong>
                     </div>
                     <div class="col-xs-6 text-right list-value xs-pr-0">
                         <strong>{{:BillSummary.AmountDue}}</strong>
                     </div>
                 </li>
             </ul>
         </div>
         <div class="hideEmptyCont"><div class="panel-footer"><div id="iws_btd_footertext" class="footertext">{{:Footer}}</div><div id="iws_btd_footerlink" class="footerlink"><a href="{{:FooterLink}}">{{:FooterLinkText}}</a></div></div></div></div>
</script>*@