﻿<h1 class="hidden">Third Party Scope Selection Page</h1>
<p class="hidden">The Data Custodian (Aclara) redirects to this Third Party Application (simulation only).</p>
<p class="hidden">The Retail Customer would normally set up an account with the Third Party Application and select the scopes to share with the Third Party Application.</p>
<p class="hidden">After scope selection the Third Party app would redirect to the Data Custodian oAuth page to request an auth code.</p>

<!-- scope -->



<div class="container">
    <!-- logo -->

    <div class="row">
        <div class="gbc__scope-login text-center xs-pt-20 xs-pb-10">
            <img class="img-responsive img-rounded" src="{{result.LogoUri}}" />
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default gbc__scope-login">
            <div class="panel-heading">
                <h1 class="panel-title">Register</h1>
            </div>
            <div class="panel-body">
                <!-- email -->
                <form role="form" class="col-sm-12 form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3" for="inputName">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control gbc_element" id="inputName" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="inputEmail1">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control gbc_element" id="inputEmail1" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="street-address1">Address 1</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control gbc_element" id="street-address1" placeholder="Street address, P.O. box, company name, etc.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="street-address2">Address 2</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control gbc_element" id="street-address2" placeholder="Apartment, suite, unit, building, floor, etc.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="inputCity">City</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control gbc_element" id="inputCity" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="state">State</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="state" name="state">
                                <option value="">Choose State</option>
                                <option value="AK">Alaska</option>
                                <option value="AL">Alabama</option>
                                <option value="AR">Arkansas</option>
                                <option value="AZ">Arizona</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DC">District of Columbia</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="IA">Iowa</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MD">Maryland</option>
                                <option value="ME">Maine</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MO">Missouri</option>
                                <option value="MS">Mississippi</option>
                                <option value="MT">Montana</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="NE">Nebraska</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NV">Nevada</option>
                                <option value="NY">New York</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VA">Virginia</option>
                                <option value="VT">Vermont</option>
                                <option value="WA">Washington</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WV">West Virginia</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <label class="col-sm-1" for="zip">Zip</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control gbc_element" id="zip" older="Zipcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="username">Username</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control gbc_element" id="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="inputPassword">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control gbc_element" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                            <a [href]="result.AuthorizeUri" class="btn btn-default pull-right">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>