<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">

    <div *ngIf="errorOccurred">
        <div class="panel-no-matching">
            <div class="panel-body">
                <img class="error-img" src="Content/Images/icon-error.png" /> {{errorMessage}}
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="panel panel-default sub">
        <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
            <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
        </div>

        <div *ngIf="result.NoSubscription === true" class="panel-body">{{result.NoData}}</div>

        <div *ngIf="result.NoSubscription !== true" class="panel-body xs-mt-15 xs-ml-15 xs-mr-15 xs-mb-15">
            <div class="container-fluid">
                <div class="row no-right-gutter">
                    <h4 *ngIf="result.ShowSubTitle == 'true' && result.SubTitle !== ''" role="presentation" class="subtitle">{{result.SubTitle}}</h4>
                    <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="markdown">{{result.IntroText}}</div>
                </div>
            </div>

            <!-- Row -->
            <div *ngFor="let n of result.Notifications | objToArr;" class="container-fluid sub-line xs-mb-20">     
                <div *ngIf="n.ShowLabel">
                    <div class="row">
                        <div *ngIf="n.Level === 'service'" class="sub__usage col-xs-12 xs-mb-15 xs-mt-15">
                            <h4 *ngIf="result.ServiceCount === 1" class="sub__usage--subtitle">{{n.SingleServiceLabel}}</h4>
                            <h4 *ngIf="result.ServiceCount > 1" class="sub__usage--subtitle">{{n.ServiceLabel}}</h4>
                        </div>

                        <!-- Row for labels - email and text -->
                        <div class="sub__labels col-xs-4 no-left-gutter pull-left">

                            <div *ngIf="channelEnabled('email')" class="sub__email-label col-xs-6 text-center">
                                <h6 class="text-center">{{result.ChannelsText.split(",")[0]}}</h6>
                            </div>
                            <div *ngIf="channelEnabled('sms')" class="sub__text-label col-xs-6 text-center">
                                <h6 class="text-center">{{result.ChannelsText.split(",")[1]}}</h6>
                            </div>
                        </div>
                        <div class="sub__description col-xs-8 pull-left-ms">
                        </div>
                    </div>
                </div>
                <!-- Row for check-boxes - email and text -->
                <div class="row no-gutter">
                    <div class="sub__checkboxes col-xs-4  no-left-gutter pull-left">
                        <div *ngIf="channelEnabled('email')" class="sub__email-check col-xs-6 text-center">
                            <input  #email (change)="n.EmailSelected = email.checked; toggleInput(n)" [checked]="n.EmailSelected" [disabled]="emailDisabled(n)" class="sub-control" type="checkbox" value="Email">
                        </div>
                        <div *ngIf="channelEnabled('sms')" class="sub__text-check col-xs-6 text-center">
                            <input  #sms (change)="n.SmsSelected = sms.checked; toggleInput(n)" [checked]="n.SmsSelected" [disabled]="smsDisabled(n)" class="sub-control" type="checkbox" value="Text">
                        </div>
                    </div>
                    <div class="sub__description col-xs-8 pull-left-ms">
                        <p class="xs-pl-15 xs-mb-0">{{n.Title}}</p>
                        <div *ngIf="n.ThresholdType === 'cost' || n.ThresholdType === 'usage'" class="sub__field">
                            <p *ngIf="n.InvalidRequired" class="error xs-pl-10">{{result.NotCompleteMessage}}</p>
                            <p *ngIf="n.InvalidRange" class="error">{{n.RangeErrorMessage}}</p>
                            <div class="xs-pl-15">
                                <div *ngIf="n.ThresholdType === 'cost'" class="sub__money-symbol pull-left-xs">{{n.CurrencySymbol}}</div>
                                <div class="sub__input">
                                    <input #threshold (change)="n.Threshold = threshold.value;" [disabled]="n.ThresholdDisabled" type="text" class="sub__amount-field xs-mr-10" [value]="displayThreshold(n)"><span *ngIf="n.ThresholdType === 'usage'">{{n.UomText}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub__disclaimer container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="markdown">{{result.Disclaimer}}</div>
                    </div>
                    <!-- end Row -->
                </div>
            </div>

            <div class="sub__btn container-fluid">
                <div class="row">
                    <div class="button-shell">
                        <div *ngIf="saved">{{result.SaveSuccess}}</div>
                        <div *ngIf="failed">{{result.SaveFailed}}</div>
                        <button (click)="postData()" type="button" class="btn action-btn xs-mt-10" onclick="return false;" tabindex="0">{{result.SaveButtonLabel}}</button>
                    </div>
                </div>
                <!-- end Row -->
            </div>
      <!-- End panel-body -->
        </div>
        <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer sub__footer container-fluid">
            <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
            <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
            </div>
        </div>
    </div>
</div>