﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="panel panel-default">
        <!-- Title -->
        <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
            <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
        </div>

        <!-- No data -->
        <div *ngIf="result.NoBills == true" class="alert alert-warning">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NoBillsText}}</strong>
        </div>

        <!-- Introtext -->
        <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text" style="white-space: pre-line">{{result.IntroText}}</div>

        <div *ngIf="result.NoBills !== true" class="table table-striped table-responsive xs-mb-0" role="grid">
            <div class="billing-history table-responsive" role="grid">
                <table class="table table-hover table-striped billing-history" border="0" cellpadding="5" cellspacing="0">
                    <thead><tr>
                        <th class="navbar navbar-default navbar-table-cell">{{result.BillDate}}</th>
                        <th *ngIf="result.ElectricServiceCount > 0 && result.Commodities.indexOf(('electric')) !== -1" class="navbar navbar-default navbar-table-cell">{{result.ElectricAmountDue}}</th>
                        <th *ngIf="result.WaterServiceCount > 0 && result.Commodities.indexOf(('water')) !== -1" class="navbar navbar-default navbar-table-cell">{{result.WaterAmountDue}}</th>
                        <th *ngIf="result.GasServiceCount > 0 && result.Commodities.indexOf(('gas')) !== -1" class="navbar navbar-default navbar-table-cell">{{result.GasAmountDue}}</th>
                        <th class="navbar navbar-default navbar-table-cell">{{result.TotalAmountDue}}</th>
                        <th *ngIf="result.ShowActions == 'true'" class="navbar navbar-default navbar-table-cell">{{result.Actions}}</th>
                    </tr></thead>

                    <tbody>
                        <tr *ngFor="let b of bills">
                                <td>{{b.BillDate}}</td>
                                <td *ngIf="result.ElectricServiceCount > 0 && result.Commodities.indexOf(('electric')) !== -1">{{b.ElectricCost}}</td>
                                <td *ngIf="result.WaterServiceCount > 0 && result.Commodities.indexOf(('water')) !== -1">{{b.WaterCost}}</td>
                                <td *ngIf="result.GasServiceCount > 0 && result.Commodities.indexOf(('gas')) !== -1">{{b.GasCost}}</td>
                                <td>{{b.TotalCost}}</td>
                            <td>
                                <div *ngIf="result.ShowActions == 'true' && !isLastBill(b)">
                                   <i class="fa fa-exchange" aria-hidden="true"></i>
                                   <a href="{{b.CompareLink}}">{{result.CompareLink}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    
                    <tfoot><tr><td height="60" class="bill-footer hideEmptyCont" colspan="6" valign="middle">
                    <div class="col-sm-12 view-all">
                        <div class="btn-group btn-block text-center">
                            <!-- Pagination block -->
                            <ul *ngIf="paginate"  class="pagination pagination-block">
                                <li [ngClass]="{'disabled':prevDisabled}" (click)="pageChange('prev')"><a class="arrow" href="#" onclick="return false;"><img src="Content/Images/icon-page-left.png" class="bill_left_nav" alt="previous"/></a></li>
                                <li *ngFor="let p of pages" class="pn" [ngClass]="{'active':isCurrentPage(p)}"><a href="#" onclick="return false;" (click)="pageChange(p)">{{p}}</a></li>
                                <li [ngClass]="{'disabled':nextDisabled}" (click)="pageChange('next')"><a class="arrow" href="#" onclick="return false;"><img src="Content/Images/icon-page-right.png" class="bill_right_nav" alt="next"/></a></li>
                            </ul>
                            <div class="clearb"></div>
                        </div></div></td></tr>
                        </tfoot>
                </table>
            </div>
        </div>

            <!-- Footer -->
            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true' || result.ShowBillHistoryLink === 'true'" class="panel-footer">
                <div *ngIf="result.ShowBillHistoryLink === 'true'">
                    <a href="{{result.BillHistoryLink}}">{{result.ViewBillHistory}}</a>
                </div>
                <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                    <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                </div>
            </div>
        </div>
</div>