﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aclara One</title>
    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")    
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/kendo")

</head>
<body>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - Aclara One</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
