﻿@using Microsoft.AspNet.Identity
<div class="col-sm-6">
    <div class="navbar-left pad-top-bottom">
        <a class="logo" href="#">
            <img class="brand-logo" alt="logo" src="../Content/Images/brand-logo.png" border="0">
        </a>
    </div>
    <!-- logo -->
</div>
<div class="col-sm-6">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <div class="pad-top-bottom" style="float: left;"><b>Welcome!</b></div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">@User.Identity.GetUserName() <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { title = "Dashboard" })</li>
                                <li>@Html.ActionLink("Account Settings", "Manage", "Account", null, new { title = "Manage" })</li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    @(Html.Kendo().DropDownList()
                      .Name("Account")
                      .HtmlAttributes(new { @class = "col-sm-5", style = "padding: 0;margin-top:9px;width: auto;max-width: 150px;min-width: 100px;" })
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo((System.Collections.IEnumerable)ViewData["AccountIds"])
                    )

                </div>
            </div>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            @*<li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" })</li>*@
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
</div>
    <style>
        .pad-top-bottom {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
