﻿@{
    ViewBag.Title = "Change Password";
}

<script type="text/javascript">
    $(document).ready(function () {
        try {


            $('#btnChange').click(function () {

                if ($('#txtUserName').val().trim().length == 0 || $('#txtPassword').val().trim().length == 0 || $('#txtNewPassword').val().trim().length == 0 || $('#txtConfNewPassword').val().trim().length == 0) {
                    $('#lblError').html("Please input values for all fields.");
                }
                else {
                    $.ajax({
                        url: "ChangePassword",
                        type: "POST",
                        data: "{'username':'" + $('#txtUserName').val() + "', 'password':'" + $('#txtPassword').val() + "', 'newpassword':'" + $('#txtNewPassword').val() + "', 'confnewpassword':'" + $('#txtConfNewPassword').val() + "'}",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            var accountDetails = msg;
                            if (accountDetails == "") {
                                var url = $('#lnkLogin').attr('href');
                                window.location = url;
                            }
                            else {
                                $('#lblError').html(accountDetails);
                                $('#btnChange').off('mouseover');
                                $("#btnChange").attr('style', '');
                            }
                            $('#btnChange').html(' Change Password');
                        },
                        beforeSend: function () { $("#btnChange").html("Please Wait..."); }
                    });
                }
            });

            $('input:text,:password').on('keypress', function (event) {
                if (event.keyCode == '13') {
                    $('#btnLogin').click();
                }
            });

            $('#btnLogout').hide();
        }
        catch (ex) { }
    });
</script>

<div id="auth" class="">
    <table>
        <tr>
            <td class="">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="">
                User Name:
            </td>
            <td>
                @Html.TextBox("txtUserName", "")
            </td>
        </tr>
        <tr>
            <td class="">
                Old Password:
            </td>
            <td>
                <input id="txtPassword" type="password">
            </td>
        </tr>
        <tr>
            <td class="">
                New Password:
            </td>
            <td>
                <input id="txtNewPassword" type="password">
            </td>
        </tr>
        <tr>
            <td class="">
                Confirm New Password:
            </td>
            <td>
                <input id="txtConfNewPassword" type="password">
            </td>
        </tr>
        <tr>
            <td class="">
                &nbsp;
            </td>
            <td>
                <div id="loginDiv">
                    <button id="btnChange" class="btn btn-def">
                        Change Password
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="">
                &nbsp;
            </td>
            <td>
                <label id='lblError' style='color: Red'>
                </label>
            </td>
        </tr>
    </table>
    @Html.ActionLink("login", "Index", "Login", null, new { @id = "lnkLogin", @class = "acl-btn-link", @style = "display:none" })
</div>
