﻿@using CE.ControlPanel.Common
@model CE.ControlPanel.Models.Logins

@{
    ViewBag.Title = "Create Login";
}

<h2>Add Insights Control Panel User</h2>
<p class="required"> Required fields are marked with an asterisk (<label title="required"></label>).</p>

<hr />
@using (Html.BeginForm())
{
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group required">
            @Html.Label("First Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("FirstName", "")
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group required">
            @Html.Label("Last Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("LastName", "")
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group required">
            @Html.Label("User Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("UserName", "")
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group required">
            @Html.Label("Password", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Password", "")
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group required">
            @Html.Label("Enabled", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnableInd)
                @Html.ValidationMessageFor(model => model.EnableInd)
            </div>
        </div>

        @*<div class="form-group required">
                @Html.Label("SuperUserInd", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SuperUserInd)
                    @Html.ValidationMessageFor(model => model.SuperUserInd)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
    if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
    {
        <input type="button" id="btnCreate" value="Create" class="btn btn-def" />
    }
                }
                <input type="submit" id="btnSubmit" style="display:none" />
                <label id='lblError' style='color: Red'></label>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
<script>
    $("#btnCreate").click(function () {
        $('#btnSubmit').click();
    });
</script>

