﻿@using CE.ControlPanel.Common
@model CE.ControlPanel.Models.LoginClients

@{
    ViewBag.Title = "Edit Login";
}

<h2>Edit user</h2>
<p class="required"> Required fields are marked with an asterisk (<label title="required"></label>).</p>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)      
        <div class="form-group required">
            @Html.LabelFor(model => model.UserName, "User Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Encode(Model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="form-group required">
            @Html.LabelFor(model => model.EnableInd, "Enabled", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnableInd)
                @Html.ValidationMessageFor(model => model.EnableInd)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Clients Access:</label>
            <div class="col-md-10">
                @foreach (var client in (List<CE.ControlPanel.Models.ClientsChkBox>)ViewData["LoginClientsList"])
                {
                    if (client.Enabled)
                    {
                        <input type="checkbox" checked="checked" name="LoginClientsList" value="@client.Id" />@client.Name
                        <br />
                    }
                    else
                    {
                        <input type="checkbox" name="LoginClientsList" value="@client.Id" />@client.Name

                        <br />
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
    if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
    {
        <input type="submit" value="Save" class="btn btn-def" />
    }
                }
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "List")
</div>
