﻿@using CE.ControlPanel.Common
@{
    ViewBag.Title = "LogIn";
}

<script type="text/javascript">
    $(document).ready(function () {
        try {

            if (getParameterByName('RedirectFromFilter') == "Yes") {
                $('#lblError').html("Please enter valid username and password.");
            }
            $('#btnChange').click(function () {
                var url = $('#lnkChange').attr('href');
                window.location = url;
            });
            $('#btnLogin').click(function () {
                $.ajax({
                    url: "LogIn/LogIn",
                    type: "POST",
                    data: "{'username':'" + $('#txtUserName').val() + "', 'password':'" + $('#txtPassword').val() + "'}",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        var accountDetails = msg;
                        if (accountDetails == "") {
                            var url = $('#lnkHome').attr('href');
                            window.location = url;
                        }
                        else {
                            $('#lblError').html(accountDetails);
                            $('#btnLogin').off('mouseover');
                            $("#btnLogin").attr('style', '');
                            $('#btnLogin').html('Log In');
                        }
                    }
                });
            });

            $('input:text,:password').on('keypress', function (event) {
                if (event.keyCode == '13') {
                    $('#btnLogin').click();
                }
            });

            $('#btnLogout').hide();
        }
        catch (ex) { }
    });

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

</script>

<div id="auth" class="">
    <table>
        <tr>
            <td class="">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="">
                User Name:
            </td>
            <td>
                @Html.TextBox("txtUserName", "")
            </td>
        </tr>
        <tr>
            <td class="">
                Password:
            </td>
            <td>
                <input id="txtPassword" type="password">
            </td>
        </tr>
        <tr>
            <td class="">
                &nbsp;
            </td>
            <td>
                <div id="loginDiv">
                    <button id="btnLogin" class="btn btn-def">
                        Log In
                    </button>
                    @{
                        if (((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).EnableEditing == true)
                        {
                            <button id="btnChange" class="btn btn-def">
                                Change Password
                            </button>
                        }
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td class="">
                &nbsp;
            </td>
            <td>
                <label id='lblError' style='color: Red'>
                </label>
            </td>
        </tr>
    </table>
    @Html.ActionLink("Home", "Index", "Home", null, new { @id = "lnkHome", @class = "acl-btn-link", @style = "display:none" })
    @Html.ActionLink("Login", "Change", "Login", null, new { @id = "lnkChange", @class = "acl-btn-link", @style = "display:none" })

</div>
