﻿@model List<CE.ControlPanel.Models.Logins>

@{
    ViewBag.Title = "Insights Control Panel Users";
}

<h2>Insights Control Panel Users</h2>

<p>
    <b>This screen displays the Control Panel Users.</b><br />
    Click "Create New" to add a new user.<br />
    Click "Edit" to change client assigned to an user.<br />
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.Label("First Name")
        </th>
        <th>
            @Html.Label("Last Name")
        </th>
        <th>
            @Html.Label("User Name")
        </th>

        <th>
            @Html.Label("Enabled")
        </th>
        <th></th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @i.FirstName
            </td>
            <td>
                @i.LastName
            </td>
            <td>
                @i.UserName
            </td>
            <td>
                @Html.CheckBox("chkBox" + i.UserName, Convert.ToBoolean(i.EnableInd), new { @disabled = "disabled" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { username = i.UserName })         
            </td>
        </tr>
    }
</table>
