﻿@using CE.ReportPortalWeb.Common
@section Breadcrumbs{
                    <ol class="breadcrumb navbar-breadcrumb" >
                        <li>Dashboard</li>
                    </ol>
}

<div class="side-body padding-top">
    <div class="lead" style="font-size: 28px; text-align: center; color: #19B5FE">Welcome to the Aclara Reporting Portal.</div>
    <div  style="font-size: 16px; text-align: center; font-weight: 200">Please click the chart icon <img src="~/img/i-chart.png" style="display: inline-block"/>, in the left-hand navigation to see your reports.  <br/>If you don't see the chart icon, click the hamburger icon <img src="~/img/i-hamburger.png" style="display: inline-block"/> to the left of the DASHBOARD title.</div>
    @Html.PowerBIAccessToken()
</div>