﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>
    <div *ngIf="!errorOccurred">
        <div id="iws_po_wrapper" class="promo panel panel-default" style="width: 100%" (window:resize)="loadImgbyWidth()">
            <!-- Title -->
            <div *ngIf="result.ShowTitle == 'true'" class="panel-heading">
                <h1 role="presentation">{{result.Title}}</h1>
            </div>
            <!-- Intro text -->
            <div *ngIf="result.ShowIntro == 'true'" class="markdown">{{result.IntroText}}</div>

            <!-- promos -->
            <div *ngFor="let p of result | objToArr">
                <span class="sr-only">Opens in new window</span>
                <div *ngIf="p.RebateMediumImageUrl !== '' && p.RebateMediumImageUrl.length > 0">
                    <img alt="{{p.PromoText}}" *ngIf="width > p.ImageLowBreakPoint && width<=p.ImageHighBreakPoint" class="img-responsive cursor__pointer" [src]="p.RebateMediumImageUrl" (click)="popUp(p.RebateUrl,p.Key)" (load)="postEvents('',p.Key,'View Promo')"/>
                    <img alt="{{p.PromoText}}" *ngIf="width <= p.ImageLowBreakPoint" class="img-responsive cursor__pointer" [src]="p.RebateSmallImageUrl" (click)="popUp(p.RebateUrl,p.Key)" (load)="postEvents('',p.Key,'View Promo')"/>
                    <img alt="{{p.PromoText}}" *ngIf="width > p.ImageHighBreakPoint" class="img-responsive cursor__pointer" [src]="p.RebateLargeImageUrl" (click)="popUp(p.RebateUrl,p.Key)" (load)="postEvents('',p.Key,'View Promo')"/>
                </div>
                <div *ngIf="p.RebateMediumImageUrl == '' || p.RebateMediumImageUrl.length === 0">
                    <div *ngIf="p.PromoText  !== '' && p.PromotText.length > 0" class="markdown">{{p.PromoText}}</div>
                </div>
            </div>
            <!-- Footer -->
            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'">
                <div class="panel-footer">
                    <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                    <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                        <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>