﻿
<div class="col-sm-12 xs-pl-0 xs-pr-0" *ngIf="userDetails != null">
    <div class="btn-group btn-toolbar pull-right portal__list" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{userMenu?.userMenuSalutation}} {{userDetails?.lastName}},{{userDetails?.firstName}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a (click)="loadUserProfile()">{{userMenu?.viewProfile}}</a></li>
            <li *ngIf="userDetails?.isAdminUser === true"><a routerLink="EditUser">{{userMenu?.manageUsers}}</a></li>
            <li><a routerLink="/Login"><span class="xs-mr-5">{{userMenu?.logout}}</span><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>

    </div>
    <div class="container-fluid ng-scope xs-pl-0 xs-pr-0" ui-view="header">
        <div class="row">
            <div class="energy__logo col-sm-6">
                <div class="navbar-header ng-scope xs-ml-15">
                    <span class="navbar-brand xs-pl-0 xs-pl-15">
                        <img id="AclaraLogo" alt="AclaraOne logo" src="../images/aclara.svg">
                        <span>Aclara ACE <span class="TM"><sup>®</sup></span> Portfolio Manager Portal</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<ul class="nav nav-tabs">
    <li class="contacts" role="presentation" routerLinkActive="active"><a routerLink='BenchMark' routerLinkActive="active" queryParamsHandling="preserve">{{content?.contacts}}</a></li>
    <li class="meters" role="presentation" routerLinkActive="active"><a routerLink='MetersScreen' routerLinkActive="active" queryParamsHandling="preserve">{{content?.meters}}</a></li>
</ul>

<div class="modal fade" bsModal #staticuserProfile="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel-heading">
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticuserProfile.hide()">
                    <span aria-hidden="true">&times;</span>
                </button><h2 class="text-primary">User Profile</h2>

            </div>
            <div class="panel-body">
                <div class="box box-info">
                    <div class="box-body">
                        <userprofile #userProfile></userprofile>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




