﻿@using Combres.Mvc
@{
    Layout = "~/Views/Shared/_GreenButtonConnectAdmin.cshtml";
}

@{
    ViewBag.Title = "Green Button Connect Admin";
}

@section ViewJS{
    @Url.CombresLink("siteCss")
    @Url.CombresLink("siteJs")
}

<script>
    var angWidgets = 'gbcadmin';
    var su = '@(ViewBag.SU)';
</script>
@{string angWidgetsHtml = "<gbcadmin></gbcadmin>";}
<app></app>
<script>
    var angWidgetsHtml = '@angWidgetsHtml';
</script>

