<div id="loading-placeholder" tabindex="0" class="acl-loader">
    <p class="acl-loader-text">Loading...</p>
    <img class="acl-loader-image" alt="your content..." src="Content/Images/loading.gif"/>
</div>