﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">

        <div class="panel panel-default">
            <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
                <h1 role="presentation" class="panel-title">{{result.Title}}</h1>
            </div>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="panel panel-default">
        <div *ngIf="result.ShowTitle == 'true'" class="panel-heading">
                <h1 role="presentation" class="panel-title">{{result.Title}}</h1>
            </div>
            <div *ngIf="result.ShowSubTitle === 'true' || result.ShowIntro === 'true'">
                <div class="panel-body intro-text xs-pt-0 xs-pb-0 xs-pr-0 xs-mb-0">
                    <div *ngIf="result.ShowSubTitle == 'true' && result.SubTitle !== ''" role="presentation" class="subtitle">{{result.SubTitle}}</div>
                    <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="markdown">{{result.IntroText}}</div>
                </div>
            </div>

            <div class="quick-links xs-p-15" role="complementary">
              <a *ngFor="let l of result.LinkList | objToArr" class="xs-mb-5 quick" [href]="l.Url" [name]="l.Key" (onclick)="postEvents(l.Url,l.Key)"><span [ngClass]="'icon '+l.Icon" aria-hidden="true"></span>{{l.LinkText}}</a>
            </div>

            <!-- /Footer -->
            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'">
                <div class="panel-footer">
                    <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                    <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                        <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                    </div>
                </div>
            </div>

        </div>
</div>