﻿/*!
 * Mvc.Grid 1.4.0
 * https://github.com/NonFactors/MVC6.Grid
 *
 * Copyright © NonFactors
 *
 * Licensed under the terms of the MIT License
 * http://www.opensource.org/licenses/mit-license.php
 */
.mvc-grid {
    overflow-x: auto;
}

.mvc-grid th {
    background-clip: padding-box;
    position: relative;
}

.mvc-grid .filterable {
    padding-right: 30px;
    position: relative;
}

.mvc-grid .sortable,
.mvc-grid .mvc-grid-filter {
    cursor: pointer;
}

.mvc-grid .asc:after,
.mvc-grid .desc:after {
    padding-left: 3px;
}

.mvc-grid .asc:after {
    content: '\2193';
}

.mvc-grid .desc:after {
    content: '\2191';
}

.mvc-grid-filter {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMBAMAAACpRTGTAAAAMFBMVEUAAAD///////9ISEgZGRn///82NjbGxsaHh4f///9VVVW9vb1NTU3///8ZGRkzMzMT2xyPAAAADnRSTlMAQATDTxTzOGwQqzG3KGb54LsAAABDSURBVAgdBcExDkBAEADAsahU9wO/ofJWnqKWiEIp1yqEM1NlqBKYcs5n0yaGer/Ge4unF3N8neWgKzOi9FAIXoKVH+i2E10JB20gAAAAAElFTkSuQmCC');
    -webkit-transform: translate(0, -40%);
    -moz-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    -o-transform: translate(0, -40%);
    transform: translate(0, -40%);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    float: right;
    width: 30px;
    right: 0;
    top: 40%;
}

    .mvc-grid-filter.applied {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMBAMAAACpRTGTAAAAMFBMVEUAAAD///////9ISEgZGRn///82NjbGxsaHh4f///9VVVW9vb1NTU3///8Ah/8zMzOqIMhJAAAADnRSTlMAQATDTxTzOGwQqzG3KGb54LsAAABDSURBVAgdBcExDkBAEADAsahU9wO/ofJWnqKWiEIp1yqEM1NlqBKYcs5n0yaGer/Ge4unF3N8neWgKzOi9FAIXoKVH+i2E10JB20gAAAAAElFTkSuQmCC');
    }

    .mvc-grid-filter:focus {
        text-decoration: none;
        outline: none;
    }

.mvc-grid-popup {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    position: absolute;
    border-radius: 4px;
    z-index: 1000;
    display: none;
}

    .mvc-grid-popup.open {
        display: block;
    }

    .mvc-grid-popup .popup-arrow {
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 8px solid #FFFFFF;
        position: absolute;
        height: 9px;
        top: -8px;
    }

        .mvc-grid-popup .popup-arrow::after {
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-bottom: 9px solid #CCCCCC;
            position: absolute;
            content: " ";
            z-index: -1;
            left: -8px;
            top: -1px;
        }

    .mvc-grid-popup .popup-content {
        padding: 0.5em;
    }

    .mvc-grid-popup .popup-group {
        padding: 0.2em;
    }

    .mvc-grid-popup .popup-group-operator {
        text-align: center;
    }

    .mvc-grid-popup .popup-button-group {
        text-align: center;
        padding: 0.4em;
    }

        .mvc-grid-popup .popup-button-group button {
            padding: 0.3em 1.5em;
            margin: 0 0.4em;
            font-size: 1em;
        }

    .mvc-grid-popup .mvc-grid-boolean-filter {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .mvc-grid-popup .mvc-grid-boolean-filter li {
            cursor: pointer;
            display: block;
            padding: 0.2em;
            width: 100%;
        }

            .mvc-grid-popup .mvc-grid-boolean-filter li:hover {
                background-color: #EEEEEE;
                text-decoration: none;
            }

            .mvc-grid-popup .mvc-grid-boolean-filter li.active {
                background-color: #DDDDDD;
            }

    .mvc-grid-popup .mvc-grid-type,
    .mvc-grid-popup .mvc-grid-input,
    .mvc-grid-popup .mvc-grid-operator {
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        font-size: 0.9em;
        padding: 0.4em;
        width: 100%;
    }

    .mvc-grid-popup .mvc-grid-operator {
        text-align: center;
        width: auto;
    }

    .mvc-grid-popup .mvc-grid-input {
        padding: 0.4em;
    }

.mvc-grid-empty {
    text-align: center;
}

.mvc-grid-pager {
    text-align: center;
}

    .mvc-grid-pager ul {
        padding: 0;
    }

    .mvc-grid-pager li {
        display: inline;
    }

    .mvc-grid-pager span {
        background-color: rgba(255, 255, 255, 0.55);
        border: 1px solid rgba(0, 0, 0, 0.07);
        box-sizing: content-box;
        display: inline-block;
        padding: 0.4em 0.6em;
        text-align: center;
        min-width: 0.9em;
        cursor: pointer;
    }

        .mvc-grid-pager span:focus,
        .mvc-grid-pager span:hover {
            background-color: rgba(0, 0, 0, 0.02);
        }

    .mvc-grid-pager .active span {
        background-color: #82A1D2;
        border-color: #83AED3;
        color: #FFFFFF;
    }

        .mvc-grid-pager .active span:hover {
            background-color: #337AB7;
            border-color: #337AB7;
        }

    .mvc-grid-pager .disabled span,
    .mvc-grid-pager .disabled span:focus,
    .mvc-grid-pager .disabled span:hover {
        background-color: rgba(0, 0, 0, 0.03);
        border-color: rgba(0, 0, 0, 0.07);
        cursor: not-allowed;
    }
