﻿@using CE.ReportPortalWeb.Common
<!DOCTYPE html>
<html>
<head>
    <title>Aclara</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="~/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/themes/flat-blue.css">
    <link href="~/Content/powerbi.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div class="navbar-header">
                                    <button type="button" class="navbar-expand-toggle">
                                        <i class="fa fa-bars icon"></i>
                                    </button>
                                    @RenderSection("Breadcrumbs", false)
                                    <!--<button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                                        <i class="fa fa-th icon"></i>
                                    </button>-->
                                </div>
                            </td>
                            @{
                                if (Session[Constants.USER_SESSION_VARIABLE] != null && ((UserSessionVariables)Session[Constants.USER_SESSION_VARIABLE]).UserType == "admin")
                                {
                                    <td class="r-report-link r-createLogin">
                                        @Html.ActionLink("Create Login", "Index", "Login/Create")
                                    </td>

                                    <td class="r-report-link r-users">
                                        @Html.ActionLink("Users", "List", "Login")
                                    </td>
                                    <td class="r-report-link r-clients">
                                        @Html.ActionLink("Clients", "Clients", "Login")
                                    </td>
                                }
                            }
                            <td class="r-report-link r-loginLogout">
                               @Html.ActionLink("Logout", "Logout", "Login")
                               </td>
                        </tr>
                     </table>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class=""><img src="~/img/aclara_connect_vert3.png" width="44" height="40" style="margin-left: 6px;"/></div>
                                <div class="title">Aclara</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            @{
                                var className = Request.Path == "/" && Request.QueryString.Count == 0 ? "active" : "";
                            }
                            @Html.Action("Reports", "Dashboard")
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
            </div>
        </footer>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="~/lib/js/jquery.min.js"></script>
            <script type="text/javascript" src="~/lib/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/lib/js/Chart.min.js"></script>
            <script type="text/javascript" src="~/lib/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="~/lib/js/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="~/lib/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="~/lib/js/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript" src="~/lib/js/select2.full.min.js"></script>
            <script type="text/javascript" src="~/lib/js/ace/ace.js"></script>
            <script type="text/javascript" src="~/lib/js/ace/mode-html.js"></script>
            <script type="text/javascript" src="~/lib/js/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="~/js/app.js"></script>
            <script src="~/Scripts/powerbi.js"></script>
            @*<script scr="~/Scripts/powerbi.min.js"></script>*@
            <script type="text/javascript">
                window.addEventListener('DOMContentLoaded',
                    function() {
                        powerbi.init();
                    });
               </script>
        </div>
    </div>
</body>
</html>
