﻿@using System.Diagnostics
@using Microsoft.PowerBI.Api.V1.Models
@model ReportsViewModel
@{
    Layout = null;

    var classNames = "panel panel-default dropdown";

    if (this.Request.Path.IndexOf("Report") > -1)
    {
        classNames += " active";
    }
}

<li class="@classNames">
    <a data-toggle="collapse" href="#reports-nav">
        <span class="icon fa fa-bar-chart"></span><span class="title">Reports</span>
    </a>
    <!-- Dropdown level 1 -->
    <div id="reports-nav" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav navbar-nav">

                @if (Model!=null && Model.ReportsDetails.Count!=0)
                {
                    foreach (var report in Model.ReportsDetails)
                    {
                        //var reportClass = Request.QueryString["reportId"] == report.Id ? "active" : "";
                        //var clientId = Request.QueryString["clientId"];
                        <li class="@report.Reports.Name">
                            @*@Html.ActionLink(report.Name, "Report", new { reportId = report.Id, clientId = clientId })*@
                            @Html.ActionLink(report.Reports.Name, "Report", new { enc = report.encDetails })
                        </li>
                    }

                }
                else
                {
                    <li class="">
                        <a>No Reports</a>
                    </li>
                }
             </ul>
        </div>
    </div>
</li>