﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred" class="panel panel-default">
        <!-- Title -->
        <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
            <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
        </div>

        <!-- No data -->
        <div *ngIf="result.NoBills == true" class="alert alert-warning">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{result.NoBillsText}}</strong>
        </div>



        <!-- Introtext -->
        <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text" style="white-space: pre-line">{{result.IntroText}}</div>

            <ul *ngIf="result.NoBills !== true" class="bill-statement list-group">
                <li class="list-group-item" *ngIf="result.TotalGasUsed > 0 && result.Commodities.indexOf(('gas')) !== -1">
                    {{result.TotalGasUse}}
                    <p>{{result.TotalGasUsed}} {{result.GasUOM}} </p>
                </li>
                <li class="list-group-item" *ngIf="result.TotalElectricityUsed > 0 && result.Commodities.indexOf(('electric')) !== -1">
                    {{result.TotalElectricUse}}
                    <p>{{result.TotalElectricityUsed}} {{result.ElectricUOM}} </p>
                </li>
                <li class="list-group-item" *ngIf="result.TotalWaterUsed > 0 && result.Commodities.indexOf(('water')) !== -1">
                    {{result.TotalWaterUse}}
                    <p>{{result.TotalWaterUsed}} {{result.WaterUOM}} </p>
                </li>
                <li class="list-group-item">
                    {{result.AvgDailyCostText}}
                    <p>{{result.AvgDailyCost}}</p>
                </li>
                <li class="list-group-item">
                    {{result.NumberOfDaysText}}
                    <p>{{result.NumberOfDays}}</p>
                </li>
                <li class="list-group-item">
                    {{result.AvgTempText}}
                    <p>{{result.AvgTemp}}&deg;{{result.TempFormat}}</p>
                </li>
                <li class="list-group-item">
                    <strong>{{result.AmountDueText}} {{result.DueDate}}</strong>
                    <p>
                        <strong>{{result.AmountDue}}</strong>
                    </p>
                </li>
            </ul>

        
        <!-- Footer -->
        <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true' || result.ShowBillHistoryLink === 'true'" class="panel-footer">
            <div *ngIf="result.ShowBillHistoryLink === 'true'">
                <a href="{{result.BillHistoryLink}}">{{result.ViewBillHistory}}</a>
            </div>
            <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
            <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
            </div>
        </div>
    </div>
</div>