﻿<html>
<head>
    @Html.Raw(snippet.FullScript)
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Aclara EnergyStar Portal</title>
    
    <environment names="qa">
        <script src="~/node_modules/appInsights.qa.js"></script>
    </environment>
    <environment names="dev">
        <script src="~/node_modules/appInsights.js"></script>
    </environment>
    
    <!-- Site CSS -->

    <link rel="stylesheet" type="text/css" href="~/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css" />
    
    <!-- Latest compiled and minified JavaScript -->
    

    
    <script src="~/node_modules/shim.min.js"></script>
    <script src="~/node_modules/zone.js"></script>
    <script src="~/node_modules/Reflect.js"></script>
  

    <script src="~/node_modules/Common.js"></script>
    <base href="/">
    
    
</head>

<body class="flat-blue container">

    @RenderBody()

</body>

</html>
