﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script type="text/javascript">
        var relativeRoot = '@Url.Content("~/")';
        var iws_widget_id = '';
    </script>
       
    <script src="~/node_modules/jquery.js"></script>
    <script src="~/node_modules/bootstrap.js"></script>
    <script src="~/node_modules/Common.js"></script>
</head>
<body>
    @this.RenderBody()
</body>
</html>
