﻿@model  CE.InsightsWeb.Models.KeepAliveModels

@{
    ViewBag.Title = "Keep Alive Page";
    Layout = null;
}

<div id="divKeepAlive" class="">   
    Keep Alive Page
    <br />
    @Model.StatusCode
    <br />
    @Model.StatusDesc
    <br />
    EF elapsed time: @Model.ElapsedTime
    <br />
    API elapsed time: @Model.ElapsedTime2
</div>

