﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="~/lib/js/jquery.min.js"></script>
    <script type="text/javascript">
        var relativeRoot = '@Url.Content("~/")';
    </script>
</head>
<body>
    @this.RenderBody()
</body>
</html>
