﻿
@media only screen and (min-width: 940px) {
    .header-wrap-inner,
    .nav-modified-inner,
    .footer-modified-inners {
        width: 940px !important;
        margin: 0px auto;
        height: auto;
    }dsfsadgdfsgfdgf
}



.header-wrap {
    background: #2877b8 !important;
    margin: 0px auto;
    width: 100%;
}

    .header-wrap .logo {
        padding: 0 20px;
        margin: 25px 0px;
        background: #2877b8 !important;
    }

    .header-wrap.hidden {
        background: none !important;
        display: block !important;
    }

.nav-modified {
    margin: 0px auto;
    /*width: 100%;*/
}

    .nav-modified .nav-modified-inner {
        border-bottom: 0px;
    }

    .nav-modified .navbar {
        margin-bottom: 0px;
    }


    .nav-modified .navbar-collapse-mod li.active a, .nav-modified .navbar-collapse-mod a:focus, .nav-modified .navbar-collapse-mod a:visited {
        background: #428bc1 !important;
    }

    .nav-modified .navbar-collapse-mod a:hover {
        background: transparent !important;
        color: #F7F7F7
    }




    .nav-modified .navbar-collapse-mod a:visited {
        background: #dce5e6 !important;
    }



    .nav-modified .navbar-collapse-mod li .dropdown-menu {
        background: #428bc1 !important;
    }

.page-box {
    margin-top: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.social-nav li {
    margin-left: 30px;
    list-style: none;
    float: left;
}

    .social-nav li a {
        font-size: 18px;
        color: #666;
    }

        .social-nav li a:hover {
            color: #0079C1;
        }

.footer-modified {
    background: #428bc1 !important;
    color: #fff;
    padding: 20px;
    width: 100%;
}

    .footer-modified a, .footer-modified .fa {
        color: #fff;
    }


.sticky {
    width: 160px;
    background: #428bc1;
    color: #fff;
    position: fixed;
    top: 114px;
    left: -160px;
    z-index: 9999;
    padding: 15px 10px;
}

    .sticky label {
        text-transform: capitalize;
    }

    .sticky .stickyToggle {
        font-size: 60px;
        color: #428bc1;
        text-decoration: none;
        position: absolute;
        right: -30px;
        top: 5px;
        background: none;
        border: none;
        opacity: 0;
    }




.panel-remotecontent {
    border-radius: 8px;
    background-color: #F9F9F9
}

.panel-remotecontent__body {
    margin-bottom: 0
}

    .panel-remotecontent__body img.myFacebook {
        max-width: 35px;
        min-width: 15px;
        color: #ccc;
        opacity: .2;
    }

    .panel-remotecontent__body img.myTwitter {
        max-width: 60px;
        min-width: 15px;
        color: #ccc;
        opacity: .2;
    }

    .panel-remotecontent__body img.myLinkedin {
        max-width: 30px;
        min-width: 15px;
        color: #ccc;
        opacity: .2;
    }

.panel-remotecontent__footerlinks {
    margin-top: 5px;
}

    .panel-remotecontent__footerlinks a {
        margin-right: 10px
    }


#acl-remote-header {
    background-color: #2877b8 !important;
}



@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 15px 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .loginmodal-container input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.remotecontent__item {
    background-color: #1a1a1a;
    padding: 15px;
    padding-right: 0;
}
/* add gutter on cols on login page */

.remotecontent__gutter {
    background-color: #d7a323;
    padding: 5px;
    padding-right: 0;
}

.remotecontent__item:last-child {
    padding-right: 15px
}


.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
}

    .loginmodal-submit:hover {
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
    }

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}


.loginmodal-container {
    font-family: Arial, Helvetica, sans-serif
}

/* Make login show on top of background photo */

.modal-dialog {
    right: auto !important;
    left: auto !important;
    position: relative;
}


.remotecontent.header-wrap {
    position: relative;
}


#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 100;
}

    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }


.remotecontent.header-wrap {
    background-color: #337ab7 !important;
    z-index: 200;
    height: auto;
}

.header-wrap, a#logoClick {
    background: #337ab7 !important;
    margin: 0px auto;
    width: 100%;
    color: #333;
    z-index: 3000;
}

.h__link {
    padding-right: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: bold
}
    .h__link:hover {
        color: #e4f5ff !important;
    }


.h__container {
    color: #fff;
    padding: 15px;
}

#logoClick img {
    margin: 20px 20px 20px 0
}
#logoClick  {
    padding-left: 0
}

.nav-modified .navbar-collapse-mod li.active a, .nav-modified .navbar-collapse-mod a:hover, .nav-modified .navbar-collapse-mod a:focus {
    color: #e4f5ff !important;
}

.nav-modified .navbar-collapse-mod a:visited {
    color: #dce5e6 !important;
}


.nav-modified .navbar-collapse-mod a:hover {
    color: #f7f7f7 !important;
}

.panel-profile .dropdown-btn:hover, .panel-profile .dropdown-btn:focus, .btn:hover {
    color: #ccc !important;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 30px auto;
}

