﻿<!-- logo -->

<div class="row">
    <div class="gbc__logo text-center xs-pt-20">
        <img alt="logo" something="else" class="img-responsive" src="{{result.ClientLogo}}" />
    </div>
</div>


<!-- 3rd party -->

<div class="gbc">
    <div class="panel panel-default gbc__container">

        <!-- Title -->
        <div *ngIf="result.ShowTitle == 'true'" class="panel-heading gbc__title">
            <h1 role="presentation" class="panel-title">{{result.Title}}</h1>
        </div>
        <!-- Sub-Title and Intro Text -->
        <div *ngIf="result.ShowSubTitle === 'true'" class="gbc__subtitle">
            <div class="panel-body intro-text xs-pb-0 xs-pt-0 xs-pb-15 xs-mb-0">
                <h2 *ngIf="result.ShowSubTitle == 'true' && result.SubTitle !== ''" role="presentation" class="subtitle gbc__h2">{{result.SubTitle}}</h2>
            </div>
        </div>

        <div class="panel-body gbc__header xs-m-15 xs-mt-0" *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''">
            <div class="row">
                <div class="col-sm-3 col-md-2 hidden-ms hidden-xs">
                    <p class="gbc__icon xs-ml-0 xs-mr-15">
                        <img alt="logo" class="img-responsive" src="{{result.GreenButtonConnectLogo}}" />
                    </p>
                </div>
                <div class="col-sm-9 col-md-10">
                    <p class="lead gbc__intro markdown xs-mb-0">{{result.IntroText}}</p>
                </div>
            </div>
        </div>

        <!-- No cookies enabled -->
        <div *ngIf="!cookiesEnabled" class="panel-body xs-p-0 xs-m-0">
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{result.CookieMessage}}</strong>
                <span class="sr-only">{{result.CookieMessage}}</span>
            </div>
        </div>

        <!-- No third parties -->
        <div class="panel-body xs-p-0 xs-m-0">
            <div *ngIf="cookiesEnabled && result.NoThirdParties" class="alert alert-warning">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{result.NoThirdPartiesMessage}}</strong>
                <span class="sr-only">{{result.NoThirdPartiesMessage}}</span>
            </div>
        </div>

        <!-- item -->
        <div *ngIf="cookiesEnabled && !result.NoThirdParties">
            <div *ngFor="let ai of result.GreenButtonApplicationInformation" class="gbc__item xs-m-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="xs-p-15">
                            <div class="pull-left">

                                <div *ngIf="ai.logo_uri != null && ai.logo_uri != ''"class="pull-left hidden-xs xs-mr-15">
                                    <img alt="logo" class="img-responsive img-rounded thirdparty__img" src="{{ai.logo_uri}}" />
                                </div>

                                <div class="xs-pt-0 xs-m-0 ms-pl-15 sm-pl-15 md-pl-15 lg-pl-15">
                                    <h2 class="gbc__text--h2 xs-p-15 xs-pl-0 ms-pt-0 xs-pb-5">
                                        <strong>{{ai.client_name}}</strong>
                                    </h2>
                                    <p class="xs-pl-0 xs-mb-0 xs-pb-15">{{ai.thirdPartyApplicationDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="xs-p-15 xs-pt-0 text-center">


                            <div *ngIf="!isConnected(ai)" class="text-center xs-pb-15 xs-pl-0 xs-pb-0 xs-pr-0">

                                <label>
                                    <span (click)="staticModal.show(); termsLinkClicked(ai)" class="terms__link">{{result.TermsAndConditionsLinkText}}</span>
                                </label>

                                <!-- this is the modal, you can change the css, and structure just not the attributes -->
                                <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
                                     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

                                    <div class="modal-dialog modal-md">
                                        <div class="modal-content text-left">
                                            <div class="modal-header">
                                                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide();uncheckTerms(ai);">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title pull-left">{{result.TermsAndConditionsTitle}}</h4>
                                            </div>
                                            <div class="modal-body small xs-mt-20 xs-mb-20 markdown">{{ai.termsAndConditions}}</div>
                                            <div class="text-center xs-mb-15">
                                                <label class="gbc__term-link">
                                                    <input type="checkbox" #acceptance (change)="ai.TermsAndConditionsAccepted = acceptance.checked" [checked]="ai.TermsAndConditionsAccepted"><span class="terms__link">{{result.TermsAndConditionsAgreeText}}</span>
                                                </label>

                                                <a (click)="connectThirdParty(ai)" class="btn btn-connect xs-mb-15 ms-mb-0 xs-pr-0 xs-mr-5" [ngClass]="ai.TermsAndConditionsAccepted ? 'active' : 'disabled'">
                                                    {{result.ConnectButton}}
                                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="isConnected(ai)" class="text-center xs-pb-15 xs-pl-0 xs-pb-0 xs-pr-0">
                                <a (click)="disconnectThirdParty(ai)" class="btn btn-disconnect pull-none-xs pull-left-ms pull-left-sm pull-left-md pull-left-lg xs-mb-15 ms-mb-0 xs-pl-5">
                                    {{result.DisconnectButton}}
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </div>


                        </div>

                    </div>
                </div>

                <!-- You are now diconnected -->
                <div *ngIf="isDisconnected(ai)" class="panel-body xs-p-0 xs-mb-0">
                    <div class="gbc__disconnected alert alert-danger">
                        <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{result.DisconnectMessage}}</strong>
                        <span class="sr-only">{{result.DisconnectMessage}}</span>
                    </div>
                </div>

            </div>


            <!-- /item -->
            <!-- Footer -->
            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'">
                <div class="panel-footer">
                    <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                    <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                        <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
