﻿@{
    Layout = null;
}

<div class="loader">
    <div id="iws_as_loader" class="acl-loader" tabindex="0"> <span class="sr-only"></span> <p></p></div>
</div>






<!-- Revised 'Fatal Error' panel -->
<script id="tmpl_as_fatal_error" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{:Message}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
</script>






<div id="iws_as_wrapper" style="display: none;">
    <div id="iws_as_main"></div>
</div>

<script id="tmpl_as_default" type="text/x-jsrender">



    <!-- Header with Sort and button -->
    <!-- adding the .radius class for the icon nav rounded corner tabs -->
    <div class="panel panel-default radius">

        <nav id="iws_as_tabs_wrapper" class="navbar navbar-default navbar-icons waystosave-icons" role="navigation" aria-labelledby="appliance-type">
            <div id="appliance-type" class="xs-m-0 xs-p-0">
                <ul id="iws_as_tabs" class="nav navbar-nav nav-icons" role="menubar"></ul>
            </div>
        </nav>

        <div class="panel-heading">
            <h1 role="presentation" id="iws_as_title" class="panel-title"></h1>
        </div> 
        <div class="sort-component panel-body xs-pb-0">

            <div id="iws_as_header" class="sub-text">
                <!-- 3 links on the right -->
                {{if ToDoList !== null && ToDoList.length > 0}}
                <div class="sort-component__links col-ms-6 xs-pl-0 xs-pr-0 xs-pt-15 ms-pt-0">

                    <ul class="list-group pull-right insight-sort">
                        <li class="list-group-item list-action mysort"><a href="{{:ActionPlanLink}}"><strong>{{:YourPlan}}</strong></a></li>
                        <li class="list-group-item list-action"><a id="iws_as_todolist" href="#"></a></li>
                        <li class="list-group-item list-action"><a id="iws_as_completedlist" href="#"></a></li>
                    </ul>



                </div>
                {{/if}}

            </div>

        </div>

        <!--<hr class="dotted" />-->

        <div class="hideEmptyCont"><div id="iws_as_intro_text" class="panel-body"></div></div>

        <div id="iws_as_actions" class="panel-body panel-body-recommended-actions xs-pb-0 xs-pt-0 xs-mb-0"></div>



        <!-- not working properly, use the one above -->
        <div class="btn-group btn-block text-center hideEmptyCont"><ul id="iws_as_pager" class="pagination pagination-block"></ul><div class="clearb"></div></div>

        <div class="hideEmptyCont"><div id="iws_as_footer" class="panel-footer"><div id="iws_as_footertext" class="footertext"><div id="iws_as_footerlink" class="footerlink"><a href=""></a></div><div class="view-all"></div></div></div></div>
    </div>
</script>

<div class="loader">
    <div id="iws_ad_loader" class="acl-loader" tabindex="0"> <span class="sr-only"></span> <p></p></div>
</div>

<div id="iws_ad_wrapper" style="display: none;">
    <div id="iws_ad_main"></div>
</div>





<!-- Insight Details Page -->

<script id="tmpl_ad_default" type="text/x-jsrender">





    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 role="presentation" id="iws_ad_title" class="panel-title"></h1>
        </div>
        <div class="details">
            <div class="detail-shell" style="display: block">

                <div class="detail-featured-image hidden-xs xs-pr-15">
                    <img src="" aria-hidden="true" id="iws_ad_ai_img" height="100" width="100" alt="">
                </div>

                <div class="detail-featured-text">
                    <div class="col-xs-12">
                        <h1 id="iws_ad_ai_title" class="title detail-item__h1"></h1>
                        <div id="iws_ad_btns"></div>
                    </div>
                </div>

            </div>
        </div>






        <div class="clearfix"></div>

        <div id="iws_ad_intro_text"></div>

        <div class="detail-items">
            <div class="col-sm-3" id="iws_ad_ai_category"></div>
            <div class="col-sm-3" id="iws_ad_ai_cost"></div>
            <div class="col-sm-3" id="iws_ad_ai_savings"></div>
            <div class="col-sm-3" id="iws_ad_ai_difficulty"></div>
        </div>
        
        

        <div class="hideEmptyCont"><div id="iws_details_bottom" class="details__headers panel-footer"><div id="iws_ad_footertext" class="footertext"></div><div id="iws_ad_footerlink" class="footerlink"><a href=""></a></div></div><div class="footer__backlink"><a href="#" id="iws_ad_back" onclick="return false;"></a></div></div>
    </div>

</script>

<script id="tmpl_ad_btns" type="text/x-jsrender">
    <div id="iws_ad_btns" class="actions__buttons">
        <a id="iws_ad_btn1-{{:Key}}" tabindex="0" class="add button-small" val="{{:Button1Value}}">{{:Button1Text}}</a>
        <a id="iws_ad_btn2-{{:Key}}" tabindex="0" class="completed-temp button-small" val="{{:Button2Value}}">{{:Button2Text}}</a>
    </div>
</script>

<script id="tmpl_as_tab_li" type="text/x-jsrender">
    <li role="menuitem" class="menu-icon">
        <a id="iws_as_tab-{{:TabIndex}}" href="#" onclick="return false;" class="navbar-link">
            <span class="icon {{:IconClass}}"></span>
            <span class="navbar-link-text">{{:Name}}</span>
        </a>
    </li>
</script>







<script id="tmpl_as_tab_rec_action" type="text/x-jsrender">
    <div class="panel panel-default actions">
        <div class="actions__container panel-body xs-p-0 xs-mb-0" id="equalheight">
            <div class="actions__message col-ms-9 col-sm-10 col-md-10 xs-pl-0 xs-pr-0 equal-height">
                <div class="actions__message--Container">
                    <div class="actions__message--Img hidden-xs"><a href="#"><img id="{{:Key}}-as_ai_img" src="{{:ImageUrl}}" aria-hidden="true" alt="" onclick="return false;" width="103" class="img-responsive ms-pl-0 ms-pr-0" style="width:103px;"></a></div>
                    <div class="actions__message--title">
                        <p id="{{:Key}}-as_ai_title" class="actions__title xs-m-0 xs-pt-10 xs-pb-5 xs-pr-10"><a href="#iws_ad_wrapper">{{:Title}}</a></p>
                        <div id="iws_as_btns-{{:Key}}" class="actions__buttons xs-mt-5">
                            <a id="iws_as_btn_add-{{:Key}}" tabindex="0" class="button-small visible-xs-block visible-ms-inline-block visible-sm-inline-block visible-md-inline-block  visible-lg-inline-block" style="display: none;">{{:AddButtonText}}</a>
                            <a id="iws_as_btn_complete-{{:Key}}" tabindex="0" class="button-small visible-xs-block visible-ms-inline-block visible-sm-inline-block visible-md-inline-block  visible-lg-inline-block" style="display: none;">{{:CompleteButtonText}}</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="actions__costSavings col-ms-3 col-sm-2 col-md-2 xs-pl-0 xs-pr-0 equal-height">
                <div class="xs-p-10 xs-pb-0">
                    <div class="visible-xs-inline-block visible-ms-inline-block visible-sm-block visible-md-block visible-lg-block xs-m-0 xs-mt-15 xs-mb-5" style="margin-right: 10px !important">
                        <div class="actions__cost-title">{{:CostTitle}}</div>
                        <div class="actions__value">{{:UpfrontCostFormatted}}</div>
                    </div>
                    <div class="visible-xs-inline-block visible-ms-inline-block visible-sm-block visible-md-block visible-lg-block">
                        <div class="actions__savings-title">{{:SavingsTitle}}</div>
                        <div class="actions__value">{{:AnnualSavingsEstimateFormatted}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="tmpl_as_sort" type="text/x-jsrender">
    <div class="col-ms-6 xs-pl-0">
        <!-- drop down on the left -->
        {{if !isIos}}
        <div id="iws_as_ddl" class="dropdown">
            <button type="button" class="btn dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="max-width: 250px">
                <b id="iws_as_ddl_selection" class="Select" style="float:left;color: #fff;">{{:SortLabel}}</b>
                <span><img src="Content/Images/caret-darker.png" height="6" width="10" alt="triangle image for button"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id="{{:ID}}_as_add_to_plan_listbox" aria-expanded="false">
                <li role="option"><a id="{{:ID}}_as_ddl_sort_rec" href="#" onclick="return false;" val="0">{{:SortByRecommended}}</a></li>
                <li role="option"><a id="{{:ID}}_as_ddl_sort_savings" href="#" onclick="return false;" val="1">{{:SortBySavings}}</a></li>
                <li role="option"><a id="{{:ID}}_as_ddl_sort_easiest" href="#" onclick="return false;" val="2">{{:SortByEasiest}}</a></li>
            </ul>
        </div>
        {{/if}}

        {{if isIOS}}
        <select id="iws_as_ddl_select" class="iosHeight">
            <option value="-1">{{:SortLabel}}</option>
            <option value="0">{{:SortByRecommended}}</option>
            <option value="1">{{:SortBySavings}}</option>
            <option value="2">{{:SortByEasiest}}</option>
        </select>
        {{/if}}

    </div>
</script>