

<div id="pt1:pt_pgl15" class="container header-wrap">
    <div class="row header-wrap-inner">


        <div class="col-xs-12 col-ms-4 xs-pl-0 text-xs-center">
            <div id="iws_rc_pagewidget_1" class="logo-wrap" name="header">
                <a id="logoClick" class="logo">
                    <img src="https://aclaceheadersdemowebwaqa.azurewebsites.net/RemoteContent/118/mlgw_top_logo.png" />
                </a>
            </div>
        </div>

        <div class="col-xs-12 col-ms-8 xs-pl-0 text-xs-center text-ms-right text-sm-right text-md-right text-lg-right xs-pr-0">
            <div name="header" class="h__container xs-pr-0">
                <a class="h__link">About </a><a class="h__link">Energy Savings</a> <a class="h__link">Contact</a>
            </div>
        </div>

    </div>
</div>
<div id="pt1:pt_pgl10" class="nav-modified xs-pr-15">
    <div class="container">
        <div id="iws_rc_pagewidget_3" class="navbar navbar-default navbar-static-top md-mb-0" name="bluenav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-collapse-mod">
                <ul class="nav navbar-nav acl-nav" id="myItems_listbox" role="menu">
                    <li id="aclara_1" role="menuitem"><a href="" class="navbar-link">Dashboard</a></li>
                    <li id="aclara_12" role="menuitem"><a href="" class="navbar-link">My Savings</a></li>
                    <li id="aclara_3" role="menuitem"><a href="" class="navbar-link">My Usage</a></li>
                    <li id="aclara_100" role="menuitem"><a href="" class="navbar-link">My Bills</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
