﻿<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="panel panel-default">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{errorMessage}}</strong>
                <span class="sr-only">Error:</span>
            </div>
        </div>
    </div>

    <div *ngIf="!errorOccurred">
        <a name="create-report-csr"></a>

                <div class="panel panel-default">
                    <!-- Title -->
                    <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
                        <h1 class="panel-title" role="presentation">{{result.Title}}</h1>
                    </div>
                    
                    <!--Subtitle and Introtext -->
                    <div class="hideEmptyCont">
                        <div class="panel-body xs-mb-0">
                            <h5 *ngIf="result.ShowSubTitle == 'true' && result.SubTitle !== ''">{{result.SubTitle}}</h5>
                            <div *ngIf="result.ShowIntro == 'true' && result.ShowIntro !== ''" class="intro-text xs-mb-0" style="white-space: pre-line">{{result.IntroText}}</div>
                        </div>
                    </div>

                    <a name="create-report"></a>
                    <div class="panel-body xs-p-15 xs-pb-0">
                        <div [ngClass]="{'col-sm-5 xs-pl-0 xs-pr-0 xs-mr-0 ms-mr-15':isCsr=='true','xs-pl-0 xs-pr-0':isCsr!=='true'}">
                                <div class="form-group" [ngClass]="{'sm-mr-15':isCsr=='true'}">
                                    <label *ngIf="reportError" id='lblErrorRC' class="error">{{result.NoTitle}}</label>
                                    <label *ngIf="postError" id='lblPostErrorRC' class="error">{{result.PostError}}</label>
                                    <label class="sr-only" for="inputTitle">{{result.ReportTitle}}</label>
                                    <input type="text" id="inputTitle" class="form-control" [ngClass]="{'btn-error':reportError}" [(ngModel)]="result.DefaultReportTitle" placeholder="{{result.ReportTitle}}" value="{{result.DefaultReportTitle}}" maxlength="100" required/>
                                </div>
                        </div>
                        <div [ngClass]="{'col-sm-5 xs-pl-0 xs-pr-0':isCsr=='true','xs-pl-0 xs-pr-0':isCsr!=='true'}">
                            <div class="form-group xs-mb-0">
                                <label class="sr-only" for="inputNotes">{{result.ReportNotes}}</label>
                                <textarea rows="4" id="inputNotes" type="text" class="form-control" [(ngModel)]="result.DefaultReportNotes" placeholder="{{result.ReportNotes}}" style="width: 100%" maxlength="500" value="{{result.DefaultReportNotes}}"></textarea>
                            </div>
                        </div>

                        <div [ngClass]="{'col-sm-2 xs-pr-0 xs-pt-15 sm-pt-0 sm-pr-0':isCsr=='true','xs-pr-0 xs-pt-15':isCsr!=='true'}">
                            <div class="form-group text-right xs-mb-0">
                                <button style="white-space: normal" class="btn btn-primary" [ngClass]="{disabled:pdfexport}" name="pdfExport" type="button" (click)="pdfKendoUIExport(isCsr)">{{result.CreateReportButton}}</button>
                            </div>                            
                        </div>
                    </div>
                </div>
        <!-- /Footer -->
        <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer">
            <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
            <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink">
                <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
            </div>
        </div>
    </div>
</div>