﻿/* ReSharper disable once InvalidValue */
body {
    background: #337AB7 url(../Content/Images/bg-LAWP.png);
    background-repeat: no-repeat;
}

.container {
    width: auto !important;
}

.login-panel {
    margin-top: 60px;
    padding: 40px 80px;
    text-align: center;
}

    .login-panel .brand {
        color: #aaaaaa;
        margin-bottom: 30px;
    }

    .login-panel h4 {
        font-weight: 200;
        margin-bottom: 30px;
    }

    .login-panel .btn-primary {
        margin-bottom: 20px;
    }

.navbar-inverse {
    background-image: none;
    background-color: #fff;
    border: none;
    color: #ffffff;
}

.navbar {
    margin: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    -ms-text-shadow: none;
    text-shadow: none;
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    font-size: 14px;
    font-weight: 200;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a {
    background-image: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:focus,
    .navbar-inverse .navbar-nav > .open > a:hover {
        color: #ffffff;
        background-color: #000000;
        background-color: rgba(0,0,0,.07);
    }

.jumbotron {
    height: auto;
    padding: 10px 0 50px 0;
    margin: 0;
    background-color: transparent;
    color: #ffffff;
    color: rgba(255,255,255,.8);
}
@media screen and (min-width: 768px)
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.btn-primary {
    background-image: none;
    border: none;
}

.btn-default {
    -ms-text-shadow: none;
    text-shadow: none;
    background-image: none;
    background-color: #e6e6e6;
    border: none;
}

.panel-default > .panel-heading {
    background-image: none;
    color: #aaaaaa;
    background-color: #eeeeee;
    border-color: rgb(221, 221, 221);
}
/*.graph-wrapper{
    margin-top:20px;
}*/
.graph {
    min-height: 300px;
    border: 1px solid #000000;
    border: 1px solid rgba(0,0,0,.1);
    margin-top: 20px;
}

.primary-content {
    padding-top: 40px;
}


@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav > li > a {
        padding: 15px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #ffffff;
        border-top: 1px solid rgba(255,255,255,.1);
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:focus,
    .navbar-inverse .navbar-nav > .open > a:hover {
        color: #ffffff;
        background-color: none;
    }

    .login-panel {
        padding: 20px;
    }
}

.btn-nxtpreimg {
    background-image: none;
    color: #fff;
    background-color: #337AB7;
    /*padding: 10px 16px; 
     font-size: 18px; 
     line-height: 1.3333333;
     border-radius: 6px;*/
    font-size: 8px;
    border-color: white !important;
}

.graphTransparent {
    min-height: 300px;
    border: 1px solid #000000;
    border: rgb(28, 114, 151);
    margin-top: 20px;
}

.divTitle {
    height: 60px;
    width: 100%;
    display: table;
    text-align: center;
}

.centerinDiv {
    display: table-cell;
    vertical-align: middle;
}



.margindr {
    margin-right: 5px !important;
}

.nav > li > a {
    padding-left: 10px;
}

hr {
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #498EAB;
}


.graph-wrapper .col-sm-10 {
    background-color: #337AB7
}

.water-container {
    background-color: :#fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#iws_height_wrapper {
    background-color: :#fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;  
}
#iws_height_wrapper > div.container.area > div > a.logo {
    display: none;
}
.jumbo-water {
    background-color: #fff;
    padding: 15px 0 0 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.k-dropdown-wrap.k-state-default {
    background-color: #337AB7 !important;
}