﻿body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
}

.navbar-default {
    background-color: #fff;
    border-color: #ccc;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
        margin-top: 12px;
    }
}


/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/
