﻿@{
    Layout = null;
}


<div class="loader">
    <div id="iws_ct_loader-@ViewBag.Instance" class="acl-loader" tabindex="0"> <span class="sr-only"></span> <p></p></div>
</div>




<!-- Revised 'Fatal Error' panel -->
<script id="tmpl_ct_fatal_error-@ViewBag.Instance" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="panel-heading xs-pb-0">
            <h1 id="iws_in_title" role="presentation" class="panel-title">{{:Title}}</h1>
        </div>

        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{:Message}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
</script>


<!-- Revised 'No Data' panel -->
<script id="tmpl_ct_no_data-@ViewBag.Instance" type="text/x-jsrender">
    <div id="iws_ct_cotainer-@ViewBag.Instance" class="panel panel-default">
        {{if ShowTitle}}
        <div class="panel-heading">
            <h1 role="presentation" class="panel-title">{{:Title}}</h1>
        </div>
        {{/if}}

        <div class="alert alert-warning xs-mt-0">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{:Message}}</strong>
        </div>
    </div>
</script>







<div id="iws_ct_wrapper-@ViewBag.Instance" style="display: none;">
    <div id="iws_ct_main-@ViewBag.Instance"></div>
</div>

<script id="tmpl_ct_default-@ViewBag.Instance" type="text/x-jsrender">

    <!-- Start: Content Widget -->

    <div id="iws_ct_container-@ViewBag.Instance" class="panel panel-default panel-content">
        <div id="iws_ct_title-@ViewBag.Instance" class="panel-heading">
            <h1 class="panel-title" role="presentation">{{:Title}}</h1>
        </div>

        <div class="subtitle-intro">
            <h2 id="iws_ct_subtitle-@ViewBag.Instance" role="presentation" class="subtitle">{{:SubTitle}}</h2>
            <div class="intro-text" id="iws_ct_intro_text-@ViewBag.Instance">{{:IntroText}}</div>
        </div>
    <!-- we need to move the subtitle-intro below the H1 -->
        <div id="iws_ct_content-@ViewBag.Instance" class="panel-body">

        </div>

        <div class="hideEmptyCont"><div class="panel-footer"><div id="iws_ct_footertext-@ViewBag.Instance" class="footertext">{{:Footer}}</div><div id="iws_ct_footerlink-@ViewBag.Instance" class="footerlink"><a href="{{:FooterLink}}">{{:FooterLinkText}}</a></div></div></div></div>

    <!-- End: Content Widget -->

</script>


