﻿@model CE.ControlPanel.Models.QueryTool
@{
    ViewBag.Title = "Query Tools Insights";
}

<h2>Client:  @ViewData["ClientName"]</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Verb:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.SelectedMethodApi, Model.MethodsApi)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("BaseUrl:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <p>@Html.DisplayFor(model => model.BaseUrl)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("ClientUser:", new { @class = "col-sm-2 control-label" })
                    <div id="ddlClientUser" class="col-sm-10">

                    </div>
                </div>
                <div id="divParams" style="display:none">
                    <div class="form-group">
                        @Html.Label("Endpoint:", new { @class = "col-sm-2 control-label" })
                        <div id="divEndPoints" class="col-sm-10">
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Parameters:", new { @class = "col-sm-2 control-label" })
                        <div id="paramsecho" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.Descriptionecho, new { @cols = "500", @rows = "2" })
                        </div>
                        <p></p>
                        <div id="paramsbilldisagg" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.Descriptionbilldisagg, new { @cols = "500", @rows = "10" })
                        </div>
                        <p></p>
                        <div id="paramsbenchmark" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.Descriptionbenchmark, new { @cols = "500", @rows = "10" })
                        </div>
                        <div id="paramsEndpointTracking" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionEndpointTracking, new { @cols = "500", @rows = "10" })
                        </div>
                        <div id="paramsProfile" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionProfile, new { @cols = "500", @rows = "10" })
                        </div>
                        <div id="paramsContent" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionContent, new { @cols = "500", @rows = "10" })
                        </div>
                        <div id="paramsProfilePost" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionProfilePost, new { @cols = "500", @rows = "10" })
                        </div>
                        <div id="paramsAction" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionAction, new { @cols = "500", @rows = "10" })
                        </div> 
                        <div id="paramsActionPlan" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionActionPlan, new { @cols = "500", @rows = "10" })
                        </div>                      
                        <div id="paramsActionPlanPost" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionActionPlanPost, new { @cols = "500", @rows = "10" })
                        </div>
                        <div id="paramsActionPlanPut" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionActionPlanPut, new { @cols = "500", @rows = "10" })
                        </div>
                        <div id="paramsBill" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionBill, new { @cols = "500", @rows = "10" })
                        </div>    
                        <div id="paramsGreenButtonAmi" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionGreenButtonAmi, new { @cols = "500", @rows = "10" })
                        </div>     
                        <div id="paramsConsumption" class="paramsendpoints" style="display:none" align="left">
                            @Html.TextAreaFor(model => model.DescriptionConsumption, new { @cols = "500", @rows = "10" })
                        </div>    
                    </div>
                    <div class="form-group">
                        @Html.Label("Authentication:", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            <p>@Html.DisplayFor(model => model.selectedAuthName)</p>
                        </div>
                    </div>
                    @if (Model.selectedAuthName == "CE Custom")
                    {
                        <div class="col-xs-10" id="divEncrypt">
                            <div class="row">
                                <div class="col-xs-2 control-label">@Html.Label("Encrypt:")</div>
                                <div class="col-xs-8">@Html.CheckBoxFor(model => model.incEnc)</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div id="divHeaders" style="display:none">
                    <h3 style="">Headers:</h3>
                    <hr />
                    <div class="form-group">
                        @Html.Label("AccessKey:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <p>
                                <input type="text" id="txtAccessKey" size="150" />
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("DateTime:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <p>
                                @Html.TextBox("txtDateTime")
                                <input type="button" id="btnUpdate" value="Update" class="btn btn-def" />
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Meta:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <p>
                                @Html.EditorFor(model => model.MetaHeaderEntry)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("MessageId:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <p>
                                @Html.TextBox("txtMessage", "13")
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Channel:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <p>
                                @Html.TextBox("txtChannel", "ControlPanel")
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Locale:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <p>
                                @Html.TextBox("txtLocale", "en-US")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="divSubmit">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="button" id="btnSubmit" value="Submit" class="btn btn-def" />
                    </div>

                </div>
            </div>
        </div>
        <div id="divResponse">
            <div class="row">
                <div class="col-md-12">
                    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                    <div class="form-group">
                        <h3 style="">Response:</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div align="left">
                                <div id="jsoneditor"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div><input type="button" id="btnShow" value="Show Raw Request/Response" class="btn btn-def" /></div>
            <div id="divRequest" style="display:none">
                <div class="row">
                    <div class="col-md-12">
                        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                        <div class="form-group">
                            <h3 style="">Raw request/response:</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div align="left">
                                    <div id="divRaw"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @Html.ActionLink("Back to Client List", "Index", "Client")
</div>

<script>
    $(document).ready(function () {
        $("#txtDateTime").val(UTCDateTime());
        $("#divSubmit").hide();
        $("#divResponse").hide();
        $("#DescriptionProfilePost").val('@Html.Raw(ViewData["DescriptionProfilePost"])');
        $("#DescriptionActionPlanPost").val('@Html.Raw(ViewData["DescriptionActionPlanPost"])');
        $("#DescriptionActionPlanPut").val('@Html.Raw(ViewData["DescriptionActionPlanPut"])');
    });

    $("#btnUpdate").click(function () {
        $("#txtDateTime").val(UTCDateTime());
    })

    $("#btnShow").click(function () {
        $("#divRequest").animate({
            "height": "toggle", "opacity": "toggle"
        }, 1000, function () {
            if ($("#btnShow").val() == "Hide Raw Request/Response") {
                $("#btnShow").val("Show Raw Request/Response");
            }
            else {
                $("#btnShow").val("Hide Raw Request/Response");
            }
        });
    });


    var s = $('<select id="clientUser"/>');
    var data = JSON.parse('@Html.Raw(Json.Encode(Model.DropDownClientUser))');
    for (var val in data) {
        $('<option />', { value: data[val].Value, text: data[val].Text, accessKey: data[val].AccessKeyId }).appendTo(s);
    }
    $("#ddlClientUser").html(s);

    $("#btnSubmit").click(function () {
        var queryformModelSubmit = JSON.parse('@Html.Raw(Json.Encode(Model))');
        queryformModelSubmit.SelectedClientUserName = $("#clientUser").val();
        queryformModelSubmit.selectedCEAccessKeyID = $("#txtAccessKey").val();
        queryformModelSubmit.selectedEndpoint = $("#selectedEndpoint").val();
        queryformModelSubmit.Descriptionecho = $("#Descriptionecho").val();
        queryformModelSubmit.Descriptionbilldisagg = $("#Descriptionbilldisagg").val();
        queryformModelSubmit.Descriptionbenchmark = $("#Descriptionbenchmark").val();
        queryformModelSubmit.DescriptionEndpointTracking = $("#DescriptionEndpointTracking").val();
        if ($("#SelectedMethodApi").val() == "Get") {
            queryformModelSubmit.DescriptionProfile = $("#DescriptionProfile").val();
            queryformModelSubmit.DescriptionActionPlan = $("#DescriptionActionPlan").val();
        }
        else if ($("#SelectedMethodApi").val() == "Post")  {
            queryformModelSubmit.DescriptionProfile = $("#DescriptionProfilePost").val();
            queryformModelSubmit.DescriptionActionPlan = $("#DescriptionActionPlanPost").val();
        }
        else if ($("#SelectedMethodApi").val() == "Put") {
            queryformModelSubmit.DescriptionActionPlan = $("#DescriptionActionPlanPut").val();
        }
        queryformModelSubmit.DescriptionBill = $("#DescriptionBill").val();
        queryformModelSubmit.DescriptionGreenButtonAmi = $("#DescriptionGreenButtonAmi").val();
        queryformModelSubmit.DescriptionConsumption = $("#DescriptionConsumption").val();
        queryformModelSubmit.DescriptionContent = $("#DescriptionContent").val();
        queryformModelSubmit.DescriptionAction = $("#DescriptionAction").val();
        queryformModelSubmit.SelectedMethodApi = $("#SelectedMethodApi").val();
        queryformModelSubmit.MetaHeader = $("#MetaHeaderEntry").val();
        queryformModelSubmit.MessageIdHeader = $("#txtMessage").val();
        queryformModelSubmit.ChannelHeader = $("#txtChannel").val();
        queryformModelSubmit.LocaleHeader = $("#txtLocale").val();
        queryformModelSubmit.DateTime = $("#txtDateTime").val();
        queryformModelSubmit.incEnc = $("#incEnc").prop('checked');

        $.ajax({
            url: "QueryToolsInsights/QueryRemoteAPIFormResponse",
            async: false,
            type: "POST",
            timeout: 5000,
            data: JSON.stringify(queryformModelSubmit),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $("#jsoneditor").empty();
                var container = document.getElementById("jsoneditor");
                var options = {
                    mode: 'tree',
                    modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
                    error: function (err) {
                        alert(err.toString());
                    }
                };
                data = JSON.parse(data);
                var editor = new jsoneditor.JSONEditor(container, options, JSON.parse(data.Content));

                $("#divRaw").empty();
                var cont = document.getElementById("divRaw");
                var opt = {
                    mode: 'tree',
                    modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
                    error: function (err) {
                        alert(err.toString());
                    }
                };
                var request = new jsoneditor.JSONEditor(cont, opt, data);


                $("#divResponse").show();
                $("#btnSubmit").val("Submit");
            },
            beforeSend: function () { $("#btnSubmit").val("Please Wait..."); },
            error: function (x, t, m) {
                if (t === "timeout") {
                    alert("got timeout");
                } else {
                    alert(t);
                }
                $("#btnSubmit").val("Submit");
            }
        });
    });

    $("#clientUser").change(function () {
        if ($(this).val() == "-1") {
            $("#divSubmit").hide();
            $("#divResponse").hide();
            $("#divParams").hide();
            $("#divHeaders").hide();
        }
        else {
            $("#txtAccessKey").val($("#clientUser :selected").attr("accessKey"));
            $.ajax({
                url: "QueryToolsInsights/GetUserEndpoints?id=" + $("#clientUser").val(),
                async: false,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var s = $('<select id="selectedEndpoint"/>');
                    for (var val in data) {
                        if (data[val].Enabled) {
                            $('<option />', { value: data[val].Name, text: data[val].Name }).appendTo(s);
                        }
                    }

                    $("#divEndPoints").html(s);

                    $("#selectedEndpoint").change(function () {
                        if ($("#selectedEndpoint").val() != "Select") {
                            //hide all set previously from a select by class name
                            $('.paramsendpoints').hide();
                            if ($(this).val() == '/api/v1/echo') {
                                $("#paramsecho").show();
                            }
                            if ($(this).val() == '/api/v1/billdisagg') {
                                $("#paramsbilldisagg").show();
                            }
                            if ($(this).val() == '/api/v1/benchmark') {
                                $("#paramsbenchmark").show();
                            }
                            if ($(this).val() == '/api/v1/endpointtracking') {
                                $("#paramsEndpointTracking").show();
                            }
                            if ($(this).val() == '/api/v1/content') {
                                $("#paramsContent").show();
                            }
                            if ($(this).val() == '/api/v1/profile') {
                                if ($("#SelectedMethodApi").val() == "Get") {
                                    $("#paramsProfile").show();
                                    $("#paramsProfilePost").hide();
                                }
                                else {
                                    $("#paramsProfilePost").show();
                                    $("#paramsProfile").hide();
                                }
                            }
                            if ($(this).val() == '/api/v1/action') {
                                $("#paramsAction").show();
                            }
                            if ($(this).val() == '/api/v1/actionplan') {
                                if ($("#SelectedMethodApi").val() == "Get") {
                                    $("#paramsActionPlan").show();
                                    $("#paramsActionPlanPost").hide();
                                    $("#paramsActionPlanPut").hide();
                                }
                                else if ($("#SelectedMethodApi").val() == "Post") {
                                    $("#paramsActionPlanPost").show();
                                    $("#paramsActionPlan").hide();
                                    $("#paramsActionPlanPut").hide();
                                }
                                else if ($("#SelectedMethodApi").val() == "Put") {
                                    $("#paramsActionPlanPut").show();
                                    $("#paramsActionPlan").hide();
                                    $("#paramsActionPlanPost").hide();
                                }
                            }
                            if ($(this).val() == '/api/v1/bill') {
                                $("#paramsBill").show();
                            }
                            if ($(this).val() == '/api/v1/greenbuttonami') {
                                $("#paramsGreenButtonAmi").show();
                            }
                            if ($(this).val() == '/api/v1/consumption') {
                                $("#paramsConsumption").show();
                            }
                            $("#divSubmit").show();
                        }
                        else {
                            $('.paramsendpoints').hide();
                        }
                    });

                    $("#selectedEndpoint").change();
                    $("#divParams").show();
                    $("#divHeaders").show();
                },
                beforeSend: function () { }
            });
        }
    });

    $("#SelectedMethodApi").change(function () {
        $("#divParams").hide();
        $("#divHeaders").hide();
        $("#clientUser").val("-1");
        $("#divResponse").hide();
        $("#divSubmit").hide();

        if ($("#SelectedMethodApi").val() == "Get") {
            $("#divEncrypt").show();           
        }
        else if ($("#SelectedMethodApi").val() == "Post") {
            $("#divEncrypt").hide();
        }
        else if ($("#SelectedMethodApi").val() == "Put") {
            $("#divEncrypt").hide();
        }
    });

</script>

