﻿@using Combres.Mvc
@model CE.InsightsWeb.Common.Layoutjson

@{
    ViewBag.Title = "Insights";
}

@section ViewJS{
    @Url.CombresLink("siteCss")
    @Url.CombresLink("siteJs")
}

<script>
    var modParams = '@Model.Parameters';
    var pageId = '@(ViewBag.PageId)';
    var tabKey = '@Model.TabKey';
    var browser = '@Model.Browser';
    var iws_loading_text = '@Model.LoadingText';
    var iws_widget_error = '@Html.Raw(Model.WidgetError)';
    var iws_widget_id = '';
    var iws_dl_tp = '@Model.DeepLinkType';
    var iws_dl_w = '@Model.DeepLinkWidget';
    var iws_dl_wst = '@Model.DeepLinkWidgetState';
    var iws_dl_akey = '@Model.DeepLinkActionKey';
    var iws_dl_wt = '@Model.DeepLinkWidgetTab';
    var iws_dl_ws = '@Model.DeepLinkWidgetSection';
    var iws_dl_enum = '@Model.DeepLinkEnum';
    var iws_dl_res = '@Model.DeepLinkResolution';
    var iws_dl_comp = '@Model.DeepLinkComparison';
    var iws_dl_yfc = '@Model.YellowFadeColor';
    var partial_browser = '@Html.Raw(@Model.PartialBrowserSupport)';
    var enc = 'enc=' + '@Model.RemoteHeaderEncryptedParams';
    var redirectURL = ResolveURL("~/Page?");
</script>

@{
    string action = "Index";
    int widgetindex = 4;
    string containerClass = "container";
}
@{string angWidgetsHtml = "";}
<app></app>


@if (this.EnableRemoteContainerCheck())
{
    containerClass = "";
}


<div class="@containerClass">
    @{ angWidgetsHtml = angWidgetsHtml + "<div class='" + containerClass + "'>";}
    @{string angWidgets = "premiseselect,";}
    @{string nonAngWidgets = "";}
    
    @foreach (var r in Model.Layout.Rows)
    {
        <div class="row">
            @{ angWidgetsHtml = angWidgetsHtml + "<div class='row'>";}
            @foreach (var c in r.Columns)
            {
                string className = "col-" + c.Size + "-" + c.Span;
                <div class="@className">
                    @{ angWidgetsHtml = angWidgetsHtml + "<div class='" + @className + "'>"; }
                    @if (c.Widgets != null)
                    {
                        foreach (var w in c.Widgets)
                        {

                            @:<div id="iws_rc_pagewidget_@widgetindex" name="@w.Name">


                            {
                                angWidgetsHtml = angWidgetsHtml + "<div id='iws_rc_pagewidget_" + @widgetindex + "' name='" + @w.Name + "'>";
                            }


                            if (@w.Name == "longprofile" || @w.Name == "greenbutton" || @w.Name == "subscription" || @w.Name == "threshold" || @w.Name == "reportlist" || @w.Name == "profile" || @w.Name == "quicklinks" || @w.Name == "promo" || @w.Name == "billsummary" || @w.Name == "billhistory" || @w.Name == "peercomparison" || @w.Name == "reportcreate" || @w.Name == "billdisagg" || @w.Name == "thirdpartyselection" || @w.Name == "billedusagechart" || @w.Name == "consumption" || @w.Name == "billtodate")
                            {
                                @:<@w.Name></@w.Name>


                                angWidgets = angWidgets + @w.Name + ",";


                                angWidgetsHtml = angWidgetsHtml + "<" + @w.Name + "></" + @w.Name + ">";
                            }
                            else
                            {
                                Html.RenderAction(action, w.Name, new {instance = w.Instance});

                                angWidgetsHtml = angWidgetsHtml + "iws_rc_pagewidget_"+ @widgetindex + "_html";
                                nonAngWidgets = nonAngWidgets + "iws_rc_pagewidget_" + @widgetindex + ",";
                            }

                            @:</div>
                            {
                                angWidgetsHtml = angWidgetsHtml + "</div>";
                            }
                            widgetindex++;
                        }
                    }
                </div>
                {
                    angWidgetsHtml = angWidgetsHtml + "</div>";
                }
            }
        </div>
        {
            angWidgetsHtml = angWidgetsHtml + "</div>";
        }
    }

   
</div>
<script>
        var iws_pagewidget_count = @widgetindex;
        var angWidgets = '@angWidgets';
        var angWidgetsHtml = '@angWidgetsHtml';
        var nonAngWidgets = '@nonAngWidgets';
</script>