﻿<div class="container-spinner" *ngIf="loading == true">
    <div class="item">
        <div class="number"></div>
        <div class="loader02"></div>
    </div>
</div>
<div class="alert alert-warning xs-mt-15" *ngIf="isPropertySelected == false">
    {{errorMessage}}
</div>
<div class="acceptnewmeter__box" *ngIf="loading == false &&  isPropertySelected == true">
    <div class="tab-content">
        <div class="widgetbox xs-ml-0 xs-mr-0 xs-mt-20 xs-mb-20">


            <div class="container-fluid" >


                <div class="property__thumbRow row xs-mb-15" *ngIf="!noAccess">
                    <div class="col-xs-8 property__info-one">
                        <div class="property__thumb pull-left xs-mr-15"><img class="img-responsive" src="images/icon-building.png" /></div>
                        <div>
                            <p>
                                <strong>{{content?.propertyName}}</strong>{{result?.name}}
                            </p>
                            <p>
                                <strong>{{content?.propertyAddress}} </strong><span>{{result?.address.address1}}, {{result?.address.city}}</span>, {{result?.address.state}} {{result?.address.postalCode}}, {{result?.address.country}}
                            </p>
                            <p>
                                <strong>{{content?.propertyPrimaryFunction}} </strong>{{result?.primaryFunction}}
                            </p>
                            <p>
                                <strong>{{content?.propertyBuildings}} </strong>{{result?.numberOfBuildings}}
                            </p>
                        </div>
                    </div>



                    <div class="col-xs-4 property__info-two">
                        <p>
                            <strong>{{content?.propertyYearBuilt}} </strong>{{result?.yearBuilt}}
                        </p>
                        <p>
                            <strong>{{content?.propertyConstructionStatus}}</strong>{{result?.constructionStatus}}
                        </p>
                        <p>
                            <strong>{{content?.propertyFloorArea}} </strong>{{result?.grossFloorArea.value}} {{result?.grossFloorArea.units}}
                        </p>
                    </div>
                </div>
                <div class="property__thumbRow row xs-mb-15" *ngIf="noAccess">
                    <div class="alert alert-danger" role="alert">{{content?.noAccessToProperty}}</div>
                </div>
                    <div class="clearfix"></div>
                <div *ngIf="!noAccess">
                    <ul class="nav nav-tabs">
                        <li class="contacts active" role="presentation" routerLinkActive="active">
                            <a data-toggle="tab" href="#meters2" (click)="toggle('meters')">{{content?.metersTab}}</a>
                        </li>
                        <li class="meters" role="presentation">
                            <a data-toggle="tab" href="#metrics1" (click)="toggle('metrics')">{{content?.metricsTab}}</a>
                        </li>
                    </ul>
                    <div id="metrics1" class="tab-pane fade">
                        <metrics [propertyId]="propertyId" [hidden]="!showMetrics"></metrics>
                    </div>
                    <div id="meters2" class="tab-pane fade in active acceptnewmeter__pane">
                        <acceptedmeterslist #acceptedmeterslist [propertyId]="propertyId" [hidden]="!showMeters"></acceptedmeterslist>
                    </div>
               </div>

                </div>
        </div>
    </div>
</div>
