﻿<div class="container-spinner" *ngIf="loading == true">
    <div class="item">
        <div class="number"></div>
        <div class="loader02"></div>
    </div>
</div>

<div class="row tab-content"*ngIf="loading == false">
    <div class="acceptnewmeter__header">
        <div class="xs-pb-0 acceptnewmeter__data">
            <div class="col-xs-6">
                <div class="col-xs-2 xs-pl-0"></div>
                <div class="col-xs-3 xs-pl-0"><strong>{{content?.meterId}}</strong></div>
                <div class="col-xs-3 xs-pl-0"><strong>{{content?.meterType}}</strong></div>
                <div class="col-xs-4 xs-pl-0"><strong>{{content?.meterName}}</strong></div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-4 xs-pl-0"><strong>{{content?.unitOfMeasure}}</strong></div>
                <div class="col-xs-3 xs-pl-0"><strong>{{content?.firstBillDate}}</strong></div>
                <div class="col-xs-2 xs-pl-0"><strong>{{content?.inUse}}</strong></div>
                <div class="col-xs-3 xs-pl-0"><strong>{{content?.lastUpdated}}</strong></div>
            </div>
        </div>
    </div>
    <div *ngFor="let link of result | objToArr">
            <meterdetails #meterDetails [result]="link"></meterdetails>
    </div>
</div>