﻿ <div *ngIf="result != null">
     <p><strong>{{content?.accountName}}</strong>  {{result?.accountInfo.firstName}}, {{result?.accountInfo.lastName}}</p>
     <p><strong>{{content?.accountOrganization}}</strong>  {{result?.accountInfo.organization}}</p>
    <p><strong>{{content?.accountJobTitle}}</strong> {{result?.accountInfo.jobTitle}}</p>
    <p><strong>
    {{content?.accountAddress}}
</strong> {{result?.accountInfo.address.address1}} , {{result?.accountInfo.address.city}}
        <span>{{result?.accountInfo.address.state}}, {{result?.accountInfo.address.postalCode}}</span>
    </p>
    <p><strong>{{content?.accountPhone}}</strong> {{result?.accountInfo.phone | phone}}</p>
</div>
<div *ngIf="result === null && errors === null">
    <div class="alert alert-info" role="alert">{{content?.loadingAccountDetails}}</div>
</div>
<div *ngIf="errors != null  && noAccess == false">
    <div class="alert alert-danger" role="alert">{{content?.errorLoadingAccountDetails}}</div>
</div>
<div *ngIf="noAccess">
    <div class="alert alert-danger" role="alert">{{content?.noAccessToAccount}}</div>
</div>