﻿<div class="container-loader" *ngIf="loading == true">
    <div class="progress-loader">
        <div class="progress-bar-loader">
        </div>
    </div>
    <div>{{errorMessage}}</div>
</div>  
<div class="row tab-content" *ngIf="loading == false">
    <div class="middle">
        <img class="icon-bill-data" src="/images/icon-consumption-records.png" /><h4>{{content?.consumptionRecords}}</h4>
    </div>
    <div class="table-responsive es__bill-data">
        <table class="table" style="table-layout:fixed">
            <thead>
                <tr>
                    <th>{{content?.startDate}}</th>
                    <th>{{content?.endDate}}</th>
                    <th>{{content?.usage}} ({{unitOfMeasure}})</th>
                    <th>{{content?.cost}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of result | objToArr">
                    <td>{{m.startDate}}</td>
                    <td>{{m.endDate}}</td>
                    <td>{{m.usage | number:'1.2'}}</td>
                    <td>{{m.cost | number:'1.2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>