﻿

<div class="widgetbox xs-ml-0 xs-mr-0 xs-mt-20 xs-mb-20">

    <h5 class="xs-mb-30" *ngIf="result?.title" [innerHtml]="result?.title"></h5>


    <div class="row" *ngIf="result?.title">
        <!-- links with icons -->
        <div class="pending_accepted_accounts pull-right">
            <div role="presentation" [ngClass]="{active : hideContactButtons === false}"><img class="icon-pending-on" [src]="imageSource ? '/images/icon-pending-off.png' : '/images/icon-pending-on.png'"/><a class="xs-ml-5 xs-mr-5 pointer" (click)="onNavigateContacts(true)">{{result.pendingAccounts}}</a></div>
            <div role="presentation" [ngClass]="{active : hideContactButtons === true}"><img class="icon-accepted-off"  [src]="imageSource ? '/images/icon-accepted-on.png' : '/images/icon-accepted-off.png'" /><a class="xs-ml-10 xs-mr-0 pointer" (click)="onNavigateContacts(false)">{{result.acceptedAccounts}}</a></div>
        </div>
    </div>



    <div class="container-spinner" *ngIf="loading == true">
        <div class="item">
            <div class="number"></div>
            <div class="loader02"></div>
        </div>
    </div>
  
    <div *ngIf="loading == false">


        <div *ngIf="!(gridView?.total == 0)">   
            <kendo-grid [data]="gridView?.data | paginate: config"
                        [selectable]="true"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        [pageable]="false">
                <kendo-grid-column width="110" title="{{result.accountColumn}}" *ngIf="hideContactButtons === false" class="text-center">
                    <ng-template kendoGridHeaderTemplate let-dataItem>
                        <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)" id="checkAllBox" />
                        <label class="xs-mb-0" for="checkAllBox">{{result.accountColumn}}</label>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <input type="checkbox" value="{{dataItem.accountId}}" [(ngModel)]="dataItem.state" (change)="onContactsSelect(dataItem.accountId, $event)" id="{{dataItem.accountId}}" />
                        <label for="{{dataItem.accountId}}">{{dataItem.accountId}}</label>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="150" field="name" title="{{result.nameColumn}}"></kendo-grid-column>
                <kendo-grid-column width="250" field="address" title="{{result.addesssColumn}}"></kendo-grid-column>
                <kendo-grid-column width="150" field="customField1" title="{{result.customField1Column}}"></kendo-grid-column>
                <kendo-grid-column width="150" field="customField2" title="{{result.customField2Column}}"></kendo-grid-column>
                <kendo-grid-column width="250" field="timeStamp" title="{{result.timeStampColumn}}" *ngIf="hideContactButtons === false"></kendo-grid-column>
                <ng-template kendoDetailTemplate let-dataItem>
                    [kendoGridDetailTemplateShowIf]="dataItem.isvalid === false"
                    <article><alert type="danger">{{dataItem.errorMessage}}</alert></article>
                </ng-template>

            </kendo-grid>



            <div class="col-ms-7 xs-pl-0">
                <pagination-controls [id]="config.id"
                                     [maxSize]="maxSize"
                                     [directionLinks]="directionLinks"
                                     [totalItems]="bigTotalItems"
                                     (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
            <div class="col-ms-5 text-right xs-pr-0">
                <div *ngIf="result?.title" class="btn-toolbar btn-reject pull-right" [hidden]="hideContactButtons">

                    <button class="btn btn-default"
                            mwlConfirmationPopover
                            (confirm)="onAcceptRejectContacts(false)"
                            [title]="result?.rejectConfirmTitle"
                            [message]="result?.rejectConfirmMessage"
                            [confirmText]="result?.rejectConfirmationConfirm"
                            [cancelText]="result?.rejectConfirmationCancel"
                            placement="left" [disabled]="disableButtons">
                        {{result.rejectButton}}
                    </button>

                    <button class="btn btn-primary" type="button" (click)="onAcceptRejectContacts(true)" [disabled]="disableButtons">{{result.acceptButton}}</button>
                </div>
            </div>
        </div>
        
        <div class="row alert alert-warning" *ngIf="gridView?.total == 0">
            <div class="col-md-2 col-md-offset-5">{{result?.noRecordsFound}}</div>
        </div>

        <div class="text-center rightsreserved">
            {{result?.footer}}
        </div>
            </div>

            <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
                 tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-spinner">
                                <div class="item">
                                    <div class="number"></div>
                                    <div class="loader02"></div>
                                </div>
                            </div><span>Loading View...</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

