﻿<div class="embed-responsive-item" *ngIf="loading">
    <div class="progress-loader">
        <div class="progress-bar-loader">
        </div>
    </div>
</div> 
<div class="card" *ngIf="!loading">
    <div class="embed-responsive-item" *ngIf="!noMatch">
        
        <p>{{result?.firstName}} {{result?.lastName}}</p>
        <p>{{result?.street1}}</p>
        <p>{{result?.street2}}</p>
        <p>{{result?.city}} {{result?.stateProvince}} {{result?.postalCode}}</p>
    </div>
    <div class="item" *ngIf="noMatch">
       {{content?.noMatchingCustomerFound}}
    </div>
</div>

<div *ngIf="error">
    <div class="alert alert-danger" role="alert">
        {{content?.errorFetchingMatchCcustomer}}
    </div>
</div> 

