﻿<div *ngIf="!loading">
    <span data-toggle="tooltip" title="Mapped successfully." *ngIf="isMapped"> {{content?.mappedSuccessfully}} </span>
    <span *ngIf="!isMapped && !invaliddata" data-toggle="tooltip" title="{{content?.mappingNotfound}}"> {{content?.mappingNotfound}}</span>
    <span *ngIf="invaliddata" data-toggle="tooltip" title="{{content?.missingFields}}">{{content?.missingFields}}</span>
</div>
