﻿<!-- Latest compiled and minified JavaScript -->

<!-- meter container -->
<div class="widgetbox xs-ml-0 xs-mr-0 xs-mt-20 xs-mb-20">

<!--Meter mapping modal popup START-->
<div (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog es__bill-data-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 *ngIf="billsView==false" class="modal-title pull-left">{{result?.mappingTab}}</h4>
                <h4 *ngIf="billsView==true" class="modal-title pull-left">Bills Data</h4>
            </div>
            <div class="modal-body">
                <metermapping #metermapping *ngIf="billsView==false" (onClosed)="onClosed($event)" (onSaved)="onSaved($event)"></metermapping>
                <billscomponent *ngIf="billsView==true"></billscomponent>
            </div>
        </div>
    </div>
</div>


 <h5 *ngIf="!imageSource && result?.title" class="xs-mb-30" [innerHtml]="result?.title"></h5>
 <h5 *ngIf="!imageSource === false && result?.title" [innerHtml]="result?.title"></h5>


<div class="container-fluid">
    <div class="row" [hidden]="!imageSource">
        <!-- Customer and Property Dropdowns -->
        <div class="btn-group" role="group" aria-label="Customer and property">
            <!-- Account button -->
            <div class="btn-group btn-toolbar btn-meter btn-account xs-ml-0" role="group">
                <button type="button" class="btn btn-default dropdown-toggle text-center btn-account xs-mr-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div *ngIf=isFiltered> 
                        {{filteredAccountName}}- {{filteredaAccoutnId}}<span class="caret"></span>
                    </div>
                    <div *ngIf=!isFiltered>
                        {{result?.accountId}}<span class="caret"></span>
                    </div>
                </button>
                <ul class="dropdown-menu drop">
                    <li *ngFor="let subItem of customers?.values | objToArr"><a (click)="filterAccountList(subItem.id, subItem.hint)">{{subItem.hint}}- {{subItem.id}}</a></li>
                </ul>

            </div>
            <!-- property button -->
            <div role="group" Class="btn-group btn-toolbar btn-meter btn-property xs-ml-0">
                <button type="button" class="btn btn-default dropdown-toggle text-center btn-meter-property xs-mr-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div *ngIf=isFiltered>
                        {{filteredPropertyName}}- {{filteredPropertyId}}<span class="caret"></span>
                    </div>
                    <div *ngIf=!isFiltered>
                        {{result?.propertyId}}<span class="caret"></span>
                    </div>
                </button>
                <ul *ngIf="nopropertydata" class="dropdown-menu">
                    <li><a>No properties found</a></li>
                </ul>
                <ul *ngIf="!nopropertydata" class="dropdown-menu">
                    <li *ngFor="let subItem of properties?.values | objToArr"><a (click)="filterPropertyList(subItem.id, subItem.hint)">{{subItem.hint}}-{{subItem.id}} </a></li>
                </ul>
            </div>
            <!-- filters -->
            <div class="btn-group btn-toolbar btn-filter" role="group">
                <div *ngIf=isFiltered>
                    <a class="energy__filters" (click)="clearFilters()">&times;{{result?.clearFilters}}</a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="pull-right">
            <div class="pending_accepted_accounts pull-right">
                <div role="presentation" [ngClass]="{active : hideButtons === false}"><img class="" [src]="imageSource ? '/images/icon-pending-off.png' : '/images/icon-pending-on.png'" /><a class="xs-ml-5 pointer" (click)="onNavigateMeters(true)">{{result?.pendingMeters}}</a>
                </div>
                <div role="presentation" [ngClass]="{active : hideButtons === true}"><img class="" [src]="imageSource ? '/images/icon-accepted-on.png' : '/images/icon-accepted-off.png'" /><a class="xs-ml-10 pointer" (click)="onNavigateMeters(false)">{{result?.acceptedMeters}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="hidePendingMeters">
    <div *ngIf="errorMessage && hideButtons === false">
        <div class="alert alert-danger" type="danger">{{errorMessage}}</div>
    </div>
    <div class="container-spinner" *ngIf="loading == true">
        <div class="item">
            <div class="number"></div>
            <div class="loader02"></div>
        </div>
    </div>
    <div *ngIf="loading == false && gridView?.data != null">
        <div class="meters" *ngIf="!(gridView?.total == 0)">
            <kendo-grid [data]="gridView?.data | paginate: config"
                        [selectable]="false"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        [pageable]="false"
                        (pageChange)="pageChange($event)">
                
                <kendo-grid-column width="140" title="{{result?.meterId}}" *ngIf="hideButtons === false">
                    <ng-template kendoGridHeaderTemplate let-dataItem>
                        <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)" id="checkAllBox"/>
                        <label for="checkAllBox">{{result?.meterId}}</label>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <input type="checkbox" value="{{dataItem.meterId}}" [(ngModel)]="dataItem.state" (change)="onMetersSelect(dataItem.meterId,dataItem.mapaccountId, dataItem.mappodId, $event)"  id="{{dataItem.meterId}}"/>
                        <label for="{{dataItem.meterId}}">{{dataItem.meterId}}</label>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="{{result?.accountId}}" width="80">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="btn"
                              [popover]="popTemplateAccountInfo" popoverTitle="{{result?.accountId}}" placement="right" triggers="mouseenter:mouseleave" container="body">
                            {{dataItem.accountId}}
                        </span>
                        <ng-template #popTemplateAccountInfo>
                            <accountdetails [accountId]="dataItem.accountId"></accountdetails>
                        </ng-template>

                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="{{result?.propertyId}}" width="150">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="btn"
                              [popover]="popTemplate" popoverTitle="{{result?.propertyId}}" placement="right" triggers="mouseenter:mouseleave" container="body">
                            {{dataItem.propertyInfo.name}}
                        </span>
                        <ng-template #popTemplate>
                            <propertydetails [propertyId]="dataItem.propertyId"></propertydetails>
                        </ng-template>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="280" title="Mapping">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="dataItem.errorMessage?.length <= 0" style='float: none'>
                            <metermapcolumn style="display: inline-block" [accountId]="dataItem.mapaccountId" [premiseId]="dataItem.mappodId" [meterId]="dataItem.meterId" [meterType]="dataItem.type" [isMapped]="dataItem.isMapped"></metermapcolumn>
                            <span *ngIf="dataItem.mapaccountId" class="fa fa-external-link" (click)="showModal(dataItem.mapaccountId, dataItem.mappodId, dataItem.name, dataItem.meterId, dataItem.type)"></span>
                        </div>
                        <div *ngIf="dataItem.errorMessage?.length > 0">
                            {{dataItem.errorMessage}}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="190" title="{{result?.meterName}}" field="name"></kendo-grid-column>
                <kendo-grid-column width="80" title="{{result?.metered}}" field="metered"></kendo-grid-column>
                <kendo-grid-column width="110" title="{{result?.firstBillDate}}" field="firstBillDate"></kendo-grid-column>
                <kendo-grid-column width="120" title="{{result?.meterType}}" field="type"></kendo-grid-column>
                <kendo-grid-column width="210" title="{{result?.unitOfMeasure}}" field="unitOfMeasure"></kendo-grid-column>
                <kendo-grid-column width="180" title="{{result?.timeStamp}}" field="timeStamp"></kendo-grid-column>
                <ng-template kendoDetailTemplate let-dataItem>
                    [kendoGridDetailTemplateShowIf]="dataItem.isvalid === false"
                    <article><alert type="danger">{{dataItem.errorMessage}}</alert></article>
                </ng-template>

            </kendo-grid>

            <div class="col-ms-7 xs-pl-0">
                <pagination-controls [id]="config.id"
                                     [maxSize]="maxSize"
                                     [directionLinks]="directionLinks"
                                     [totalItems]="bigTotalItems"
                                     (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
            <div class="col-ms-5 text-right xs-pr-0">
                <div *ngIf="result?.title" class="btn-toolbar btn-reject pull-right" [hidden]="hideContactButtons">

                    <button class="btn btn-default"
                            mwlConfirmationPopover
                            (confirm)="onAcceptRejectMeters(false)"
                            [title]="result?.rejectConfirmationTitle"
                            [message]="result?.rejectConfirmationMessage"
                            [confirmText]="result?.rejectConfirm"
                            [cancelText]="result?.rejectCancel"
                            placement="top"
                            [disabled]="disableButtons">
                        {{result?.rejectMeters}}
                    </button>

                    <button class="btn btn-primary" type="button" (click)="onAcceptRejectMeters(true)" [disabled]="disableButtons">{{result.acceptMeters}}</button>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="gridView?.total == 0">
        <div  class="alert alert-warning xs-mt-15">{{result?.noRecordsFound}}</div>
    </div>
</div>
<div [hidden]="!hidePendingMeters">
    <acceptedmetersnew #acceptedMetersNew></acceptedmetersnew>
</div>

<div class="modal fade" bsModal #staticModalMeters="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container-spinner">
                    <div class="item">
                        <div class="number"></div>
                        <div class="loader02"></div>
                    </div>
                </div><span>Loading View...</span>
            </div>
        </div>
    </div>
</div>
<!-- /meter container -->
</div>

<div class="text-center rightsreserved">
    {{result?.footer}}

</div>
