﻿<div class="es__mapping table-responsive">
    <h5 class="xs-mb-15">{{content?.customDataMessage}} <b>{{meterName}}</b> </h5>
    
    
    <h5><strong>{{content?.customField1}}</strong><span> {{displayMeter?.accountId}}</span></h5>
    <h5 class="xs-mb-10"><strong>{{content?.customField2}}</strong><span> {{displayMeter?.premiseId}}</span></h5>
    
   
    <div class="container-spinner" *ngIf="loading">
        <div class="item">
            <div class="number"></div>
            <div class="loader02"></div>
        </div>
    </div>
    <div *ngIf="hasErrors || hasErrorMapping">
    <div class="alert alert-danger" *ngIf="hasErrorMapping">{{content?.invalidMapping}}</div>
    <div class="alert alert-danger" *ngIf="statusMessage?.length > 0">{{statusMessage}}</div>
    <div class="alert alert-danger" *ngIf="hasErrors || hasErrorMapping">{{content?.noErrorsMessage}}</div>
    </div>

    <table class="table table-striped" *ngIf="!loading">
        <tr>
            <th></th>
            <th>{{content?.accountId}}</th>
            <th>{{content?.premiseId}}</th>
            <th>{{content?.mappedCustomer}}</th>
            <th></th>
        </tr>
        <tr *ngFor="let m of displayMeter?.espmMapDetails">
            <td>
                <div *ngIf="m.enabled"><span class="fa fa-check-circle mapping-fa-check-circle fa-lg" aria-hidden="false" data-toggle="tooltip" title="Mapped successfully."></span>
                </div>
                <div *ngIf="!m.enabled"><span class="fa fa-flag mapping-fa fa-lg" aria-hidden="false" data-toggle="tooltip" title="Mapping is not saved yet."></span>
                </div>
            </td>
            <td>
                <!---<span *ngIf="m.mapAccountIdError" class="input-group-addon"><i class="fa fa-exclamation-triangle" aria-hidden="false"></i></span>-->
                <input class="form-control" [ngClass]="m.mapAccountIdError ? 'error-border' : '' " border="1" type="text" [(value)]="m.mapAccountId" required (blur)="onBlurAccountId(m.uniqueId,$event.target.value)" />
            </td>
            <td>
                <input [ngClass]="m.mapPremiseIdError ? 'error-border' : 'form-control' " border="1" type="text" [(value)]="m.mapPremiseId" (blur)="onBlurPremiseId(m.uniqueId,$event.target.value)"/>
                <!--
                <span style='float:left' *ngIf="m.mapPremiseIdError" class="glyphicon glyphicon-exclamation-sign"></span>
                -->
            </td>
            <td>
                <mappedcustomer [accountId]="m.mapAccountId" [premiseId]="m.mapPremiseId" #mappedCustomer (onNoMapFound)="onNoMapFound($event)" (onMapLoad)="onFetchData($event)"></mappedcustomer>
            </td>
            <td>
                <button type="button" class="es__mapping--remove btn btn-default" (click)="removemetermap()">
                    <span class="fa fa-times-circle fa-lg" aria-hidden="false" ></span>
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="xs-p-15 text-right">
    <button type="button" class="btn btn-primary" (click)="addmetermap()">
        {{content?.addMapping}}<span class="fa fa-" aria-hidden="false"></span>
    </button>
    <button class="btn btn-primary" type="button" (click)="close()" *ngIf="isPending == true">{{content?.cancel}}</button>
    <button class="btn btn-primary" type="button" (click)="saveMappedMeters()">{{content?.save}}</button>
</div>



