﻿<div class="container-spinner" *ngIf="loading == true">
    <div class="item">
        <div class="number"></div>
        <div class="loader02"></div>
    </div>
</div>
<div *ngIf="loading == false">
    <div class="panel-heading container-fluid acceptnewmeter__datacontainer">
            <div class="col-xs-6">
                    <div class="col-xs-2">
                        <a [ngClass]="isOpen ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" (click)="loadMeterData(result.id)">
                        </a>
                    </div>
                    <div class="col-xs-3 xs-pl-0">{{result?.id}}</div>
                    <div class="col-xs-3 xs-pl-0">{{result?.type}}</div>
                    <div class="col-xs-4 xs-pl-0" style="word-wrap: break-word">{{result?.name}}</div>
            </div>
            <div class="col-xs-6">
                    <div class="col-xs-4 xs-pl-0">{{result?.unitOfMeasure}}</div>
                    <div class="col-xs-3 xs-pl-0">{{result?.firstBillDate}}</div>
                    <div class="col-xs-2 xs-pl-0">{{result?.inUse}}</div>
                    <div class="col-xs-3 xs-pl-0">{{result?.audit.lastUpdatedDate | date:'yyyy-MM-dd'}}</div>
            </div>
    </div>
    <div [hidden]="!isOpen" class="meterdetails__container">
            <ul class="nav nav-tabs">
                <li class="contacts active" role="presentation" routerLinkActive="active">
                    <a data-toggle="tab" href="#consumption{{result?.id}}" (click)="toggle('consumption')">{{content?.consumptionTab}}</a>
                </li>
                <li class="meters" role="presentation">
                    <a data-toggle="tab" href="#mapping{{result?.id}}" (click)="toggle('mapping')">{{content?.mappingTab}}</a>
                </li>
            </ul>
            <div id="consumption{{result?.id}}" class="tab-pane fade in active xs-pt-0 xs-pb-0 xs-m-30" [hidden]="!showConsumption">

                <div class="xs-m-25 row panel-body">
                    <div class="consumptionComponent__results">
                        <consumptioncomponent #consumptionComponent [unitOfMeasure]="result.unitOfMeasure"></consumptioncomponent>
                    </div>
                    <div class="billingComponent__results">
                        <billscomponent #billingComponent [unitOfMeasure]="result.unitOfMeasure"></billscomponent>
                    </div>
                </div>


            </div>
            <div id="mapping{{result?.id}}" class="tab-pane fade" [hidden]="!showMapping">

                <metermapping #metermapping [isPending]="false" [meterName]="result.name" [meterType]="result.type"></metermapping>

            </div>
        </div>
    
</div>