﻿
<div class="container-spinner" *ngIf="loading == true">
    <div class="item">
        <div class="number"></div>
        <div class="loader02"></div>
    </div>
    <div>{{errorMessage}}</div>
</div>
<div class="panel-heading container-fluid newClass" *ngIf="loading == false && noresult == true;">
    No Alerts Found. 
</div>
    <div class="panel-heading container-fluid newClass" *ngIf="loading == false && noresult == false;">
    Metrics not Available.
        <div *ngFor="let m of metricsReason">
        <div class="card">
                <div class="card-block">
                    <div [innerHTML]="m.name" class="card-title"></div>
                    <div class="card-text" [innerHTML]="m.description"></div>
                </div>
            </div>
        </div>
    </div>
