﻿<!-- CSS loader -->
<div class="container-loader" *ngIf="loading == true">
    <div class="progress-loader">
        <div class="progress-bar-loader">
        </div>
    </div>
    <div>{{errorMessage}}</div>
</div>


<div class="panel-heading container-fluid newClass metrics__container" [hidden]="hideMetricsAvailableMain">
    <metricsnotfound #metricsnotfoundmain></metricsnotfound>
</div>
    <div class="panel-heading container-fluid newClass metrics__container" *ngIf="loading == false && isMetricsAvailable == true">
        <div class="table-responsive es__bill-data">
            <table class="table" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th>Metric</th>
                        <th><span>{{baselinedate | date:'MMMM-yyyy'}}</span><span>&nbsp; Energy Baseline</span></th>
                        <th><span>{{currentdate | date:'MMMM-yyyy'}}</span><span>&nbsp; Energy Current</span></th>
                        <th>Change</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of propertymetrics">
                        <td>{{m.text}}</td>
                        <td>
                            <span *ngIf="m.baseLineValueAvailable && !m.baseLineIsNUmber">{{m.baseLineValue}}</span>
                            <span *ngIf="m.baseLineValueAvailable && m.baseLineIsNUmber">{{m.baseLineValue | number}}</span>
                            <a *ngIf="!m.baseLineValueAvailable" class="pointer" (click)="showModal(baselinedate)">Not Available</a>
                        </td>
                        <td>
                            <span *ngIf="m.currentValueAvailable && !m.currentIsNumber">{{m.currentValue}}</span>
                            <span *ngIf="m.currentValueAvailable && m.currentIsNumber">{{m.currentValue | number}}</span>
                            <a *ngIf="!m.currentValueAvailable" class="pointer" (click)="showModal(currentdate)">Not Available</a>
                        </td><td style="color:forestgreen">
                            <span *ngIf="m.changeAvailable">{{m.change | number}}&nbsp;&nbsp;({{m.percentchange | number : '1.1-1'}} %)</span>
                            <span *ngIf="!m.changeAvailable">N/A</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        
        <app-modal #modal1>
            <div class="app-modal-header">
                <h4 class="modal-title pull-left">Reason For No Metrics</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modal1.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="app-modal-body">
                <metricsnotfound #metricsnotfound></metricsnotfound>
            </div>
            <div class="app-modal-footer">
                <button type="button" class="pull-right" aria-label="Close" (click)="modal1.hide()">
                    <span aria-hidden="true">Close</span>
                </button>
            </div>
        </app-modal>

    </div>
