﻿<div *ngIf="result != null">

    <div style="word-wrap: break-word;">
        <p><strong>{{content?.propertyName}}</strong>{{result?.name}}</p>
        <p>
            <strong>
                {{content?.propertyAddress}}
            </strong> <span>{{result?.address.address1}} , {{result?.address.city}}</span>
            <span>,{{result?.address.state}} , {{result?.address.postalCode}}, {{result?.address.country}}</span>
        </p>
        <p><strong>{{content?.propertyBuildings}}</strong>  {{result?.numberOfBuildings}}</p>
        <p><strong>{{content?.propertyConstructionStatus}}</strong>  {{result?.constructionStatus}}</p>
        <p><strong>{{content?.propertyPrimaryFunction}}</strong>  {{result?.primaryFunction}}</p>
        <p><strong>{{content?.propertyYearBuilt}}</strong>  {{result?.yearBuilt}}</p>
        <p><strong>{{content?.propertyFloorArea}}</strong>  {{result?.grossFloorArea.value}} {{result?.grossFloorArea.units}}</p>
        <p><strong>{{content?.propertyOccupancyPercentage}}</strong>  {{result?.occupancyPercentage}} %</p>
        <p><strong>{{content?.propertyIsFederal}}</strong>  {{result?.isFederalProperty}}</p>
    </div>
    </div>

<div *ngIf="result === null && errors === null">
    <div class="alert alert-info" role="alert">{{content?.loadingPropertyDetails}}</div>
</div>


<div *ngIf="errors != null && noAccess == false">
    <div class="alert alert-danger" role="alert">{{content?.errorLoadingPropertyDetails}}</div>
</div>
<div *ngIf="noAccess">
    <div class="alert alert-danger" role="alert">{{content?.noAccessToProperty}}</div>
</div>
