﻿
@{
    Layout = "~/Views/Shared/_ThirdParty.cshtml";
}

<script>
    var angWidgets = 'thirdpartyscopeselection';
</script>
@{string angWidgetsHtml = "<thirdpartyscopeselection></thirdpartyscopeselection>";}
<app></app>
<script>
   var angWidgetsHtml = '@angWidgetsHtml';
</script>