﻿@import 'bootstrap.scss';
@import 'variables';
@import 'mixins';
@import 'helpers';
@import 'global';
@import 'navbar';


/*   ======================
     PROGRESS BAR COMPONENT
     ======================    */

.progress-bar {
    background-color: $primary-color !important;
}

.progressBar {
    width: auto;
    clear: both;
    border-bottom: 0;
    padding: 0 15px;
}

.progressBar__message {
    height: 29px;
}

.progressBar__container {
    width: 100%;
}

.progressBar__container h2 {
    color: $gray-darker;
    font-weight: 700;
    font-size: 1em;
    padding: 0;
    //line-height: 2.1;
}

.progressBar__title {
    color: $gray;
    @extend .text-xs-center;
    @extend .text-ms-left;
    @extend .xs-mt-5;
    @extend .xs-mb-20;
}

.progressBar__bar-container {
    @extend .text-xs-center;
    @extend .xs-p-0;
}

.progress {
    font-size: $font-size-small;
    white-space: nowrap;
    margin: 10px 0 10px 0;
    height: 8px;
}

.progress-bar-custom {
    background: $primary-color;
}

#iws_pr_progress_bar .progressBar__bar {
    width: 200px;
}

.progressBar__completed {
    @extend .text-xs-center;
    @extend .xs-p-0;
    @extend .xs-mr-0;
    @extend .sm-mr-10;
    color: $gray-darker;
    line-height: 2;
}

.progressBar__completed-xs {
    @extend .text-xs-center;
    @extend .xs-p-0;
    @extend .xs-mr-0;
    @extend .xs-mt-20;
}

.progress-shell {
    @extend .text-xs-center;
}

// adding support for really big monitors
@media (min-width: $screen-lg) and (max-width: 3000px) {
    .visible-big-inline-block {
        display: inline-block !important;
    }
}

/* =============== Sort component ============ */
/* =========================================== */

.sort-component__links {
    display: table;
    height: 33px;
}

.insight-sort {
    display: table-cell;
    vertical-align: middle;
}

.insight-sort li {
    display: inline-block;
    border: none !important;
    font-size: 16px;
    padding: 0 7px;
    cursor: default;
    text-decoration: none;
}

.insight-sort li.list-action a:hover, .insight-sort li a {
    cursor: default;
    text-decoration: none;
    color: $primary-color;
}

.insight-sort li.mysort, .insight-sort li.mysort a {
    cursor: pointer;
    text-decoration: underline;
    color: $primary-color;
}

.insight-sort li.mysort:hover, .insight-sort li.mysort a:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* =========================== utility ========================= */
// the bar where widgets have icons or dropdowns
// with dotted line top, bottom



/* =============== utility ============ */
/* ==================================== */
.utility {
    border-top: 1px dotted $gray-light-mid;
    border-bottom: 1px dotted $gray-light-mid;
    margin-left: 15px;
    margin-right: 15px;
}

.u-icon-focus a {
    white-space: nowrap;
}

.utility-icons a.icon__electric:focus, .utility-icons a.icon__gas:focus, .utility-icons a.icon__water:focus, .utility-icons a.icon__table:focus, .utility-icons a.icon__graph:focus {
    border: 1px solid #d11717 !important;
    color: #d11717 !important;
    background-color: transparent;
}

.utility-icons a.icon__electric span.icon:focus, .utility-icons a.icon__gas span.icon:focus, .utility-icons a.icon__water span.icon:focus, .utility-icons a.icon__table span.icon:focus, .utility-icons a.icon__graph span.icon:focus {
    color: #990000 !important;
    background-color: transparent;
}

.utility-icons a.icon__electric span.icon:active, .utility-icons a.icon__gas span.icon:active, .utility-icons a.icon__water span.icon:active, .utility-icons a.icon__table span.icon:active, .utility-icons a.icon__graph span.icon:active {
    color: #990000 !important;
    background-color: transparent;
}



/*   ============================
     BUTTON COMPONENTS START HERE
     ============================    */




a.button-small {
    color: $gray-dark;
    background-color: $gray-light-mid;
    border-color: $gray-lighter;
    border: 0;
    font-weight: bold;
    font-size: .85em;
    padding: 3px 7px !important;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 5px;
}




/* give focus color */

button.btn.btn-default.dropdown-toggle {
    color: $gray-dark !important;
}

.btn-default:hover, .btn-default:focus {
    color: $gray-dark !important;
}


// DROP DOWN
// drop down buttons for forms
.dropdown-btn { // button variant for typical form drop-down
    @include button-variant(#fff, $primary-color, $primary-color);
    width: 100%;

    span {
        float: right;
    }
}

.dropdown-toggle:focus {
    outline: 0;
    border: 1px solid $brand-warning;
}

button b.Select {
    white-space: normal;
}

// ACTION BUTTON
// button variant for Save buttons etc
.action-btn {
    @include button-variant(#fff, $primary-color, $primary-color);
    padding-left: 30px;
    padding-right: 30px;
}

// SMALL BUTTON
// button variant for ways to save
.actions__buttons .button-small {
    @include button-variant($gray-dark, $gray-light-mid, $gray-lighter);
    border: 0;
    font-weight: bold;
    font-size: .85em;
    padding: 3px 7px;
    border-radius: $border-radius-base;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 5px;
}

.actions__buttons a:last-child {
    margin-bottom: 15px;
}


// icon and text after you click a ways to save small button
.action-added-todo, .action-completed {
    font-weight: bold;
    font-size: .85em;

    a {
        text-decoration: underline;
    }

    img {
        margin-right: 5px;
        margin-top: -2px;
    }
}

/* utility button - long profile */
.button-shell {
    display: table;
    margin-top: 30px; // use class in markup
    float: left; // use bs pull class
    margin-left: 0; // use class in markup
}





// toggle button
.toggle__btn a {
    font-size: $font-size-small;
    height: 28px;
    padding-top: 5px !important;
    padding-bottom: 3px !important;
    width: 80px;
    margin-left: 0;
    padding-left: 4px;
    padding-right: 0;
}

.toggle__btn {
    position: relative;
    right: 15px;
    top: 5px;
    display: table-cell;
    vertical-align: middle;
    //min-height: 46px;
    width: 80px;
}

.toggle__btn a span.icon {
    font-size: 10px;
    margin-left: 3px;
}

.toggle__btn a.btn:active, .toggle__btn a.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}




// light button on dark header background
// green button for example
.toggle__btn.toggle__lgt .btn-default {
    background-color: transparent;
    color: #fff;
    border: none;
    text-align: right;
    float: right;
}

.toggle__btn.toggle__lgt .btn:focus, .toggle__btn.toggle__lgt .btn:active, .toggle__btn.toggle__lgt .btn:hover {
    background-color: transparent;
    color: #faebcc !important;
    border: none;
    text-align: right;
    float: right;
}


// dark button on light header background
// when the header background is white or a light color
.toggle__btn.toggle__drk .btn-default {
    background-color: transparent;
    color: $gray;
    border: none;
    text-align: right;
    float: right;
}

.toggle__btn.toggle__drk .btn-default:focus, .toggle__btn.toggle__drk .btn-default:active {
    background-color: transparent;
    color: $gray !important;
    border: none;
    text-align: right;
    float: right;
}

.toggle__btn.toggle__drk .btn-default:hover {
    //background: rgba(54, 25, 25, .2);
    //background: rgba(54, 25, 25, .2);
}


/* ========== END 'button components'  ============= */
/* ================================================= */



/* ============== START 'pagination'  ================= */
/* ========= ways-to-save  and  bill history ========== */

.btn-block .pagination.pagination-block > li {
    display: inline-block;
}

.pagination {
    white-space: nowrap;
}

@media (max-width: $screen-xs-max) {
    .pagination {
        white-space: normal;
    }
}




// pager on long profile

.acl-pager {
    vertical-align: middle;
    margin-top: -1px;
    display: inline-block !important
}
