﻿@import 'variables';
@import 'mixins';
@import 'helpers';

// *ADJUST - breakpoint for upper nav below



html, body {
    height: 100%;
}

html {
    font-family: sans-serif;
    font-family: arial, verdana;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

a {
    color: $primary-color;
}

// changeing default warning colors
/*.alert-warning {
    background-color: #fff7cf;
    border-color: #ead2a0;
    color: #8a6d3b;
}*/

.cursor__pointer {
    cursor: pointer;
}



//  ios fix height

.iosHeight {
    height: 33px;
}


// break long words etc
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


///////  screen reader only   ////////
.sr-only, span.acl-access {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}



/////   Loader    ////
.acl-loader img {
    width: 80px;
    height: auto;
}

span.acl-access {
    display: none;
}

.acl-loader-text {
    text-align: center;
}

.acl-loader-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}






///  toggle ////

.acl-toggle {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
}


/// Back Links  ///
.footer__backlink a:before {
    padding-left: 0 !important;
    background: transparent !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    color: $footer-link;
    font-family: FontAwesome;
    content: "\f137";
    padding-right: 7px;
}

.footer__backlink :after {
    font-family: inherit;
    content: initial;
}

.footer__backlink {
    text-decoration: none;
    font-weight: bold;
    color: $footer-link;
    padding: 20px;
    background-color: $gray-light-background;
}

.footer__backlink a {
    text-decoration: none;
}

.footer__backlink a:hover {
    text-decoration: none;
    color: $gray-light;
}




/////   spinner   //////

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.klp-progress {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.klp-progress__txt {
    font-size: 16px;
    padding-left: 0.3125rem;
    text-align: center;
    font-weight: normal;
}

.klp-progress__spinner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-indent: 999em;
    overflow: hidden;
    width: 60px;
    height: 60px;
    animation: spin 1s infinite steps(12);
    margin: 10px auto 5px auto;

    &:before,
    &:after,
    > span:before,
    > span:after,
    > span > span:before,
    > span > span:after {
        content: '';
        position: absolute;
        top: 0;
        left: 27px; /* (container width - part width)/2  */
        width: 6px;
        height: 15px;
        border-radius: 3px;
        background: rgba(#000000, 0.16);
        box-shadow: 0 (60px - 15px) rgba(#000000, 0.16); /* container height - part height */
        transform-origin: 50% 30px; /* container height / 2 */
    }
}

.klp-progress__spinner:before {
    background: rgba(#000000, 1);
}

.klp-progress__spinner:after {
    transform: rotate(-30deg);
    background: rgba(#000000, 0.76);
}

.klp-progress__spinner > span:before {
    transform: rotate(-60deg);
    background: rgba(#000000, 0.64);
}

.klp-progress__spinner > span > span:before {
    transform: rotate(-90deg);
    background: rgba(#000000, 0.52);
}

.klp-progress__spinner > span:after {
    transform: rotate(-120deg);
    background: rgba(#000000, 0.40);
}

.klp-progress__spinner > span > span:after {
    transform: rotate(-150deg);
    background: rgba(#000000, 0.28);
}








/////////////////////////////////////////////////////////////
/* QA Core Global Overrides */



h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}







/* Special Mozilla */
a {
    outline: 0;
}

:focus, :hover {
    outline: none !important;
}

::-moz-focus-inner {
    border: 0 !important;
}

input::-moz-focus-inner {
    border: 0;
}



/* google fonts */
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
}



/* High Contrast  */


.high-contrast-test {
    background-image: url('../Images/high-contrast-checker.jpg'); /* image */
    background-repeat: no-repeat;
    width: 1px;
    height: 1px;
}


@media screen and (-ms-high-contrast: active) {
    .progress-bar {
        border: 1px #fff;
    }

    .progress {
        border: 1px solid #fff;
    }

    .progress .progress-bar {
        border: 1px solid #fff;
    }
}

html.high-contrast-mode .action-btn:focus, html.high-contrast-mode .button:focus, html.high-contrast-mode .btn:focus, html.high-contrast-mode .focus.btn, html.high-contrast-mode .btn:focus:active, html.high-contrast-mode .focus.btn:active, html.high-contrast-mode .active.btn:focus, html.high-contrast-mode .focus.active.btn, html.high-contrast-mode .utility-icons a:focus, html.high-contrast-mode .utility a:focus {
    border: 3px solid #000 !important;
    background-color: #000 !important;
    font-weight: bolder;
    outline: 3px solid #000;
}

html.high-contrast-mode .u-icon-focus a:focus {
    outline-offset: -4px !important;
    outline: 3px solid #333 !important;
}

html.high-contrast-mode .u-icon-focus a img:focus {
    outline: 1px dotted #000;
    border: 1px dotted #000;
}

html.high-contrast-mode .u-icon-focus a img:hover {
    outline: 1px dotted #000;
    border: 1px dotted #000;
}

html.high-contrast-mode  .tier   {
    outline: 1px solid  #000;
    border: 1px solid  #000;
}


html.high-contrast-mode .monthsdayshours button p, html.high-contrast-mode .monthsdayshours a {
    background-color: black;
    color: #fff;
}





html.high-contrast-mode button,
html.high-contrast-mode input,
html.high-contrast-mode textarea {
    border: 1px solid #000 !important;
}
// we had hid this in High Contrast which was a mistake - now showing
// html.high-contrast-mode #pie-chart { display: none; }
html.high-contrast-mode .panel-footer a {
    padding-right: 0 !important;
}

html.high-contrast-mode a {
    text-decoration: underline;
}

html.high-contrast-mode label.btn.btn-default.active {
    border: 1px solid #fff;
}

html.high-contrast-mode .list-group-item.list-action.mysort {
    text-decoration: underline;
}

html.high-contrast-mode #iws_as_todolist, html.high-contrast-mode #iws_as_completedlist {
    text-decoration: none;
}

html.high-contrast-mode .nav-tab-title {
    border: 1px solid #fff;
}

html.high-contrast-mode a {
    font-weight: normal;
    text-decoration: none;
}

html.high-contrast-mode a:focus, html.high-contrast-mode a.navbar-link:focus {
    font-weight: bold;
    text-decoration: underline;
}

#partialBrowserSupport.browser-support {
    background-color: #fff3df;
    border: 1px solid #fcd596;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 15px;
    margin-top: 20px;
    color: #666;
}

.list-group-item.footer {
    background-color: #EBEBEB !important;
    font-weight: 400;
}
/*.legend::before { display: none }*/













/* utility font icons  */

.utility-icons a.icon__electric, .utility-icons a.icon__gas, .utility-icons a.icon__water, .utility-icons a.icon__table, .utility-icons a.icon__graph {
    border: 1px solid #9a9a9a;
    padding: 4px 6px 3px 6px;
    color: #999;
}

// target text to the right of icon font
.utility-icons a.icon__electric span, .utility-icons a.icon__gas span, .utility-icons a.icon__water span {
    // font-family: Helvetica, Arial, sans-serif !important;
    color: $gray;
    text-transform: capitalize;
    letter-spacing: .05em;
    font-weight: normal;
    font-size: 14px;
}
// hover
.utility-icons a.icon__electric:hover, .utility-icons a.icon__gas:hover, .utility-icons a.icon__water:hover {
    border: 1px solid $gray;
    background-color: $gray-lighter;
    color: $gray !important;
}

.utility-icons a.btn.icon__electric:hover, .utility-icons a.btn.icon__gas:hover, .utility-icons a.btn.icon__water:hover {
    color: $gray !important;
}

.utility-icons a.btn.icon__electric span:hover, .utility-icons a.btn.icon__gas span:hover, .utility-icons a.btn.icon__water span:hover .utility-icons a.btn.icon__electric span:active, .utility-icons a.btn.icon__gas span:active, .utility-icons a.btn.icon__water span:active {
    color: $gray !important;
    display: inline-block;
}

//focus
.utility-icons a.icon__electric:focus, .utility-icons a.icon__gas:focus, .utility-icons a.icon__water:focus, .utility-icons a.icon__table:focus, .utility-icons a.icon__graph:focus {
    border: 1px solid $gray;
    background-color: $gray-lighter;
    color: $gray !important;
}

// Manual focus state programatically - red color
.utility-icons a.icon__electric.icon_focus, .utility-icons a.icon__gas.icon_focus,
.utility-icons a.icon__water.icon_focus, .utility-icons a.icon__table.icon_focus,
.utility-icons a.icon__graph.icon_focus {
    border: 1px solid $color-loud !important;
    color: $color-loud !important;
    background-color: transparent;
}
// Manual focus state programatically - NATURAL FOCUS
.utility-icons a.icon__electric.icon_focus:focus, .utility-icons a.icon__gas.icon_focus:focus,
.utility-icons a.icon__water.icon_focus:focus, .utility-icons a.icon__table.icon_focus:focus,
.utility-icons a.icon__graph.icon_focus:focus {
    border: 1px solid #d11717 !important;
    color: #d11717 !important;
    background-color: transparent;
}



.utility-icons a.icon__electric.icon_focus span, .utility-icons a.icon__gas.icon_focus span,
.utility-icons a.icon__water.icon_focus span, .utility-icons a.icon__table.icon_focus,
.utility-icons a.icon__graph.icon_focus {
    color: $color-loud !important;
}

// FOCUS - target text to the right of icon font
.utility-icons a.icon__electric span:focus, .utility-icons a.icon__gas span:focus,
.utility-icons a.icon__water span:focus {
    font-family: Helvetica, Arial, sans-serif !important;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}

// font icon - just the commodity not table/graph
.utility-icons .icon__electric span.icon, .utility-icons .icon__gas span.icon,
.utility-icons .icon__water span.icon {
    font-size: 18px;
}

.utility-icons span.icon { // font icon shared/all
    display: inline-block !important;
    margin: 0;
    font-size: 18px;
    vertical-align: text-bottom;
}












/*  font smoothing */
body {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}




// errors
.error, #iws_bc_ddl_lbl_error {
    color: $brand-danger !important;
    margin-top: 2px;
    margin-left: 5px;
}

.btn-error, .caret {
    border: 2px solid $brand-danger !important;
}
//.panel-error { display:table; text-align: center;width: 100%; margin-bottom: 25px !important}
//.panel-error > div  { border-radius: 4px;text-align: center;display:table-cell;vertical-align: middle ;font: normal 18px arial; color: #666; padding: 20px 20px 25px 20px; background-color: #fbfbfb; letter-spacing: .02em;}

//.panel-no-matching { display:table; text-align: center;width: 100%;border: none;box-shadow: none;font: normal 18px arial; color: #b0b0b0;}
//.panel-no-matching > div  { margin:0;border:0;display:table; text-align: center;width: 100%;display: table-cell;vertical-align: middle;}

.error-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}



// audio
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

@media aural {
    abbr.spell {
        speak: spell-out;
    }

    abbr.speak {
        speak: normal;
    }

    acronym.spell {
        speak: spell-out;
    }

    acronym.speak {
        speak: normal;
    }

    strong {
        pitch-range: 80;
        stress: 80;
        richness: 80;
    }
}




// make items in a drop down clickable 100% in width
li a {
    width: 100%;
}


// caption in long/energy profile
.thumbnail .caption {
    padding: 15px 15px 10px !important;
}

.panel {
    border: 1px solid #ddd;
    border-radius: 0;
    -moz-box-shadow: 5px 4px 8px 0 #ccc;
    -webkit-box-shadow: 5px 4px 8px 0 #ccc;
    box-shadow: 5px 4px 8px 0 #ccc;
}

/*  no shadow  */
#iws_panel_div {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 20px;
    width: auto;
    line-height: 148%;
    padding: 12px !important;
}

.no-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}




// Not applicable txt component
.not-applicable {
    margin-bottom: 5px;
}





// for charts
.circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    //background-color: #2488D4;
    margin-right: 3px;
    display: inline-block;
}

// accessability
.nav > li > a:hover [role="button"][aria-pressed="true"], .nav > li > a:focus, [role="button"][aria-pressed="true"] {
    outline: dotted 1px #eaeaea;
}


// loader
.loader {
    display: table;
    text-align: center;
    width: 100%;
}

.loader > div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.loader p {
    font: normal 16px arial;
    letter-spacing: 1px;
}



// Yuk - figure this out in Highcharts
#iws_bc_chart .highcharts-yaxis-title {
    display: none;
}







// Default Theme  -theme-
.panel-class {
    @include panel-variant(#d01919, #1cf21c, #000000, #bad017);
}

.panel-body {
    margin-bottom: 15px;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #ddd;
    border-bottom: none;
}

h1.panel-title, .panel-content h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    color: #CD771D !important;
    margin-bottom: 0;
    font-size: 28px !important;
    text-align: left;
    margin: 7px 0 9px 0;
    font-weight: 400 !important;
}

.sub-title {
}

.navbar-default {
    //font-family: 'Yanone Kaffeesatz',sans-serif!important;
    // font-size: 24px;
}


/*Overriding Bootstrap*/
.dropdown-menu > li > a {
    white-space: normal;
}





// HR
hr.dotted {
    clear: both;
    margin-left: 15px;
    margin-right: 15px;
}

// footer
.panel-footer {
    margin: 0;
    padding: 15px;
}

.panel-footer div {
    padding: 0;
    margin: 0;
}



/* ============================================== */
/* ============ footer styles global ============ */
/* ============================================== */


.footerlink {
    padding: 0;
    margin: 0;
    text-align: right;
}

.footertext {
    font-size: $font-size-small;
    line-height: 140%;
    padding: 0;
    color: $gray-dark;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: normal;
}

.footerlink a, .panel-footer a {
    text-decoration: none;
    font-weight: bold;
    color: $footer-link;
}

.footerlink a:after, .panel-footer a:after {
    padding-right: 0 !important;
    background: transparent !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    color: $footer-link;
    font-family: FontAwesome;
    content: "\f138";
    padding-left: 7px;
}

.footerlink a:hover, .panel-footer a:hover {
    text-decoration: none;
    font-weight: bold;
    color: $footer-link;
}

/* external links */
.footerlink a[href*="//"], .panel-footer a[href*="//"], .quick-links a[href*="//"] {
    padding-right: 0 !important;
    background: none !important;
    color: $footer-link;
}

.footerlink a[href*="//"]:after, .panel-footer a[href*="//"]:after, .quick-links a[href*="//"]:after {
    padding-right: 0 !important;
    background: transparent !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    color: $footer-link;
    font-family: FontAwesome;
    content: "\f08e";
    padding-left: 7px;
}

.quick-links a[href*="//"] {
    color: #4d4d4d;
}

.quick-links a[href*="//"]:after {
    color: #4d4d4d;
}

.intro-text {
    margin-bottom: $line-height-computed;
    font-size: floor(($font-size-base * 1));
    font-weight: 300;
    line-height: 1.4;
}

.alert {
    margin: 20px;
}





/*   =========================================================
            PRIMARY UPPER NAV STARTS HERE  -  SITE WIDE
     =========================================================   */

// *ADJUST - breakpoint for upper nav -
// $tweekpoint-nav is sm, then in the client-00.scss we need @media (min-width: $screen-xs) and (max-width: $screen-ms-max)  - etc.

$tweekpoint-nav: $screen-sm;
$grid-float-breakpoint: $tweekpoint-nav;



.navbar-header {
    @media (min-width: $grid-float-breakpoint) {
        float: left;
    }
}

.navbar {
    @media (min-width: $grid-float-breakpoint) {
        border-radius: $navbar-border-radius;
    }
}

.navbar-nav {
    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {
        float: left;
        margin: 0;

        > li {
            float: left;

            > a {
                padding-top: $navbar-padding-vertical;
                padding-bottom: $navbar-padding-vertical;
            }
        }
    }
}

.navbar-text {
    @media (min-width: $grid-float-breakpoint) {
        float: left;
        margin-left: $navbar-padding-horizontal;
        margin-right: $navbar-padding-horizontal;
    }
}

@media (min-width: $grid-float-breakpoint) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
        margin-right: -$navbar-padding-horizontal;

        ~ .navbar-right {
            margin-right: 0;
        }
    }
}

.container,
.container-fluid {
    > .navbar-header,
    > .navbar-collapse {
        margin-right: -$navbar-padding-horizontal;
        margin-left: -$navbar-padding-horizontal;

        @media (min-width: $grid-float-breakpoint) {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.navbar-collapse {
    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0; // Override default setting
            overflow: visible !important;
        }

        &.in {
            overflow-y: visible;
        }
        // Undo the collapse side padding for navbars with containers to ensure
        // alignment of right-aligned contents.
        .navbar-fixed-top &,
        .navbar-static-top &,
        .navbar-fixed-bottom & {
            padding-left: 0;
            padding-right: 0;
        }
    }
}





// ommiting padding on left/right for other than mobile

@media(min-width: 0 ) and (max-width: $screen-xs ) {
    #myItems_listbox li a.navbar-link {
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
}

@media(min-width: $screen-ms-max) {
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}







/*   ===========================================================================
     SECONDARY PILL NAV STARTS HERE  (glossy buttons)  -  Billing and My Savings
     ===========================================================================   */


.nav-pills > li > a.navbar-link {
    display: block;
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-image: -webkit-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
    background-image: -moz-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
    background-image: -ms-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
    background-image: -o-linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
    background-image: linear-gradient(bottom, #ccc 50%, #c2c2c2 49%, #c2c2c2 50%, #c2c2c2 100%);
}

.nav-pills > li > a.active {
    content: '';
    position: absolute;
    height: 400px;
    width: 20px;
    background: white;
    top: -80px;
    left: -20px;
    display: block;
    opacity: 0.8;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav-pills > li > a.navbar-link:hover {
    -webkit-box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 10px 0 rgba(255,255,255,.4), 0 3px 3px 0 rgba(0,0,0,0.4);
}

.nav-pills > li.active > a.navbar-link {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pills.nav {
    margin-bottom: 0;
    padding-bottom: 7px;
}

.pills.nav-pills > li > a {
    border-radius: 24px;
    font-weight: 500;
    color: #4f4f4f;
}

.pills.nav > li > a {
    padding: 3px 6px 3px;
    text-align: center;
    font-weight: bold;
    background-color: #ccc;
    border-radius: 0;
}

// glossy seconday navs in mobile view  -theme-

@media(max-width: $screen-xs-max) {
    .pills.nav > li {
        width: 100%;
        display: block;
    }

    .pills.nav > li > a {
        width: 100%;
        margin-bottom: 5px;
    }

    .nav-pills > li + li {
        margin-left: 0;
    }
}



.pills.nav-pills > li.active > a {
    padding: 2px 6px 2px;
    color: $primary-color;
    font-weight: bold;
    background-color: Transparent;
    text-align: center;
    border: 1px solid $primary-color;
}


.nav-pills > li > a.active, .nav-pills > li > a {
    float: left;
    margin: 0 8px;
    font-size: 12px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #666;
}

.nav-pills > li > a.active:first-child, .nav-pills > li > a:first-child {
    margin-left: 0;
}



/*   =======================
     ICON NAVBAR STARTS HERE
     =======================    */

/* make each button equal in width */

.nav.navbar-nav > li.menu-icon {
    float: none;
}


nav.navbar-icons {
    border: none !important;
    // border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
}

ul.nav-icons {
    margin: 0;
    display: table;
    width: 100%;
    font-weight: normal;
    min-height: 50px;
    padding: 0;
    list-style: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
// double check on what we want this to be
li.menu-icon.active {
    background-color: transparent; // secondary color
}

li.menu-icon {
    display: table-cell;
    margin: 0;
    float: none;
    text-align: center;
    border-right: 1px solid $gray-light-mid;
    border-bottom: 1px solid $gray-light-mid;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

li.menu-icon:last-child {
    border-right: none;
}

li.menu-icon a {
    font-size: 12px;
}

.menu-icon span.icon {
    display: block;
}


// Change when icon/text goes to collapsed menu  -theme-
// This is for both the Energy Profile AND Ways to Save icon navs.
// If you need a different breakpoint for Ways to Save, adjust the code below this block.

@media (max-width: $screen-sm) {
    nav.navbar-icons {
        display: block;
    }

    .menu-icon span.icon {
        display: none;
    }

    li.menu-icon {
        display: block;
        border-bottom: 1px solid #ddd;
    }

    .menu-icon span.icon {
        display: none;
        margin-right: 5px;
    }
}




// Ways to Save icon nav only
// Change when icon/text goes to collapsed menu  -theme-
// this is for Ways to Save.... only if the above code does not work well enough.

@media (max-width: $screen-sm) {
    nav.navbar-icons.waystosave-icons {
        display: block;
    }
}

/* END  Icon Navbar */






// default
.nav-tabs > li.active {
    background-color: $primary-color;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: $gray-darker;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a {
    text-align: center;
    color: #fff;
    border: none;
    margin: 0;
}

// no radius
.nav-tabs > li > a:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border: none;
}

.nav-tabs > li > a:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


/* =============== Full width Tabs  ================ */
// mave as little or as many tabs, they will adjust to full width


// make 100% width
// stadard default tabs
.full-width-tabs .nav-tabs {
    display: table;
    width: 100%;
}

.full-width-tabs .nav-tabs > li {
    float: none;
    display: table-cell;
    background-color: $gray;
    font-weight: bold;
}

.full-width-tabs .nav > li > a:hover, .full-width-tabs .nav > li > a:focus {
    background-color: $gray-darker;
}











// Bootstrap Over-rides

h5.form-item-label { // labels above form fields, drop-downs mostly in profile
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: 5px;
}

h2.form-item-title {
    padding: 0 0 15px 0;
}

h5.thumb-item-label { // label under thumb on long profile
    font-weight: 700;
}


/* Navigation */
.pagination > li > a {
    background-color: #fff;
    border: none;
}

.pagination > li > a:hover {
    background-color: transparent;
}

/* Form Over-rides
.form-group {
    margin-bottom: 30px;
} */

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    background-color: #ddd;
    cursor: default;
    color: $gray;
    border-radius: 50%;
}

.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: #fff;
}








.col-xs-1, .col-ms-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-ms-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-ms-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-ms-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-ms-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-ms-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-ms-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-ms-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-ms-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-ms-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-ms-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-ms-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: $screen-xs-max) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }

    .col-xs-1 {
        width: 8.33333%;
    }

    .col-xs-2 {
        width: 16.66667%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33333%;
    }

    .col-xs-5 {
        width: 41.66667%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33333%;
    }

    .col-xs-8 {
        width: 66.66667%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33333%;
    }

    .col-xs-11 {
        width: 91.66667%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-pull-0 {
        right: auto;
    }

    .col-xs-pull-1 {
        right: 8.33333%;
    }

    .col-xs-pull-2 {
        right: 16.66667%;
    }

    .col-xs-pull-3 {
        right: 25%;
    }

    .col-xs-pull-4 {
        right: 33.33333%;
    }

    .col-xs-pull-5 {
        right: 41.66667%;
    }

    .col-xs-pull-6 {
        right: 50%;
    }

    .col-xs-pull-7 {
        right: 58.33333%;
    }

    .col-xs-pull-8 {
        right: 66.66667%;
    }

    .col-xs-pull-9 {
        right: 75%;
    }

    .col-xs-pull-10 {
        right: 83.33333%;
    }

    .col-xs-pull-11 {
        right: 91.66667%;
    }

    .col-xs-pull-12 {
        right: 100%;
    }

    .col-xs-push-0 {
        left: auto;
    }

    .col-xs-push-1 {
        left: 8.33333%;
    }

    .col-xs-push-2 {
        left: 16.66667%;
    }

    .col-xs-push-3 {
        left: 25%;
    }

    .col-xs-push-4 {
        left: 33.33333%;
    }

    .col-xs-push-5 {
        left: 41.66667%;
    }

    .col-xs-push-6 {
        left: 50%;
    }

    .col-xs-push-7 {
        left: 58.33333%;
    }

    .col-xs-push-8 {
        left: 66.66667%;
    }

    .col-xs-push-9 {
        left: 75%;
    }

    .col-xs-push-10 {
        left: 83.33333%;
    }

    .col-xs-push-11 {
        left: 91.66667%;
    }

    .col-xs-push-12 {
        left: 100%;
    }

    .col-xs-offset-0 {
        margin-left: 0%;
    }

    .col-xs-offset-1 {
        margin-left: 8.33333%;
    }

    .col-xs-offset-2 {
        margin-left: 16.66667%;
    }

    .col-xs-offset-3 {
        margin-left: 25%;
    }

    .col-xs-offset-4 {
        margin-left: 33.33333%;
    }

    .col-xs-offset-5 {
        margin-left: 41.66667%;
    }

    .col-xs-offset-6 {
        margin-left: 50%;
    }

    .col-xs-offset-7 {
        margin-left: 58.33333%;
    }

    .col-xs-offset-8 {
        margin-left: 66.66667%;
    }

    .col-xs-offset-9 {
        margin-left: 75%;
    }

    .col-xs-offset-10 {
        margin-left: 83.33333%;
    }

    .col-xs-offset-11 {
        margin-left: 91.66667%;
    }

    .col-xs-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: $screen-ms) {
    .col-ms-1, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9, .col-ms-10, .col-ms-11, .col-ms-12 {
        float: left;
    }

    .col-ms-1 {
        width: 8.33333%;
    }

    .col-ms-2 {
        width: 16.66667%;
    }

    .col-ms-3 {
        width: 25%;
    }

    .col-ms-4 {
        width: 33.33333%;
    }

    .col-ms-5 {
        width: 41.66667%;
    }

    .col-ms-6 {
        width: 50%;
    }

    .col-ms-7 {
        width: 58.33333%;
    }

    .col-ms-8 {
        width: 66.66667%;
    }

    .col-ms-9 {
        width: 75%;
    }

    .col-ms-10 {
        width: 83.33333%;
    }

    .col-ms-11 {
        width: 91.66667%;
    }

    .col-ms-12 {
        width: 100%;
    }

    .col-ms-pull-0 {
        right: auto;
    }

    .col-ms-pull-1 {
        right: 8.33333%;
    }

    .col-ms-pull-2 {
        right: 16.66667%;
    }

    .col-ms-pull-3 {
        right: 25%;
    }

    .col-ms-pull-4 {
        right: 33.33333%;
    }

    .col-ms-pull-5 {
        right: 41.66667%;
    }

    .col-ms-pull-6 {
        right: 50%;
    }

    .col-ms-pull-7 {
        right: 58.33333%;
    }

    .col-ms-pull-8 {
        right: 66.66667%;
    }

    .col-ms-pull-9 {
        right: 75%;
    }

    .col-ms-pull-10 {
        right: 83.33333%;
    }

    .col-ms-pull-11 {
        right: 91.66667%;
    }

    .col-ms-pull-12 {
        right: 100%;
    }

    .col-ms-push-0 {
        left: auto;
    }

    .col-ms-push-1 {
        left: 8.33333%;
    }

    .col-ms-push-2 {
        left: 16.66667%;
    }

    .col-ms-push-3 {
        left: 25%;
    }

    .col-ms-push-4 {
        left: 33.33333%;
    }

    .col-ms-push-5 {
        left: 41.66667%;
    }

    .col-ms-push-6 {
        left: 50%;
    }

    .col-ms-push-7 {
        left: 58.33333%;
    }

    .col-ms-push-8 {
        left: 66.66667%;
    }

    .col-ms-push-9 {
        left: 75%;
    }

    .col-ms-push-10 {
        left: 83.33333%;
    }

    .col-ms-push-11 {
        left: 91.66667%;
    }

    .col-ms-push-12 {
        left: 100%;
    }

    .col-ms-offset-0 {
        margin-left: 0%;
    }

    .col-ms-offset-1 {
        margin-left: 8.33333%;
    }

    .col-ms-offset-2 {
        margin-left: 16.66667%;
    }

    .col-ms-offset-3 {
        margin-left: 25%;
    }

    .col-ms-offset-4 {
        margin-left: 33.33333%;
    }

    .col-ms-offset-5 {
        margin-left: 41.66667%;
    }

    .col-ms-offset-6 {
        margin-left: 50%;
    }

    .col-ms-offset-7 {
        margin-left: 58.33333%;
    }

    .col-ms-offset-8 {
        margin-left: 66.66667%;
    }

    .col-ms-offset-9 {
        margin-left: 75%;
    }

    .col-ms-offset-10 {
        margin-left: 83.33333%;
    }

    .col-ms-offset-11 {
        margin-left: 91.66667%;
    }

    .col-ms-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: $screen-sm) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-1 {
        width: 8.33333%;
    }

    .col-sm-2 {
        width: 16.66667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333%;
    }

    .col-sm-5 {
        width: 41.66667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333%;
    }

    .col-sm-8 {
        width: 66.66667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    .col-sm-11 {
        width: 91.66667%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-pull-1 {
        right: 8.33333%;
    }

    .col-sm-pull-2 {
        right: 16.66667%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-4 {
        right: 33.33333%;
    }

    .col-sm-pull-5 {
        right: 41.66667%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-7 {
        right: 58.33333%;
    }

    .col-sm-pull-8 {
        right: 66.66667%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-10 {
        right: 83.33333%;
    }

    .col-sm-pull-11 {
        right: 91.66667%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-push-1 {
        left: 8.33333%;
    }

    .col-sm-push-2 {
        left: 16.66667%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-4 {
        left: 33.33333%;
    }

    .col-sm-push-5 {
        left: 41.66667%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-7 {
        left: 58.33333%;
    }

    .col-sm-push-8 {
        left: 66.66667%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-10 {
        left: 83.33333%;
    }

    .col-sm-push-11 {
        left: 91.66667%;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66667%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66667%;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: $screen-md) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-1 {
        width: 8.33333%;
    }

    .col-md-2 {
        width: 16.66667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-5 {
        width: 41.66667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-8 {
        width: 66.66667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333%;
    }

    .col-md-11 {
        width: 91.66667%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-pull-1 {
        right: 8.33333%;
    }

    .col-md-pull-2 {
        right: 16.66667%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-4 {
        right: 33.33333%;
    }

    .col-md-pull-5 {
        right: 41.66667%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-7 {
        right: 58.33333%;
    }

    .col-md-pull-8 {
        right: 66.66667%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-10 {
        right: 83.33333%;
    }

    .col-md-pull-11 {
        right: 91.66667%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-push-1 {
        left: 8.33333%;
    }

    .col-md-push-2 {
        left: 16.66667%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-4 {
        left: 33.33333%;
    }

    .col-md-push-5 {
        left: 41.66667%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-7 {
        left: 58.33333%;
    }

    .col-md-push-8 {
        left: 66.66667%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-10 {
        left: 83.33333%;
    }

    .col-md-push-11 {
        left: 91.66667%;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333%;
    }

    .col-md-offset-2 {
        margin-left: 16.66667%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333%;
    }

    .col-md-offset-5 {
        margin-left: 41.66667%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333%;
    }

    .col-md-offset-8 {
        margin-left: 66.66667%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333%;
    }

    .col-md-offset-11 {
        margin-left: 91.66667%;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: $screen-lg) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-1 {
        width: 8.33333%;
    }

    .col-lg-2 {
        width: 16.66667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33333%;
    }

    .col-lg-5 {
        width: 41.66667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33333%;
    }

    .col-lg-8 {
        width: 66.66667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33333%;
    }

    .col-lg-11 {
        width: 91.66667%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-pull-1 {
        right: 8.33333%;
    }

    .col-lg-pull-2 {
        right: 16.66667%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-4 {
        right: 33.33333%;
    }

    .col-lg-pull-5 {
        right: 41.66667%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-7 {
        right: 58.33333%;
    }

    .col-lg-pull-8 {
        right: 66.66667%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-10 {
        right: 83.33333%;
    }

    .col-lg-pull-11 {
        right: 91.66667%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-push-1 {
        left: 8.33333%;
    }

    .col-lg-push-2 {
        left: 16.66667%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-4 {
        left: 33.33333%;
    }

    .col-lg-push-5 {
        left: 41.66667%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-7 {
        left: 58.33333%;
    }

    .col-lg-push-8 {
        left: 66.66667%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-10 {
        left: 83.33333%;
    }

    .col-lg-push-11 {
        left: 91.66667%;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66667%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66667%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66667%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66667%;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }
}
