﻿@import 'variables';
@import 'helpers';
/*@import 'global';
@import 'navbar';
@import 'mixins';*/


/*==========  variables ===========*/
$primary-color: #0076BE;
$secondary-color: #003768;


/*Font for Client Avista*/
@font-face {
    font-family: 'Frutiger';
    src: url('../Fonts/FrutigerLTPro-Roman.woff2') format('woff2'), url('../Fonts/FrutigerLTPro-Roman.woff') format('woff'), url('../Fonts/FrutigerLTPro-Roman.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Italic';
    src: url('../Fonts/FrutigerLTPro-Italic.woff2') format('woff2'), url('../Fonts/FrutigerLTPro-Italic.woff') format('woff'), url('../Fonts/FrutigerLTPro-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url('../Fonts/FrutigerLTPro-Bold.woff2') format('woff2'), url('../Fonts/FrutigerLTPro-Bold.woff') format('woff'), url('../Fonts/FrutigerLTPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Frutiger", "Frutiger" !important;
    font-size: 16px !important;
}

/*Main Nav Styling*/
.acl-topnav {
    font-family: Frutiger, sans-serif !important;
    font-size: 16px;
    background-color: $primary-color !important; // background of whole upper nav
    border: 0px solid transparent;
    border-bottom: 10px solid $secondary-color;
    color: $label-color !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    /*border-color: transparent !important; // border of whole upper nav*/
    .nav.acl-nav {
        background-color: transparent !important; // background of li on state
        color: $label-color !important;
        font-weight: normal;

        & > .active > a {
            background-color: $secondary-color !important; // background of li on state
            color: $label-color !important;

            &:hover, &:focus {
                background-color: $secondary-color !important; // background of li on state
                color: $label-color !important;
            }
        }

        a {
            color: $label-color !important;
            /*This to be moved to the media query*/
            /*min-width: 285px;
            text-align: center;*/
            &:hover, &:focus {
                background-color: $secondary-color !important; // background of li on state
                color: $label-color !important;
            }
        }
    }
}

/*Sub Nav Styling*/

.progress-bar-home-long {
    font-family: "Frutiger", sans-serif;

    nav.navbar-icons {
        .menu-icon {
            border: 0px solid transparent !important;
        }

        .nav-icons {
            & > .active > a {
                color: #060606 !important;
                background-color: $label-color !important;
                border-top: 1px solid #ddd;

                &:hover, &:focus {
                    background-color: transparent;
                    outline: none;
                    color: #060606 !important;
                }
            }

            a {
                color: $label-color !important;
                background: #1c425b;


                &:hover, &:focus {
                    /*background-color: rgba(6, 6, 6, 0.89);*/
                    background-color: rgba(30, 41, 90, 0.82);
                    outline: none;
                    color: $label-color !important;
                }
            }
        }
    }
}

.waystosave-icons {
    .nav-icons {
        .menu-icon {
            border: 0px solid transparent !important;
        }

        .active > a {
            color: #060606 !important;
            background-color: $label-color !important;

            &:hover, &:focus {
                background-color: $label-color !important;
                outline: none;
                color: #060606 !important;
            }
        }

        a {
            color: $label-color !important;
            background: #1c425b;


            &:hover, &:focus {
                /*background-color: rgba(6, 6, 6, 0.89);*/
                background-color: rgba(30, 41, 90, 0.82) !important;
                outline: none;
                color: $label-color !important;
            }

            &:active {
                color: #060606 !important;
                background-color: $label-color !important;
            }
        }
    }
}


/*Avista Custom Stylings*/
.action-btn {
    background-color: $primary-color;
    border: 2px solid $label-color;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 0px;
    font-family: Frutiger, sans-serif;

    &:hover,
    &:focus,
    &:active {
        background-color: $secondary-color;
        color: $label-color;
        border: 2px $label-color solid;
    }

    &.notification-detail__button--link {
        padding: 12px 5px !important;
        font-size: 15px;
    }

    &.dropdown-toggle {
        &.deep-link-highlight {
            font-family: Frutiger Bold, sans-serif !important;
        }
    }
}

.actions__buttons {
    .button-small {
        font-weight: normal !important;
        background: $label-color;
        border: 1px solid $primary-color;
        color: $primary-color;
        border-radius: 0px;
        padding: 5px 10px !important;
        margin-right: 5px;

        &:hover {
            background: $secondary-color;
            border-color: $secondary-color;
            color: $label-color;
            text-decoration: none;
        }
    }
}

.actions__message,
.actionplan__message {
    .actions__title a,
    .actionplan__title,
    .actionplan__title a {
        font-weight: normal !important;
        color: $gray-base;
    }
}

.actions__value,
.actionplan__value {
    color: $primary-color;
}

.setgoal__amount span {
    font-weight: normal;
}

.panel {
    border: 1px solid #ddd !important;

    &.promo {
        border: 0px solid #ddd !important;
    }
    /*&.radius {
        border-top: 0px solid #ddd !important;
    }*/
    &.greenbutton {
        border: 0px solid #ddd !important;

        > :nth-child(2) {
            border: 1px solid #ddd !important;
        }
    }

    &.panel-default {
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border: 0;
        box-shadow: none;
        /*border-top: 0px solid transparent !important;*/
    }
}


h1.panel-title, .panel-content h1,
h1[role="presentation"] {
    font-family: "Frutiger Bold", "Frutiger", sans-serif !important;
    font-weight: 700 !important;
    color: $gray-darker !important;
}



/*Form stylings*/

.btn.btn-default.dropdown-toggle,
.btn.dropdown-btn.dropdown-toggle {
    position: relative;
    border-radius: 0px !important;
    font-family: "Frutiger", "Frutiger", sans-serif;
    color: $gray-base;

    &:focus, {
        outline: none;
        border: 1px solid #4D90FE;
        -webkit-box-shadow: 0px 0px 5px #4D90FE;
        box-shadow: 0px 0px 5px #4D90FE;
    }

    span {
        height: 33px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: -1px;
        width: 33px;
        background: url("../Clients/210/Images/bg-select-secondary.png") -3px 0px;

        img {
            display: none;
        }
    }
}

/*Radio Button Styling*/
/*.btn.btn-default.right {
    border-radius: 0px;

    &.active,
    &:hover {
        background: $primary-color;
        color: $label-color;
        border: 1px solid $primary-color;
    }
}*/


.btn.dropdown-btn.dropdown-toggle {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $label-color !important;
}

/*Cheat Code to be removed*/

.blue-shade {
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(62, 139, 187, 0.76);
    background-color: $primary-color;
    opacity: 0.55;*/
}

/*Cheat Code to be removed--end*/



@media screen and (min-width: $screen-sm-max) {
    .nav.acl-nav {
        width: 100%;

        li {
            min-width: 16.65%;
            text-align: center;
        }
    }

    /*.navbar-collapse {
        &.collapse {
            overflow: hidden !important;
        }
    }*/
    /*.acl-nav li:first-child > a*/
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {

    .navbar-default {
        .navbar-toggle {
            background: $secondary-color;
            border: 1px solid $secondary-color !important;
            margin-right: 8px;

            .icon-bar {
                background-color: $label-color !important;
            }

            &:hover,
            &:focus {
                background: $secondary-color !important;
                border: 1px solid $secondary-color !important;
            }

            &:hover {
                .icon-bar {
                    background-color: $primary-color !important;
                }
            }
        }



        .navbar-nav {
            margin: 0px;
        }

        .navbar-collapse {
            border-top: 0px solid transparent;
        }
    }
}


/*Fix for the buttons in notification detail*/
@media screen and (min-width: $screen-xs-max) {
    .notification-detail__button--link {
        width: 150px;
    }
}

/*Fix for Pie Chart Table Alignment*/
@media screen and (min-width: $screen-sm-max) {
    .table-condensed {
        &.table-responsive div {
            table {
                width: 80% !important;
                max-width: 80% !important;
                float: right;
            }
        }
    }

    .billCycle__piechart {
        z-index: 9;
    }
}

@media screen and (min-width: $screen-xs-max) and (max-width:$screen-ms-max) {
    .actions__buttons {
        .button-small {
            display: block !important;
        }
    }
}

/*Fix for Nav icon tabs*/
@media (max-width: $screen-sm-max) {
    nav.navbar-icons {
        display: block;
    }

    li.menu-icon {
        display: block;
        border-bottom: 1px solid #ddd;
    }

    .menu-icon span.icon {
        display: none;
        margin-right: 5px;
    }
}


/*Radio Button Styling*/
.btn.btn-default.right {
    border: 0px solid transparent;
    background: transparent;
    background-image: url('../Clients/210/Images/Radio_UnChecked.png');
    background-repeat: no-repeat;
    background-position: 0px 7px;
    padding-left: 25px;
    margin-right: 15px;

    &.active,
    &:hover {
        /*background: transparent;*/
        border: 0px solid transparent;
        color: $gray-dark !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &.active {
        background-image: url('../Clients/210/Images/Radio_Checked.png');
        background-repeat: no-repeat;
    }
}

/*Validations for Forms*/
.just-letting-you-know {
    background: url(~/Content/Clients/210/Images/Icon-check-green.png) no-repeat 0px 1px;
    padding-left: 25px;
    color: $gray-base;
    font-family: "Frutiger", "Frutiger", sans-serif !important;
}

/*Font size, color,weight and family modification as per client site*/
.required {
    color: #d9534f;
}

/*.highcharts-series {
    &.highcharts-tracker {
        rect {
            fill: #00c5ff !important;
        }
    }
}*/


strong, b,
.form-item-label, .footerlink,
.progressBar__title {
    font-family: Frutiger Bold, sans-serif !important;
    font-weight: normal !important;
}

a, a:hover, a:focus {
    color: $primary-color;
}

.thumb-item-label {
    font-size: 16px;
    font-family: Frutiger Bold, sans-serif !important;
    font-weight: normal !important;
}



.panel-body {
    h3 {
        font-size: 16px;
        line-height: 20px;
    }
}

.savings-options-edit {
    width: 100%;

    .radio_block {
        input[type = "radio"] {
            opacity: 0;
            margin-left: 7px;
            margin-top: 6px;
        }

        input[type = "radio"] + .setgoalRadio_label {
            background: url('../Clients/210/Images/Radio_UnChecked.png') no-repeat 0px 3px;
            padding-left: 25px !important;
        }

        input[type = "radio"]:checked + .setgoalRadio_label {
            background: url('../Clients/210/Images/Radio_Checked.png') no-repeat 0px 3px !important;
            padding-left: 25px !important;
        }
    }
}


ul.pills {
    &.nav-pills {
        padding: 20px 20px 10px 17px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;

        > li {
            > a {
                padding: 15px;
                font-size: 14px;
                font-weight: normal;
                border: 1px solid #ccc;
            }

            &.active {
                > a {
                    padding: 15px;
                    font-weight: normal;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

/* These changes are temporary - we need to undo them when we add a configuration option */

/* Hide action buttons for ways-to-save which is also on dashboard */
.actions__message--title .actions__buttons {
    display: none;
}
/* Ways to Save - Hide My Plan links from the Action Details page */
.detail-shell .actions__buttons {
    display: none;
}

/* Hide the links at the top of ways-to-save */
.sort-component__links {
    display: none;
}




/*Energy Profile*/
.shortProfile {
    min-height: 550px;

    .progressBar__title {
        font-size: 1.15em;
        font-weight: bold !important;
    }

    .markdown {
        margin-top: 20px;
        //width: 50%;
        line-height: 35px;

        &.dv-external-links {

            p {
                width: 58%;
                text-align: justify;
                position: relative;

                img[alt="AvistaCompleteCheckmark"] {
                    float: left;
                    margin: 20px 20px 20px 0px;
                }

                img[alt="AvistaToutCommercial"],
                img[alt="AvistaToutResidential"] {
                    float: right;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    padding: 4px;
                    min-width: 68%;
                    max-width: 68%;
                    max-height: 374px;
                    position: absolute;
                    top: -40px;
                    right: -72%;
                }
            }
        }
    }
}


@media (min-width: $screen-xs-min) and (max-width: $screen-ms-min) {
    .shortProfile {
        .markdown {
            // width: 50%;
            &.dv-external-links p {
                width: 100%;
                position: static;

                img[alt="AvistaToutCommercial"],
                img[alt="AvistaToutResidential"] {
                    float: left;
                    margin-top: 20px;
                    min-width: 100%;
                    max-width: 100%;
                    top: 0px;
                    right: 0px;
                    position: static;
                }
            }
        }
    }
}

.progress-shell {
    .progress {
        .progress-bar[aria-valuenow="100%"] {
            // background-color: #8abb4e !important;
            background-color: #82c341 !important;
        }
    }
}

/*Billed usage chart tabular view Font Change*/
.panel-bill-usage {
    .table a {
        color: $gray-dark;
        text-decoration: none;
        cursor: default;
    }
}


.utility-icons {
    a {
        &.icon__electric,
        &.icon__gas,
        &.icon__water,
        &.icon__table,
        &.icon__graph {
            span {
                &:focus, &:hover, &:active {
                    text-transform: capitalize !important;
                }
            }

            &.icon_focus span {
                &:focus, &:hover, &:active {
                    text-transform: capitalize !important;
                }
            }
        }
    }
}

.table-responsive {
    td[role="rowheader"] {
        width: 20%;
    }

    td[role="gridcell"] {
        width: 40%;
    }
}

/*Border for top most widgets in Avista*/
.container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;

    .panel.panel-default {
        /*margin-bottom: 0px !important;*/
    }
}

/*Setting min height for dropdowns in profile.*/
.btn.btn-default.dropdown-toggle p {
    min-height: 19px;
}

.alert {
    &.alert-danger,
    &.alert-warning {
        background-color: $white-color;
        border-color: $white-color;
        color: $gray-base;
        margin: 0px;

        span.glyphicon {
            display: none;
        }
    }
}

/*Back to  Ways to Save Styling*/
.details__headers.panel-footer {
    .while-youre-at-it {
        margin: 15px 0px 10px !important;
    }

    a {
        font-weight: normal;
        color: $primary-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__backlink a {
    font-weight: normal;
    color: $primary-color;

    &:hover {
        text-decoration: underline;
        color: $primary-color;
    }
}

/*New Nav Styling in My Savings page and Main Nav style fixes. */

/*ul.pills {
    &.nav-pills {
        float: left;
        padding-bottom: 0px;
        background: $primary-color;
        border-bottom: 10px solid $secondary-color;
        border-right: 1px solid #ddd !important;
        margin-bottom: 20px;

        > li {
            margin: 0px;

            > a {
                padding: 15px;
                color: $label-color !important;
                background: none !important;
                box-shadow: none !important;
                font-size: 14px;
                font-weight: normal;
                margin-right: 0px;

                &:hover,
                &:focus {
                    background-color: $secondary-color !important;
                    box-shadow: none !important;
                }
            }

            &.active {
                > a {
                    border: 0px solid;
                    background: $secondary-color !important;
                    font-weight: normal;
                    padding: 15px;
                }
            }
        }
    }
}*/


