﻿@import 'variables';
@import 'mixins';
@import 'helpers';
/*@import 'global'; 
@import 'navbar';*/

//Font for entire consumers
body {
    font-family: "OpenSans",sans-serif;
}

// custom for consumers header and footer
.header-returnLink {
    ul {
        margin-top: 5px;
        display: inline-block;
        list-style: none;

        li {
            display: inline-block;
            list-style: none;
        }

        a {
            color: $label-color;
            font-family: "OpenSans",sans-serif;
        }
    }
}


.promo img {
    cursor: pointer !important
}

.site-header {
    background-color: #0079C1;

    .panel.panel-default {
        border-radius: 0;
        border: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0079C1;
    }
}

.wp-footer {
    padding: 40px 15px;
    border-top: 12px solid #0079C1;
    width: 100%;

    ul li {
        display: inline-block;
    }

    .footer-nav {
        li {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid;
            color: #929292;
            font-size: 12px;
            line-height: 0.9;

            &:first-child {
                border-left: 0;
            }
        }

        a {
            color: #b3b3b3;
            font-size: 12px;

            &:hover {
                color: #0079C1;
            }
        }
    }

    .social-nav li {
        margin-left: 30px;

        a {
            font-size: 18px;
            color: #666;

            &:hover {
                color: #0079C1;
            }
        }
    }

    .footer-container {
        max-width: $screen-sm;
        margin: 0 auto;
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.setgoal__box--link {
    &:hover,
    &:focus {
        text-decoration: none;
    }

    div {
        padding: 5px;
    }
}


/////////////////////////////////////////////////////////////
/* Theme Default for TOP NAV */
// The top nav might be different client to client, so let's do all the editing here
.acl-topnav {
    font-family: "OpenSans",sans-serif;
    font-size: 15px;
    background-color: transparent !important; // background of whole upper nav
    border: 0px solid transparent !important; // border of whole upper nav
    margin-bottom: 20px !important;

    .nav.acl-nav {
        background-color: transparent !important; // background of li on state
        color: #2f97d5 !important;
        font-size: 15px;
        font-weight: normal;

        li {
            border-left: 1px solid #cecece;

            &:last-child {
                border-right: 1px solid #cecece;
            }

            > a {
                color: #2f97d5 !important;
                text-transform: uppercase;
                font-size: 15px;
                transition: all 0.3s ease-in-out;
                padding: 15px;
                font-weight: 600;
                line-height: 18px;

                &:hover, &:focus {
                    background-color: #2f97d5 !important; // background of li on state
                    color: #fff !important;
                }
            }
        }

        & > .active > a {
            background-color: #2f97d5 !important; // background of li on state
            color: #fff !important;
        }
    }
}

/*title heading and heading styling*/
h1.panel-title, .panel-content h1, .panel-content h2.subtitle {
    font-family: "OpenSans",sans-serif !important;
    /*color: #CD771D !important;*/
    color: #666 !important;
    margin-bottom: 0;
    font-size: 28px !important;
    text-align: left;
    margin: 7px 0 9px 0;
    font-weight: 400 !important;
}

/*this code snippet is for avoiding scroll bar at bottom of the Screen
#frmcsrreport {
    display: none;
}*/


/*Button Styling as per the style guide*/
.action-btn,
.btn.btn-primary.goal {
    background-color: #639d36;
    transition: .3s ease-in-out;
    border-color: transparent;
    border-width: 2px;
    border-radius: 2px;
    min-width: 100px;
    padding: 10px 20px 11px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    transition: color .3s ease,background .3s ease,border-color .3s ease;

    &:hover,
    &:focus,
    &:active {
        background-color: #7dca42;
        border-color: #7dca42;
    }
}

a.button-small,
.btn.ghost.goal {
    background-color: #fff !important;
    border: 1px solid #639d36 !important;
    color: #639d36 !important;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    transition: color .3s ease,background .3s ease,border-color .3s ease;
    padding: 12px 20px !important;
    /* background-color: #7dca42; */
    text-decoration: none;
    border-color: transparent;
    transition: .3s ease-in-out;
    border-color: transparent;
    border-width: 2px;
    border-radius: 2px !important;

    &:hover,
    &:focus,
    &:active {
        background-color: #7dca42 !important;
        border-color: transparent !important;
        color: #fff !important;
        text-decoration: none;
    }
}

//Action Value text Color
.actions__value,
.actionplan__value {
    color: #2f97d5 !important; //blue Color
    //color: #7dca42 !important; //Green Color
    //color: #488e12!important; // Dark Green
}


//progress-bar Color
.progress-bar {
    background-color: #7dca42 !important;
}


/*Energy Profile*/
.shortProfile {
    .progressBar {
        display: none;
    }

    .panel-body-energy-profile {
        padding-top: 0px !important;
    }

    .markdown {
        margin-top: 20px;
        //width: 50%;
        line-height: 35px;

        &.dv-external-links p {
            width: 100%;
            text-align: justify;

            img {
                /*position: absolute;
            right: 0px;
            top: 0px;*/
                float: right;
            }
        }
    }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .shortProfile {
        .markdown {
            // width: 50%;
            &.dv-external-links p {
                //  width: 90%;
                img {
                    float: left;
                    margin-top: 20px;
                }
            }
        }
    }
}


///////////////////////////////////////////////////////////////////////////////////////////
// styles for collapsed menu - adjust responsive size from sm to ms if breaks at smaller width
@media (min-width: $screen-xs) and (max-width: $screen-ms-max) { // note this has to be the same value as
    .nav.acl-nav {
        > li {
            border: 1px solid $gray-light-mid;
            background-color: $gray-lighter;
            margin: 4px 0;

            &.active {
                border: 1px solid $gray-light-mid;
                background-color: $primary-color !important;
                color: #fff !important;
                margin: 4px 0;
            }
        }
    }

    // active state on top nav
    .acl-topnav .acl-nav > .active > a {
        color: #fff !important;
        background-color: $primary-color !important;
    }


    .navbar-collapse {
        overflow: hidden !important;
        text-align: center;
    }
}


@media (max-width: $screen-sm) {
    .wp-footer {
        .footer-nav {
            li:last-child {
                display: block;
                margin: 5px 0 0;
                padding-left: 0;
                border-left: 0;
            }
        }
    }
}

@media screen and (min-width: $screen-sm) {
    .wp-footer {
        border-top-width: 25px;
    }

    .acl-topnav {
        .acl-nav {
            width: 100%;

            li {
                width: 25%;
                text-align: center;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .header-returnLink a {
        font-size: 12px;
    }
}
