﻿@import 'variables';
@import 'helpers';
/*@import 'global';
@import 'navbar';
@import 'mixins';*/


/*==========  variables ===========*/
$primary-color: #0076BE;
$secondary-color: #003768;
$nav-color: #2877b8;


body {
    //background: url(~/Content/Clients/4/Images/client-4_top_Blue-bg.png) repeat-x 0px 0px !important;
    //background: url(~/Content/Clients/4/Images/main-header_top_bar_bg.png) repeat-x 0px 0px !important;
    color: #3a3a3a !important;
    //background: rgba(100, 176, 241, 0.54);
    background: #fff;
    /*4b83b1*/
}

.panel {
    border: 1px solid #ddd;
    border-radius: 0;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: 0px !important;
    /*.xs-mt-0;*/
}

.progressBar__container h2,
.progressBar__completed,
.panel-content h3,
.actions__title a,
.actions__buttons .button-small,
.caption,
.xs-m-20.xs-mb-0,
.notification-detail__message p a.xs-mb-10 {
    color: #4a4a4a !important;
}

.form-item-label {
    color: #3a3a3a !important;
}

/*.iwsHightWrapper {
    background: #fbfbfb;
    margin: 0px auto 0px;
}*/

.navbar-nav {
    background-color: #103762 !important;

    li a {
        color: #fff !important;
        font-weight: bold;
    }

    li:hover a {
        opacity: 0.7;
    }

    li.active a {
        background-color: #3f8ebd !important;
        color: #e4f5ff !important;
    }
}

.navbar-default .navbar-nav > a {
    padding: 15px 24px 15px;
    line-height: 21px;
}




.action-btn {
    color: #fff !important;
    background-color: $nav-color !important;
    text-decoration: none !important;
    font-weight: bold;
    border: 1px solid $nav-color !important;

    &:hover,
    &:active,
    &:focus {
        color: #fff !important;
        background-color: #6eacd1 !important;
        border: 1px solid #d6d6d6 !important;
    }
}

h1.panel-title,
.panel-content h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    //color: #4d7089 !important;
    margin-bottom: 0;
    font-size: 22px !important;
    text-align: left;
    font-weight: bold !important;
}

// BILL HISTORY Th TEXT COLOR
.navbar-table-cell {
    COLOR: #FFF;
}

/*   ===========================================================================
     SECONDARY PILL NAV STARTS HERE  (glossy buttons)  -  Billing and My Savings
     ===========================================================================   */
.pills.nav.nav-pills {
    margin-bottom: 15px;
}


.nav-pills > li > a.navbar-link {
    display: block;
    position: relative;
    overflow: hidden;
    color: white;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav-pills > li > a.active {
    content: '';
    position: absolute;
    height: 400px;
    width: 20px;
    background: white;
    top: -80px;
    left: -20px;
    display: block;
    opacity: 0.8;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav-pills > li > a.navbar-link:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav-pills > li.active > a.navbar-link {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pills.nav {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.pills.nav-pills > li > a {
    border-radius: 24px;
    font-weight: bold;
    color: #4f4f4f;
}

.pills.nav > li > a {
    padding: 6px 6px 4px;
    text-align: center;
    font-weight: bold;
    background-color: #fff !important;
    border-radius: 0;
}

.pills.nav-pills > li.active > a {
    padding: 6px 6px 4px !important;
}

// revised link to look like a button, just the first one
span.icon.icon-pay-my-bills {
    display: none;
}

.quick-links a:first-child {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #337ab7;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #2e6da4;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// glossy seconday navs in mobile view  -theme-
@media(max-width: $screen-xs-max) {
    .pills.nav > li {
        width: 100%;
        display: block;
    }

    .pills.nav > li > a {
        width: 100%;
        margin-bottom: 5px;
    }

    .nav-pills > li + li {
        margin-left: 0;
    }
}



.pills.nav-pills > li.active > a {
    padding: 2px 6px 2px;
    color: $primary-color;
    font-weight: bold;
    background-color: Transparent;
    text-align: center;
    border: 1px solid $primary-color;
}


.nav-pills > li > a.active, .nav-pills > li > a {
    float: left;
    margin: 0 8px;
    font-size: 12px;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding: 2px 6px 2px;
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    background-color: Transparent;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.4);
}

.nav-pills > li > a.active:first-child, .nav-pills > li > a:first-child {
    margin-left: 0;
}



.pills.nav {
    margin-bottom: -1px;
    padding-bottom: 0px;
}

.nav-icons {
    background: #fff;
}

/*this code snippet is for avoiding scroll bar at bottom of the Screen
#frmcsrreport {
    display: none;
}*/

.navbar-toggle {
    margin-right: 9px;
}

.insight-sort li {
    font-size: 13px;
    padding: 0 5px;
}

@media (min-width: $screen-md) {
    .container {
        width: 940px;
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
    }
}


.navbar-default .navbar-collapse {
    overflow: hidden;
}


.navbar-default {
    background-color: #103762 !important;
    border-color: $nav-color !important;
}

@media only screen and (max-width : $screen-ms-min) {
    .navbar-nav {
        margin: 0px !important;
    }


    /*.logo {
        top: -45px;

        img {
            width: 100px;
        }
    }*/
}


@media only screen and (min-width : $screen-sm-min) {

    /*.logo {
        top: -45px;

        img {
            width: 100px;
        }
    }*/

    .header-wrap-inner,
    .nav-modified-inner, {
        width: 940px !important;
        margin: 0px auto;
    }
    .footer-modified-inners {
        width: auto !important;
        margin: 0px auto;
    }
}


/*Logo Styling*/
/*.logo {
    position: absolute;
    top: -30px;
    left: 0px;
    background: #103762;
    padding: 20px;

    &-wrap {
        position: relative;
        height: 70px;
    }

    img {
        width: 150px;
    }
}*/


.nav > li {
    text-align: center;
}

span.icon-bar {
    background-color: #fff !important;
}


.header-wrap {
    background: $nav-color !important;
    margin: 0px auto;
    width: 100%;

    .logo {
        padding: 20px;
        float: left;
        margin: 25px 0px;
        background: $nav-color !important;
    }

    &.hidden {
        background: none !important;
        display: block !important;
    }
}

.nav-modified {
    background-color: #103762 !important;
    margin: 0px auto;
    width: 100%;

    .nav-modified-inner {
        border-bottom: 0px;
    }

    .navbar {
        margin-bottom: 0px;
    }

    .navbar-header {
        background: #103762;
    }

    .navbar-collapse-mod {
        background: #103762;

        li.active a,
        a:hover, a:focus, a:visited {
            background: #174a7b !important;
        }

        a {
            color: $label-color !important;
        }

        li .dropdown-menu {
            background: #103762 !important;
        }
    }
}

.page-box {
    margin-top: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

@media screen and (min-width: $screen-xs) {
    .social-nav {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
}
@media screen and (min-width: $screen-ms) {
    .social-nav {
        float: right;
        width: 200px;
    }
}



    .social-nav li {
        margin-left: 30px;
        list-style: none;
        float: left;

        a {
            font-size: 18px;
            color: #666;

            &:hover {
                color: #0079C1;
            }
        }
    }


    // sticky footer
    .footer-modified {
        height: 100px; // Replace with the height your footer should be
        width: 100%; // Don't change
        z-index: 300;
    }

.footer-modified-inners {
    height: 100px; // Replace with the height your footer should be
    width: auto; // Visible width of footer
    margin: auto;
    padding-top: 20px;
}
    // sticky footer



.footer-modified {
        background: #103762 !important;
        color: #fff;
        display: block;

    a, .fa {
        color: $label-color;
    }
}

    /*.hide-now{
    display: none !important;
}*/


    /*Sticky Style*/
    .sticky {
        width: 160px;
        //height: 400px;
        background: #103762;
        color: #fff;
        position: fixed;
        top: 114px;
        left: -160px;
        z-index: 9999;
        padding: 15px 10px;


        label {
            text-transform: capitalize;
        }

        .stickyToggle {
            font-size: 60px;
            color: #103762;
            text-decoration: none;
            position: absolute;
            right: -30px;
            top: 5px;
            background: none;
            border: none;
            opacity: 0;
        }
    }


    .icon.icon-home {
        display: none;
    }

    .quick-links a:first-child {
        background-color: #337ab7 !important;
    }