﻿@import 'bootstrap.scss';
@import 'variables';
@import 'mixins';
@import 'helpers';
@import 'navbar';
@import 'global';
@import 'component';



// Greenbutton Connect = gbc



.gbc__container  {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: $white-color;
    -webkit-box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.37);
	-moz-box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.37);
	box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.37);
}
.gbc__header  {
    background-color: $gray-background;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.gbc__icon  {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.gbc__intro  {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    line-height: 150%;
}
.gbc__item {
    background-color: $gray-lighter;
    padding: 0;
    border: 1px solid $gray-light-mid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gbc__item:last-child {
    margin-bottom: 0;
}

.gbc__text--h2 {
    color: $gray-dark;
    font-size: $font-size-h4;
}
.gbc__h2.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.gbc__item--text p {
    color: $gray-dark;
}
.btn.btn-connect {
   background-color: $brand-success;
   color: $white-color;
    font-weight: bold;
    width: 125px;
}
.btn.btn-disconnect {
   background-color: $brand-danger;
   color: $white-color;
   font-weight: bold;
   width: 125px;
}
.gbc__logo {
 //-webkit-filter: grayscale(1);
  //filter: grayscale(1);
    //opacity: .25;
    margin-bottom: 25px;
}

.gbc__logo img {
	margin: 0 auto;
    width: 200px;
}
.gbc__cookies.alert {
    margin: 0 0 15px;
}
.gbc__disconnected.alert {
    margin: 15px;
}

.terms__link {
    color: #0a97ff;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
}

.table-condensed > tbody > tr > td.gbc__admin--appinfo, .table-condensed > tbody > tr > td.gbc__admin--description, .table-condensed > tbody > tr > td.gbc__admin--clientname {
    padding-bottom: 15px;
    padding-top: 15px;
    word-break: break-all !important;
}

.gbc__admin--img {
    max-width: 134px;
}

#loginbox .alert {
    margin: 20px 0;
}


// thirdparty
.thirdparty__img {
    max-width: 230px;
}



// gbc scope
.gbc-scope {
    width: 675px;
    margin: 0 auto;
}
.gbc__scope-login {
    max-width: 500px;
    margin: 0 auto;
}
.gbc__scope-login label {
    margin: 6px 0 6px 0;
}


input[type="email"].gbc_element::-webkit-input-placeholder {
  font-size: 12px;
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
input[type="email"].gbc_element::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
input[type="email"].gbc_element:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
input[type="email"].gbc_element:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}



// icon font over-ride Notifications on Dashboard
// Only when we use a font awesome font with the icon class in front of it
.icon.fa.fa-arrow-up, .icon.fa.fa-arrow-down {
    font: normal normal normal 14px/1 FontAwesome !important;
}


.print-only {
    display: none;
}
