﻿@import 'variables';
@import 'mixins';




/* ============================================== */
/* ======== Ways-to-Save 'Actions' Widgets ======== */
/* ========== Dashboard and My Savings ========== */
/* ============================================== */


.panel.actions {
    border: 1px solid $gray-light-mid;
    background-color: #f9f9f9 !important;
    // add in vendor - mixin
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    @include border-radius(4px 4px 4px 4px);
    height: 100%;
    overflow: hidden;

}


.actions__container {
    height: 100%;
}

.actions__message {
    &--Container {
        width: 100%; 
        display: table;
    }
    &--Img {
        width: 100px;
        height: auto;
        display: table-cell;
        vertical-align: top;
        // use variables for color
        background-color: $gray-lighter;
        border-right: 1px solid #ddd;
    }
    &--title {
        // use variation of mixin for v-align
        display: table-cell; 
        vertical-align: top; 
        padding: 10px;
    }
    & a {
        img { display: inline; }
    }
    & p { display: inline; }
    &.actions__buttons {  display: inline; }
}

.actions__title {
    color: $gray-dark;
    font-weight: bold;

    a {
        color: $gray-dark;
        font-weight: bold;
    }
}

.actions__costSavings {
    border-left: 1px solid $gray-light-mid; // use variable for color
    background-color: #eeeeee !important;
    line-height: 1;
}

.actions__value {
    font-weight: normal;
    font-size: 1.3em;
    color: $color-loud;
    line-height: 1.5;
}
.actions__cost-title, .actions__savings-title {
    font-size: 10px;
    font-weight: bold;
    line-height: 1; 
}




/* ============================================== */
/* ============= Detail Page =========== */
/* ============================================== */

.detail-items {
    border-top: 1px solid $gray-light-mid; 
    border-bottom: 1px solid $gray-light-mid; 
    padding: 10px 0 10px 15px; 
    margin: 0;
    width:100%; 
    height: 60px; 
    margin-top: 30px;
}
.detail-shell {
    padding: 25px 15px 10px 30px;
}

.detail-items>div {
    float: left;
    width: 25%;
    font-size: 11px;
    font-weight: bold;
    color: #084B8E;
}
.detail-items__circle {
    @include border-radius(50%);
    width: 8px;
    height: 8px;
    background-color: $primary-color;
    margin-right: 3px;
    display: inline-block;
}
.details__headers {
    padding: 30px;
}
.details__headers h3, .while-youre-at-it, .detail-shell h3 {
    font-size: 14px;
    color: $gray-dark;
    text-transform: none;
    font-weight: bold;
    margin-top: 15px;
}
.while-youre-at-it + ul {
    margin-top: 15px;
}
.details__headers li, .detail-shell li {
    margin-bottom: 11px;
}
.detail-featured-image img {
    height: auto;
    @include border-radius(4px 4px 4px 4px);
}
.detail-featured-image {
    display: table-cell;
    vertical-align: top;
}
.detail-featured-text {
    display: table-cell;
    vertical-align: top;
}






