﻿
@import 'variables';
@import 'mixins';
@import 'helpers';




.actionplan {
    height: 100%;
}
.actionplan__container {
    height: 100%;
    background-color: #f9f9f9;
 }
.detail-item__h1 {
    color: $primary-color;
    font-size: 28px!important;
    text-align: left;
    margin: 7px 0 9px 0;
    font-weight: 400!important;
}

.actionplan__title {
    color: $gray-dark;
    font-weight: bold;

    a {
        color: $gray-dark;
        font-weight: bold;
    }
}

.myplan__container .panel {
    border-radius: 4px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    overflow: hidden;
}
 

.actionplan__costSavings {
    border-left: 1px solid $gray-lighter;
    background-color: #eeeeee !important;
    line-height: 1; 
}

.actionplan__message {
    background-color: #f9f9f9;
}

.actionplan__value {
    font-weight: normal;
    font-size: 1.3em;
    color: $color-loud;
    line-height: 1.5;
}
.actionplan__cost-title, .actionplan__savings-title {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
}


// my plan subtitle - inside contentful - markdown
#iws_ap_intro_text h2 {
    font-size: $font-size-large;
}




/* ============================================== */
/* ============= Detail Page =========== */
/* ============================================== */

.detail-items {
    border-top: 1px solid $gray-light-mid; 
    border-bottom: 1px solid $gray-light-mid; 
    padding: 10px 0 10px 15px; 
    margin: 0;
    width:100%; 
    height: 60px; 
    margin-top: 30px;
}
.detail-shell {
    padding: 25px 15px 10px 30px;
}

.detail-items>div {
    float: left;
    width: 25%;
    font-size: 11px;
    font-weight: bold;
    color: #084B8E;
}
.detail-items__circle {
    @include border-radius(50%);
    width: 8px;
    height: 8px;
    background-color: $primary-color;
    margin-right: 3px;
    display: inline-block;
}
.details__headers {
    padding: 30px;
}
.details__headers h3, .while-youre-at-it, .detail-shell h3 {
    font-size: 14px;
    color: $gray-dark;
    text-transform: none;
    font-weight: bold;
    margin-top: 15px;
}
.details__headers li, .detail-shell li {
    margin-bottom: 11px;
}
.detail-featured-image img {
    height: auto;
    @include border-radius(4px 4px 4px 4px);
}
.detail-featured-image {
    display: table-cell;
    vertical-align: top;
}

.detail-featured-text {
    display: table-cell;
    vertical-align: top;
}




