﻿@import 'variables';

.account-select {
    .utility {
        border-top: 0;
    }

    label {
        font-size: $font-size-h4;
    }

    H1.panel-title {
        color: $gray-dark !important;
    }

    .panel-heading {
        -moz-border-radius-topright: 0;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -moz-border-radius-topleft: 0;
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.account-select__info {
    display: block;
    margin: 15px;
    border: 1px solid $table-border-color !important; // over-ride table-responsive class
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: $gray-light-background;
}

.account-select__info .icon-home {
    line-height: 0em;
    font-size: $font-size-h3;
    display: inline-block;
    vertical-align: sub;
}


// This is like a Table heading, not a widget heading
.account-select__heading {
    background-color: $gray-lighter !important;
    color: $gray-dark !important;
    min-height: 60px !important;
}


.account-select__heading div div.toggle__btn {
    line-height: 280%;
    display: flex;
}

.account-select__heading--h3 {
    vertical-align: text-bottom;
    position: relative;
    line-height: 125%;
}

.account-select__item {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    padding-top: 15px;
    border-top: 1px solid $gray-light-mid;

    p {
        margin-bottom: 0;
    }
}




table .premise-select {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
}

table.account-select__item {
    border-bottom: 2px solid $table-border-color;
}

.premise-select th,
.premise-select td, .premises {
    font-size: $font-size-base;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    text-transform: lowercase;
    text-transform: capitalize;
}

.premises tr:last-child {
    border-bottom: 1px solid $table-border-color;
    border-top: 1px solid $table-border-color;
    margin-bottom: 0 !important;
}
.premises {
    border-top: 1px solid $table-border-color;
    margin-bottom: 0 !important;
}
.premises:last-child {
    border-bottom: 1px solid $table-border-color;
    margin-bottom: 0 !important;
}

.toggle__btn .btn:hover {
    color: $gray-base !important;
}

.premise-select th {
    color: $table-border-color;
    font-size: 16px;
}

.premises > div > p {
    margin-bottom: 0px;
    line-height: 20px;
    text-transform: lowercase;
    text-transform: capitalize;
}

.premise-select tr.selected {
    background: $table-border-color;
}

.account-select__checkmark {
    text-align: right !important;
    width: 20px !important;
}


.premises:nth-of-type(odd) {
    background-color: $table-bg-accent;
    padding: 5px 0;
}

.premises:nth-of-type(even) {
    background-color: #fff;
    padding: 5px 0;
}
