﻿@import 'variables';
@import 'mixins';

.bill-comparison th {
    background-color: $gray-lighter;
}

.bill-comparison .table > thead > tr {
    border-bottom: 0; 
    border-top: 1px solid $gray-lighter;
    color: $gray-light;
}

.bill-comparison .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
}
.bill-comparison .highcharts-axis-labels.highcharts-yaxis-labels {
    display: none;
}
.bill-statement.list-group li:first-child {
    border-top: none;
}

.btn.action-btn--reverse:hover, .btn.action-btn--reverse:focus, .btn.action-btn--reverse:focus {
    color: #fff;
}


// puts the scroll bar back on mobile
.scroll-show::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-show::-webkit-scrollbar:vertical {
    width: 12px;
}

.scroll-show::-webkit-scrollbar:horizontal {
    height: 12px;
}

.scroll-show::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.scroll-show::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

