﻿@import 'variables';
@import 'mixins';


/* ============================================== */
/* ============= Bill to DATE Widget ============ */
/* ============================================== */

// list
.list-bill-to-date .list-group-item:first-child {
  // mixin for radius
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top: none;
}
.list-bill-to-date .list-group-item:last-child {
    // mixin for radius
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.list-bill-to-date .list-group-item,  .bill-summary__tabs ul li {
  border-right: none;
  border-left: none;
}

