﻿@import 'variables';



// this widget is in markdown -
//we have very little control over adding classes here


.panel.panel-default.panel-content .panel-body {
    display: block;
}
.panel.panel-default.panel-content .panel-body .table-responsive {
    margin-left: 0;
    margin-bottom: 20px;
}
.panel.panel-default.panel-content .panel-body .table-responsive .table td {
    padding: 8px 20px;
}
.panel.panel-default.panel-content .panel-body .table-responsive .table td:first-child {
    padding: 8px 0;
}
.panel-content .panel-body h2 {
    font-size: $font-size-large;
    line-height: 140%;
}
.panel-content h1 {
    margin-top: 0;
}

.subtitle-intro {
    padding: 15px;
}


/////



/*.panel-content .panel-title {
    text-transform: uppercase;
}*/
.panel-content .panel-body h2, .panel-content h2.subtitle, .panel-content .intro-text {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 15px;
}
.panel-content .subtitle-intro {
    padding: 5px 0 0 20px;
}
.panel-content .intro-text p {
    margin: 20px !important;
}
.panel-content td, .panel-content th {
    border: 1px solid #ddd;
    padding: 7px;
    margin: 15px 0;
}
/*.panel-subscription h1, .panel-content h1 {
    margin: 5px 0;
    font-size: 16px !important;
    font: 16px normal Arial, Helvetica, sans-serif !important;
    font-weight: 200;
    color: #666 !important;
    text-transform: uppercase;
}*/
.panel-content .panel-body h2 {
    padding-left: 0;
}
.panel-content h3 {
    margin: 5px 0;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #337ab7 !important;
    text-transform: capitalize;
}
.panel-content .panel-body {
    padding: 20px;
}
.panel-content table {
    margin: 25px 0;
}
.panel-content .subtitle {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.panel-content ul ul {
    padding-left: 25px;
}
.panel-content p {
    margin: 0;
}
.panel-content ul p {
    margin: 0;
}
.panel-content .panel-body {
    display: table;
    width: 100%;
    padding: 20px;
}


.panel-content img {
    margin-right: 20px;
    vertical-align: middle;
    float:left;
    width: auto;
    height: auto;
}
.panel-content p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 7px 0;
}
.panel-content h1 {
    margin-bottom: 0;
}

.panel-content h2 {
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.panel-content table td, .panel-content table th {
    border: none;    
    border-bottom: none;
}
 .panel-content .table-responsive table {
    padding: 25px
}
.panel-content .table-responsive  {
    margin: 0 25px;
}


.panel-content table td img  {
    width: 8px;
height: 8px;
margin-top: 7px;
}
.panel-content table tr {   
    border-top: 1px solid #ddd;
}
.panel-content table td:first-child {
 padding-left: 7px;
}

.panel-content table {
    margin: 0 0 25px;
    width: 100%;
}

.panel-content ul, ol {
    margin-top: 0;
    margin-bottom: 25px;
}





