﻿
@import 'variables';
@import 'mixins';



/* ============================================== */
/* == Consumption Chart dropdown/nav component == */
/* ============================================== */


.monthsdayshours__utility-icons > div {
    display: table;
    height: 49px;
}
.monthsdayshours__utility-icons > div > div {
    // mixin for valign
    display: table-cell;
    vertical-align: middle;
}

.monthsdayshours {
    width: auto;
    line-height: 2.4; 
}
.monthsdayshours__utility-icons {
    height: 49px;
}

.monthsdayshours__nextprev {
    display: inline-block;
    height: 34px;
    max-height: 34px;
    vertical-align: middle;
}
.monthsdayshours__nextprev ul {
    margin: 1px 0 0 0;
} 
.monthsdayshours__nextprev ul.pagination > li.prev > a, 
.monthsdayshours__nextprev ul.pagination > li.next > a {
    background-color: $dropdown-bg;
    width: 33px;
    height: 33px;
    border: 1px solid $gray-light-mid;
    padding:2px;
    cursor: pointer;
}
.monthsdayshours__nextprev ul.pagination > li.prev > a:hover, 
.monthsdayshours__nextprev ul.pagination > li.next > a:hover {
    border: 1px solid $gray-dark;
}
.monthsdayshours__nextprev ul.pagination > .active > a:hover, .monthsdayshours__nextprev ul.pagination > .active > a:focus {
    @include border-radius(4px 4px 4px 4px); 
}
.monthsdayshours__nextprev ul.pagination > li.prev > a img, 
.monthsdayshours__nextprev ul.pagination > li.next > a img {
    width: 90%;
    height: 90%;
}
.monthsdayshours__nextprev ul.pagination > li:first-child > a, 
.monthsdayshours__nextprev ul.pagination > li:first-child > span {
    margin-left: 0;
    // maybe mixin for radius
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.monthsdayshours__intervals {
    display: inline-block;
    margin-right: 10px;
}
.monthsdayshours__nextprev .pagination > .active > a {
    z-index: 3;
    background-color: #ddd; // variable
    cursor: default;
    @include border-radius(4px 4px 4px 4px);
}
.monthsdayshours p {
    margin-right: 10px !important;
}






/* ====================== */
/* == Responsive Table == */
/* ====================== */






@media (min-width: $screen-xs-min) and (max-width: $screen-ms)  {

#iws_consumption_main table {
  margin: 1em 0;
  
  tr {
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
  }
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; 
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $screen-ms) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    margin: 0;
    
    @media (min-width: $screen-ms) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}

}



#iws_consumption_main table {
  overflow: hidden;
  th, td {
    margin: 0;
    @media (min-width: $screen-ms) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    //color: #dd5;
  }
}