﻿@import 'variables';
@import 'mixins';
@import 'helpers';

/* =============================================== */
/* ========== Notification Detail Widget ======== */
/* ============================================== */

.notification-detail__image {
    background-color: $gray-light-mid;
}

.panel.notification-detail {
    border: 1px solid $gray-light-mid;
    background-color: #f9f9f9;
    // add in vendor mixin
    -webkit-box-shadow: none;
    box-shadow: none;
    @include border-radius(4px 4px 4px 4px);
    height: 100%;
}

.notification-detail__image a img {
    width: auto;
    height: 115px;
}

.notification-detail__title {
    margin: 0;
    color: $gray-dark;
    font-weight: bold;

    a {
        color: $gray-dark;
        font-weight: bold;
    }
}

.notification-detail__message p a, .notification-detail__message p a:hover {
    color: $gray-dark;
    font-weight: normal;
    text-decoration: none;
    cursor: default;
}



/* ============================================== */
/* ========== Notification Mini Widget ========== */
/* ============================================== */


.notify {
    width: 100%;
    min-height: 40px;
    display: table;
}

.panel.panel-notify {
    border: 1px solid $gray-light-mid;
    background-color: #f9f9f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    @include border-radius(4px 4px 4px 4px);
    height: 100%;
}

.notify__icon {
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
    width: 60px;
    text-align: center;
}

.notify__message {
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;

    & p {
        margin-bottom: 0;
    }
}

.notify__button {
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
    text-align: right !important;
    @extend .block-xs;
    @extend .text-xs-center;
    @extend .text-ms-center;
    @extend .text-sm-right;
    @extend .xs-p-10;
}

.notify__button--link {
    @extend .visible-xs-block;
    @extend .visible-ms-inline-block;
    @extend .visible-sm-inline-block;
    @extend .visible-md-inline-block;
    @extend .visible-lg-inline-block;
    @extend .block-xs;
    float: right;
    min-width: 150px;
}
