﻿

.pc-bar-chart__item-progress   {
    height: 35px; 
    margin-bottom: 15px;
    display: table;
    background-color: #eaeaea;
    width: 100%;
}
.pc-bar-chart__chart-title {
    letter-spacing: 1px;
    font-family: Helvetica;
    font-size: 11px;
}
.pc-bar-chart__filler { /* empty part of bar / color */
	background-color: #eaeaea;
    height: 35px;
    display: table-cell;
    vertical-align: middle;
}

.pc-bar-chart__value  {
    color: #1a1a1a;
    // text-align: left;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    display: table-cell;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
   
}

/* ========= 1st Bar - Your Use Last Month  ========  */
/* =================================================  */

/* Over-ride background color to light grey when the value is too short in length */
/* Bar Color */
.pc-bar-chart__bar-lastmonth  {
    text-align: right !important;
    height: 35px; 
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(105, 185, 106, .65);  /* green */
}

/* ========= 2nd Bar - Similar Homes  ===============  */
/* ==================================================  */

/* Over-ride background color to light grey when the value is too short in length */
/* Bar Color */
.pc-bar-chart__bar-similarhomes  {
    text-align: right;
    height: 35px; 
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(228, 191, 96); /* Yellow */
}


/* ========= 3rd Bar - Energy Efficient Homes  ======  */
/* =================================================  */

/* Over-ride background color to light grey when the value is too short in length */
/* Bar Color */
.pc-bar-chart__bar-efficienthomes  {
    text-align: right;
    height: 35px; 
    display: table-cell;
    vertical-align: middle;
    background-color:  rgba(92, 172, 221, .65);   /* royal blue */
}


