﻿@import 'variables';
@import 'mixins';


.promo img {
    height: auto;
    text-align: center;
    margin: 0 auto 20px auto;
}
.promo.panel {
    border: none;
    @include border-radius(0 0 0 0);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



//////




/* promos */


/* deal with image inside ads - banner ad has it's own */
.promo {
    margin: 0;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    // min-height: 300px;  causing problems in Laclede
    /* lt ie8 */
    -ms-background-position-x: top;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    /* scale bg image proportionately */
    background-size: cover;
}

/* Deal with bg image in banner ad */
.promo-banner {
  margin: 0;
  position: relative;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  min-height: 175px;
  /* lt ie8 */
  -ms-background-position-x: top;
  -ms-background-position-y: bottom;
  background-position: center bottom;

  /* scale bg image proportionately */
  background-size: cover;

}

/* Align elements inside ad */
.promo-inner {
  display: table-cell;vertical-align:bottom;padding: 10px
}
.promo-outter {
  height:300px; width: 100%;display: table;
}
.promo-outter {
  height:300px; width: 100%;display: table;
}
.promo-outter-banner {
  height:175px; width: 100%;display: table;
}

/* promo headlines */
.promo h1, .promo-banner h1 {
  font-size: 24px;
  margin: 0;
  position: absolute;
  top:0;
  width: 100%;
  background-color: #30323B;
  padding: 10px;
  color: #fff;
  opacity: .75;
  font-weight: 200;
  letter-spacing: 1px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.promo h2, .promo-banner h2 {
  font-size: 18px;
  font-style: italic;
  margin:0 0 10px 0;
  text-shadow: -1px 1px 8px #fff, 1px -1px 8px #fff;
}


.promo button {
  display: block;
  margin: 10px;
}


/* Promo Images */
.bg-image-promo-banner {
  background-image: url(../../../img/promo-insulation-long.png);
  background-position: right;
  background-repeat: no-repeat;
}
.bg-image-promo-v1 {
  background-image: url(../../../img/promo-insulation.png);
  background-position: top;
}
.bg-image-promo-v2 {
  background-image: url(../../../img/promo-furnace.png);
  background-position: top;
}





