﻿@import 'variables';
@import 'bootstrap/mixins/_clearfix.scss';
@import 'bootstrap/mixins/_nav-vertical-align.scss';
@import 'mixins';
@import 'helpers';
@import 'global';
@import 'component';



html {
  font-family: sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;     
   overflow: -moz-scrollbars-vertical;
   overflow: scroll; }



/*  4242  */
.panel {
    border: 1px solid #ddd;
    border-radius: 0;
  -moz-box-shadow:    5px 4px 8px 0px #ccc;
  -webkit-box-shadow: 5px 4px 8px 0px #ccc;
  box-shadow:         5px 4px 8px 0px #ccc;
}

/*  no shadow  */
#iws_panel_div {
      -moz-box-shadow:    none;
  -webkit-box-shadow:  none;
  box-shadow:          none;
     margin: 20px;
    width: auto;
    line-height: 148%;
    padding: 12px !important;
}
.no-shadow {
      -moz-box-shadow:    none;
  -webkit-box-shadow:  none;
  box-shadow:          none;
}

/* 5303 */
.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #ddd;
    border-bottom: none;
}

.ReportCreateTitle
{
    word-wrap:break-word !important;
    width: 700px !important;
}


.sub-line {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
}


// find the HTML for this and change the markup
.popover.top.popover-top  .popover-title  {
    display: none;
}
.popover.top.popover-top  .btn.btn-block.btn-success  {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;

}