﻿@import 'variables';
@import 'mixins';



// first screen

.setgoal__fivepercent {
    background-color: $primary-color;
    @include border-radius(4px 4px 4px 4px);
    color: #fff; 
    white-space: normal;
    font-size: $font-size-large;
    font-style: normal;
    font-weight: bold;
}

.setgoal__fivepercent:hover {
    text-decoration: none;
}

// inside screens
h2.setgoal__amount-year {
    font-size: 16px; 
    color: $gray-light;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}
.setgoal__goal {
    height: 35px;
}
.bar-txt span.amount {
    color: $primary-color;
    font-weight: bold;
}

// shared with set goal wide and narrow - make edits to that file also
.radio_block, .setgoal__block   {
    display: inline-block;
}

.radio_block input, .setgoal__block input  {
    display: inline-block;
    vertical-align: middle;
}

.setgoalRadio_label, .setgoalRadio_label  {
    display: inline-block;
    padding-left: 0;
    margin-top: 1px !important;
}
