﻿@import 'variables';
@import 'mixins';

.more-options {
  line-height: 125%; 
  color: $primary-color;
  font-size: 16px;
}

a.more-options  {
  text-decoration: underline;
}
a.more-options:hover {
  color: $gray-light;
  cursor: default;
  text-decoration: none;
}
.savings-options-edit {
    width: 250px;
    text-align: left;
    padding-left: 21px; 
    margin-top: 20px;
}
.setgoal__amount {
    font-size: 42px; 
    COLOR: $primary-color;
    letter-spacing: -.05em;
}
.setgoal__amount span {
    font-size: $font-size-base;
    font-weight: bold;
    letter-spacing: 0;
    color: $gray-dark;
}

.setgoal__estimated span {
    font-size: $font-size-base;
    font-weight: bold;
    COLOR: $primary-color;
}

// shared with set goal wide and narrow - make edits to that file also
.radio_block, .setgoal__block   {
    display: inline-block;
}

.radio_block input, .setgoal__block input  {
    display: inline-block;
    vertical-align: middle;
}

.setgoalRadio_label, .setgoalRadio_label  {
    display: inline-block;
    padding-left: 0;
    margin-top: 1px !important;
}
