﻿@import 'variables';
@import 'mixins';
@import 'helpers';

/* make a button component for profile  */
.btn.btn-default.dropdown-toggle {
    width: 100%;
}

.btn.btn-default.dropdown-toggle p {
    float: left; 
    margin: 0;
    white-space: normal;
    text-align: left;
}

.btn.btn-default.dropdown-toggle span {
    float: right;
}

.open > .dropdown-menu {
    width: 100%;
}


/* temp button */
b#iws_lp_selected_section {
    float: left;
}


#iws_lp_footer.button-shell { // temp
    margin-left: 0 !important;
}

.aside-profile {
    padding-top: 37px;
}
.aside-profile.aside-long {
    padding-top: 31px; 
}

.overview {
    padding-top: 15px; 
    display: inline;
    color: $gray;
}

.overview-mod {
    padding: 0;
    margin: 15px 0 25px 0; 
}

.overview-mod span h2 {
    display: inline;
    margin: 0;
    font-size: $font-size-large;
    color: $primary-color;
    font-weight: bold;
}

.overview-mod span i {
    display: inline-block;
}

.overview-mod a {
    display: block;
    margin: 2px;
}

.overview-mod p.markdown {
    margin: 10px 0;
}
.thumbnail > img, .thumbnail a > img {
    width: 100%;
}
.thumbnail .caption {
    padding: 15px;
}
.overview-mod h5 {
    @extend .xs-ml-5;
    display: inline-block;
    margin-bottom: 0;
}



.article-profile h4.form-item-title, .article-profile h4.form-item-label {
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 25px;
    font-size: $font-size-large;
}
.panel-profile {
    background-color: transparent;
    padding: 0 !important;
    display: block;
}
.article-profile label.btn:focus {
    color: #333 !important;
}

.panel-profile .dropdown-btn:hover, .panel-profile .dropdown-btn:focus, .btn:hover {
    color: $btn-default-bg !important; 
}
.article-profile label.btn:focus {
    color: #333 !important;
}
.pager {
  clear: both !important;
}

// Keep an eye on this - depending on impelentation and the overall responsive size the outter DIV is given
@media (max-width: $screen-ms) {
    article.article-profile, aside.aside-profile {
        clear: both;
    }
}


// used only in ios safari

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: url(../Images/caret-darker.png) no-repeat;
    background-position: right 10px center;
    background-color: #fff;
    color: #333;
    border: 1px solid #999;
    padding: 0 .65em !important;
    height: 33px !important;
}