﻿@import 'variables';
@import 'mixins';


/*gas and electric sub header*/
.sub__usage {
    border-top: 1px dotted $gray-dark;
    border-bottom: 1px dotted $gray-dark;
    padding: 8px;
    width: 97%;
}

.sub__usage--subtitle {
    text-transform: uppercase;
    color: $color-loud;
    font-size: .9em;
}

.sub__description {
    padding: 0 10px 10px 0;
}
.sub__checkboxes {
    margin-bottom: 10px;
}
.sub__labels {
    margin-bottom: 10px;
    padding: 0 !important;
}
.sub__email-label, .sub__text-label {
    padding: 0 !important;
}
.sub__email-label h6, .sub__text-label h6 {
    font-size: .7em;
    font-weight: bold;
    display: inline-block;
}
.sub__email-check, .sub__text-check {
    display: inline-block;
}

.sub__amount-field {
    width: 50px;
    height: 25px;
}

.sub__money-symbol {
    display: inline;
}
.sub__input {
    display: inline;
}
