﻿.panel-threshold > .panel-heading {
    height: 40px;
    min-height: 40px;
    text-transform: uppercase;
    font-weight: 200 !important;
}
.panel-title {
    padding: 0 !important;
    font: 16px normal  Arial, Helvetica, sans-serif !important;
}
.subtitle {
    color: #333;
    padding-left: 0 !important;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.panel-error {
    margin-bottom: 0 !important;
    padding-top: 5px;
}
.panel-threshold h2 span {
    font-weight: 200;
    text-transform: none !important;
    margin-left: 10px;
}
.panel-threshold h3 {
    font-size: 16px;
    font-weight: 200;
    margin: 5px 0;
    color: #666;
}
.panel-threshold h3 span {
    color: #999;}
.panel-threshold p.projected {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 0;
}
.panel-threshold p.projected {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 0;
}
.panel-threshold p.projected span {
    font-weight: bold;
}
.panel-threshold p.average {
    font-size: 13px;
    color: #999;
    font-weight: 300;
    letter-spacing: .05em;
    margin: 0;
}
.panel-threshold p.learn {
    font-size: 13px;
    color: #03c;
    margin: 0;
    line-height: 100%;
}
.panel-threshold > .panel-body {
    padding: 15px;
}
.panel-threshold > .panel-heading {
    height: 40px;
    min-height: 40px;
    text-transform: uppercase;
    font-weight: 200 !important;
}
.panel-threshold h2 span {
    font-weight: 200;
    text-transform: none !important;
    margin-left: 10px;
}
.panel-threshold h1 {
    font-size: 16px;
    font-weight: 200;
    margin: 5px 0;
    color: #666;
}
.panel-threshold h1 span {
    color: #999;}
.panel-threshold p.projected {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 0;
}
.panel-threshold p.projected span {
    font-weight: bold;
}
.panel-threshold p.average {
    font-size: 13px;
    color: #999;
    font-weight: 300;
    letter-spacing: .05em;
    margin: 0;
}
.panel-threshold p.learn {
    font-size: 13px;
    color: #03c;
    margin: 0;
    line-height: 100%;
}
.panel-threshold > .panel-body {
    padding: 20px;
}
.panel-projection-info {
    padding: 20px 0;
}
.panel-threshold .threshold-bar {
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
  clear: both;
  margin-bottom: 20px;
}
.panel-threshold .current {
  width: 36%;
  background-color: #09A985;
  height: 30px;
}

/* tier bars */
    .tier {
      height: 30px;
      display: inline-block;
    }
    .panel-threshold .tier1 {
      /*width: 60%;*/
      background-color: #4169e1;
    }
    .panel-threshold .tier2 {
      /*width: 20%;*/
      background-color: #09a985;
    }
    .panel-threshold .tier3 {
      /*width: 20%;*/
      background-color: #F5A623;
    }
    .panel-threshold .tier4 {
      /*width: 0%;*/
      background-color: #f60;
    }
    .panel-threshold .tier5 {
      /*width: 0%;*/
      background-color: #c30;
    }


/* pricing table */
.table-responsive {
    border: none !important;
}
.table > tbody > tr, .table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    border-top: none !important;
}
/*.panel-threshold th {
    font-size: 14px;
    font-weight: 200;
    padding: 8px !important;
}*/
.panel-threshold td {
    font-size: 14px !important;
    font-weight: 200;
    padding: 8px !important;
}


#iws_th_tbl table th, .panel-threshold .current-bar span.my-current {
    content: "";
    font-size: 12px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 0px 1px;
    margin: 14px 0 0 10px;
    width: 9px;
    display: inline-block;
    height: 9px;
    vertical-align: middle;
}

.panel-threshold .current-bar span {
    margin: 10px 5px 0 10px !important;
}

.panel-threshold .current-bar {
  margin-bottom: 25px;
}