﻿@model LoginViewModel

@{
    Layout = null;
}

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/RemoteContent/87/utility.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>

<body style="margin: 0">

    <div class="container-fluid">
        <div class="row">
            <div id="bg">
                <img src="~/RemoteContent/87/bg-wind.jpg" alt="" />
            </div>

            <div id="pt1:pt_pgl15" class="container-fluid remotecontent header-wrap md-m-0">
                <div class="row header-wrap-inner">
                    <div class="col-xs-12 col-sm-6 xs-pl-0 text-xs-center">
                        <div class="logo-wrap" name="header">
                            <a id="logoClick" class="logo">
                                <img src="~/RemoteContent/87/logo.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 xs-pl-0 text-xs-center text-ms-right text-sm-right text-md-right text-lg-right">
                        <div name="header" class="h__container">
                            <a class="h__link">About </a><a class="h__link">Energy Savings</a> <a class="h__link">Contact</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-dialog" style="z-index: 200">
                <div class="loginmodal-container">

                    @using (Html.BeginForm("Login", "Demo", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <h1 style="margin-top: 5px;">Login</h1>
                        <div>

                            @if (TempData["ErrorMSG"] != null)
                            {
                                <label style="color: maroon;"> @TempData["ErrorMSG"] </label>
                                <br /><br />
                            }

                            @Html.TextBoxFor(s => s.Username, new { @placeholder = "Username" })
                            <br /> <br />
                            @Html.PasswordFor(s => s.Password, new { @placeholder = "Password" })
                            <br /> <br />
                            <button class="btn btn-danger" type="submit">Login</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>