﻿@{
    ViewBag.Title = "Dashboard";
}
<script>
    // postMessage script that gets the height information from within the iframe
    if (window['postMessage']) {
        if (window.addEventListener) {
            window.addEventListener('message', receiveMessage, false);
        } else if (window['attachEvent']) {   //for ie
            window.attachEvent('onmessage', receiveMessage);
        }
    }
    // recieveMessage script parses postMessage data and applies it to the iframe
    function receiveMessage(e) {
        var iFrameConfig = JSON.parse(e.data).data.split(",");
        $('#' + iFrameConfig[0]).height(iFrameConfig[1] + "px");
    }

    function scrolltotop() {
        scroll(0, 0);
    }
</script>

<div class="water-container">


    
    <div class="jumbotron">
        <div class="container">
            <div class="graph-wrapper">

                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @*@Html.ActionLink("Aclara One", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        </div>
                        <div class="navbar-collapse collapse">
                            @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 jumbo-water">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" style="padding: 0">
                        <div class="divTitle form-inline">
                            <h5 class="centerinDiv">
                                <b style="font-size: 19px; color: #ffffff;">Your Water Usage at @ViewBag.Address </b>
                                <div class="form-group" style="padding-left: 10px;">

                                    @(Html.Kendo().DropDownList()
                                          .Name("Meter")
                                          .HtmlAttributes(new {@class = "col-sm-2", style = "padding: 0;margin:0;width: auto;max-width: 150px;"})
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                          .Events(e => e.DataBound("change_Meters"))
                                          .Events(e => e.Change("change_Meters"))
                                          .SelectedIndex(0)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetMeters", "Dashboard")
                                                      .Data("filterAccounts");
                                              })
                                                  .ServerFiltering(true);
                                          })
                                          .Enable(false)
                                          .AutoBind(false)
                                          .CascadeFrom("Account")
                                          )
                                </div>
                            </h5>
                        </div>
                        <div class="col-sm-12">
                            <nav style="float: left;">
                                <button id="btnPrev" class="btn btn-nxtpreimg" onclick="GetData('Prev');" value="Prev">
                                    <span class="k-icon k-i-arrow-w"></span>
                                </button>
                                <button id="btnNext" class="btn btn-nxtpreimg" onclick="GetData('Next');" value="Next">
                                    <span class="k-icon k-i-arrow-e"></span>
                                </button>
                                <div style="float: right; margin-left: 5px; height: 35px;">
                                    <label id="lblStartDate" style="vertical-align: sub;">@ViewBag.Date</label> - <label style="vertical-align: sub;" id="lblEndDate">@ViewBag.Date</label>
                                </div>
                            </nav>
                            <nav style="float: right;">
                                <div style="float: left; padding-right: 5px;">
                                    @(Html.Kendo().DropDownList()
                                          .Name("DayMeasure")
                                          .HtmlAttributes(new {@class = "col-sm-2", style = "padding: 0;margin:0;width: 90px;"})
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                          .Events(e => e.Change("change_DayMeasure"))
                                          .BindTo((System.Collections.IEnumerable) ViewData["DayMeasure"])
                                          .SelectedIndex(0)
                                          )
                                </div>
                                <div style="float: right;">
                                    @(Html.Kendo().DropDownList()
                                          .Name("Units")
                                          .HtmlAttributes(new {@class = "col-sm-2", style = "padding: 0;margin:0; width: 130px"})
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                          .Events(e => e.Change("change_Units"))
                                          .BindTo((System.Collections.IEnumerable) ViewData["Units"])
                                          .SelectedIndex(0)
                                          )
                                </div>
                            </nav>
                        </div>
                        <br/>
                        <hr/>
                        <div class="">
                            &nbsp;
                            <div class="chart-wrapper" style="background-color: #337AB7;">
                                @(Html.Kendo().StockChart<CE.AO.Models.ReadingModel>()
                                      .Name("consumptionHistoryChart")
                                      //.Title(title=>title.Color("White").Text("Consumption Chart"))
                                      .ChartArea(chartArea => chartArea.Background("transparent"))
                                      .DataSource(ds => ds
                                          .ServerOperation(false)
                                      )
                                      .Events(events => events.DataBound("onDataBinding"))
                                      .HtmlAttributes(new {style = "height: 210px;"})
                                      //  .Panes(panes =>
                                      //{
                                      //    panes.Add().Title(p => p.Color("White").Text("Unit"));
                                      //})
                                      .ValueAxis(axis => axis.Numeric("flowrateAxis").Title("").MinorGridLines(s => s.Visible(false)).MajorGridLines(s => s.Visible(false)).Labels(s => s.Format("{0:#.0#}")).Labels(s => s.Color("White")).Pane("flowratePane").Visible(true).AxisCrossingValue(0))
                                      //.CategoryAxis(axis => axis.Pane("flowratePane").Justify(true).Type(ChartCategoryAxisType.Category).Visible(false).Name("flowrateAxis").Date().BaseUnit(ChartAxisBaseUnit.Minutes).BaseUnitStep(15))
                                      //.CategoryAxis(p => p.Color("White"))
                                      .DateField("TimestampString")
                                      .Series(series =>
                                      {
                                          series.Area(s => s.Quantity).Color("#498EAB")
                                              .Line(line => line.Style(ChartAreaStyle.Normal).Color("#7ED321").Width(2));
                                          series.Area(s => s.Quantity).Aggregate(ChartSeriesAggregate.Sum).Color("#498EAB")
                                              .Line(line => line.Style(ChartAreaStyle.Normal).Color("#7ED321").Width(2));
                                      })

                                      //.Navigator(nav => nav.Series(series => series.Area(s => s.Quantity).Visible(true)).CategoryAxis(p => p.Color("White")).Visible(false))
                                      .Navigator(nav => nav.Series(series => series.Area(s => s.Quantity)).Visible(Convert.ToBoolean(ViewBag.UsageChartNavigator)))
                                      )
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="col-sm-12">
                    <div class="row"><iframe id="iws_height_wrapper" name="iws_height_wrapper" onload="scrolltotop();" scrolling="no" src="" frameborder="0" width="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->

<script type="text/javascript">

    $(document).ready(function () {

        //.k-selector {
        //    position: absolute;
        //    -webkit-transform: translateZ(0);
        //    display: none;
        //}

        //$('.k-selector').style("display", "none");


        // Load widgets
        $("#Account").on("change", integrate_Widget);
        integrate_Widget();

        //showYaxisTitle();
        var unitValueText = $("#Units").data("kendoDropDownList").text();
        var chart = $('#consumptionHistoryChart').data('kendoStockChart');

        var unittrimval = $.trim(unitValueText.replace('Units:', ''));
        chart.options.valueAxis[0].title.text = unittrimval;
        chart.options.valueAxis[0].title.color = "White";

        $("#Account").prev('.k-dropdown-wrap').css({ 'background-color': '#337AB7', 'border-color': '#337AB7', 'border-radius': '0', 'opacity': '1' });
        $("#Meter").prev('.k-dropdown-wrap').css({ 'border-color': '#1C7297', 'border-radius': '0', 'opacity': '1' });
        BindFields();
    });

    $(window).on("resize", function () {
        kendo.resize($(".chart-wrapper"));
    });

    function onDataBinding() {
        if ($('#consumptionHistoryChart').data('kendoStockChart').dataSource.data().length === 0 && $('#nodatamess').length === 0)
            $('<div id="nodatamess" class="" ><p id="message">Data not available for this time period.</p></div>').appendTo("#consumptionHistoryChart");
        else if ($('#consumptionHistoryChart').data('kendoStockChart').dataSource.data().length > 0)
            $('#nodatamess').remove();
    }

    function filterAccounts() {
        return {
            account: $("#Account").data("kendoDropDownList").value()
        };
    }

    function BindFields() {
        showHideAccountDropdown();
        showHideMeterDropdown();
    }

    function showHideAccountDropdown() {
        var dropDownAccount = $("#Account").data("kendoDropDownList");
        var lengthAccount = dropDownAccount.dataSource.data().length;
        if (lengthAccount === 1) {
            $("#Account").prev('.k-dropdown-wrap').find('.k-icon').css('display', 'none');
            dropDownAccount.enable(false);
        } else
            dropDownAccount.enable(true);

        if (lengthAccount < 1)
            dropDownAccount.wrapper.hide();
        else
            dropDownAccount.wrapper.show();
    }

    function showHideMeterDropdown() {
        var dropDownMeter = $("#Meter").data("kendoDropDownList");
        var lengthMeter = dropDownMeter.dataSource.data().length;
        if (lengthMeter === 1) {
            $("#Meter").prev('.k-dropdown-wrap').find('.k-icon').css('display', 'none');
            dropDownMeter.enable(false);
        } else
            dropDownMeter.enable(true);

        if (lengthMeter < 1)
            dropDownMeter.wrapper.hide();
        else
            dropDownMeter.wrapper.show();
    }

    function integrate_Widget() {
        var accountId = $("#Account").data("kendoDropDownList").value();
        //var meterValue = $("#Meter").data("kendoDropDownList").value();
        BindFields();
        $.ajax({
            type: "GET",
            url: '@Url.Action("WidgetUrl", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { account: accountId, meter: "" },
            success: function (response) {
                $('#iws_height_wrapper').attr('src', response);
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function change_Meters() {
        var meterValue = $("#Meter").data("kendoDropDownList").value();
        var unitValue = $("#Units").data("kendoDropDownList").value();
        var value = $("#DayMeasure").data("kendoDropDownList").value();
        BindFields();
        change_DayMeasure();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMeterId", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { strStartDate: $("#lblStartDate").text(), strEndDate: $("#lblEndDate").text(), meterValue: meterValue, unitValue: unitValue },
            success: function (response) {
                var chart = $("#consumptionHistoryChart").data("kendoStockChart");
                chart.dataSource.data(response.amiReadingData);
                if (value === "minutes") {
                    chart.options.series[0].visible = true;
                    chart.options.series[1].visible = false;
                } else {
                    chart.options.series[0].visible = false;
                    chart.options.series[1].visible = true;
                }
                chart.redraw();

                $(".k-selector").css("display", "none");
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        //integrate_Widget();
    }

    function GetData(isPrevNext) {
        var value = $("#DayMeasure").data("kendoDropDownList").value();
        var meterValue = $("#Meter").data("kendoDropDownList").value();
        var billCycle = $("#Meter").data("kendoDropDownList").dataSource._data[0].BillCycleId;
        var unitValue = $("#Units").data("kendoDropDownList").value();
        var unitValueText = $("#Units").data("kendoDropDownList").text();

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetData", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { startDate: $("#lblStartDate").text(), endDate: $("#lblEndDate").text(), isPrevNext: isPrevNext, value: value, meterValue: meterValue, billCycleId: billCycle, unitValue: unitValue },
            success: function (response) {
                $("#lblStartDate").text(response.startDate);
                $("#lblEndDate").text(response.endDate);
                var chart = $('#consumptionHistoryChart').data('kendoStockChart');
                chart._navigator.options.select.from = new Date(new Date(response.startDate + " 00:00:00").toISOString());
                //chart._navigator.options.select.to = new Date(new Date(response.endDate + " 24:00:00").toISOString());
                chart._navigator.options.select.to = new Date(new Date(response.endDate + " 23:59:59").toISOString());
                chart.dataSource.data(response.amiReadingData);

                var unittrimval = $.trim(unitValueText.replace('Units:', ''));
                chart.options.valueAxis[0].title.text = unittrimval;
                chart.options.valueAxis[0].title.color = "White";

                if (value === "minutes") {
                    chart.options.series[0].visible = true;
                    chart.options.series[1].visible = false;
                } else {
                    chart.options.series[0].visible = false;
                    chart.options.series[1].visible = true;
                }
                chart.redraw();

                $(".k-selector").css("display", "none");
                //$(".k-selector").style.display = "none";

            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function change_Units() {
        //showYaxisTitle();
        GetData("UnitsChange");
    };

    function showYaxisTitle() {
        var value = $("#Units").data("kendoDropDownList").text();
        $("#consumptionHistoryChart").kendoStockChart({
            panes: [{
                title: value
            }]
        });
    }

    function unitConversion(stockData, value) {
        var quantity = 0.0;
        for (var row = 0; row < stockData.length; row++) {
            var unitId = stockData[row].UOMId;
            if (value === "ccf" && unitId === 6) {
                quantity = (stockData[row].Quantity / 748.051948052);
                stockData[row].UOMId = 2;
            } else if (value === "gal" && unitId === 2) {
                quantity = (stockData[row].Quantity * 748.051948052);
                stockData[row].UOMId = 6;
            }
            var trimvalue = quantity.toFixed(4);
            stockData[row].Quantity = trimvalue;
            //stockData[row].Quantity = quantity;
        }
    }

    function change_DayMeasure() {
        var value = $("#DayMeasure").data("kendoDropDownList").value();
        var meterDropdown = $("#Meter").data("kendoDropDownList");
        var meterValue = meterDropdown.value();
        var billCycle = meterDropdown.dataSource._data[0].BillCycleId;
        var unitValue = $("#Units").data("kendoDropDownList").value();
        var steps = "1";
        var values = "";
        if (value === "minutes") {
            values = "hours";
            steps = "1";
        } else if (value === "months") {
            values = "days";
            steps = "1";
        } else if (value === "weeks") {
            values = "days";
            steps = "2";
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDayMeasureData", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { strStartDate: $("#lblStartDate").text(), strEndDate: $("#lblEndDate").text(), value: value, meterValue: meterValue, billCycleId: billCycle, unitValue: unitValue },
            success: function (response) {
                $("#lblStartDate").text(response.startDate);
                $("#lblEndDate").text(response.endDate);
                var chart = $("#consumptionHistoryChart").data("kendoStockChart");

                if (value === "weeks") {
                    chart.options.categoryAxis[0] = { name: "name", field: "Timestamp", type: "Date", baseUnit: values, BaseUnitStep: steps, labels: { step: steps, rotation: 300, dateFormats: { days: "ddd-d" }, color: "White" } };
                } else if (value === "minutes") {
                    chart.options.categoryAxis[0] = { name: "name", field: "Timestamp", type: "Date", baseUnit: values, BaseUnitStep: steps, labels: { step: steps, rotation: 300, dateFormats: { hours: "h:mm tt" }, color: "White" } };
                } else {
                    chart.options.categoryAxis[0] = { name: "name", field: "Timestamp", type: "Date", baseUnit: values, BaseUnitStep: steps, labels: { step: steps, rotation: 300, dateFormats: { days: "MMM-d" }, color: "White" } };
                }

                chart.options.series[0].categoryAxis = "name";
                chart._navigator.options.select.from = new Date(new Date(response.startDate + " 00:00:00").toISOString());
                //chart._navigator.options.select.to = new Date(new Date(response.endDate + " 24:00:00").toISOString());
                chart._navigator.options.select.to = new Date(new Date(response.endDate + " 23:59:59").toISOString());
                chart.dataSource.data(response.amiReadingData);
                if (value === "minutes") {
                    chart.options.series[0].visible = true;
                    chart.options.series[1].visible = false;
                } else {
                    chart.options.series[0].visible = false;
                    chart.options.series[1].visible = true;
                }

                chart.redraw();

                $(".k-selector").css("display", "none");
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    $(".k-selector").css("display", "none");
    //$(".k-selector").style.display = "none";

</script>

<style>
    /*.embed-responsive-16by9 {
        padding-bottom: 114%;
    }*/

    #message {
        position: absolute;
        left: 31%;
        top: 20%;
        color: burlywood;
        font-size: 18px;
    }

    .k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
        background-image: none;
        background-position: 50% 50%;
        background-color: #337AB7;
        border-color: #ccc;
    }

    .k-state-disabled {
        background-color: #337AB7;
    }

    .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
        color: #F6F6F6;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .k-selector {
        position: absolute;
        -webkit-transform: translateZ(0);
        display: none;
    }
</style>
