﻿@{
    Layout = null;
}

<script type="text/javascript">
    var compareTo = '@ViewBag.CompareTo';
</script>


<div class="loader hideEmptyCont"><div id="iws_bc_loader" class="acl-loader" tabindex="0"><span class="sr-only"></span><p class="xs-m-0"></p></div></div>







<!-- Revised 'Fatal Error' panel -->
<script id="tmpl_bc_fatal_error" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span><strong>{{:Message}}</strong>
            <span class="sr-only">Error:</span>
        </div>
    </div>
</script>


<!-- Revised 'No Data' panel -->
<script id="tmpl_bc_no_data" type="text/x-jsrender">
    <div class="panel panel-default">
        {{if ShowTitle}}
        <div class="panel-heading">
            <h1 role="presentation" class="panel-title">{{:Title}}</h1>
        </div>
        {{/if}}

        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-alert xs-mr-10"></span> <strong>{{:Message}}</strong>
        </div>
    </div>
</script>






<div id="iws_bc_wrapper" style="display: none;">
        <div id="iws_bc_main"></div>
    </div>


<script id="tmpl_bc_default" type="text/x-jsrender">

    <div class="bill-comparison">
        <div class="panel panel-default">
            <div class="">

                <div class="panel-heading">
                    <h1 class="panel-title" role="presentation" id="iws_bc_title">{{:Title}}</h1>
                </div>

                <div class="panel-body intro-text xs-mb-0 xs-pt-0">
                    <h2 id="iws_bc_subtitle">{{:SubTitle}}</h2>
                    <div id="iws_bc_intro_text">{{:IntroText}}</div>
                </div>

                <div class="panel-body utility xs-pl-0">

                    {{if !isIos}}
                    <div id="iws_bc_ddl_types" class="dropdown">
                        <button type="button" class="btn action-btn action-btn--reverse dropdown-toggle deep-link-highlight" data-toggle="dropdown" aria-expanded="false">
                            <b id="iws_bc_a_comparison_selection" class="Select pull-left xs-mr-10">{{:SortLabel}}</b>
                            <span class="pull-right"><img src="Content/Images/caret-darker.png" height="6" width="10" alt="triangle image for button"></span>
                        </button>
                        <ul id="iws_bc_ddl_ul_compare" class="dropdown-menu">
                            <li id="iws_bc_ddl_li_dates">
                            </li>
                        </ul>
                    </div>
                    {{/if}}

                    {{if isIos}}
                    <select id="iws_bc_ddl_select" class="iosHeight"></select>
                    {{/if}}





                    <div id="iws_bc_date_range" class="panel-heading xs-pl-0" style="display: none;">


                        <div class="col-xs-12 date xs-pl-0">
                            <div class="panel-body xs-pl-0 xs-mb-0 xs-pb-0" tabindex="-1">
                                <div class="inline-block">
                                    {{if !isIos}}
                                    <div id="iws_bc_ddl_from" class="dropdown inline-block xs-mb-10">
                                        <button type="button" class="btn primary-wide-btn dropdown-toggle deep-link-highlight" data-toggle="dropdown" aria-expanded="false">
                                            <b id="iws_bc_a_from_selection" class="Select"></b>
                                            <span><img src="Content/Images/caret-darker.png" height="6" width="10" alt="triangle image for button"></span>
                                        </button>

                                        <ul id="iws_bc_ddl_ul_from" class="dropdown-menu"></ul>
                                    </div>
                                    <div id="iws_bc_ddl_to" class="dropdown inline-block xs-mb-10">
                                        <button type="button" class="btn primary-wide-btn dropdown-toggle deep-link-highlight" data-toggle="dropdown" aria-expanded="false">
                                            <b id="iws_bc_a_to_selection" class="Select"></b>
                                            <span><img src="Content/Images/caret-darker.png" height="6" width="10" alt="triangle image for button"></span>
                                        </button>
                                        <ul id="iws_bc_ddl_ul_to" class="dropdown-menu"></ul>
                                    </div>
                                    {{/if}}

                                    {{if isIos}}
                                    <select id="iws_bc_ddl_from_select" class="iosHeight"></select>
                                    <select id="iws_bc_ddl_to_select" class="iosHeight"></select>
                                    {{/if}}

                                    <div  id="iws_bc_ddl_div_btn_compare" role="button" tabindex="0" class="date inline-block xs-mb-10">
                                        <a id="iws_bc_ddl_btn_compare" style="min-width: 150px" class="btn action-btn">Compare</a>
                                    </div></div>
                            </div>
                        </div>


                    </div>
                    <div id="iws_bc_ddl_lbl_error"></div>
                </div>

                <div id="iws_bc_chart"></div>
            </div>
            <div id="iws_bc_table">


            </div>
            <div class="hideEmptyCont"><div class="panel-footer"><div id="iws_bc_footertext" class="footertext">{{:Footer}}</div><div id="iws_bc_footerlink" class="footerlink"><a href="{{:FooterLink}}">{{:FooterLinkText}}</a></div></div></div>
        </div>

    </div>

</script>

<script id="tmpl_billcomparison" type="text/x-jsrender">
    <div class="table-responsive" role="grid" aria-readonly="true">
        <table class="table table-striped" role="presentation">
            <thead>
                <tr role="row">
                    <th></th>
                    <th role="columnheader">{{:Data.CompareFrom.CompareDateFormatted}}</th>
                    <th role="columnheader">{{:Data.CompareTo.CompareDateFormatted}}</th>
                    <th role="columnheader">{{:DifferenceLabel}}</th>
                </tr>
            </thead>
            <tbody>
                {{if BillDaysData.ShowBillDays == "true" }}
                <tr role="row">
                    <td role="rowheader">{{:BillDays}}</td>
                    <td role="gridcell">{{:Data.CompareFrom.NumberOfDays}}</td>
                    <td role="gridcell">{{:Data.CompareTo.NumberOfDays}}</td>
                    <td role="gridcell">{{:Data.DifferenceNumberOfDays}}</td>
                </tr>
                {{/if}}

                {{if AverageTemperatureData.ShowAvgTemp == "true" }}
                <tr role="row">
                    <td role="rowheader">{{:AverageTemperature}}</td>
                    <td role="gridcell">{{:Data.CompareFrom.AvgTemp}}&deg;{{:TempFormat}} </td>
                    <td role="gridcell">{{:Data.CompareTo.AvgTemp}}&deg;{{:TempFormat}}</td>
                    <td role="gridcell">{{:Data.DifferenceAvgTemp}}&deg;{{:TempFormat}}</td>
                </tr>
                {{/if}}
                {{if CommodityData.ShowElectric == "true" }}
                <tr role="row">
                    <td role="rowheader">{{>~root.ElectricUsage}}</td>
                    <td role="gridcell">{{:CommodityData.ElectricFrom}}</td>
                    <td role="gridcell">{{:CommodityData.ElectricTo}}</td>
                    <td role="gridcell">{{:CommodityData.ElectricDiff}}</td>
                </tr>
                    {{if CommodityData.MultipleCommodities == "true" || (Data.AdditionalDetails != null && Data.AdditionalDetails.length > 0)}}                
                    <tr role="row">
                        <td role="rowheader">{{>~root.ElectricCost}}</td>
                        <td role="gridcell">{{:CommodityData.ElectricCostFrom}}</td>
                        <td role="gridcell">{{:CommodityData.ElectricCostTo}}</td>
                        <td role="gridcell">{{:Data.DifferenceElectricCostFormatted}}</td>
                    </tr>
                    {{/if}}
                {{/if}}
                {{if CommodityData.ShowGas == "true" }}
                <tr role="row">
                    <td role="rowheader">{{>~root.GasUsage}}</td>
                    <td role="gridcell">{{:CommodityData.GasFrom}}</td>
                    <td role="gridcell">{{:CommodityData.GasTo}}</td>
                    <td role="gridcell">{{:CommodityData.GasDiff}}</td>
                </tr>
                
                    {{if CommodityData.MultipleCommodities == "true" || (Data.AdditionalDetails != null && Data.AdditionalDetails.length > 0)}}
                    <tr role="row">
                        <td role="rowheader">{{>~root.GasCost}}</td>
                        <td role="gridcell">{{:CommodityData.GasCostFrom}}</td>
                        <td role="gridcell">{{:CommodityData.GasCostTo}}</td>
                        <td role="gridcell">{{:Data.DifferenceGasCostFormatted}}</td>
                    </tr>
                    {{/if}}
                {{/if}}

                {{if CommodityData.ShowWater == "true" }}
                <tr role="row">
                    <td role="rowheader">{{>~root.WaterUsage}}</td>
                    <td role="gridcell">{{:CommodityData.WaterFrom}}</td>
                    <td role="gridcell">{{:CommodityData.WaterTo}}</td>
                    <td role="gridcell">{{:CommodityData.WaterDiff}}</td>
                </tr>
                    {{if CommodityData.MultipleCommodities == "true" || (Data.AdditionalDetails != null && Data.AdditionalDetails.length > 0)}}
                    <tr role="row">
                        <td role="rowheader">{{>~root.WaterCost}}</td>
                        <td role="gridcell">{{:CommodityData.WaterCostFrom}}</td>
                        <td role="gridcell">{{:CommodityData.WaterCostTo}}</td>
                        <td role="gridcell">{{:Data.DifferenceWaterCostFormatted}}</td>
                    </tr>
                    {{/if}}
                {{/if}}

                {{if UtilityCostsData.ShowUtilityCosts == "true" }}
                <tr role="row">
                    <td role="rowheader">{{:UtilityCosts}}</td>
                    <td role="gridcell">{{:Data.CompareFrom.UtilityCostFormatted}}</td>
                    <td role="gridcell">{{:Data.CompareTo.UtilityCostFormatted}}</td>
                    <td role="gridcell">{{:UtilityCostsData.DifferenceUtilityCostFormatted}}</td>
                </tr>
                {{/if}}
                
                {{if Data.AdditionalDetails != null}}
                {{for Data.AdditionalDetails}}
                <tr role="row">
                    <td role="rowheader">{{:Label}}</td>
                    <td role="gridcell">{{:AdditionalValueFromFormatted}}</td>
                    <td role="gridcell">{{:AdditionalValueToFormatted}}</td>
                    <td role="gridcell">{{:DifferenceAdditionalValueFormatted}}</td>
                </tr>
                {{/for}}
                {{/if}}

                <tr role="row">
                    <td role="rowheader"><strong>{{:TotalAmountDue}}</strong></td>
                    <td role="gridcell"><strong>{{:Data.CompareFrom.TotalCostFormatted}}</strong></td>
                    <td role="gridcell"><strong>{{:Data.CompareTo.TotalCostFormatted}}</strong></td>
                    <td role="gridcell">{{:Data.DifferenceTotalCostFormatted}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</script>



