<Loader *ngIf="enableLoader"></Loader>
<!-- adding the .radius class for the icon nav rounded corner tabs -->
<div *ngIf="!enableLoader" class="panel panel-default radius">

    <div *ngIf="errorOccurred">
        <div *ngIf="result.ShowTitle == 'true' && result.Title !== ''" class="panel-heading">
            <h1 role="presentation">{{result.Title}}</h1>
        </div>
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-hand-right"></span> <strong>{{errorMessage}}</strong>
        </div>

    </div>

    <div *ngIf="!errorOccurred">

        <div *ngIf="result.ShowTitle == 'true'" class="panel-heading">
            <h1 role="presentation">{{result.Title}}</h1>
        </div>

        <div *ngIf="result.ShowIntro == 'true'" class="markdown">{{result.IntroText}}</div>

        <div id="iws_lp_progress_bar" class="progress-bar-home-long" style="padding: 0">
            <!--<div class="progress-holder">-->

            <nav class="navbar navbar-default navbar-icons" role="navigation">
                <ul class="nav navbar-nav nav-icons" role="menubar">
                    <li *ngFor="let t of result.Tabs | objToArr; let i = index" role="menuitem" class="menu-icon" [ngClass]="{'tab-deep-link tab-fade-in': isDeepLinkTab(t.Key), active: isTabActive(t.Key)}">
                        <a title="{{t.Name}}" href="#" class="navbar-link" onclick="return false;" (click)="clickTab(i, t.Key, t.Name, '')">
                            <span class="icon {{t.IconClass}}"></span>
                            <span class="navbar-link-text">{{t.Name}}</span>
                        </a>
                    </li>
                </ul>
            </nav>



            <!-- container and and row -->
            <div>



                <div class="panel-default">
                    <div class="panel-body xs-mb-0 xs-pb-0">

                        <!-- intro -->
                        <div class="col-xs-12 xs-pt-15 xs-pl-0">
                            {{result.OverviewText}}
                        </div>
                    </div>
                    <!-- /intro -->
                </div>

                <!-- /container and row -->
            </div>




            <!-- container -->
            <div>

                <div class="panel-default">
                    <div class="panel-body">

                        <!-- Col Left -->
                        <div class="col-ms-6 xs-pl-0">
                            <div *ngIf="selectedTabKey == 'tab.overview'" class="panel-body panel-profile panel-body-long-energy-profile xs-pt-0" [ngClass]="{'div-deep-link div-fade-in': isDeepLink()}" style="display: block">
                                <div class="overview">
                                    <div *ngFor="let t of getOverview(1) | objToArr; let i = index" class="overview-mod" style="">
                                        <div *ngFor="let s of t.Sections | objToArr; let y = index">
                                            <div *ngIf="y==0">
                                                <i class="icon icon-overview {{t.IconClass}}"></i><p class="inline-block">&nbsp;</p><h5 class="xs-mb-0 xs-ml-5">{{t.Name}}</h5>
                                                <p class="markdown">{{t.Sections[0].SectionMarkdown}}</p>
                                            </div>
                                            <a href="#" onclick="return false;" (click)="getTab(i + 1, t.Key, t.Name, s.Key)">{{s.SectionTitle}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /Col Left -->
                        </div>

                        <!-- Col Right -->
                        <div class="col-ms-6">


                            <div *ngIf="selectedTabKey == 'tab.overview'" class="panel-body panel-profile panel-body-long-energy-profile" [ngClass]="{'div-deep-link div-fade-in': isDeepLink()}" style="display: block">
                                <div class="overview">
                                    <div *ngFor="let t of getOverview(2) | objToArr; let i = index" class="overview-mod" style="">
                                        <div *ngFor="let s of t.Sections | objToArr; let y = index">
                                            <div *ngIf="y==0">
                                                <i class="icon icon-overview {{t.IconClass}}"></i><p class="inline-block">&nbsp;</p><h5 class="xs-mb-0 xs-ml-5">{{t.Name}}</h5>
                                                <p class="markdown">{{t.Sections[0].SectionMarkdown}}</p>
                                            </div>
                                            <a href="#" onclick="return false;" (click)="getTab(i + colOneCount, t.Key, t.Name, s.Key)">{{s.SectionTitle}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /Col Right -->
                        </div>

                    </div>
                </div>
                <!-- panel -->
                <!-- /container and row -->
            </div>


            <!-- container -->

            <div *ngIf="selectedTabKey != 'tab.overview'" class="panel-profile">

                <article class="article-profile col-ms-6 col-sm-6 col-lg-8 xs-pt-15">
                    <h4 *ngIf="sectionCount === 1" id="iws_lp_section" class="Select form-item-title" role="presentation">{{selectedSectionTitle}}</h4>
                    <div *ngIf="sectionCount > 1" id="iws_lp_section" class="form-group dropdown">
                        <h4 class="form-item-label">Select a category below</h4>
                        <h5 class="Select form-item-label">Refine your selection</h5>
                        <a *ngIf="!isIos" href="#" onclick="return false;" role="button" class="btn dropdown-btn dropdown-toggle" [ngClass]="{'dropdown-deep-link dropdown-fade-in': isDeepLink()}" data-toggle="dropdown" aria-expanded="false" style="">
                            <b id="iws_lp_selected_section" class="Select">{{dropDownSectionText(sections)}}</b>
                            <span><img src="Content/Images/caret-darker.png" height="6" width="10" alt="triangle image for button"></span>
                        </a>
                        <ul *ngIf="!isIos" id="iws_lp_sections" class="dropdown-menu" role="menu">
                            <li *ngFor="let s of sections | objToArr; let i = index" class="save-list" [attr.aria-labelledby]="s.SectionTitle">
                                <a href="#" onclick="return false;" (click)="getQuestions(s.Key)">{{s.SectionTitle}}</a>
                            </li>
                        </ul>

                        <select *ngIf="isIos" [(ngModel)]="selectedSection" (change)="getQuestions($event.target.value)" class="iosHeight">
                            <option *ngFor="let s of sections | objToArr; let i = index" value="{{s.Key}}">{{s.SectionTitle}}</option>
                        </select>

                    </div>

                    <div id="iws_lp_section_questions" class="form-group">
                        <div *ngFor="let q of questions | objToArr; let z = index">

                            <!--DropDown-->


                            <div class="form-group" *ngIf="isListBox(q)">
                                <div class="dropdown">
                                    <h5 class="form-item-label">{{q.Label}}</h5>
                                    <a *ngIf="!isIos" [id]="'focus-' + z" href="#" onclick="return false;" role="button" aria-level="1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <p class="select">{{dropDownSelectText(q.Answer, q)}}</p>
                                        <span><img src="Content/Images/caret-darker.png" height="6" width="10" alt="triangle image for button"></span>
                                    </a>
                                    <ul *ngIf="!isIos" class="dropdown-menu" role="menu">
                                        <li *ngFor="let v of q.Options.Value | objToArr; let i = index" class="save-list">
                                            <a [id]="'focus-' + z" href="#" onclick="return false;" (click)="updateAnswer(q.Key, v)">{{ getOptionText(i, q) }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <select *ngIf="isIos" [id]="'focus-' + z" (change)="updateAnswer(q.Key, $event.target.value)" class="iosHeight">
                                    <option value="">{{result.DropDownSelectText}}</option>
                                    <option *ngFor="let v of q.Options.Value | objToArr; let i = index" [attr.selected]="optionSelected(q, v) ? '' : null" value="{{v}}">{{ getOptionText(i, q) }}</option>
                                </select>

                                <p *ngIf="q.InvalidRequired" class="error">{{result.NotCompleteMessage}}</p>
                            </div>

                            <!--Text Box-->
                            <div *ngIf="isTextBox(q)">
                                <div class="form-group">
                                    <h5 class="form-item-label">{{q.Label}}</h5>
                                    <input [id]="'focus-' + z" type="text" [(ngModel)]="q.Answer" class="form-control energy-field" />
                                </div>
                                <p *ngIf="q.InvalidRequired" class="error">{{result.NotCompleteMessage}}</p>
                                <p *ngIf="q.InvalidRange" class="error">{{q.RangeErrorMessage}}</p>
                                <p *ngIf="q.InvalidLength" class="error">{{q.InvalidLengthMessage}}</p>
                            </div>

                            <!--Radio-->
                            <div class="form-group" *ngIf="isRadioButton(q)">
                                <div>
                                    <h5 class="form-item-label">{{q.Label}}</h5>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label *ngFor="let v of q.Options.Value | objToArr; let i = index" class="btn btn-default right" [ngClass]="{active: isRadioButtonActive(q, v)}" (click)="updateAnswer(q.Key, v)" style="border: 1px solid let d4d4d4">
                                            <input [id]="'focus-' + z" type="radio" />
                                            {{ getOptionText(i, q) }}
                                        </label>
                                    </div>
                                </div>
                                <p *ngIf="q.InvalidRequired" class="error">{{result.NotCompleteMessage}}</p>
                            </div>

                        </div>

                    </div>

                    <div id="iws_lp_footer" class="button-shell" style="height: 60px; position: relative; clear: both">
                        <a id="iws_lp_save_msg" *ngIf="saved" style="display: table; text-decoration: none; cursor: pointer" class="just-letting-you-know">{{result.SavedMessage}}</a>
                        <button id="iws_lp_save_button" type="button" class="btn action-btn xs-mt-10" (click)="postData()" tabindex="0">{{result.SaveButtonLabel}}</button>

                    </div>


                </article>
                <aside class="aside-profile col-ms-6 col-sm-6 col-lg-4 ms-mt-30">
                    <div class="thumbnail" style="padding: 0;">
                        <img class="img-responsive hidden-xs" aria-hidden="true" alt="" [attr.src]="selectedSectionImageUrl" />
                        <div class="caption">
                            <h5 class="thumb-item-label" id="iws_lp_section_subtitle">{{selectedSectionSubtitle}}</h5>
                            <p id="iws_lp_section_description">{{selectedSectionDescription}}</p>
                        </div>
                    </div>
                </aside>




            </div>
            <!-- End panel -->


            <nav *ngIf="selectedTabKey !== 'tab.overview'" class="text-center pager">
                <ul class="pagination pagination-sm">
                    <li class="acl-pager" (click)="pageBack()" *ngIf="showBackPagerButton"><a onclick="return false;" href="#"><img src="Content/Images/icon-page-left.png" alt="go back" /></a></li>
                    <li class="hidden-xs" style="display: inline-flex">{{selectedTabName}} ( {{selectedSectionIndex}} {{result.PageOf}} {{sectionCount}} ): {{selectedSectionTitle}}</li>
                    <li class="acl-pager" (click)="pageForward()" *ngIf="showForwardPagerButton"><a onclick="return false;" href="#"><img src="Content/Images/icon-page-right.png" alt="go forward" /></a></li>
                </ul>
            </nav>



            <!--</div>-->

            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer">
                <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink dv-external-links">
                    <a href="{{result.FooterLink}}">{{result.FooterLinkText}}</a>
                </div>
            </div>

        </div>
    </div>
</div>






