<Loader *ngIf="enableLoader"></Loader>
<div *ngIf="!enableLoader">
    <div *ngIf="errorOccurred">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign xs-mr-10" aria-hidden="true"></span> <strong>{{errorMessage}}</strong>
        </div>
    </div>
    <div *ngIf="!errorOccurred" class="panel panel-default shortProfile">
        <div *ngIf="result.ShowTitle == 'true'" class="panel-heading">
            <h1 role="presentation" class="panel-title">{{result.Title}}</h1>
        </div>
        <div *ngIf="result.ShowIntro == 'true'" class="panel-body xs-p-0">{{result.IntroText}}</div>

        <!-- START Progress Bar component -->
        <div id="iws_pr_top" class="panel-body progressBar xs-mb-0 xs-pt-15 xs-pb-0">
            <div class="progressBar__container">
                <div class="progressBar__message col-xs-12 col-ms-4 xs-pl-0 xs-pr-0 ms-pr-0">
                    <h2 *ngIf="result.Completeness==100" class="progressBar__title" aria-label="Options for Your Home">{{result.CompletenessTitle}}</h2>
                    <h2 *ngIf="result.Completeness!==100" class="progressBar__title" aria-label="Options for Your Home">{{result.Tabs[0].Sections[0].SectionTitle}}</h2>
                </div>
            </div>
            <div class="progressBar__bar-container col-xs-12 col-ms-8">
                <div class="col-xs-12 col-ms-8 col-lg-6 pull-right xs-pr-0 xs-pl-0">
                    <div class="progress-shell ms-pl-15">
                        <div class="progress xs-mt-10">
                            <div *ngIf="result.Completeness==100" class="progress-bar" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                            <div *ngIf="result.Completeness!==100" class="progress-bar" role="progressbar" [attr.aria-valuenow]="completeness" aria-valuemin="0" aria-valuemax="100" [style.width]="completeness"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-ms-4 col-lg-6 pull-left xs-pr-0 xs-pl-0 sm-pr-15 text-right text-xs-center">
                    <div class="progressBar__completed sm-pr-15">{{result.CompletenessLabel}}</div>
                </div>
            </div>
        </div>
        <!-- END progress bar component -->
        <div class="panel-body panel-body-energy-profile">
            <hr class="dotted xs-m-0 xs-mb-15" />
            <div *ngIf="result.Completeness==100" >
                <div class="markdown">{{result.CompletenessSubtitle}}</div>
                <div class="markdown dv-external-links">{{result.CompletenessDescription}}</div>
            </div>
            <div *ngIf="result.Completeness!==100">
                <article class="article-profile col-ms-6 col-sm-6 col-lg-6 ms-p-0">

                    <div id="iws_pr_section_questions" class="xs-pt-20">
                        <div *ngFor="let q of questions | objToArr">

                            <!--DropDown-->
                            <div class="panel-body xs-pl-0" *ngIf="isListBox(q)">
                                <div class="dropdown">
                                    <h5 *ngIf="result.ShowRequiredKey=='true'" class="form-item-label">{{q.Label}}
                                    {{result.RequiredSymbol}}</h5>
                                    <h5 *ngIf="result.ShowRequiredKey!=='true'" class="form-item-label">{{q.Label}}</h5>
                                    
                                    
                                    <a *ngIf="!isIos" href="#" onclick="return false;" role="button" [id]="'validation-' + q.Key" aria-level="1" class="btn btn-default dropdown-toggle" [ngClass]="{'btn-error':q.InvalidRequired}" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <p class="select">{{dropDownSelectText(q.Answer, q)}}</p>
                                        <span><img src="Content/Images/caret-darker.png" height="6" width="10" alt="triangle image for button"></span>
                                    </a>
                                    
                                    <ul *ngIf="!isIos" class="dropdown-menu" role="menu">
                                        <li *ngFor="let v of q.Options.Value | objToArr; let i = index" class="save-list">
                                            <a href="#" onclick="return false;" (click)="updateAnswer(q.Key, v)">{{ getOptionText(i, q) }}</a>
                                        </li>
                                    </ul>

                                    <select *ngIf="isIos" [id]="'validation-' + q.Key" (change)="updateAnswer(q.Key, $event.target.value)" class="iosHeight">
                                        <option value="">{{result.DropDownSelectText}}</option>
                                        <option *ngFor="let v of q.Options.Value | objToArr; let i = index" [attr.selected]="optionSelected(q, v) ? '' : null" value="{{v}}" >{{ getOptionText(i, q) }}</option>
                                    </select>

                                    <p *ngIf="q.InvalidRequired" class="error">{{result.NotCompleteMessage}}</p>
                                </div>


                                
                            </div>

                            <!--Text Box-->
                            <div *ngIf="isTextBox(q)">
                                <div class="panel-body xs-pl-0">
                                    <h5 *ngIf="result.ShowRequiredKey=='true'" class="form-item-label">{{q.Label}}
                                    {{result.RequiredSymbol}}</h5>
                                    <h5 *ngIf="result.ShowRequiredKey!=='true'" class="form-item-label">{{q.Label}}</h5>
                                    <input [id]="'validation-' + q.Key" type="text" [(ngModel)]="q.Answer" class="form-control energy-field" [ngClass]="{'btn-error': q.InvalidRequired||q.InvalidRange||q.InvalidLength}" />
                                    <p *ngIf="q.InvalidRequired" class="error">{{result.NotCompleteMessage}}</p>
                                    <p *ngIf="q.InvalidRange" class="error">{{q.RangeErrorMessage}}</p>
                                    <p *ngIf="q.InvalidLength" class="error">{{q.InvalidLengthMessage}}</p>
                                </div>
                                
                            </div>

                            <!--Radio-->
                            <div class="panel-body xs-pl-0" *ngIf="isRadioButton(q)">
                                <div>
                                    <h5 *ngIf="result.ShowRequiredKey=='true'" class="form-item-label">{{q.Label}}
                                    {{result.RequiredSymbol}}</h5>
                                    <h5 *ngIf="result.ShowRequiredKey!=='true'" class="form-item-label">{{q.Label}}</h5>
                                    <div class="btn-group" [ngClass]="{'btn-error':q.InvalidRequired}" data-toggle="buttons">
                                        <label *ngFor="let v of q.Options.Value | objToArr; let i = index" class="btn btn-default right" [ngClass]="{active: isRadioButtonActive(q, v)}" (click)="updateAnswer(q.Key, v)" style="border: 1px solid let d4d4d4">
                                            <input [id]="'validation-' + q.Key" type="radio"/>
                                            {{ getOptionText(i, q) }}
                                        </label>
                                    </div>
                                    <p *ngIf="q.InvalidRequired" class="error">{{result.NotCompleteMessage}}</p>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 xs-pl-0">
                        <div class="required dv-external-links" style="clear: left">
                            <div *ngIf="result.ShowRequiredKey=='true'">{{result.RequiredSymbol}}{{result.RequiredKey}}</div>
                            <a *ngIf="result.ShowLongProfileLink=='true'" [attr.href]="result.LongProfileLink" class="show-profile block">{{result.LongProfileLinkText}}</a>
                        </div>

                        <button type="button" class="btn action-btn xs-mt-5" (click)="postData()" onclick="return false;" title="Next">{{result.NextButtonLabel}}</button>
                    </div>
                </article>
                <aside class="aside-profile col-ms-6 col-sm-6 col-lg-6 xs-pr-0 xs-pl-0">
                    <div class="thumbnail">
                        <img class="img-responsive hidden-xs" aria-hidden="true" [attr.src]="result.Tabs[0].Sections[0].ImageUrl" alt="" style="overflow: hidden; width: 100%;">
                        <div class="caption">
                            <h5 class="thumb-item-label">{{result.Tabs[0].Sections[0].SectionSubtitle}}</h5>
                            <span>{{result.Tabs[0].Sections[0].SectionDescription}}</span>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- Footer -->
            <div *ngIf="result.ShowFooterText === 'true' || result.ShowFooterLink === 'true'" class="panel-footer">
                <div *ngIf="result.ShowFooterText === 'true'" class="footertext">{{result.Footer}}</div>
                <div *ngIf="result.ShowFooterLink === 'true'" class="footerlink dv-external-links">
                    <a href="{{result.FooterLink}}" >{{result.FooterLinkText}}</a>
                </div>
            </div>
            <!-- /Footer -->
        </div>
    </div>
</div>

